Repository python-cmd2/cmd2, changes with the owners that CODEOWNERS names for each.
All owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

Fixed example code
  examples/help_categories.py
Owners: @tleonhardt

Fixed example code
  examples/help_categories.py
Owners: @tleonhardt

Argparse tab completer will complete remaining flag names if there are no more positionals to complete.
  CHANGELOG.md
  cmd2/argparse_completer.py
  tests/test_argparse_completer.py
Owners: @tleonhardt, @kmvanbrunt, @anselor

Updated change log
  CHANGELOG.md
Owners: @tleonhardt

Updated async_alert() to account for self.prompt not matching Readline's current prompt.
  CHANGELOG.md
  cmd2/cmd2.py
  cmd2/rl_utils.py
  tests/test_cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Updated async_alert() to account for self.prompt not matching Readline's current prompt.
  CHANGELOG.md
  cmd2/cmd2.py
  cmd2/rl_utils.py
  tests/test_cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Updated change log for 2.2.0 release
  CHANGELOG.md
Owners: @tleonhardt

Updated thread name
  cmd2/utils.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt

Fixed AttributeError in rl_get_prompt() when prompt is None.
  CHANGELOG.md
  cmd2/cmd2.py
  cmd2/rl_utils.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Fixed AttributeError in rl_get_prompt() when prompt is None.
  CHANGELOG.md
  cmd2/cmd2.py
  cmd2/rl_utils.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Added support for 8-bit/256-colors with the cmd2.EightBitFg and cmd2.EightBitBg classes. Added support for 24-bit/RGB colors with the cmd2.RgbFg and cmd2.RgbBg classes.
  .github/CONTRIBUTING.md
  CHANGELOG.md
  Pipfile
  README.md
  cmd2/__init__.py
  cmd2/ansi.py
  cmd2/clipboard.py
  cmd2/cmd2.py
  cmd2/table_creator.py
  cmd2/utils.py
  docs/features/builtin_commands.rst
  docs/features/generating_output.rst
  docs/features/initialization.rst
  examples/argparse_completion.py
  examples/async_printing.py
  examples/basic.py
  examples/colors.py
  examples/initialization.py
  examples/pirate.py
  examples/plumbum_colors.py
  examples/table_creation.py
  setup.py
  tests/conftest.py
  tests/test_ansi.py
  tests/test_cmd2.py
  tests/test_completion.py
  tests/test_table_creator.py
  tests/test_utils.py
  tests/transcripts/regex_set.txt
Owners: @tleonhardt, @kotfu, @kmvanbrunt

Added support for 8-bit/256-colors with the cmd2.EightBitFg and cmd2.EightBitBg classes. Added support for 24-bit/RGB colors with the cmd2.RgbFg and cmd2.RgbBg classes.
  .github/CONTRIBUTING.md
  CHANGELOG.md
  Pipfile
  README.md
  cmd2/__init__.py
  cmd2/ansi.py
  cmd2/clipboard.py
  cmd2/cmd2.py
  cmd2/table_creator.py
  cmd2/utils.py
  docs/features/builtin_commands.rst
  docs/features/generating_output.rst
  docs/features/initialization.rst
  examples/argparse_completion.py
  examples/async_printing.py
  examples/basic.py
  examples/colors.py
  examples/initialization.py
  examples/pirate.py
  examples/plumbum_colors.py
  examples/table_creation.py
  setup.py
  tests/conftest.py
  tests/test_ansi.py
  tests/test_cmd2.py
  tests/test_completion.py
  tests/test_table_creator.py
  tests/test_utils.py
  tests/transcripts/regex_set.txt
Owners: @tleonhardt, @kotfu, @kmvanbrunt

Added ability to colorize all aspects of BorderedTables and AlternatingTables. Refactored utils.align_text() to print less fill_char style characters.
  CHANGELOG.md
  cmd2/ansi.py
  cmd2/cmd2.py
  cmd2/table_creator.py
  cmd2/utils.py
  tests/test_table_creator.py
  tests/test_utils.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Upgrade CI build systems to use Python 3.10
  .github/workflows/ci.yml
  .github/workflows/doc.yml
  .github/workflows/format.yml
  .github/workflows/lint.yml
  .github/workflows/mypy.yml
  azure-pipelines.yml
Owners: @tleonhardt

Fix nox file
  noxfile.py
Owners: @tleonhardt

Upgrade CI build systems to use Python 3.10 (#1151)
  .github/workflows/ci.yml
  .github/workflows/doc.yml
  .github/workflows/format.yml
  .github/workflows/lint.yml
  .github/workflows/mypy.yml
  azure-pipelines.yml
  noxfile.py
Owners: @tleonhardt

Added ability to colorize all aspects of BorderedTables and AlternatingTables. Refactored utils.align_text() to print less fill_char style characters.
  CHANGELOG.md
  cmd2/ansi.py
  cmd2/cmd2.py
  cmd2/table_creator.py
  cmd2/utils.py
  tests/test_table_creator.py
  tests/test_utils.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Fixed regression in Cmd.select converting "Any" type argument to string
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Fixed regression in Cmd.select converting "Any" type argument to string
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Added unit test for Cmd.select() return values
  CHANGELOG.md
  tests/test_cmd2.py
Owners: @tleonhardt

Added ability to colorize all aspects of SimpleTables
  CHANGELOG.md
  cmd2/table_creator.py
  examples/table_creation.py
  tests/test_table_creator.py
Owners: @tleonhardt, @kmvanbrunt

Added ability to colorize all aspects of SimpleTables
  CHANGELOG.md
  cmd2/table_creator.py
  examples/table_creation.py
  tests/test_table_creator.py
Owners: @tleonhardt, @kmvanbrunt

Updated table example. Renamed Column settings: override_header_style -> style_header_text override_data_style -> style_data_text
  cmd2/table_creator.py
  examples/table_creation.py
  tests/test_table_creator.py
Owners: @kmvanbrunt, @tleonhardt

Added type checks to ansi.style()
  cmd2/ansi.py
  tests/test_ansi.py
Owners: @kmvanbrunt, @tleonhardt

Updated change log
  CHANGELOG.md
Owners: @tleonhardt

Added ability to set border background color on BorderTables and AlternatingTables
  cmd2/table_creator.py
  examples/table_creation.py
  tests/test_table_creator.py
Owners: @kmvanbrunt, @tleonhardt

Added ability to set border background color on BorderTables and AlternatingTables
  cmd2/table_creator.py
  examples/table_creation.py
  tests/test_table_creator.py
Owners: @kmvanbrunt, @tleonhardt

Updated CommandSet unit tests
  tests_isolated/test_commandset/test_commandset.py
Owners: @anselor

Updated CommandSet unit tests
  tests_isolated/test_commandset/test_commandset.py
Owners: @anselor

Updated unit tests
  tests_isolated/test_commandset/test_commandset.py
Owners: @anselor

Updated change log
  CHANGELOG.md
  tests_isolated/test_commandset/test_commandset.py
Owners: @tleonhardt, @anselor

Upgraded change log
  CHANGELOG.md
Owners: @tleonhardt

Added ability to use CompletionItems as argparse choices
  CHANGELOG.md
  cmd2/argparse_custom.py
  tests/test_argparse_completer.py
  tests/test_argparse_custom.py
Owners: @tleonhardt, @kmvanbrunt, @anselor

ArgparseCompleter now sorts CompletionItems created with numerical values as numbers.
  CHANGELOG.md
  cmd2/argparse_completer.py
  cmd2/argparse_custom.py
  cmd2/table_creator.py
  tests/test_argparse_completer.py
  tests/test_table_creator.py
Owners: @tleonhardt, @kmvanbrunt, @anselor

Added ability to use CompletionItems as argparse choices
  CHANGELOG.md
  cmd2/argparse_custom.py
  tests/test_argparse_completer.py
  tests/test_argparse_custom.py
Owners: @tleonhardt, @kmvanbrunt, @anselor

ArgparseCompleter now sorts CompletionItems created with numerical values as numbers.
  CHANGELOG.md
  cmd2/argparse_completer.py
  cmd2/argparse_custom.py
  cmd2/table_creator.py
  tests/test_argparse_completer.py
  tests/test_table_creator.py
Owners: @tleonhardt, @kmvanbrunt, @anselor

Added unit tests for right-aligned numbers in completion hint tables
  CHANGELOG.md
  tests/test_argparse_completer.py
Owners: @tleonhardt, @kmvanbrunt

Added unit tests for right-aligned numbers in completion hint tables
  CHANGELOG.md
  tests/test_argparse_completer.py
Owners: @tleonhardt, @kmvanbrunt

Updated docstring
  cmd2/table_creator.py
Owners: @kmvanbrunt

Fixed issue where a ns_provider could be passed None instead of its correct cmd2.Cmd or CommandSet value.
  CHANGELOG.md
  cmd2/cmd2.py
  cmd2/decorators.py
  tests_isolated/test_commandset/test_commandset.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu, @anselor

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Owners of code are automatically nominated to review PRs involving that code.

# These owners will be the default owners for everything in the repo.
*       @tleonhardt

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
#*.js    @octocat @github/js

# You can also use email addresses if you prefer.
#docs/*  docs@example.com

# cmd2 code
cmd2/__init__.py           @tleonhardt @kotfu
cmd2/ansi.py               @kmvanbrunt @tleonhardt
cmd2/argparse_*.py         @kmvanbrunt @anselor
cmd2/clipboard.py          @tleonhardt
cmd2/cmd2.py               @tleonhardt @kmvanbrunt @kotfu
cmd2/command_definition.py @anselor
cmd2/constants.py          @kotfu
cmd2/decorators.py         @kotfu @kmvanbrunt @anselor
cmd2/exceptions.py         @kmvanbrunt @anselor
cmd2/history.py            @kotfu @tleonhardt
cmd2/parsing.py            @kotfu @kmvanbrunt
cmd2/plugin.py             @kotfu
cmd2/py_bridge.py          @kmvanbrunt
cmd2/rl_utils.py           @kmvanbrunt
cmd2/table_creator.py      @kmvanbrunt
cmd2/transcript.py         @kotfu
cmd2/utils.py              @tleonhardt @kotfu @kmvanbrunt

# Sphinx documentation
docs/*                  @tleonhardt @kotfu

# Examples
examples/async_printing.py  @kmvanbrunt
examples/environment.py     @kotfu
examples/tab_*.py           @kmvanbrunt
examples/modular_*.py       @anselor
examples/modular_commands/* @anselor

plugins/template/*          @kotfu
plugins/ext_test/*          @anselor

# Unit Tests
tests/pyscript/*              @kmvanbrunt
tests/transcripts/*           @kotfu
tests/__init__.py             @kotfu
tests/conftest.py             @kotfu @tleonhardt
tests/test_argparse.py        @kotfu
tests/test_argparse_*.py      @kmvanbrunt
tests/test_comp*.py           @kmvanbrunt
tests/test_pars*.py           @kotfu
tests/test_run_pyscript.py    @kmvanbrunt
tests/test_transcript.py      @kotfu

tests_isolated/test_commandset/*    @anselor

# Top-level project stuff
CONTRIBUTING.md         @tleonhardt @kotfu
setup.py                @tleonhardt @kotfu
tasks.py                @kotfu
