Repository python-cmd2/cmd2, changes with the owners that CODEOWNERS names for each.
All owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

Update alias and macro create/delete to use pfeedback for non-essential success cases
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Eliminate feedback_to_output settable and have pfeedback always print to stdout
  CHANGELOG.md
  cmd2/cmd2.py
  docs/features/builtin_commands.md
  docs/features/generating_output.md
  docs/features/initialization.md
  docs/features/settings.md
  tests/test_cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Changed output of set to fit on a single line when setting a new value
  cmd2/cmd2.py
  tests/test_cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Fixed tests based on updates
  tests/test_cmd2.py
  tests/test_commandset.py
Owners: @tleonhardt

Using nicer looking arrow in 'set' output.
  cmd2/cmd2.py
  tests/test_cmd2.py
  tests/test_commandset.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Change set output style to Cmd2.SUCCESS from "green" for logical consistency
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

#1627: Removed feedback_to_output settable and made pfeedback consistent (#1647)
  CHANGELOG.md
  cmd2/cmd2.py
  docs/features/builtin_commands.md
  docs/features/generating_output.md
  docs/features/initialization.md
  docs/features/settings.md
  tests/test_cmd2.py
  tests/test_commandset.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

[rich_utils] added Paragraph Help Formatters based on rich_argparse classes
  cmd2/__init__.py
  cmd2/rich_utils.py
  docs/features/argument_processing.md
  pyproject.toml
Owners: @tleonhardt, @kotfu

format
  docs/features/argument_processing.md
Owners: @tleonhardt

Sync prompt-toolkit styles on demand using caching and LRU-backed lookups instead of callbacks
  CHANGELOG.md
  cmd2/cmd2.py
  cmd2/pt_utils.py
  cmd2/rich_utils.py
  tests/test_pt_utils.py
  tests/test_rich_utils.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Removed Cmd.parseline().
  CHANGELOG.md
  cmd2/cmd2.py
  tests/test_cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Renamed internal Cmd instance references to _cmd_app in all utility classes
  cmd2/argparse_completer.py
  cmd2/cmd2.py
  cmd2/decorators.py
  cmd2/pt_utils.py
  cmd2/py_bridge.py
  tests/conftest.py
  tests/test_argparse_completer.py
  tests/test_completion.py
Owners: @kmvanbrunt, @anselor, @tleonhardt, @kotfu

Restored callback approach but retained LRU caching of pt styles.
  CHANGELOG.md
  cmd2/cmd2.py
  cmd2/pt_utils.py
  cmd2/rich_utils.py
  tests/test_pt_utils.py
  tests/test_rich_utils.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Refactor internal naming to _cmd_app and remove legacy parseline() method (#1659)
  CHANGELOG.md
  cmd2/argparse_completer.py
  cmd2/cmd2.py
  cmd2/decorators.py
  cmd2/pt_utils.py
  cmd2/py_bridge.py
  tests/conftest.py
  tests/test_argparse_completer.py
  tests/test_cmd2.py
  tests/test_completion.py
Owners: @tleonhardt, @kmvanbrunt, @anselor, @kotfu

Added LRU caching of converted prompt-toolkit styles and colors. (#1657)
  cmd2/cmd2.py
  cmd2/pt_utils.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Added monkeypatch to handle argparse deepcopy issue introduced in Python 3.15.0b1.
  cmd2/argparse_utils.py
  cmd2/utils.py
  tests/test_argparse_utils.py
Owners: @kmvanbrunt, @anselor, @tleonhardt, @kotfu

Fixed mypy issues.
  cmd2/argparse_utils.py
  tests/test_argparse_utils.py
Owners: @kmvanbrunt, @anselor

Fixed spelling.
  tests/test_argparse_utils.py
Owners: @kmvanbrunt

Added monkey patch to handle argparse deepcopy issue introduced in Python 3.15.0b1. (#1660)
  cmd2/argparse_utils.py
  cmd2/utils.py
  tests/test_argparse_utils.py
Owners: @kmvanbrunt, @anselor, @tleonhardt, @kotfu

Renamed ContextFlag.__count to ContextFlag._count.
  cmd2/utils.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt

Added prompt-toolkit version of the app theme which remains synchronized when theme is updated.
  CHANGELOG.md
  cmd2/__init__.py
  cmd2/cmd2.py
  cmd2/pt_utils.py
  cmd2/rich_utils.py
  cmd2/theme.py
  tests/test_cmd2.py
  tests/test_pt_utils.py
  tests/test_rich_utils.py
  tests/test_theme.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt

Updated monkey patch to match how CPython fixed the argparse bug.
  cmd2/argparse_utils.py
  tests/test_argparse_utils.py
Owners: @kmvanbrunt, @anselor

Updated monkey patch to match how CPython fixed the argparse bug. (#1662)
  cmd2/argparse_utils.py
  tests/test_argparse_utils.py
Owners: @kmvanbrunt, @anselor

Updated comment.
  cmd2/theme.py
Owners: @tleonhardt

Added support to append to a style to pt mapping.
  cmd2/styles.py
  cmd2/theme.py
  tests/test_theme.py
Owners: @tleonhardt

Addressing code review comments.
  cmd2/__init__.py
  cmd2/theme.py
  tests/test_theme.py
Owners: @tleonhardt, @kotfu

Added functions for registering synchronized styles.
  cmd2/__init__.py
  cmd2/theme.py
  tests/test_theme.py
Owners: @tleonhardt, @kotfu

Fixed references to get_theme() and set_theme().
  CHANGELOG.md
  cmd2/rich_utils.py
  cmd2/styles.py
  docs/upgrades.md
  examples/rich_theme.py
Owners: @tleonhardt, @kotfu

Changed logic check.
  cmd2/theme.py
Owners: @tleonhardt

Removed some theme functions from __init__.py.
  cmd2/__init__.py
Owners: @tleonhardt, @kotfu

Added prompt-toolkit version of the app theme which remains synchronized when theme is updated. (#1661)
  CHANGELOG.md
  cmd2/__init__.py
  cmd2/cmd2.py
  cmd2/pt_utils.py
  cmd2/rich_utils.py
  cmd2/styles.py
  cmd2/theme.py
  docs/upgrades.md
  examples/rich_theme.py
  tests/test_cmd2.py
  tests/test_pt_utils.py
  tests/test_rich_utils.py
  tests/test_theme.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt

Expanded subcommand API.
  cmd2/__init__.py
  cmd2/argparse_utils.py
  cmd2/cmd2.py
  cmd2/constants.py
  cmd2/decorators.py
  examples/async_commands.py
  tests/test_argparse.py
  tests/test_argparse_utils.py
  tests/test_cmd2.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

Added ability to update a theme.
  CHANGELOG.md
  cmd2/__init__.py
  cmd2/rich_utils.py
  cmd2/styles.py
  cmd2/theme.py
  docs/features/generating_output.md
  docs/features/theme.md
  docs/upgrades.md
  examples/rich_theme.py
  tests/test_theme.py
Owners: @tleonhardt, @kotfu

Added test coverage.
  tests/test_theme.py
Owners: @tleonhardt

Made traceback_width a Settable.
  cmd2/cmd2.py
  cmd2/pt_utils.py
  cmd2/utils.py
  tests/test_cmd2.py
  tests/test_utils.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Drop support for 3.10
  .github/CONTRIBUTING.md
  .github/workflows/tests.yml
  .github/workflows/typecheck.yml
  CHANGELOG.md
  README.md
  docs/overview/installation.md
  pyproject.toml
Owners: @tleonhardt, @kotfu

Update pre-commit dependency versions
  .pre-commit-config.yaml
Owners: @tleonhardt

Added ability to incrementally update the theme. (#1664)
  CHANGELOG.md
  cmd2/__init__.py
  cmd2/rich_utils.py
  cmd2/styles.py
  cmd2/theme.py
  docs/features/generating_output.md
  docs/features/theme.md
  docs/upgrades.md
  examples/rich_theme.py
  tests/test_theme.py
Owners: @tleonhardt, @kotfu

Finish removing support for 3.10
  cmd2/cmd2.py
  cmd2/colors.py
  cmd2/completion.py
  cmd2/parsing.py
  cmd2/styles.py
  ruff.toml
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Updated comment.
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Owners of code are automatically nominated to review PRs involving that code.

# These owners will be the default owners for everything in the repo.
*       @tleonhardt

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
#*.js    @octocat @github/js

# You can also use email addresses if you prefer.
#docs/*  docs@example.com

# cmd2 code
cmd2/__init__.py           @tleonhardt @kotfu
cmd2/ansi.py               @kmvanbrunt @tleonhardt
cmd2/argparse_*.py         @kmvanbrunt @anselor
cmd2/clipboard.py          @tleonhardt
cmd2/cmd2.py               @tleonhardt @kmvanbrunt @kotfu
cmd2/command_definition.py @anselor
cmd2/constants.py          @kotfu
cmd2/decorators.py         @kotfu @kmvanbrunt @anselor
cmd2/exceptions.py         @kmvanbrunt @anselor
cmd2/history.py            @kotfu @tleonhardt
cmd2/parsing.py            @kotfu @kmvanbrunt
cmd2/plugin.py             @kotfu
cmd2/py_bridge.py          @kmvanbrunt
cmd2/rl_utils.py           @kmvanbrunt
cmd2/table_creator.py      @kmvanbrunt
cmd2/transcript.py         @kotfu
cmd2/utils.py              @tleonhardt @kotfu @kmvanbrunt

# Sphinx documentation
docs/*                  @tleonhardt @kotfu

# Examples
examples/async_printing.py  @kmvanbrunt
examples/environment.py     @kotfu
examples/tab_*.py           @kmvanbrunt
examples/modular_*.py       @anselor
examples/modular_commands/* @anselor

plugins/template/*          @kotfu
plugins/ext_test/*          @anselor

# Unit Tests
tests/pyscript/*              @kmvanbrunt
tests/transcripts/*           @kotfu
tests/__init__.py             @kotfu
tests/conftest.py             @kotfu @tleonhardt
tests/test_argparse.py        @kotfu
tests/test_argparse_*.py      @kmvanbrunt
tests/test_comp*.py           @kmvanbrunt
tests/test_pars*.py           @kotfu
tests/test_run_pyscript.py    @kmvanbrunt
tests/test_transcript.py      @kotfu

tests_isolated/test_commandset/*    @anselor

# Top-level project stuff
CONTRIBUTING.md         @tleonhardt @kotfu
setup.py                @tleonhardt @kotfu
tasks.py                @kotfu
