Repository python-cmd2/cmd2, changes with the owners that CODEOWNERS names for each.
All owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Owners of code are automatically nominated to review PRs involving that code.

# These owners will be the default owners for everything in the repo.
*       @tleonhardt

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
#*.js    @octocat @github/js

# You can also use email addresses if you prefer.
#docs/*  docs@example.com

# cmd2 code
cmd2/__init__.py           @tleonhardt @kotfu
cmd2/ansi.py               @kmvanbrunt @tleonhardt
cmd2/argparse_*.py         @kmvanbrunt @anselor
cmd2/clipboard.py          @tleonhardt
cmd2/cmd2.py               @tleonhardt @kmvanbrunt @kotfu
cmd2/command_definition.py @anselor
cmd2/constants.py          @kotfu
cmd2/decorators.py         @kotfu @kmvanbrunt @anselor
cmd2/exceptions.py         @kmvanbrunt @anselor
cmd2/history.py            @kotfu @tleonhardt
cmd2/parsing.py            @kotfu @kmvanbrunt
cmd2/plugin.py             @kotfu
cmd2/py_bridge.py          @kmvanbrunt
cmd2/rl_utils.py           @kmvanbrunt
cmd2/table_creator.py      @kmvanbrunt
cmd2/transcript.py         @kotfu
cmd2/utils.py              @tleonhardt @kotfu @kmvanbrunt

# Sphinx documentation
docs/*                  @tleonhardt @kotfu

# Examples
examples/async_printing.py  @kmvanbrunt
examples/environment.py     @kotfu
examples/tab_*.py           @kmvanbrunt
examples/modular_*.py       @anselor
examples/modular_commands/* @anselor

plugins/template/*          @kotfu
plugins/ext_test/*          @anselor

# Unit Tests
tests/pyscript/*              @kmvanbrunt
tests/transcripts/*           @kotfu
tests/__init__.py             @kotfu
tests/conftest.py             @kotfu @tleonhardt
tests/test_argparse.py        @kotfu
tests/test_argparse_*.py      @kmvanbrunt
tests/test_comp*.py           @kmvanbrunt
tests/test_pars*.py           @kotfu
tests/test_run_pyscript.py    @kmvanbrunt
tests/test_transcript.py      @kotfu

tests_isolated/test_commandset/*    @anselor

# Top-level project stuff
CONTRIBUTING.md         @tleonhardt @kotfu
setup.py                @tleonhardt @kotfu
tasks.py                @kotfu

Added info on description and epliog fields within argument parsers being rich objects and info on HelpFormatter classes
  docs/features/argument_processing.md
Owners: @tleonhardt

Deleted ignored ruff rule that no longer exists from ext-test pyproject.toml
  plugins/ext_test/pyproject.toml
Owners: @anselor

Fixed bug where rich_utils._apply_style_wrapper() could strip a trailing newline.
  cmd2/rich_utils.py
  tests/test_rich_utils.py
Owners: @tleonhardt

Fixed bug where rich_utils._apply_style_wrapper() could strip a trailing newline. (#1514)
  cmd2/rich_utils.py
  tests/test_rich_utils.py
Owners: @tleonhardt

Addressed PR comments
  docs/features/argument_processing.md
  docs/features/disable_commands.md
  docs/features/generating_output.md
  docs/features/scripting.md
  docs/features/shortcuts_aliases_macros.md
  docs/features/theme.md
  docs/migrating/minimum.md
  docs/overview/integrating.md
Owners: @tleonhardt

Update tag validation regex to support prereleases
  tasks.py
Owners: @kotfu

Delete the `cmd2_ext_test.py` plugin code from the cmd2 repo
  docs/plugins/external_test.md
  docs/plugins/index.md
  docs/plugins/plugin_template.md
  docs/testing.md
  mkdocs.yml
  plugins/ext_test/CHANGELOG.md
  plugins/ext_test/README.md
  plugins/ext_test/build-pyenvs.sh
  plugins/ext_test/cmd2_ext_test/__init__.py
  plugins/ext_test/cmd2_ext_test/cmd2_ext_test.py
  plugins/ext_test/cmd2_ext_test/py.typed
  plugins/ext_test/cmd2_ext_test/pylintrc
  plugins/ext_test/examples/example.py
  plugins/ext_test/noxfile.py
  plugins/ext_test/pyproject.toml
  plugins/ext_test/setup.py
  plugins/ext_test/tasks.py
  plugins/ext_test/tests/__init__.py
  plugins/ext_test/tests/pylintrc
  plugins/ext_test/tests/test_ext_test.py
  plugins/tasks.py
  pyproject.toml
  tests_isolated/test_commandset/conftest.py
Owners: @tleonhardt, @kotfu, @anselor

Fixed a copy-paste bug. Thanks gemini-cli for catching it!
  tests_isolated/test_commandset/conftest.py
Owners: @anselor

Delete the `cmd2_ext_test.py` plugin code from the cmd2 repo (#1518)
  docs/plugins/external_test.md
  docs/plugins/index.md
  docs/plugins/plugin_template.md
  docs/testing.md
  mkdocs.yml
  plugins/ext_test/CHANGELOG.md
  plugins/ext_test/README.md
  plugins/ext_test/build-pyenvs.sh
  plugins/ext_test/cmd2_ext_test/__init__.py
  plugins/ext_test/cmd2_ext_test/cmd2_ext_test.py
  plugins/ext_test/cmd2_ext_test/py.typed
  plugins/ext_test/cmd2_ext_test/pylintrc
  plugins/ext_test/examples/example.py
  plugins/ext_test/noxfile.py
  plugins/ext_test/pyproject.toml
  plugins/ext_test/setup.py
  plugins/ext_test/tasks.py
  plugins/ext_test/tests/__init__.py
  plugins/ext_test/tests/pylintrc
  plugins/ext_test/tests/test_ext_test.py
  plugins/tasks.py
  pyproject.toml
  tests_isolated/test_commandset/conftest.py
Owners: @tleonhardt, @kotfu, @anselor

Move two test files that don't need to be isolated from tests_isolated to tests
  tests/conftest.py
  tests/test_argparse_subcommands.py
  tests/test_categories.py
  tests_isolated/conftest.py
  tests_isolated/test_commandset.py
  tests_isolated/test_commandset/__init__.py
Owners: @kotfu, @tleonhardt, @kmvanbrunt, @anselor

Improve documentation comments in ExternalTestMixin class in tests/conftest.py based on PR comments from gemini-cli
  tests/conftest.py
Owners: @kotfu, @tleonhardt

Fix spelling error
  tests/conftest.py
Owners: @kotfu, @tleonhardt

Move two test files that don't need to be isolated (#1519)
  tests/conftest.py
  tests/test_argparse_subcommands.py
  tests/test_categories.py
  tests_isolated/conftest.py
  tests_isolated/test_commandset.py
  tests_isolated/test_commandset/__init__.py
Owners: @kotfu, @tleonhardt, @kmvanbrunt, @anselor

`auto_load_commands` now defaults to False
  .github/CODEOWNERS
  .github/CONTRIBUTING.md
  .github/workflows/tests.yml
  CHANGELOG.md
  Makefile
  cmd2/cmd2.py
  codecov.yml
  docs/features/modular_commands.md
  docs/upgrades.md
  pyproject.toml
  tasks.py
  tests/conftest.py
  tests/test_commandset.py
  tests_isolated/__init__.py
  tests_isolated/conftest.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt

A couple minor updates based on PR comments
  docs/features/modular_commands.md
Owners: @tleonhardt

auto_load_commands now defaults to False (#1520)
  .github/CODEOWNERS
  .github/CONTRIBUTING.md
  .github/workflows/tests.yml
  CHANGELOG.md
  Makefile
  cmd2/cmd2.py
  codecov.yml
  docs/features/modular_commands.md
  docs/upgrades.md
  pyproject.toml
  tasks.py
  tests/conftest.py
  tests/test_commandset.py
  tests_isolated/__init__.py
  tests_isolated/conftest.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt

Add 'custom_types.py' example, with useful argument types
  examples/README.md
  examples/custom_types.py
Owners: @tleonhardt

Add 'custom_types.py' example, with useful argument types (#1522)
  examples/README.md
  examples/custom_types.py
Owners: @tleonhardt

Delete plugins directory
  .coveragerc
  .github/CODEOWNERS
  .github/CONTRIBUTING.md
  .pre-commit-config.yaml
  MANIFEST.in
  cmd2/plugin.py
  codecov.yml
  docs/index.md
  docs/mixins/index.md
  docs/mixins/mixin_template.md
  docs/plugins/index.md
  docs/plugins/plugin_template.md
  examples/mixin.py
  mkdocs.yml
  plugins/README.txt
  plugins/tasks.py
  plugins/template/CHANGELOG.md
  plugins/template/LICENSE
  plugins/template/README.md
  plugins/template/build-pyenvs.sh
  plugins/template/cmd2_myplugin/__init__.py
  plugins/template/cmd2_myplugin/pylintrc
  plugins/template/examples/example.py
  plugins/template/noxfile.py
  plugins/template/setup.py
  plugins/template/tasks.py
  plugins/template/tests/__init__.py
  plugins/template/tests/pylintrc
  plugins/template/tests/test_myplugin.py
  pyproject.toml
  ruff.toml
  tasks.py
Owners: @tleonhardt, @kotfu

Remove plugins/ dir from CODEOWNERS file
  .github/CODEOWNERS
Owners: @tleonhardt

Cleanup documentation based on automated Gemini CLI review
  docs/mixins/mixin_template.md
Owners: @tleonhardt

Delete plugins directory (#1523)
  .coveragerc
  .github/CODEOWNERS
  .github/CONTRIBUTING.md
  .pre-commit-config.yaml
  MANIFEST.in
  cmd2/plugin.py
  codecov.yml
  docs/index.md
  docs/mixins/index.md
  docs/mixins/mixin_template.md
  docs/plugins/index.md
  docs/plugins/plugin_template.md
  examples/mixin.py
  mkdocs.yml
  plugins/README.txt
  plugins/tasks.py
  plugins/template/CHANGELOG.md
  plugins/template/LICENSE
  plugins/template/README.md
  plugins/template/build-pyenvs.sh
  plugins/template/cmd2_myplugin/__init__.py
  plugins/template/cmd2_myplugin/pylintrc
  plugins/template/examples/example.py
  plugins/template/noxfile.py
  plugins/template/setup.py
  plugins/template/tasks.py
  plugins/template/tests/__init__.py
  plugins/template/tests/pylintrc
  plugins/template/tests/test_myplugin.py
  pyproject.toml
  ruff.toml
  tasks.py
Owners: @tleonhardt, @kotfu

Add info on the cmd2-ansi and cmd2-table backport migration aid modules to documentation and CHANGELOG
  .pre-commit-config.yaml
  CHANGELOG.md
  docs/upgrades.md
Owners: @tleonhardt, @kotfu

Add info on the cmd2-ansi and cmd2-table backport migration aid modules to documentation and CHANGELOG (#1524)
  .pre-commit-config.yaml
  CHANGELOG.md
  docs/upgrades.md
Owners: @tleonhardt, @kotfu

Minor tweaks to CHANGELOG and README prior to putting out a release candidate
  CHANGELOG.md
  README.md
Owners: @tleonhardt

Remove plugin stuff from invoke `tasks.py` file
  tasks.py
Owners: @kotfu

Update README to mention the 3.0.0rc1 release candidate
  README.md
Owners: @tleonhardt

Added note on breaking change regarding name change for a couple string functions
  CHANGELOG.md
Owners: @tleonhardt

Add a couple more undocumented breaking chagnes to the CHANGELOG
  CHANGELOG.md
Owners: @tleonhardt

Add breaking change note about change to CompletionItem class
  CHANGELOG.md
Owners: @tleonhardt

Made type hint for descriptive_headers in _add_argument_wrapper() consistent with its type hint in _action_get_descriptive_headers() and _action_set_descriptive_headers().
  cmd2/argparse_completer.py
  cmd2/argparse_custom.py
Owners: @kmvanbrunt, @anselor

Renamed history --output_file to --output-file to follow common command-line practices
  CHANGELOG.md
  cmd2/cmd2.py
  docs/features/history.md
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Renamed history --output_file to --output-file to follow common command-line practices (#1527)
  CHANGELOG.md
  cmd2/cmd2.py
  docs/features/history.md
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Update ruff to 0.13.3
  .pre-commit-config.yaml
Owners: @tleonhardt

feat: Restore CompletionItem.description
  CHANGELOG.md
  cmd2/argparse_completer.py
  cmd2/argparse_custom.py
  tests/test_cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @anselor

Improved working in Changelog
  CHANGELOG.md
Owners: @tleonhardt

Update cmd2/argparse_custom.py
  cmd2/argparse_custom.py
Owners: @kmvanbrunt, @anselor

Upgrade versions of ruff, uv, and Python used for CI/CD
  .github/workflows/docs.yml
  .github/workflows/quality.yml
  .github/workflows/tests.yml
  .github/workflows/typecheck.yml
  .pre-commit-config.yaml
  Makefile
Owners: @tleonhardt

Upgrade versions of ruff, uv, and Python used for CI/CD (#1529)
  .github/workflows/docs.yml
  .github/workflows/quality.yml
  .github/workflows/tests.yml
  .github/workflows/typecheck.yml
  .pre-commit-config.yaml
  Makefile
Owners: @tleonhardt

Update ruff version to 0.14.1
  .pre-commit-config.yaml
Owners: @tleonhardt
