Repository python-cmd2/cmd2, changes with the owners that CODEOWNERS names for each.
All owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

Upgrade ruff to 0.15.6
  .pre-commit-config.yaml
  README.md
  docs/examples/alternate_event_loops.md
  docs/examples/getting_started.md
  docs/features/annotated.md
  docs/features/argument_processing.md
  docs/features/async_commands.md
  docs/features/builtin_commands.md
  docs/features/commands.md
  docs/features/disable_commands.md
  docs/features/embedded_python_shells.md
  docs/features/help.md
  docs/features/hooks.md
  docs/features/initialization.md
  docs/features/misc.md
  docs/features/modular_commands.md
  docs/features/plugins.md
  docs/features/prompt.md
  docs/features/redirection.md
  docs/features/scripting.md
  docs/features/settings.md
  docs/features/shortcuts_aliases_macros.md
  docs/features/startup_commands.md
  docs/mixins/mixin_template.md
  docs/testing.md
Owners: @tleonhardt, @kotfu

First pass at updating readme
  README.md
Owners: @tleonhardt

Converted example in README.md to use with_annotated decorator
  README.md
Owners: @tleonhardt

Improved the organization of how cmd2's features are highlighted in the README.md
  README.md
Owners: @tleonhardt

Added animated gif of example app to the README
  README.md
  docs/assets/cmd2-readme-demo.gif
Owners: @tleonhardt

Removed images that are no longer used in the README
  .github/images/graph.drawio.png
  cmd2.png
Owners: @tleonhardt

Update ruff to version 0.16.5 (#1738)
  .pre-commit-config.yaml
  README.md
  docs/examples/alternate_event_loops.md
  docs/examples/getting_started.md
  docs/features/annotated.md
  docs/features/argument_processing.md
  docs/features/async_commands.md
  docs/features/builtin_commands.md
  docs/features/commands.md
  docs/features/disable_commands.md
  docs/features/embedded_python_shells.md
  docs/features/help.md
  docs/features/hooks.md
  docs/features/initialization.md
  docs/features/misc.md
  docs/features/modular_commands.md
  docs/features/plugins.md
  docs/features/prompt.md
  docs/features/redirection.md
  docs/features/scripting.md
  docs/features/settings.md
  docs/features/shortcuts_aliases_macros.md
  docs/features/startup_commands.md
  docs/mixins/mixin_template.md
  docs/testing.md
Owners: @tleonhardt, @kotfu

Update README.md to explictly state that cmd2 supports Typer-style syntax for specifying command arguments using type annotations
  README.md
Owners: @tleonhardt

Updated getting_started.md to more closely match the current state of the getting_started.py example
  docs/assets/getting-started-demo.gif
  docs/examples/getting_started.md
Owners: @tleonhardt

Replace README link with absolute link so it will work when uploaded to PyPI
  README.md
  docs/examples/getting_started.md
Owners: @tleonhardt

Exclude mkdocs.yml from Prek's check-yaml
  .pre-commit-config.yaml
Owners: @tleonhardt

Address MR comments
  README.md
  docs/examples/getting_started.md
  examples/getting_started.py
Owners: @tleonhardt

Update readme (#1739)
  .github/images/graph.drawio.png
  README.md
  cmd2.png
  docs/assets/cmd2-readme-demo.gif
  docs/assets/getting-started-demo.gif
  docs/examples/getting_started.md
  examples/getting_started.py
Owners: @tleonhardt

Updated CHANGELOG in preparation for point release
  CHANGELOG.md
Owners: @tleonhardt

Bump ruff version to 0.16.6
  .pre-commit-config.yaml
Owners: @tleonhardt

Added Wtsh info to README table on tools using cmd2
  README.md
Owners: @tleonhardt

Implemented: enable_bottom_toolbar=True now keeps the toolbar visible and refreshing during command execution. Prompts, pagers, and shell commands temporarily suspend it while using the terminal.
  CHANGELOG.md
  cmd2/cmd2.py
  cmd2/command_toolbar.py
  docs/features/prompt.md
  examples/getting_started.py
  mkdocs.yml
  tests/test_command_toolbar.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Various bug fixes
  cmd2/cmd2.py
  cmd2/command_toolbar.py
  cmd2/utils.py
  docs/features/prompt.md
  examples/getting_started.py
  tests/test_command_toolbar.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Fix Windows CI failures in command toolbar tests
  tests/test_command_toolbar.py
Owners: @tleonhardt

Working prototype for one application with interchangeable layouts and an embedded pager
  cmd2/cmd2.py
  cmd2/command_toolbar.py
  cmd2/pager.py
  docs/features/initialization.md
  docs/features/os.md
  docs/features/prompt.md
  tests/test_command_toolbar.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Cover the toolbar's EOF shutdown path
  tests/test_command_toolbar.py
Owners: @tleonhardt

Added unit tests to completely cover code added for command_toolbar.py and pager.py
  tests/test_command_toolbar.py
Owners: @tleonhardt

Measure paged output before building a pager
  cmd2/command_toolbar.py
  cmd2/pager.py
  tests/test_command_toolbar.py
Owners: @tleonhardt

Fixed 4 issues found during automated code review
  cmd2/cmd2.py
  cmd2/pager.py
  docs/features/initialization.md
  docs/features/os.md
  docs/features/prompt.md
  tests/test_command_toolbar.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Fixed the pager to strip OSC sequences before ANSI parsing, preserving visible hyperlink text, colors, and width calculations
  cmd2/pager.py
  tests/test_command_toolbar.py
Owners: @tleonhardt

Moved tests for pager.py to new test_pager.py file from test_command_toolbar.py
  tests/conftest.py
  tests/test_command_toolbar.py
  tests/test_pager.py
Owners: @kotfu, @tleonhardt

Fix tests that were failing on Windows
  tests/test_pager.py
Owners: @tleonhardt

Fix Windows test hang from mocking the event loop's call_soon_threadsafe
  tests/test_command_toolbar.py
Owners: @tleonhardt

Add CLAUDE.md file to give Claude Code guidance
  CLAUDE.md
Owners: @tleonhardt

Install only the dependency group each CI job needs
  .github/workflows/docs.yml
  .github/workflows/quality.yml
  .github/workflows/tests.yml
Owners: @tleonhardt

Add CLAUDE.md with instructions for Claude Code
  CLAUDE.md
Owners: @tleonhardt

Added info on new embedded pager to CHANGELOG and docs
  CHANGELOG.md
  docs/features/os.md
  docs/features/prompt.md
Owners: @tleonhardt

uv run does its own sync of the project env with default groups
  .github/workflows/docs.yml
  .github/workflows/quality.yml
  .github/workflows/tests.yml
  .github/workflows/typecheck.yml
  pyproject.toml
Owners: @tleonhardt

Add ipython to dependencies in validate group.
  pyproject.toml
Owners: @tleonhardt

uv run does its own sync of the project env with default groups (#1746)
  .github/workflows/docs.yml
  .github/workflows/quality.yml
  .github/workflows/tests.yml
  .github/workflows/typecheck.yml
  pyproject.toml
Owners: @tleonhardt

Add aggregation jobs to maxtrix workflows
  .github/workflows/tests.yml
  .github/workflows/typecheck.yml
Owners: @tleonhardt

Add aggregation jobs to maxtrix workflows (#1747)
  .github/workflows/tests.yml
  .github/workflows/typecheck.yml
Owners: @tleonhardt

Test additional keyboard shortcuts in embedded pager tests
  tests/test_pager.py
Owners: @tleonhardt

Added examples/pager_diag.py for diagnosing embedded pager issues on Windows
  examples/pager_diag.py
Owners: @tleonhardt

Remove pager_diag.py example which was used temporarily for troubleshooting
  examples/pager_diag.py
Owners: @tleonhardt

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Owners of code are automatically nominated to review PRs involving that code.

# These owners will be the default owners for everything in the repo.
*       @tleonhardt

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
#*.js    @octocat @github/js

# You can also use email addresses if you prefer.
#docs/*  docs@example.com

# cmd2 code
cmd2/__init__.py           @tleonhardt @kotfu
cmd2/ansi.py               @kmvanbrunt @tleonhardt
cmd2/argparse_*.py         @kmvanbrunt @anselor
cmd2/clipboard.py          @tleonhardt
cmd2/cmd2.py               @tleonhardt @kmvanbrunt @kotfu
cmd2/command_definition.py @anselor
cmd2/constants.py          @kotfu
cmd2/decorators.py         @kotfu @kmvanbrunt @anselor
cmd2/exceptions.py         @kmvanbrunt @anselor
cmd2/history.py            @kotfu @tleonhardt
cmd2/parsing.py            @kotfu @kmvanbrunt
cmd2/plugin.py             @kotfu
cmd2/py_bridge.py          @kmvanbrunt
cmd2/rl_utils.py           @kmvanbrunt
cmd2/table_creator.py      @kmvanbrunt
cmd2/transcript.py         @kotfu
cmd2/utils.py              @tleonhardt @kotfu @kmvanbrunt

# Sphinx documentation
docs/*                  @tleonhardt @kotfu

# Examples
examples/async_printing.py  @kmvanbrunt
examples/environment.py     @kotfu
examples/tab_*.py           @kmvanbrunt
examples/modular_*.py       @anselor
examples/modular_commands/* @anselor

plugins/template/*          @kotfu
plugins/ext_test/*          @anselor

# Unit Tests
tests/pyscript/*              @kmvanbrunt
tests/transcripts/*           @kotfu
tests/__init__.py             @kotfu
tests/conftest.py             @kotfu @tleonhardt
tests/test_argparse.py        @kotfu
tests/test_argparse_*.py      @kmvanbrunt
tests/test_comp*.py           @kmvanbrunt
tests/test_pars*.py           @kotfu
tests/test_run_pyscript.py    @kmvanbrunt
tests/test_transcript.py      @kotfu

tests_isolated/test_commandset/*    @anselor

# Top-level project stuff
CONTRIBUTING.md         @tleonhardt @kotfu
setup.py                @tleonhardt @kotfu
tasks.py                @kotfu
