Repository python-cmd2/cmd2, changes with the owners that CODEOWNERS names for each.
All owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

Remove support for Python 3.8 and make 3.9 minimum required (#1376)
  .github/CONTRIBUTING.md
  .github/workflows/build.yml
  CHANGELOG.md
  README.md
  docs/conf.py
  docs/overview/installation.rst
  plugins/ext_test/build-pyenvs.sh
  plugins/ext_test/noxfile.py
  plugins/ext_test/setup.py
  plugins/template/README.md
  plugins/template/build-pyenvs.sh
  plugins/template/noxfile.py
  plugins/template/setup.py
  pyproject.toml
Owners: @tleonhardt, @kotfu, @anselor

Use type hinting generics in standard collections instead of importing from typing
  cmd2/__init__.py
  cmd2/ansi.py
  cmd2/argparse_completer.py
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  cmd2/command_definition.py
  cmd2/decorators.py
  cmd2/history.py
  cmd2/parsing.py
  cmd2/py_bridge.py
  cmd2/table_creator.py
  cmd2/transcript.py
  cmd2/utils.py
  examples/argparse_completion.py
  examples/async_printing.py
  examples/basic_completion.py
  examples/decorator_example.py
  examples/exit_code.py
  examples/hooks.py
  examples/modular_commands/commandset_basic.py
  examples/modular_commands/commandset_complex.py
  examples/modular_commands_main.py
  examples/paged_output.py
  examples/read_input.py
  examples/scripts/save_help_text.py
  examples/table_creation.py
  pyproject.toml
  tests/conftest.py
  tests/test_argparse_completer.py
  tests/test_utils.py
  tests_isolated/test_commandset/conftest.py
  tests_isolated/test_commandset/test_commandset.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

Fix mypy error when passing class method to with_argparser() and as_subcommand_to().
  cmd2/decorators.py
  docs/conf.py
Owners: @kotfu, @kmvanbrunt, @anselor, @tleonhardt

Fix mypy error when passing class method to with_argparser() and as_subcommand_to().
  cmd2/decorators.py
  docs/conf.py
Owners: @kotfu, @kmvanbrunt, @anselor, @tleonhardt

Fixed issue where set command was not always printing a settable's current value.
  CHANGELOG.md
  cmd2/cmd2.py
  cmd2/utils.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Fixed issue where set command was not always printing a settable's current value.
  CHANGELOG.md
  cmd2/cmd2.py
  cmd2/utils.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Update change log for release.
  CHANGELOG.md
Owners: @tleonhardt

Fixed type hint for with_default_category decorator which caused type checkers to mistype a decorated subclass of CommandSet and a plain CommandSet.
  CHANGELOG.md
  cmd2/command_definition.py
  docs/conf.py
Owners: @tleonhardt, @anselor, @kotfu

Fixed type hint for with_default_category decorator which caused type checkers to mistype (#1381)
  CHANGELOG.md
  cmd2/command_definition.py
  docs/conf.py
Owners: @tleonhardt, @anselor, @kotfu

Update change log for release.
  CHANGELOG.md
Owners: @tleonhardt

Fixed issue where argument parsers for overridden commands were not being created.
  CHANGELOG.md
  cmd2/cmd2.py
  cmd2/decorators.py
  pyproject.toml
  tests/test_argparse.py
  tests/test_cmd2.py
  tests/transcripts/from_cmdloop.txt
  tests_isolated/test_commandset/test_commandset.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu, @anselor

Fixed terminal check in Cmd.ppaged() to use correct output stream.
  CHANGELOG.md
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Updated unit test.
  cmd2/cmd2.py
  tests_isolated/test_commandset/test_commandset.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu, @anselor

Fixed issue where Cmd.ppaged() was not writing to the passed in destination.
  CHANGELOG.md
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Fixed issue where argument parsers for overridden commands were not being created.
  CHANGELOG.md
  cmd2/cmd2.py
  cmd2/decorators.py
  pyproject.toml
  tests/test_argparse.py
  tests/test_cmd2.py
  tests/transcripts/from_cmdloop.txt
  tests_isolated/test_commandset/test_commandset.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu, @anselor

Updated unit test.
  cmd2/cmd2.py
  tests_isolated/test_commandset/test_commandset.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu, @anselor

Fixed terminal check in Cmd.ppaged() to use correct output stream.
  CHANGELOG.md
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Fixed issue where Cmd.ppaged() was not writing to the passed in destination.
  CHANGELOG.md
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Simplified ppaged().
  cmd2/cmd2.py
  tests/test_cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Simplified ppaged().
  cmd2/cmd2.py
  tests/test_cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Update change log for release.
  CHANGELOG.md
Owners: @tleonhardt

Modernized and expanded the Projects section of README and auto-formatted it using Prettier defaults
  README.md
Owners: @tleonhardt

Modernized and expanded the Projects section of README and auto-formatted it using Prettier defaults (#1391)
  README.md
Owners: @tleonhardt

Fix broken python_scripting.py example
  examples/python_scripting.py
Owners: @tleonhardt

Fix broken python_scripting.py example (#1392)
  examples/python_scripting.py
Owners: @tleonhardt

Update screenshot
  cmd2.png
  examples/python_scripting.py
Owners: @tleonhardt

Update screenshot (#1393)
  cmd2.png
Owners: @tleonhardt

Fixed example code.
  examples/override_parser.py
Owners: @tleonhardt

Fixed example code. (#1394)
  examples/override_parser.py
Owners: @tleonhardt

Rolled back undocumented changes to printing functions introduced in 2.5.0.
  CHANGELOG.md
  cmd2/ansi.py
  cmd2/cmd2.py
  examples/colors.py
  examples/initialization.py
  examples/pirate.py
  tests/test_cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Added docstring to Cmd.print_to().
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Rolled back undocumented changes to printing functions introduced in 2.5.0.
  CHANGELOG.md
  cmd2/ansi.py
  cmd2/cmd2.py
  examples/colors.py
  examples/initialization.py
  examples/pirate.py
  tests/test_cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Added docstring to Cmd.print_to().
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Update change log for release.
  CHANGELOG.md
Owners: @tleonhardt

Add missing dependency for GitHub Action doc build
  .github/workflows/doc.yml
Owners: @tleonhardt

Updated disable_commands.md
  docs/features/disable_commands.md
Owners: @tleonhardt

Fixed mkdocstrings auto python documentation
  .github/CONTRIBUTING.md
  .github/workflows/doc.yml
  .prettierignore
  .prettierrc
  Pipfile
  docs/features/embedded_python_shells.md
  docs/features/generating_output.md
  docs/features/help.md
  docs/features/history.md
  docs/features/hooks.md
  docs/features/initialization.md
  docs/features/misc.md
  docs/features/modular_commands.md
  docs/features/multiline_commands.md
  docs/features/os.md
  docs/features/packaging.md
  docs/features/plugins.md
  docs/features/prompt.md
  docs/features/redirection.md
  mkdocs.yml
  pyproject.toml
Owners: @tleonhardt, @kotfu

Fix a few more Markdown files
  docs/features/generating_output.md
  docs/features/scripting.md
  docs/features/settings.md
  docs/overview/installation.md
Owners: @tleonhardt

Fixed rest of Markdown and got basic API documentation workign well
  docs/api/ansi.md
  docs/api/argparse_completer.md
  docs/api/argparse_custom.md
  docs/api/cmd.md
  docs/api/command_definition.md
  docs/api/constants.md
  docs/api/exceptions.md
  docs/api/history.md
  docs/api/index.md
  docs/api/parsing.md
  docs/api/plugin.md
  docs/api/plugin_external_test.md
  docs/api/py_bridge.md
  docs/api/table_creator.md
  docs/api/utils.md
  docs/doc_conventions.md
  docs/examples/alternate_event_loops.md
  docs/examples/first_app.md
  docs/features/builtin_commands.md
  docs/features/completion.md
  docs/features/scripting.md
  docs/features/settings.md
  docs/features/shortcuts_aliases_macros.md
  docs/features/startup_commands.md
  docs/features/table_creation.md
  docs/features/transcripts.md
  docs/plugins/external_test.md
  docs/testing.md
  mkdocs.yml
Owners: @tleonhardt, @kotfu

Added mkdocstrings cross-references
  cmd2/ansi.py
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  cmd2/decorators.py
  cmd2/history.py
  cmd2/parsing.py
  cmd2/py_bridge.py
  cmd2/utils.py
  docs/api/index.md
  docs/examples/first_app.md
  docs/features/builtin_commands.md
  docs/features/clipboard.md
  docs/features/generating_output.md
  docs/features/history.md
  docs/features/hooks.md
  docs/features/multiline_commands.md
  docs/features/plugins.md
  docs/features/transcripts.md
  docs/index.md
  docs/plugins/external_test.md
  mkdocs.yml
Owners: @kmvanbrunt, @tleonhardt, @anselor, @kotfu

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Owners of code are automatically nominated to review PRs involving that code.

# These owners will be the default owners for everything in the repo.
*       @tleonhardt

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
#*.js    @octocat @github/js

# You can also use email addresses if you prefer.
#docs/*  docs@example.com

# cmd2 code
cmd2/__init__.py           @tleonhardt @kotfu
cmd2/ansi.py               @kmvanbrunt @tleonhardt
cmd2/argparse_*.py         @kmvanbrunt @anselor
cmd2/clipboard.py          @tleonhardt
cmd2/cmd2.py               @tleonhardt @kmvanbrunt @kotfu
cmd2/command_definition.py @anselor
cmd2/constants.py          @kotfu
cmd2/decorators.py         @kotfu @kmvanbrunt @anselor
cmd2/exceptions.py         @kmvanbrunt @anselor
cmd2/history.py            @kotfu @tleonhardt
cmd2/parsing.py            @kotfu @kmvanbrunt
cmd2/plugin.py             @kotfu
cmd2/py_bridge.py          @kmvanbrunt
cmd2/rl_utils.py           @kmvanbrunt
cmd2/table_creator.py      @kmvanbrunt
cmd2/transcript.py         @kotfu
cmd2/utils.py              @tleonhardt @kotfu @kmvanbrunt

# Sphinx documentation
docs/*                  @tleonhardt @kotfu

# Examples
examples/async_printing.py  @kmvanbrunt
examples/environment.py     @kotfu
examples/tab_*.py           @kmvanbrunt
examples/modular_*.py       @anselor
examples/modular_commands/* @anselor

plugins/template/*          @kotfu
plugins/ext_test/*          @anselor

# Unit Tests
tests/pyscript/*              @kmvanbrunt
tests/transcripts/*           @kotfu
tests/__init__.py             @kotfu
tests/conftest.py             @kotfu @tleonhardt
tests/test_argparse.py        @kotfu
tests/test_argparse_*.py      @kmvanbrunt
tests/test_comp*.py           @kmvanbrunt
tests/test_pars*.py           @kotfu
tests/test_run_pyscript.py    @kmvanbrunt
tests/test_transcript.py      @kotfu

tests_isolated/test_commandset/*    @anselor

# Top-level project stuff
CONTRIBUTING.md         @tleonhardt @kotfu
setup.py                @tleonhardt @kotfu
tasks.py                @kotfu
