Repository python-cmd2/cmd2, changes with the owners that CODEOWNERS names for each.
All owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

Added on_registered() callback to CommandSet
  CHANGELOG.md
  cmd2/cmd2.py
  cmd2/command_definition.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu, @anselor

Added unit tests for CommandSet callbacks
  tests/test_cmd2.py
  tests_isolated/test_commandset/test_commandset.py
Owners: @tleonhardt, @anselor

Updated comments
  cmd2/argparse_completer.py
  cmd2/cmd2.py
Owners: @kmvanbrunt, @anselor, @tleonhardt, @kotfu

Updated read_input example
  examples/read_input.py
Owners: @tleonhardt

Updated change log
  CHANGELOG.md
Owners: @tleonhardt

Fixed docs error
  cmd2/cmd2.py
  docs/api/cmd.rst
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Removed enum.auto() for Python 3.5 compatibility
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Fixed flake8 error
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Updated docs
  docs/features/modular_commands.rst
  examples/modular_commands/commandset_complex.py
  examples/modular_commands_dynamic.py
  examples/modular_subcommands.py
  tests_isolated/test_commandset/test_commandset.py
Owners: @tleonhardt, @anselor

Added CommandSet.on_unregistered()
  CHANGELOG.md
  cmd2/cmd2.py
  cmd2/command_definition.py
  tests_isolated/test_commandset/test_commandset.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu, @anselor

Documented CommandSet event handlers
  docs/features/modular_commands.rst
Owners: @tleonhardt

Fixed type hints in example code
  docs/features/modular_commands.rst
  examples/modular_subcommands.py
  tests_isolated/test_commandset/test_commandset.py
Owners: @tleonhardt, @anselor

Added always_show_hint setting Fixed issue where flag names weren't always sorted correctly in argparse tab completion
  CHANGELOG.md
  README.md
  cmd2/argparse_completer.py
  cmd2/cmd2.py
  examples/transcripts/transcript_regex.txt
  tests/conftest.py
  tests/test_argparse_completer.py
  tests/transcripts/regex_set.txt
Owners: @tleonhardt, @kmvanbrunt, @anselor, @kotfu

Added type hint
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Updated unit tests for read_input()
  cmd2/cmd2.py
  tests/test_cmd2.py
  tests/test_history.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Added pragma: no cover to some tab completion code
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Made CustomCompletionSettings public since it's optionally passed to public method cmd2.Cmd.complete().
  cmd2/cmd2.py
  docs/api/cmd.rst
Owners: @tleonhardt, @kmvanbrunt, @kotfu

argparse tab completion now groups flag names which run the same action. Optional flags are wrapped in brackets like it is done in argparse usage text.
  CHANGELOG.md
  cmd2/argparse_completer.py
  tests/test_argparse_completer.py
Owners: @tleonhardt, @kmvanbrunt, @anselor

Moved two classes from cmd2.py to utils.py.
  cmd2/__init__.py
  cmd2/ansi.py
  cmd2/cmd2.py
  cmd2/rl_utils.py
  cmd2/table_creator.py
  cmd2/utils.py
  docs/api/cmd.rst
  docs/api/utils.rst
  tests/test_completion.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt

Updated documentation about set command
  docs/features/builtin_commands.rst
Owners: @tleonhardt

Added section to completion docs about read_input() function
  cmd2/cmd2.py
  docs/features/completion.rst
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Added --silent flag to alias/macro create. Added --with_silent flag to alias/macro list.
  CHANGELOG.md
  cmd2/cmd2.py
  tests/test_cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Updated URL and documentation in preparation for cmd2-ext-test 0.2.0 release
  plugins/ext_test/CHANGELOG.md
  plugins/ext_test/setup.py
Owners: @anselor, @tleonhardt, @kotfu

Changes default category to be heritable by default - meaning that subclasses will inherit the parent class's default category. Adds optional flag to disable heritability.
  CHANGELOG.md
  cmd2/cmd2.py
  cmd2/command_definition.py
  cmd2/constants.py
  cmd2/utils.py
  examples/default_categories.py
  tests_isolated/test_commandset/test_categories.py
  tests_isolated/test_commandset/test_commandset.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu, @anselor

Minor type hinting fixes.
  cmd2/utils.py
  tests/test_utils.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt

Updated URL and documentation in preparation for cmd2-ext-test 0.2.0 release
  plugins/ext_test/CHANGELOG.md
  plugins/ext_test/setup.py
Owners: @anselor, @tleonhardt, @kotfu

Fixed classifier spacing
  plugins/ext_test/setup.py
Owners: @tleonhardt, @kotfu

Changes default category to be heritable by default - meaning that subclasses will inherit the parent class's default category. Adds optional flag to disable heritability.
  CHANGELOG.md
  cmd2/cmd2.py
  cmd2/command_definition.py
  cmd2/constants.py
  cmd2/utils.py
  examples/default_categories.py
  tests_isolated/test_commandset/test_categories.py
  tests_isolated/test_commandset/test_commandset.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu, @anselor

Minor type hinting fixes.
  cmd2/utils.py
  tests/test_utils.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt

Small refactor
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Onboard to GitHub CodeQL security scanning
  .github/workflows/codeql-analysis.yml
Owners: @tleonhardt

Only setting subcommand handler on attached_parser and not its parent parser
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Fixed issue where quoted redirectors and terminators in aliases and macros were not being restored when read from a startup script.
  CHANGELOG.md
  cmd2/cmd2.py
  cmd2/utils.py
  docs/api/utils.rst
  tests/test_cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Fixed issue where instantiating more than one cmd2-based class which uses the @as_subcommand_to decorator resulted in duplicated help text in the base command the subcommands belong to.
  CHANGELOG.md
  cmd2/argparse_custom.py
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @anselor, @kotfu

Updated change log for release
  CHANGELOG.md
Owners: @tleonhardt

Remove unnecessary runtime dependency on setuptools
  setup.py
Owners: @tleonhardt, @kotfu

Format multiline docstrings to match other help messages
  cmd2/cmd2.py
  tests/test_cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

typo
  docs/features/modular_commands.rst
Owners: @tleonhardt

fix flake8 error
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Fixed error in set --long, which should be set -v
  docs/features/settings.rst
Owners: @tleonhardt

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Owners of code are automatically nominated to review PRs involving that code.

# These owners will be the default owners for everything in the repo.
*       @tleonhardt

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
#*.js    @octocat @github/js

# You can also use email addresses if you prefer.
#docs/*  docs@example.com

# cmd2 code
cmd2/__init__.py           @tleonhardt @kotfu
cmd2/ansi.py               @kmvanbrunt @tleonhardt
cmd2/argparse_*.py         @kmvanbrunt @anselor
cmd2/clipboard.py          @tleonhardt
cmd2/cmd2.py               @tleonhardt @kmvanbrunt @kotfu
cmd2/command_definition.py @anselor
cmd2/constants.py          @kotfu
cmd2/decorators.py         @kotfu @kmvanbrunt @anselor
cmd2/exceptions.py         @kmvanbrunt @anselor
cmd2/history.py            @kotfu @tleonhardt
cmd2/parsing.py            @kotfu @kmvanbrunt
cmd2/plugin.py             @kotfu
cmd2/py_bridge.py          @kmvanbrunt
cmd2/rl_utils.py           @kmvanbrunt
cmd2/table_creator.py      @kmvanbrunt
cmd2/transcript.py         @kotfu
cmd2/utils.py              @tleonhardt @kotfu @kmvanbrunt

# Sphinx documentation
docs/*                  @tleonhardt @kotfu

# Examples
examples/async_printing.py  @kmvanbrunt
examples/environment.py     @kotfu
examples/tab_*.py           @kmvanbrunt
examples/modular_*.py       @anselor
examples/modular_commands/* @anselor

plugins/template/*          @kotfu
plugins/ext_test/*          @anselor

# Unit Tests
tests/pyscript/*              @kmvanbrunt
tests/transcripts/*           @kotfu
tests/__init__.py             @kotfu
tests/conftest.py             @kotfu @tleonhardt
tests/test_argparse.py        @kotfu
tests/test_argparse_*.py      @kmvanbrunt
tests/test_comp*.py           @kmvanbrunt
tests/test_pars*.py           @kotfu
tests/test_run_pyscript.py    @kmvanbrunt
tests/test_transcript.py      @kotfu

tests_isolated/test_commandset/*    @anselor

# Top-level project stuff
CONTRIBUTING.md         @tleonhardt @kotfu
setup.py                @tleonhardt @kotfu
tasks.py                @kotfu
