Repository python-cmd2/cmd2, changes with the owners that CODEOWNERS names for each.
All owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Owners of code are automatically nominated to review PRs involving that code.

# These owners will be the default owners for everything in the repo.
*       @tleonhardt

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
#*.js    @octocat @github/js

# You can also use email addresses if you prefer.
#docs/*  docs@example.com

# cmd2 code
cmd2/__init__.py           @tleonhardt @kotfu
cmd2/ansi.py               @kmvanbrunt @tleonhardt
cmd2/argparse_*.py         @kmvanbrunt @anselor
cmd2/clipboard.py          @tleonhardt
cmd2/cmd2.py               @tleonhardt @kmvanbrunt @kotfu
cmd2/command_definition.py @anselor
cmd2/constants.py          @kotfu
cmd2/decorators.py         @kotfu @kmvanbrunt @anselor
cmd2/exceptions.py         @kmvanbrunt @anselor
cmd2/history.py            @kotfu @tleonhardt
cmd2/parsing.py            @kotfu @kmvanbrunt
cmd2/plugin.py             @kotfu
cmd2/py_bridge.py          @kmvanbrunt
cmd2/rl_utils.py           @kmvanbrunt
cmd2/table_creator.py      @kmvanbrunt
cmd2/transcript.py         @kotfu
cmd2/utils.py              @tleonhardt @kotfu @kmvanbrunt

# Sphinx documentation
docs/*                  @tleonhardt @kotfu

# Examples
examples/async_printing.py  @kmvanbrunt
examples/environment.py     @kotfu
examples/tab_*.py           @kmvanbrunt
examples/modular_*.py       @anselor
examples/modular_commands/* @anselor

plugins/template/*          @kotfu
plugins/ext_test/*          @anselor

# Unit Tests
tests/pyscript/*              @kmvanbrunt
tests/transcripts/*           @kotfu
tests/__init__.py             @kotfu
tests/conftest.py             @kotfu @tleonhardt
tests/test_argparse.py        @kotfu
tests/test_argparse_*.py      @kmvanbrunt
tests/test_comp*.py           @kmvanbrunt
tests/test_pars*.py           @kotfu
tests/test_run_pyscript.py    @kmvanbrunt
tests/test_transcript.py      @kotfu

tests_isolated/test_commandset/*    @anselor

# Top-level project stuff
CONTRIBUTING.md         @tleonhardt @kotfu
setup.py                @tleonhardt @kotfu
tasks.py                @kotfu

Edit initialization.md to auto-load code from the initialization.py example instead of manually copying it by hand
  docs/features/initialization.md
Owners: @tleonhardt

Changed the example title to show examples/initialization.py to make it clearer
  docs/features/initialization.md
Owners: @tleonhardt

Updated stylize() unit test.
  cmd2/string_utils.py
  tests/test_string_utils.py
Owners: @tleonhardt

Fix: rich-argparse help text truncation
  cmd2/argparse_completer.py
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  cmd2/rich_utils.py
  tests/test_rich_utils.py
Owners: @kmvanbrunt, @anselor, @tleonhardt, @kotfu

Fix: rich-argparse help text truncation
  cmd2/argparse_completer.py
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  cmd2/rich_utils.py
  tests/test_rich_utils.py
Owners: @kmvanbrunt, @anselor, @tleonhardt, @kotfu

Refactor: Isolate column rendering from printing.
  cmd2/cmd2.py
  cmd2/string_utils.py
  tests/test_cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Reformatted cmd2 tables and help output. Added Cmd2Style.TABLE_BORDER style.
  cmd2/argparse_completer.py
  cmd2/cmd2.py
  cmd2/styles.py
  tests/test_argparse_completer.py
  tests/test_cmd2.py
Owners: @kmvanbrunt, @anselor, @tleonhardt, @kotfu

Simplified docstrings for the print functions which call print_to().
  cmd2/cmd2.py
  cmd2/styles.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Removed regex_set.txt test which was difficult to maintain and tested features which are already covered in other tests.
  tests/test_transcript.py
  tests/transcripts/regex_set.txt
Owners: @kotfu

Merge redundant examples
  .github/CONTRIBUTING.md
  cmd2/cmd2.py
  cmd2/transcript.py
  docs/examples/getting_started.md
  docs/examples/index.md
  docs/features/argument_processing.md
  docs/features/initialization.md
  docs/features/os.md
  docs/features/prompt.md
  docs/features/startup_commands.md
  docs/features/transcripts.md
  docs/overview/index.md
  examples/README.md
  examples/arg_decorators.py
  examples/arg_print.py
  examples/argparse_example.py
  examples/cmd_as_argument.py
  examples/decorator_example.py
  examples/first_app.py
  examples/getting_started.py
  examples/subcommands.py
  examples/transcript_example.py
  examples/transcripts/exampleSession.txt
  examples/transcripts/transcript_regex.txt
  mkdocs.yml
  tests/test_completion.py
  tests/transcripts/regex_set.txt
Owners: @tleonhardt, @kotfu, @kmvanbrunt

Create a new command_sets.py example
  examples/README.md
  examples/command_sets.py
  examples/modular_commands.py
  examples/modular_commands_basic.py
  examples/modular_commands_dynamic.py
Owners: @tleonhardt, @anselor

Added type hints to argparse_example.py and fixed other ruff issues
  examples/argparse_example.py
Owners: @tleonhardt

Fixed comments in examples/command_sets.py
  examples/command_sets.py
Owners: @tleonhardt

Fixed strings and types in getting_started.py
  examples/getting_started.py
Owners: @tleonhardt

Word wrapping long exceptions in pexcept().
  cmd2/cmd2.py
  cmd2/rich_utils.py
  cmd2/styles.py
  tests/test_cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Changed mypy ignore to work on both Windows and Linux.
  cmd2/rl_utils.py
Owners: @kmvanbrunt

Changed mypy ignore to work on both Windows and Linux.
  cmd2/rl_utils.py
Owners: @kmvanbrunt

Word wrapping long exceptions in pexcept().
  cmd2/cmd2.py
  cmd2/rich_utils.py
  cmd2/styles.py
  tests/test_cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Removed regex_set.txt test which was difficult to maintain and tested features which are already covered in other tests.
  tests/test_transcript.py
  tests/transcripts/regex_set.txt
Owners: @kotfu

Refactor: Isolate column rendering from printing.
  cmd2/cmd2.py
  cmd2/string_utils.py
  tests/test_cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Simplified docstrings for the print functions which call print_to().
  cmd2/cmd2.py
  cmd2/styles.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Reformatted cmd2 tables and help output. Added Cmd2Style.TABLE_BORDER style.
  cmd2/argparse_completer.py
  cmd2/cmd2.py
  cmd2/styles.py
  tests/test_argparse_completer.py
  tests/test_cmd2.py
Owners: @kmvanbrunt, @anselor, @tleonhardt, @kotfu

Change intro colors for getting_started.py example to something higher contrast
  examples/getting_started.py
Owners: @tleonhardt

Improve getting_started.py intro banner by including unicode emojis to make it very clear we support that
  examples/getting_started.py
Owners: @tleonhardt

Removed bottom border from verbose help table.
  cmd2/cmd2.py
  cmd2/rich_utils.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Delete atom from list of editors since it was deprecated in Dec 2022
  cmd2/utils.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt

Prefer new MS Edit command-line text editor on Windows
  cmd2/utils.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt

Added rich_utils.indent() to ensure indented text wraps instead of truncating when soft_wrap is enabled.
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  cmd2/rich_utils.py
Owners: @kmvanbrunt, @anselor, @tleonhardt, @kotfu

Created simple example of using rich tables
  examples/rich_tables.py
Owners: @tleonhardt

Remove use of Hindi and Bengali text because rich screws up the width
  examples/rich_tables.py
Owners: @tleonhardt

Improved country data
  examples/rich_tables.py
Owners: @tleonhardt

Improved city data
  examples/rich_tables.py
Owners: @tleonhardt

Added color to some columns for illustrative purposes
  examples/rich_tables.py
Owners: @tleonhardt

Use colors from cmd2.colors.Color
  examples/rich_tables.py
Owners: @tleonhardt

Use match/case for per-column table styling
  examples/rich_tables.py
Owners: @tleonhardt

Fix match-case so table formatting is as desired
  examples/rich_tables.py
Owners: @tleonhardt

Add an example of center-justifying one column
  examples/rich_tables.py
Owners: @tleonhardt

Simplify logic in match/case
  examples/rich_tables.py
Owners: @tleonhardt

Stop setting show_footer=False when creating Table because that is the default
  examples/rich_tables.py
Owners: @tleonhardt

Define table titles and captions as constants and set when creating the tables
  examples/rich_tables.py
Owners: @tleonhardt
