Repository python-cmd2/cmd2, changes with the owners that CODEOWNERS names for each.
All owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

Renamed test_escaping_prompt to test_visible_prompt and fixed it to work with prompt-toolkit
  tests/test_cmd2.py
Owners: @tleonhardt

Fixed tests in test_run_pyscript for prompt-toolkit migration
  Makefile
  tests/test_run_pyscript.py
Owners: @tleonhardt, @kmvanbrunt

Added test_pt_utils.py with unit tests to fully cover code in cmd2/pt_utils.py
  tests/test_pt_utils.py
Owners: @tleonhardt

Add 4.0.0 changes to CHANGELOG with details on readline migration to prompt-toolkit
  CHANGELOG.md
Owners: @tleonhardt

Fixed bug where argument hints weren't displaying in color.
  cmd2/cmd2.py
  tests/conftest.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Fix NoConsoleScreenBufferError on Windows CI by robustly initializing PromptSession and ensuring consistent input/output usage
  cmd2/cmd2.py
  tests/test_cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Optimize GitHub Actions workflow by using PowerShell on Windows runners for better compatibility
  .github/workflows/tests.yml
Owners: @tleonhardt

Revert "Optimize GitHub Actions workflow by using PowerShell on Windows runners for better compatibility"
  .github/workflows/tests.yml
Owners: @tleonhardt

Try setting shell on Windows test runners
  .github/workflows/tests.yml
Owners: @tleonhardt

Try setting separate test steps for Windows vs Linux/Mac
  .github/workflows/tests.yml
Owners: @tleonhardt

Revert "Fix NoConsoleScreenBufferError on Windows CI by robustly initializing PromptSession and ensuring consistent input/output usage"
  cmd2/cmd2.py
  tests/test_cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Reapply "Fix NoConsoleScreenBufferError on Windows CI by robustly initializing PromptSession and ensuring consistent input/output usage"
  cmd2/cmd2.py
  tests/test_cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Revert to not explicitly setting shell on Windows in GitHub Actions
  .github/workflows/tests.yml
Owners: @tleonhardt

Try to fix one failing test on Windows
  tests/test_cmd2.py
Owners: @tleonhardt

Try to fix last test that is failing on Windows
  tests/test_history.py
Owners: @tleonhardt

Add some tests to test_cmd2.py to increase code coverage in cmd2.py
  tests/test_cmd2.py
Owners: @tleonhardt

Added unit tests for the cmd2.Cmd._bottom_toolbar method
  tests/test_cmd2.py
Owners: @tleonhardt

Add test to cover some uncovered exception handling code in cmd2.Cmd._complete_statement
  tests/test_cmd2.py
Owners: @tleonhardt

Add test to cover a few more lines of code
  tests/test_cmd2.py
Owners: @tleonhardt

Add more test coverage and reduce repetition
  cmd2/cmd2.py
  tests/test_cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Fix failing test
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Try to fix test failure
  tests/test_cmd2.py
Owners: @tleonhardt

Add tests
  tests/test_cmd2.py
Owners: @tleonhardt

Add unit test for cmd2.Cmd._completion_supported
  tests/test_cmd2.py
Owners: @tleonhardt

fix(pt_utils): fix history synchronization and completion word detection
  cmd2/pt_utils.py
  tests/test_pt_utils.py
Owners: @tleonhardt

Move regex pattern compilation out of method into initializer for performance
  cmd2/pt_utils.py
Owners: @tleonhardt

Fix broken GitHub workflow badge link for tests passing in README
  README.md
Owners: @tleonhardt

fix(cmd2): configure PromptSession for READLINE_LIKE tab completion
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

docs: async call example
  examples/README.md
  examples/async_call.py
Owners: @tleonhardt

docs: async call example (#1554)
  examples/README.md
  examples/async_call.py
Owners: @tleonhardt

Suppress ruff warning in an example
  examples/async_call.py
Owners: @tleonhardt

feat(cmd2): print completion hints above prompt and allow optional bottom toolbar
  cmd2/cmd2.py
  cmd2/pt_utils.py
  tests/test_cmd2.py
  tests/test_pt_utils.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Ensure bottom toolbar is only displayed if include_bottom_toolbar optional parameter is True
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

fix(argparse_completer): suppress completion hint for subcommands
  cmd2/argparse_completer.py
Owners: @kmvanbrunt, @anselor

fix(cmd2): suppress tab hint for main command completion
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

feat(cmd2): improve completion menu and subcommand handling
  cmd2/argparse_completer.py
  cmd2/cmd2.py
  cmd2/pt_utils.py
Owners: @kmvanbrunt, @anselor, @tleonhardt, @kotfu

feat(cmd2): improve tab completion for subcommands and flags
  cmd2/argparse_completer.py
  cmd2/pt_utils.py
  tests/test_argparse_completer.py
Owners: @kmvanbrunt, @anselor, @tleonhardt

feat(cmd2): improve tab completion for subcommands and flags
  cmd2/argparse_completer.py
Owners: @kmvanbrunt, @anselor

feat(cmd2): display tab completion hints in bottom toolbar
  cmd2/cmd2.py
  cmd2/pt_utils.py
  tests/test_cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

feat(cmd2): display tab completion hints and redraw prompt
  cmd2/cmd2.py
  cmd2/pt_utils.py
  tests/test_cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Owners of code are automatically nominated to review PRs involving that code.

# These owners will be the default owners for everything in the repo.
*       @tleonhardt

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
#*.js    @octocat @github/js

# You can also use email addresses if you prefer.
#docs/*  docs@example.com

# cmd2 code
cmd2/__init__.py           @tleonhardt @kotfu
cmd2/ansi.py               @kmvanbrunt @tleonhardt
cmd2/argparse_*.py         @kmvanbrunt @anselor
cmd2/clipboard.py          @tleonhardt
cmd2/cmd2.py               @tleonhardt @kmvanbrunt @kotfu
cmd2/command_definition.py @anselor
cmd2/constants.py          @kotfu
cmd2/decorators.py         @kotfu @kmvanbrunt @anselor
cmd2/exceptions.py         @kmvanbrunt @anselor
cmd2/history.py            @kotfu @tleonhardt
cmd2/parsing.py            @kotfu @kmvanbrunt
cmd2/plugin.py             @kotfu
cmd2/py_bridge.py          @kmvanbrunt
cmd2/rl_utils.py           @kmvanbrunt
cmd2/table_creator.py      @kmvanbrunt
cmd2/transcript.py         @kotfu
cmd2/utils.py              @tleonhardt @kotfu @kmvanbrunt

# Sphinx documentation
docs/*                  @tleonhardt @kotfu

# Examples
examples/async_printing.py  @kmvanbrunt
examples/environment.py     @kotfu
examples/tab_*.py           @kmvanbrunt
examples/modular_*.py       @anselor
examples/modular_commands/* @anselor

plugins/template/*          @kotfu
plugins/ext_test/*          @anselor

# Unit Tests
tests/pyscript/*              @kmvanbrunt
tests/transcripts/*           @kotfu
tests/__init__.py             @kotfu
tests/conftest.py             @kotfu @tleonhardt
tests/test_argparse.py        @kotfu
tests/test_argparse_*.py      @kmvanbrunt
tests/test_comp*.py           @kmvanbrunt
tests/test_pars*.py           @kotfu
tests/test_run_pyscript.py    @kmvanbrunt
tests/test_transcript.py      @kotfu

tests_isolated/test_commandset/*    @anselor

# Top-level project stuff
CONTRIBUTING.md         @tleonhardt @kotfu
setup.py                @tleonhardt @kotfu
tasks.py                @kotfu
