Repository python-cmd2/cmd2, changes with the owners that CODEOWNERS names for each.
All owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Owners of code are automatically nominated to review PRs involving that code.

# These owners will be the default owners for everything in the repo.
*       @tleonhardt

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
#*.js    @octocat @github/js

# You can also use email addresses if you prefer.
#docs/*  docs@example.com

# cmd2 code
cmd2/__init__.py           @tleonhardt @kotfu
cmd2/ansi.py               @kmvanbrunt @tleonhardt
cmd2/argparse_*.py         @kmvanbrunt @anselor
cmd2/clipboard.py          @tleonhardt
cmd2/cmd2.py               @tleonhardt @kmvanbrunt @kotfu
cmd2/command_definition.py @anselor
cmd2/constants.py          @kotfu
cmd2/decorators.py         @kotfu @kmvanbrunt @anselor
cmd2/exceptions.py         @kmvanbrunt @anselor
cmd2/history.py            @kotfu @tleonhardt
cmd2/parsing.py            @kotfu @kmvanbrunt
cmd2/plugin.py             @kotfu
cmd2/py_bridge.py          @kmvanbrunt
cmd2/rl_utils.py           @kmvanbrunt
cmd2/table_creator.py      @kmvanbrunt
cmd2/transcript.py         @kotfu
cmd2/utils.py              @tleonhardt @kotfu @kmvanbrunt

# Sphinx documentation
docs/*                  @tleonhardt @kotfu

# Examples
examples/async_printing.py  @kmvanbrunt
examples/environment.py     @kotfu
examples/tab_*.py           @kmvanbrunt
examples/modular_*.py       @anselor
examples/modular_commands/* @anselor

plugins/template/*          @kotfu
plugins/ext_test/*          @anselor

# Unit Tests
tests/pyscript/*              @kmvanbrunt
tests/transcripts/*           @kotfu
tests/__init__.py             @kotfu
tests/conftest.py             @kotfu @tleonhardt
tests/test_argparse.py        @kotfu
tests/test_argparse_*.py      @kmvanbrunt
tests/test_comp*.py           @kmvanbrunt
tests/test_pars*.py           @kotfu
tests/test_run_pyscript.py    @kmvanbrunt
tests/test_transcript.py      @kotfu

tests_isolated/test_commandset/*    @anselor

# Top-level project stuff
CONTRIBUTING.md         @tleonhardt @kotfu
setup.py                @tleonhardt @kotfu
tasks.py                @kotfu

Refactor get_bottom_toolbar implementation in getting_started.py example (#1703)
  .gitignore
  GEMINI.md
  examples/getting_started.py
Owners: @tleonhardt

docs: Add design spec for updating getting_started.py with decorators
  docs/superpowers/specs/2026-07-01-getting-started-decorators-design.md
Owners: @tleonhardt

examples: Update getting_started.py with with_annotated and with_argparser decorators
  examples/getting_started.py
Owners: @tleonhardt

examples: Enhance do_intro decorator with full Annotated type hints and help text
  examples/getting_started.py
Owners: @tleonhardt

Use more complete annotation syntax for the with_annotated decorator
  examples/getting_started.py
Owners: @tleonhardt

getting_started.py now demonstrates how to use both the @with_argparser and @with_annotated decorators
  examples/getting_started.py
Owners: @tleonhardt

Removed unintentional commit
  docs/superpowers/specs/2026-07-01-getting-started-decorators-design.md
Owners: @tleonhardt

Added a static factory method to build the parser for the echo command
  examples/getting_started.py
Owners: @tleonhardt

Revert do_intro to its previous state and add new do_cat command to demonstrate the with_annotated decorator
  examples/getting_started.py
Owners: @tleonhardt

getting_started.py now demonstrates how to use common cmd2 deocrators (#1705)
  examples/getting_started.py
Owners: @tleonhardt

Fixed cmd2 bypassing NO_COLOR and allow_style when setting prompt-toolkit's color depth.
  CHANGELOG.md
  cmd2/cmd2.py
  cmd2/pt_utils.py
  cmd2/styles.py
  tests/test_cmd2.py
  tests/test_pt_utils.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Fixed handling of NO_COLOR environment variable.
  cmd2/pt_utils.py
  tests/test_pt_utils.py
Owners: @tleonhardt

Fixed cmd2 bypassing NO_COLOR and allow_style when setting prompt-toolkit's color depth. (#1706)
  CHANGELOG.md
  cmd2/cmd2.py
  cmd2/pt_utils.py
  cmd2/styles.py
  tests/test_cmd2.py
  tests/test_pt_utils.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Use ColorDepth.MONOCHROME alias to align with ColorDepth.TRUE_COLOR usage.
  cmd2/pt_utils.py
  tests/test_pt_utils.py
Owners: @tleonhardt

Moved function for better grouping.
  cmd2/theme.py
Owners: @tleonhardt

Updated CHANGELOG.md in preparation for release
  CHANGELOG.md
  README.md
Owners: @tleonhardt

Fixed mypy 2.2.0 failures
  cmd2/argparse_utils.py
Owners: @kmvanbrunt, @anselor

Updated CHANGELOG.md
  CHANGELOG.md
Owners: @tleonhardt

Fixed mypy 2.2.0 failures (#1709)
  CHANGELOG.md
  cmd2/argparse_utils.py
Owners: @tleonhardt, @kmvanbrunt, @anselor

Added ability to use Rich renderables as alert messages.
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Added test for using a table as a alert message.
  tests/test_cmd2.py
Owners: @tleonhardt

Updated async printing example to use Rich renderables.
  CHANGELOG.md
  cmd2/cmd2.py
  examples/async_printing.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Updated comments.
  cmd2/cmd2.py
  examples/async_printing.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Fixed tests on Windows.
  tests/test_cmd2.py
Owners: @tleonhardt

Made a test more clear.
  tests/test_cmd2.py
Owners: @tleonhardt

Updated docstrings.
  examples/async_printing.py
Owners: @kmvanbrunt

Using Rich Style objects and cmd2 color constants.
  examples/async_printing.py
Owners: @kmvanbrunt

Updated comments.
  examples/async_printing.py
Owners: @kmvanbrunt

Added ability to use Rich renderables as alert messages. (#1710)
  CHANGELOG.md
  cmd2/cmd2.py
  examples/async_printing.py
  tests/test_cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Update CHANGELOG in preparation for patch release
  .github/CONTRIBUTING.md
  .pre-commit-config.yaml
  CHANGELOG.md
Owners: @tleonhardt, @kotfu

[Settable] description argument can now be rich text
  CHANGELOG.md
  cmd2/cmd2.py
  cmd2/utils.py
  tests/test_cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Fixed typo.
  examples/hello_cmd2.py
Owners: @tleonhardt

Updated getting_started.py example to remove multi-line command usage
  examples/getting_started.py
Owners: @tleonhardt

[Settable] address typo, docstring format, Added unit test and updated getting_started example
  CHANGELOG.md
  cmd2/utils.py
  examples/getting_started.py
  tests/test_cmd2.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt

Updated getting_started.py example to remove multi-line command usage (#1713)
  examples/getting_started.py
Owners: @tleonhardt

fix
  tests/test_cmd2.py
Owners: @tleonhardt

[Settable] description argument can now be rich text (#1712)
  CHANGELOG.md
  cmd2/cmd2.py
  cmd2/utils.py
  examples/getting_started.py
  tests/test_cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Refactored default_categories example to use parent parser factories and forward Statement objects
  examples/default_categories.py
Owners: @tleonhardt

Removed redundant ipython import which slowed application startup time
  CHANGELOG.md
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Removed redundant ipython import which slowed application startup time (#1717)
  CHANGELOG.md
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu
