Repository python-cmd2/cmd2, changes with the owners that CODEOWNERS names for each.
All owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Owners of code are automatically nominated to review PRs involving that code.

# These owners will be the default owners for everything in the repo.
*       @tleonhardt

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
#*.js    @octocat @github/js

# You can also use email addresses if you prefer.
#docs/*  docs@example.com

# cmd2 code
cmd2/__init__.py           @tleonhardt @kotfu
cmd2/ansi.py               @kmvanbrunt @tleonhardt
cmd2/argparse_*.py         @kmvanbrunt @anselor
cmd2/clipboard.py          @tleonhardt
cmd2/cmd2.py               @tleonhardt @kmvanbrunt @kotfu
cmd2/command_definition.py @anselor
cmd2/constants.py          @kotfu
cmd2/decorators.py         @kotfu @kmvanbrunt @anselor
cmd2/exceptions.py         @kmvanbrunt @anselor
cmd2/history.py            @kotfu @tleonhardt
cmd2/parsing.py            @kotfu @kmvanbrunt
cmd2/plugin.py             @kotfu
cmd2/py_bridge.py          @kmvanbrunt
cmd2/rl_utils.py           @kmvanbrunt
cmd2/table_creator.py      @kmvanbrunt
cmd2/transcript.py         @kotfu
cmd2/utils.py              @tleonhardt @kotfu @kmvanbrunt

# Sphinx documentation
docs/*                  @tleonhardt @kotfu

# Examples
examples/async_printing.py  @kmvanbrunt
examples/environment.py     @kotfu
examples/tab_*.py           @kmvanbrunt
examples/modular_*.py       @anselor
examples/modular_commands/* @anselor

plugins/template/*          @kotfu
plugins/ext_test/*          @anselor

# Unit Tests
tests/pyscript/*              @kmvanbrunt
tests/transcripts/*           @kotfu
tests/__init__.py             @kotfu
tests/conftest.py             @kotfu @tleonhardt
tests/test_argparse.py        @kotfu
tests/test_argparse_*.py      @kmvanbrunt
tests/test_comp*.py           @kmvanbrunt
tests/test_pars*.py           @kotfu
tests/test_run_pyscript.py    @kmvanbrunt
tests/test_transcript.py      @kotfu

tests_isolated/test_commandset/*    @anselor

# Top-level project stuff
CONTRIBUTING.md         @tleonhardt @kotfu
setup.py                @tleonhardt @kotfu
tasks.py                @kotfu

Fixed ValueError caused when passing Cmd.columnize() strings wider than display_width.
  CHANGELOG.md
  cmd2/cmd2.py
  tests/test_cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Fixed mypy and flake8 errors.
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  setup.cfg
Owners: @kmvanbrunt, @anselor, @tleonhardt, @kotfu

Removed Python 3.6 testing since the testing network no longer supports it on Ubuntu. Added Python 3.11 testing support.
  .github/workflows/ci.yml
  noxfile.py
  plugins/template/README.md
  plugins/template/build-pyenvs.sh
  plugins/template/noxfile.py
  plugins/template/setup.py
Owners: @tleonhardt, @kotfu

Fixed ValueError caused when passing Cmd.columnize() strings wider than display_width.
  CHANGELOG.md
  cmd2/cmd2.py
  tests/test_cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Fixed mypy and flake8 errors.
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  setup.cfg
Owners: @kmvanbrunt, @anselor, @tleonhardt, @kotfu

Removed Python 3.6 testing since the testing network no longer supports it on Ubuntu. Added Python 3.11 testing support.
  .github/workflows/ci.yml
  noxfile.py
  plugins/template/README.md
  plugins/template/build-pyenvs.sh
  plugins/template/noxfile.py
  plugins/template/setup.py
Owners: @tleonhardt, @kotfu

Updating CHANGELOG for 2.4.3 release.
  CHANGELOG.md
Owners: @tleonhardt

Updated LICENSE with current year.
  LICENSE
Owners: @tleonhardt

Start deprecation of Python 3.6
  .github/CONTRIBUTING.md
  .github/workflows/doc.yml
  .github/workflows/format.yml
  .github/workflows/lint.yml
  .github/workflows/mypy.yml
  CHANGELOG.md
  README.md
  docs/features/transcripts.rst
  docs/overview/installation.rst
  noxfile.py
  plugins/ext_test/build-pyenvs.sh
  plugins/ext_test/noxfile.py
  plugins/ext_test/setup.py
  plugins/template/README.md
  plugins/template/setup.py
  setup.py
Owners: @tleonhardt, @kotfu, @anselor

Removed dependency on attrs and replaced with dataclasses
  .github/CONTRIBUTING.md
  CHANGELOG.md
  Pipfile
  cmd2/argparse_completer.py
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  cmd2/history.py
  cmd2/parsing.py
  cmd2/plugin.py
  cmd2/transcript.py
  examples/async_printing.py
  examples/scripts/save_help_text.py
  plugins/ext_test/tasks.py
  setup.py
  tests/test_argparse_custom.py
  tests/test_parsing.py
  tests/test_transcript.py
  tests_isolated/test_commandset/test_commandset.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

Fix typing
  cmd2/history.py
Owners: @kotfu, @tleonhardt

Added comments to assist with dropping support of Python versions in the future.
  .gitignore
  cmd2/argparse_custom.py
  plugins/ext_test/cmd2_ext_test/__init__.py
  plugins/template/cmd2_myplugin/__init__.py
  tests/test_utils.py
Owners: @tleonhardt, @kmvanbrunt, @anselor

Add allow_clipboard for #1225
  cmd2/clipboard.py
  cmd2/cmd2.py
  tests/test_cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Remove erroneously introduced import
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Add documentation for allow_clipboard attribute
  CHANGELOG.md
  docs/api/cmd.rst
  docs/features/clipboard.rst
  tests/test_cmd2.py
Owners: @tleonhardt

Fix import formatting
  cmd2/clipboard.py
Owners: @tleonhardt

Deprecate support for Python 3.6 and remove dependency on attrs (#1257)
  .github/CONTRIBUTING.md
  .github/workflows/doc.yml
  .github/workflows/format.yml
  .github/workflows/lint.yml
  .github/workflows/mypy.yml
  .gitignore
  CHANGELOG.md
  Pipfile
  README.md
  cmd2/argparse_completer.py
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  cmd2/history.py
  cmd2/parsing.py
  cmd2/plugin.py
  cmd2/transcript.py
  docs/features/transcripts.rst
  docs/overview/installation.rst
  examples/async_printing.py
  examples/scripts/save_help_text.py
  noxfile.py
  plugins/ext_test/build-pyenvs.sh
  plugins/ext_test/cmd2_ext_test/__init__.py
  plugins/ext_test/noxfile.py
  plugins/ext_test/setup.py
  plugins/ext_test/tasks.py
  plugins/template/README.md
  plugins/template/cmd2_myplugin/__init__.py
  plugins/template/setup.py
  setup.py
  tests/test_argparse_custom.py
  tests/test_parsing.py
  tests/test_transcript.py
  tests/test_utils.py
  tests_isolated/test_commandset/test_commandset.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

Fix changelog from master merge
  CHANGELOG.md
Owners: @tleonhardt

Add missing dev dependencies for black and isort
  setup.py
Owners: @tleonhardt, @kotfu

format cleanup
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Check if sys.stdout is None
  cmd2/rl_utils.py
Owners: @kmvanbrunt

Simplify sys.stdout check
  cmd2/rl_utils.py
Owners: @kmvanbrunt

rl_utils: Verify `readline.__doc__ is not None`
  cmd2/rl_utils.py
Owners: @kmvanbrunt

Make sys.stdout check clearer.
  cmd2/rl_utils.py
Owners: @kmvanbrunt

rl_utils: Verify `readline.__doc__ is not None`
  cmd2/rl_utils.py
Owners: @kmvanbrunt

Simplify sys.stdout check
  cmd2/rl_utils.py
Owners: @kmvanbrunt

Check if sys.stdout is None
  cmd2/rl_utils.py
Owners: @kmvanbrunt

Make sys.stdout check clearer.
  cmd2/rl_utils.py
Owners: @kmvanbrunt

Updates examples to show propery use of styles
  examples/colors.py
  examples/initialization.py
  examples/pirate.py
Owners: @tleonhardt

Adds apply_style to ppaged and pfeedback
  cmd2/cmd2.py
  tests/test_cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Reorganized a bit to move towards separation between where to print from what and how to print
  cmd2/argparse_custom.py
  cmd2/cmd2.py
Owners: @kmvanbrunt, @anselor, @tleonhardt, @kotfu

Updating docs intersphinx to latest
  docs/conf.py
Owners: @tleonhardt, @kotfu

Updated poutput to use new style_output definition. Added psuccess() that uses style_success
  cmd2/ansi.py
  cmd2/cmd2.py
Owners: @kmvanbrunt, @tleonhardt, @kotfu

Added deprecation note to apply_style attribute of pwarning()
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Reorganized a bit to move towards separation between where to print from what and how to print
  cmd2/argparse_custom.py
  cmd2/cmd2.py
Owners: @kmvanbrunt, @anselor, @tleonhardt, @kotfu

Adds apply_style to ppaged and pfeedback
  cmd2/cmd2.py
  tests/test_cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Updated poutput to use new style_output definition. Added psuccess() that uses style_success
  cmd2/ansi.py
  cmd2/cmd2.py
Owners: @kmvanbrunt, @tleonhardt, @kotfu

Updates examples to show propery use of styles
  examples/colors.py
  examples/initialization.py
  examples/pirate.py
Owners: @tleonhardt

Updating docs intersphinx to latest
  docs/conf.py
Owners: @tleonhardt, @kotfu

Added deprecation note to apply_style attribute of pwarning()
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu
