Repository python-cmd2/cmd2, changes with the owners that CODEOWNERS names for each.
All owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

Convert async_printing example to asyncio
  cmd2/cmd2.py
  examples/async_printing.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Fix test_pre_prompt_running_loop
  tests/test_cmd2.py
Owners: @tleonhardt

Updated CHANGELOG with info on recent changes
  CHANGELOG.md
Owners: @tleonhardt

Skip problematic test on Windows
  cmd2/cmd2.py
  docs/features/hooks.md
  tests/test_cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Migrate documentation to use Zensical instead of MkDocs
  .github/CONTRIBUTING.md
  .github/workflows/docs.yml
  .prettierignore
  .readthedocs.yaml
  Makefile
  docs/doc_conventions.md
  docs/features/argument_processing.md
  docs/javascripts/readthedocs.js
  docs/migrating/minimum.md
  pyproject.toml
Owners: @tleonhardt, @kotfu

Switch .readthedocs.yaml to use uv
  .readthedocs.yaml
Owners: @tleonhardt

Fix .readthedocs.yaml since uv --frozen requires a uv lock file
  .readthedocs.yaml
Owners: @tleonhardt

Use correct zensical output directory for RTD
  .readthedocs.yaml
Owners: @tleonhardt

Add .github/CODEOWNERS to .prettierignore
  .prettierignore
  Makefile
  mkdocs.yml
Owners: @tleonhardt

Apply a few changes made on the zeniscal branch that weren't associated with that change to main
  .prettierignore
  docs/features/argument_processing.md
  docs/migrating/minimum.md
  mkdocs.yml
Owners: @tleonhardt

Added flag to configure prompt-toolkit tab-completion style
  CHANGELOG.md
  cmd2/cmd2.py
  docs/features/initialization.md
  docs/features/prompt.md
  docs/upgrades.md
  examples/getting_started.py
  examples/hello_cmd2.py
  mkdocs.yml
  tests/test_cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Updated docstring for cmd2.Cmd.complete_style parameter
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Updated basic_completion.py example to use MULTI_COLUMN style completion
  examples/basic_completion.py
Owners: @tleonhardt

Fixed logic for printing completion hint to respect `always_show_hint` settable
  cmd2/pt_utils.py
  tests/test_pt_utils.py
Owners: @tleonhardt

Remove unused async_refresh_prompt and need_prompt_refresh methods
  CHANGELOG.md
  cmd2/cmd2.py
  docs/features/prompt.md
  examples/async_printing.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Dynamically switch completion style based on result count
  cmd2/cmd2.py
  tests/test_dynamic_complete_style.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Added max_column_completion_items init param and default it to 7
  cmd2/cmd2.py
  docs/features/initialization.md
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Migrate documentation to use Zensical instead of MkDocs (#1557)
  .github/CONTRIBUTING.md
  .github/workflows/docs.yml
  .readthedocs.yaml
  Makefile
  docs/doc_conventions.md
  docs/javascripts/readthedocs.js
  pyproject.toml
Owners: @tleonhardt, @kotfu

Update readthedocs.js to latest zensical example
  docs/javascripts/readthedocs.js
  docs/stylesheets/readthedocs.css
  mkdocs.yml
Owners: @tleonhardt

Update readthedocs.js to latest zensical example (#1558)
  docs/javascripts/readthedocs.js
  docs/stylesheets/readthedocs.css
  mkdocs.yml
Owners: @tleonhardt

Updated copyright to 2026
  LICENSE
  mkdocs.yml
Owners: @tleonhardt

Fix bug where tab completion didn't work in embedded Python shell when LibEdit was insalled instead of readline
  cmd2/cmd2.py
  examples/basic_completion.py
  tests/test_py_completion.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Don't attempt to run termios or readline stuff on Windows
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Finish fixing type errors on windows
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Skip tests for embedded python shell tab-completion on Windows
  tests/test_py_completion.py
Owners: @tleonhardt

Fix race condition in async_alert using lock and is_running check
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Add async commands example and documentation
  docs/features/async_commands.md
  examples/async_commands.py
  mkdocs.yml
Owners: @tleonhardt

Added links to documenation and example for async commands
  docs/features/index.md
  examples/README.md
Owners: @tleonhardt

Add unit tests for terminal restoration within ppaged
  tests/test_cmd2.py
Owners: @tleonhardt

Skip tests on windows that use termios
  tests/test_cmd2.py
Owners: @tleonhardt

Attempt to cover some code codecov says is missing coverage
  tests/test_cmd2.py
Owners: @tleonhardt

Improve async_commands.py example by cleaning up uncancelled async tasks on interrupt
  cmd2/cmd2.py
  examples/async_commands.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Add key-combo press handler to async_commands.py example
  examples/async_commands.py
Owners: @tleonhardt

Upgrade ruff to 0.14.14 and fix new warnings
  .pre-commit-config.yaml
  cmd2/argparse_custom.py
  cmd2/parsing.py
Owners: @tleonhardt, @kmvanbrunt, @anselor, @kotfu

Changed default table header and border color. Removed unused EXCEPTION_TYPE style.
  cmd2/styles.py
Owners: @tleonhardt

Removed monkeypatch for Rich's Segment.apply_style() since they fixed the bug in 14.3.0. Updated minimum Rich dependency to this version.
  .github/CONTRIBUTING.md
  cmd2/rich_utils.py
  pyproject.toml
  tests/test_rich_utils.py
Owners: @tleonhardt, @kotfu

Removed unused Cmd2Style.EXCEPTION_TYPE style.
  cmd2/styles.py
Owners: @tleonhardt

Removed monkeypatch for Rich's Segment.apply_style(). (#1560)
  .github/CONTRIBUTING.md
  cmd2/rich_utils.py
  cmd2/styles.py
  pyproject.toml
  tests/test_rich_utils.py
Owners: @tleonhardt, @kotfu

Added note about font support required for rich_tables.py example
  examples/rich_tables.py
Owners: @tleonhardt

Change background color used in time for getting_started.py example so it is more visible on various terminals
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Owners of code are automatically nominated to review PRs involving that code.

# These owners will be the default owners for everything in the repo.
*       @tleonhardt

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
#*.js    @octocat @github/js

# You can also use email addresses if you prefer.
#docs/*  docs@example.com

# cmd2 code
cmd2/__init__.py           @tleonhardt @kotfu
cmd2/ansi.py               @kmvanbrunt @tleonhardt
cmd2/argparse_*.py         @kmvanbrunt @anselor
cmd2/clipboard.py          @tleonhardt
cmd2/cmd2.py               @tleonhardt @kmvanbrunt @kotfu
cmd2/command_definition.py @anselor
cmd2/constants.py          @kotfu
cmd2/decorators.py         @kotfu @kmvanbrunt @anselor
cmd2/exceptions.py         @kmvanbrunt @anselor
cmd2/history.py            @kotfu @tleonhardt
cmd2/parsing.py            @kotfu @kmvanbrunt
cmd2/plugin.py             @kotfu
cmd2/py_bridge.py          @kmvanbrunt
cmd2/rl_utils.py           @kmvanbrunt
cmd2/table_creator.py      @kmvanbrunt
cmd2/transcript.py         @kotfu
cmd2/utils.py              @tleonhardt @kotfu @kmvanbrunt

# Sphinx documentation
docs/*                  @tleonhardt @kotfu

# Examples
examples/async_printing.py  @kmvanbrunt
examples/environment.py     @kotfu
examples/tab_*.py           @kmvanbrunt
examples/modular_*.py       @anselor
examples/modular_commands/* @anselor

plugins/template/*          @kotfu
plugins/ext_test/*          @anselor

# Unit Tests
tests/pyscript/*              @kmvanbrunt
tests/transcripts/*           @kotfu
tests/__init__.py             @kotfu
tests/conftest.py             @kotfu @tleonhardt
tests/test_argparse.py        @kotfu
tests/test_argparse_*.py      @kmvanbrunt
tests/test_comp*.py           @kmvanbrunt
tests/test_pars*.py           @kotfu
tests/test_run_pyscript.py    @kmvanbrunt
tests/test_transcript.py      @kotfu

tests_isolated/test_commandset/*    @anselor

# Top-level project stuff
CONTRIBUTING.md         @tleonhardt @kotfu
setup.py                @tleonhardt @kotfu
tasks.py                @kotfu
