Repository python-cmd2/cmd2, changes with the owners that CODEOWNERS names for each.
All owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

Only wrap self.stdin and self.stdout if they differ from sys equivalents.
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Fixing tests on Windows.
  tests/test_cmd2.py
Owners: @tleonhardt

Fixed mock patch.
  tests/test_cmd2.py
Owners: @tleonhardt

Added tests.
  cmd2/cmd2.py
  tests/test_cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Removed obsolete test code.
  tests/test_pt_utils.py
Owners: @tleonhardt

Added interactive pipe mode.
  cmd2/cmd2.py
  tests/test_cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Removed need for constants.EOF.
  cmd2/cmd2.py
  cmd2/constants.py
  tests/test_cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Added Ctrl-d test.
  tests/test_cmd2.py
Owners: @tleonhardt

Renamed a parser builder function to reflect name of the command.
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Added documentation.
  docs/upgrades.md
Owners: @tleonhardt, @kotfu

Refactor input (#1585)
  .github/CODEOWNERS
  CHANGELOG.md
  cmd2/__init__.py
  cmd2/cmd2.py
  cmd2/completion.py
  cmd2/pt_utils.py
  cmd2/terminal_utils.py
  cmd2/utils.py
  docs/api/completion.md
  docs/api/index.md
  docs/api/terminal_utils.md
  docs/features/generating_output.md
  docs/upgrades.md
  examples/read_input.py
  mkdocs.yml
  tests/test_cmd2.py
  tests/test_pt_utils.py
  tests/test_terminal_utils.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt

Refactored async alerts to use a Queue.
  cmd2/cmd2.py
  examples/async_printing.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Added function to strip styles for strings rendered by prompt-toolkit.
  cmd2/cmd2.py
  cmd2/pt_utils.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Killing the alert processing thread.
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Made the alert thread event-driven.
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Added tests.
  tests/test_cmd2.py
  tests/test_pt_utils.py
Owners: @tleonhardt

Updated documentation.
  CHANGELOG.md
  docs/features/prompt.md
Owners: @tleonhardt

Fixed Windows test.
  tests/test_cmd2.py
Owners: @tleonhardt

Fix UI flicker issue by updating prompt before alert message.
  cmd2/cmd2.py
  examples/async_printing.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Updated docs.
  CHANGELOG.md
  cmd2/cmd2.py
  docs/features/prompt.md
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Fixed formatting.
  docs/features/prompt.md
Owners: @tleonhardt

Updated note syntax in prompt docs.
  docs/features/prompt.md
Owners: @tleonhardt

Printing all alerts at once to reduce flicker.
  cmd2/cmd2.py
  tests/test_cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Updated tests.
  tests/test_cmd2.py
Owners: @tleonhardt

Added tests for psuccess() and pwarning().
  tests/test_cmd2.py
Owners: @tleonhardt

Refactored async alerts. (#1586)
  CHANGELOG.md
  cmd2/cmd2.py
  cmd2/pt_utils.py
  docs/features/prompt.md
  examples/async_printing.py
  tests/test_cmd2.py
  tests/test_pt_utils.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Fixed custom types and moved common ones into types.py.
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  cmd2/command_definition.py
  cmd2/completion.py
  cmd2/decorators.py
  cmd2/py_bridge.py
  cmd2/types.py
  cmd2/utils.py
Owners: @kmvanbrunt, @anselor, @tleonhardt, @kotfu

Added types.py to CODEOWNERS.
  .github/CODEOWNERS
Owners: @tleonhardt

Removed unnecessary import.
  cmd2/types.py
Owners: @tleonhardt

Added "from __future__ import annotations" to each cmd2 module.
  cmd2/argparse_completer.py
  cmd2/argparse_custom.py
  cmd2/clipboard.py
  cmd2/cmd2.py
  cmd2/colors.py
  cmd2/command_definition.py
  cmd2/completion.py
  cmd2/constants.py
  cmd2/decorators.py
  cmd2/exceptions.py
  cmd2/history.py
  cmd2/parsing.py
  cmd2/plugin.py
  cmd2/pt_utils.py
  cmd2/py_bridge.py
  cmd2/rich_utils.py
  cmd2/string_utils.py
  cmd2/styles.py
  cmd2/types.py
  cmd2/utils.py
Owners: @kmvanbrunt, @anselor, @tleonhardt, @kotfu

Revert "Added "from __future__ import annotations" to each cmd2 module."
  cmd2/argparse_completer.py
  cmd2/argparse_custom.py
  cmd2/clipboard.py
  cmd2/cmd2.py
  cmd2/colors.py
  cmd2/command_definition.py
  cmd2/completion.py
  cmd2/constants.py
  cmd2/decorators.py
  cmd2/exceptions.py
  cmd2/history.py
  cmd2/parsing.py
  cmd2/plugin.py
  cmd2/pt_utils.py
  cmd2/py_bridge.py
  cmd2/rich_utils.py
  cmd2/string_utils.py
  cmd2/styles.py
  cmd2/types.py
  cmd2/utils.py
Owners: @kmvanbrunt, @anselor, @tleonhardt, @kotfu

Moved some imports.
  cmd2/cmd2.py
  cmd2/completion.py
  cmd2/utils.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Removed Matchable type since it's only used one place.
  cmd2/cmd2.py
  cmd2/types.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Fixed custom types and moved common ones into types.py. (#1587)
  .github/CODEOWNERS
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  cmd2/command_definition.py
  cmd2/completion.py
  cmd2/decorators.py
  cmd2/py_bridge.py
  cmd2/types.py
  cmd2/utils.py
Owners: @tleonhardt, @kmvanbrunt, @anselor, @kotfu

Fixed bug where complete() did not edit temporary session created by read_input().
  cmd2/cmd2.py
  cmd2/pt_utils.py
  examples/async_commands.py
  tests/test_cmd2.py
  tests/test_custom_key_binding.py
  tests/test_dynamic_complete_style.py
  tests/test_history.py
  tests/test_pt_utils.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Fixing Windows tests.
  tests/test_dynamic_complete_style.py
Owners: @tleonhardt

Renamed function.
  cmd2/cmd2.py
  tests/test_cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Fixed bug where complete() did not edit temporary session created by read_input(). (#1588)
  cmd2/cmd2.py
  cmd2/pt_utils.py
  examples/async_commands.py
  tests/test_cmd2.py
  tests/test_custom_key_binding.py
  tests/test_dynamic_complete_style.py
  tests/test_history.py
  tests/test_pt_utils.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Update ruff to 0.15.4
  .pre-commit-config.yaml
Owners: @tleonhardt

Rewrote Cmd2History to only accept completed commands.
  cmd2/cmd2.py
  cmd2/pt_utils.py
  tests/test_pt_utils.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Owners of code are automatically nominated to review PRs involving that code.

# These owners will be the default owners for everything in the repo.
*       @tleonhardt

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
#*.js    @octocat @github/js

# You can also use email addresses if you prefer.
#docs/*  docs@example.com

# cmd2 code
cmd2/__init__.py           @tleonhardt @kotfu
cmd2/ansi.py               @kmvanbrunt @tleonhardt
cmd2/argparse_*.py         @kmvanbrunt @anselor
cmd2/clipboard.py          @tleonhardt
cmd2/cmd2.py               @tleonhardt @kmvanbrunt @kotfu
cmd2/command_definition.py @anselor
cmd2/constants.py          @kotfu
cmd2/decorators.py         @kotfu @kmvanbrunt @anselor
cmd2/exceptions.py         @kmvanbrunt @anselor
cmd2/history.py            @kotfu @tleonhardt
cmd2/parsing.py            @kotfu @kmvanbrunt
cmd2/plugin.py             @kotfu
cmd2/py_bridge.py          @kmvanbrunt
cmd2/rl_utils.py           @kmvanbrunt
cmd2/table_creator.py      @kmvanbrunt
cmd2/transcript.py         @kotfu
cmd2/utils.py              @tleonhardt @kotfu @kmvanbrunt

# Sphinx documentation
docs/*                  @tleonhardt @kotfu

# Examples
examples/async_printing.py  @kmvanbrunt
examples/environment.py     @kotfu
examples/tab_*.py           @kmvanbrunt
examples/modular_*.py       @anselor
examples/modular_commands/* @anselor

plugins/template/*          @kotfu
plugins/ext_test/*          @anselor

# Unit Tests
tests/pyscript/*              @kmvanbrunt
tests/transcripts/*           @kotfu
tests/__init__.py             @kotfu
tests/conftest.py             @kotfu @tleonhardt
tests/test_argparse.py        @kotfu
tests/test_argparse_*.py      @kmvanbrunt
tests/test_comp*.py           @kmvanbrunt
tests/test_pars*.py           @kotfu
tests/test_run_pyscript.py    @kmvanbrunt
tests/test_transcript.py      @kotfu

tests_isolated/test_commandset/*    @anselor

# Top-level project stuff
CONTRIBUTING.md         @tleonhardt @kotfu
setup.py                @tleonhardt @kotfu
tasks.py                @kotfu
