Repository python-cmd2/cmd2, changes with the owners that CODEOWNERS names for each.
All owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

Fix two test-only failures CI found and this machine could not
  tests/test_command_toolbar.py
  tests/test_reserved_lifecycle.py
Owners: @tleonhardt

Stage 3 review: an unbound bridge passes calls through instead of breaking them
  cmd2/prompt_toolkit_bridge.py
  tests/test_prompt_toolkit_bridge.py
Owners: @tleonhardt

Stage 3 review: clear passes through when unbound, like the rest
  cmd2/prompt_toolkit_bridge.py
  tests/test_prompt_toolkit_bridge.py
Owners: @tleonhardt

Make the toolbar modes a StrEnum instead of loose strings
  cmd2/__init__.py
  cmd2/cmd2.py
  cmd2/toolbar_mode.py
  docs/api/index.md
  docs/api/toolbar_mode.md
  mkdocs.yml
  tests/test_toolbar_mode.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt

Fix the docs build the toolbar mode page broke
  cmd2/cmd2.py
  cmd2/toolbar_mode.py
  docs/api/toolbar_mode.md
  tests/test_toolbar_mode.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Speed up tests with two workers and unified coverage settings
  .coveragerc
  .github/workflows/tests.yml
  Makefile
  docs/testing.md
  pyproject.toml
Owners: @tleonhardt, @kotfu

Change pytest config from -n=2 to -n=auto for even faster tests
  pyproject.toml
Owners: @tleonhardt

In Python 3.12 and newer configure coverage to use sys.monitoring
  .github/workflows/tests.yml
Owners: @tleonhardt

Fixed the malformed workflow expression by moving core = "sysmon" into shared coverage configuration in pyproject.toml. This applies locally and in GitHub Actions.
  .github/workflows/tests.yml
  pyproject.toml
Owners: @tleonhardt

Correct documentation for automatic pytest worker selection
  docs/testing.md
Owners: @tleonhardt, @kotfu

Bumped ruff and typos versions
  .pre-commit-config.yaml
Owners: @tleonhardt

Isolate tests from terminal geometry, clipboard state, and shell timing
  tests/conftest.py
  tests/test_cmd2.py
  tests/test_suite_environment.py
Owners: @kotfu, @tleonhardt

Wait for alert processing before quitting in async alert tests
  tests/test_cmd2.py
Owners: @tleonhardt

Reduce the slowest test costs without changing production behavior
  tests/conftest.py
  tests/test_cmd2.py
  tests/test_suite_environment.py
Owners: @kotfu, @tleonhardt

Consolidate toolbar enablement into ToolbarMode and speed up lifecycle tests
  CHANGELOG.md
  cmd2/cmd2.py
  cmd2/toolbar_mode.py
  docs/features/initialization.md
  docs/features/prompt.md
  docs/upgrades.md
  examples/getting_started.py
  tests/test_cmd2.py
  tests/test_command_toolbar.py
  tests/test_pager.py
  tests/test_reserved_lifecycle.py
  tests/test_toolbar_mode.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Speed up toolbar tests with explicit synchronization
  tests/conftest.py
  tests/test_command_toolbar.py
  tests/test_managed_output.py
  tests/test_terminal_transaction.py
Owners: @kotfu, @tleonhardt

Reduce pager and subprocess test overhead
  tests/test_cmd2.py
  tests/test_command_toolbar.py
  tests/test_pager.py
Owners: @tleonhardt

Fix reserved toolbar corruption at the terminal bottom
  cmd2/scroll_region.py
  cmd2/terminal_display.py
  pyproject.toml
  tests/test_reserved_output.py
  tests/test_reserved_terminal.py
  tests/test_reserved_toolbar.py
  tests/test_terminal_display.py
  tests/test_toolbar_painter.py
Owners: @tleonhardt

Fix intermittent toolbar refresh assertion on Windows
  tests/test_command_toolbar.py
Owners: @tleonhardt

Show reserved toolbar truncation and clip lines without wrapping
  CHANGELOG.md
  cmd2/cmd2.py
  cmd2/toolbar_painter.py
  docs/features/prompt.md
  tests/test_reserved_terminal.py
  tests/test_toolbar_painter.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Mark reserved toolbar truncation only for visible content, and show control characters
  CHANGELOG.md
  cmd2/terminal_display.py
  cmd2/toolbar_painter.py
  docs/features/prompt.md
  tests/test_toolbar_painter.py
Owners: @tleonhardt

Remove Windows development papercuts
  .prettierrc
  tests/test_utils.py
  ty.toml
Owners: @tleonhardt

Establish the prompt origin natively on Windows, and fall back instead of crashing
  cmd2/prompt_toolkit_bridge.py
  cmd2/terminal_display.py
  tests/test_prompt_toolkit_bridge.py
  tests/test_terminal_display.py
Owners: @tleonhardt

Give the corrupt-history tests their own temp files
  tests/test_history.py
Owners: @tleonhardt

Fix reserved toolbar resize and partial-output redraws
  CHANGELOG.md
  cmd2/command_toolbar.py
  cmd2/managed_output.py
  cmd2/prompt_toolkit_bridge.py
  cmd2/terminal_display.py
  tests/test_prompt_toolkit_bridge.py
  tests/test_reserved_lifecycle.py
  tests/test_reserved_terminal.py
  tests/test_terminal_display.py
Owners: @tleonhardt

Render the built-in pager in reserved toolbar mode
  CHANGELOG.md
  cmd2/command_toolbar.py
  tests/test_reserved_terminal.py
Owners: @tleonhardt

Fix partial-output loss at shutdown and two resize lifecycle defects
  CHANGELOG.md
  cmd2/command_toolbar.py
  cmd2/prompt_toolkit_bridge.py
  cmd2/reserved_output.py
  tests/test_prompt_toolkit_bridge.py
  tests/test_reserved_output.py
  tests/test_reserved_terminal.py
Owners: @tleonhardt

Clear suppression when inactive and preserve output across resize
  CHANGELOG.md
  cmd2/command_toolbar.py
  cmd2/prompt_toolkit_bridge.py
  tests/test_reserved_lifecycle.py
  tests/test_reserved_terminal.py
Owners: @tleonhardt

Move displaced output out of the band when a resize shrinks onto it
  CHANGELOG.md
  cmd2/terminal_display.py
  tests/test_reserved_terminal.py
  tests/test_terminal_display.py
Owners: @tleonhardt

Fixed a few edge-case bugs
  CHANGELOG.md
  cmd2/cmd2.py
  cmd2/command_toolbar.py
  cmd2/managed_output.py
  cmd2/prompt_toolkit_bridge.py
  cmd2/reserved_toolbar.py
  docs/features/prompt.md
  tests/test_managed_output.py
  tests/test_prompt_toolkit_bridge.py
  tests/test_reserved_terminal.py
  tests/test_reserved_toolbar.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Address five review findings on the edge-case fixes
  CHANGELOG.md
  cmd2/command_toolbar.py
  cmd2/prompt_toolkit_bridge.py
  cmd2/reserved_toolbar.py
  tests/test_command_toolbar.py
  tests/test_prompt_toolkit_bridge.py
  tests/test_reserved_terminal.py
  tests/test_reserved_toolbar.py
Owners: @tleonhardt

Keep the fallback layout when the pager closes
  CHANGELOG.md
  cmd2/command_toolbar.py
  tests/test_reserved_terminal.py
Owners: @tleonhardt

Harden the pager's exit and the fallback under an open pager
  CHANGELOG.md
  cmd2/command_toolbar.py
  tests/test_command_toolbar.py
  tests/test_reserved_terminal.py
Owners: @tleonhardt

Fix the reserved-to-legacy fallback during paging on a console-less terminal
  cmd2/command_toolbar.py
  tests/test_command_toolbar.py
  tests/test_reserved_terminal.py
Owners: @tleonhardt

Restore command display state after pager exit failures
  cmd2/command_toolbar.py
  tests/test_reserved_terminal.py
Owners: @tleonhardt

Wait for completed resize redraws in terminal tests
  tests/test_reserved_terminal.py
Owners: @tleonhardt

Preserve Windows VT processing for serialized command output
  cmd2/command_toolbar.py
  cmd2/managed_output.py
  tests/test_managed_output.py
  tests/test_reserved_lifecycle.py
Owners: @tleonhardt

Integrate reserved toolbar ownership across Stage 4 handoffs
  cmd2/cmd2.py
  cmd2/command_toolbar.py
  cmd2/reserved_output.py
  cmd2/reserved_toolbar.py
  cmd2/terminal_display.py
  tests/test_reserved_lifecycle.py
  tests/test_reserved_terminal.py
  tests/test_reserved_toolbar.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Keep the toolbar visible while the pager prepares its first frame
  cmd2/command_toolbar.py
  cmd2/managed_output.py
  cmd2/prompt_toolkit_bridge.py
  cmd2/reserved_toolbar.py
  cmd2/terminal_display.py
  tests/test_reserved_terminal.py
  tests/test_terminal_display.py
Owners: @tleonhardt

Guard POSIX suspend signal lookup on Windows
  cmd2/reserved_toolbar.py
Owners: @tleonhardt

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Owners of code are automatically nominated to review PRs involving that code.

# These owners will be the default owners for everything in the repo.
*       @tleonhardt

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
#*.js    @octocat @github/js

# You can also use email addresses if you prefer.
#docs/*  docs@example.com

# cmd2 code
cmd2/__init__.py           @tleonhardt @kotfu
cmd2/ansi.py               @kmvanbrunt @tleonhardt
cmd2/argparse_*.py         @kmvanbrunt @anselor
cmd2/clipboard.py          @tleonhardt
cmd2/cmd2.py               @tleonhardt @kmvanbrunt @kotfu
cmd2/command_definition.py @anselor
cmd2/constants.py          @kotfu
cmd2/decorators.py         @kotfu @kmvanbrunt @anselor
cmd2/exceptions.py         @kmvanbrunt @anselor
cmd2/history.py            @kotfu @tleonhardt
cmd2/parsing.py            @kotfu @kmvanbrunt
cmd2/plugin.py             @kotfu
cmd2/py_bridge.py          @kmvanbrunt
cmd2/rl_utils.py           @kmvanbrunt
cmd2/table_creator.py      @kmvanbrunt
cmd2/transcript.py         @kotfu
cmd2/utils.py              @tleonhardt @kotfu @kmvanbrunt

# Sphinx documentation
docs/*                  @tleonhardt @kotfu

# Examples
examples/async_printing.py  @kmvanbrunt
examples/environment.py     @kotfu
examples/tab_*.py           @kmvanbrunt
examples/modular_*.py       @anselor
examples/modular_commands/* @anselor

plugins/template/*          @kotfu
plugins/ext_test/*          @anselor

# Unit Tests
tests/pyscript/*              @kmvanbrunt
tests/transcripts/*           @kotfu
tests/__init__.py             @kotfu
tests/conftest.py             @kotfu @tleonhardt
tests/test_argparse.py        @kotfu
tests/test_argparse_*.py      @kmvanbrunt
tests/test_comp*.py           @kmvanbrunt
tests/test_pars*.py           @kotfu
tests/test_run_pyscript.py    @kmvanbrunt
tests/test_transcript.py      @kotfu

tests_isolated/test_commandset/*    @anselor

# Top-level project stuff
CONTRIBUTING.md         @tleonhardt @kotfu
setup.py                @tleonhardt @kotfu
tasks.py                @kotfu
