Repository python-cmd2/cmd2, changes with the owners that CODEOWNERS names for each.
All owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

Update details on experimental type annotation feature in CHANGELOG
  CHANGELOG.md
Owners: @tleonhardt

feat: Experimental annotated argparse (#1666)
  CHANGELOG.md
  cmd2/__init__.py
  cmd2/annotated.py
  docs/features/annotated.md
  docs/features/argument_processing.md
  examples/annotated_example.py
  mkdocs.yml
  tests/test_annotated.py
Owners: @tleonhardt, @kotfu

Bump ruff and typos versions
  .pre-commit-config.yaml
Owners: @tleonhardt

Exempt examples from fewer ruff linting rules
  examples/annotated_example.py
  examples/argparse_example.py
  examples/async_call.py
  examples/async_commands.py
  examples/async_printing.py
  examples/cmd_as_argument.py
  examples/completion_item_choices.py
  examples/custom_parser.py
  examples/migrating.py
  examples/read_input.py
  examples/rich_theme.py
  examples/scripts/save_help_text.py
  ruff.toml
Owners: @tleonhardt, @kmvanbrunt

Make a few changes suggested by ruff in examples and tests
  examples/argparse_example.py
  examples/paged_output.py
  tests/test_argparse_utils.py
  tests/test_commandset.py
  tests/test_run_pyscript.py
  tests/test_utils.py
Owners: @tleonhardt, @kmvanbrunt

Let ruff format code in docstrings the same way it formats our code
  cmd2/annotated.py
  cmd2/argparse_utils.py
  cmd2/decorators.py
  cmd2/parsing.py
  ruff.toml
Owners: @tleonhardt, @kmvanbrunt, @anselor, @kotfu

chore: clean up docs
  cmd2/annotated.py
  docs/api/annotated.md
  docs/features/annotated.md
  docs/features/index.md
  mkdocs.yml
Owners: @tleonhardt

chore: clean up docs (#1671)
  cmd2/annotated.py
  docs/api/annotated.md
  docs/features/annotated.md
  docs/features/index.md
  mkdocs.yml
Owners: @tleonhardt

Fixed tests.
  cmd2/annotated.py
  tests/test_annotated.py
Owners: @tleonhardt

Renamed cmd2_handler to cmd2_subcommand_handler in annotated functions. This is to match what it's called in the Namespace when using with_argparser.
  cmd2/annotated.py
  docs/features/annotated.md
  examples/annotated_example.py
  tests/test_annotated.py
  tests/test_argparse.py
Owners: @tleonhardt, @kotfu

fix: fix edge case on forward unresolveable type
  cmd2/annotated.py
  tests/test_annotated.py
Owners: @tleonhardt

Remove colorless theme monkeypatchfor argparse bug in 3.15.0b1
  cmd2/argparse_utils.py
  tests/test_argparse_utils.py
Owners: @kmvanbrunt, @anselor

Remove colorless theme monkeypatchfor argparse bug in 3.15.0b1 (#1674)
  cmd2/argparse_utils.py
  tests/test_argparse_utils.py
Owners: @kmvanbrunt, @anselor

Restored PARSER_ATTR_OWNER_ID name.
  cmd2/cmd2.py
  cmd2/constants.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Renamed AP_COMMAND_ATTR_SPEC to ARGPARSE_COMMAND_ATTR_SPEC to be more specific.
  cmd2/annotated.py
  cmd2/argparse_utils.py
  cmd2/cmd2.py
  cmd2/constants.py
  cmd2/decorators.py
  tests/test_annotated.py
Owners: @tleonhardt, @kmvanbrunt, @anselor, @kotfu

Fixed bug in annotated.py where it used a stale copy of DEFAULT_ARGUMENT_PARSER. Added test for set_default_argument_parser().
  cmd2/annotated.py
  tests/test_argparse_utils.py
Owners: @tleonhardt, @kmvanbrunt

Refactor and standardize argparse-related naming and metadata (#1670)
  CHANGELOG.md
  cmd2/__init__.py
  cmd2/annotated.py
  cmd2/argparse_completer.py
  cmd2/argparse_utils.py
  cmd2/cmd2.py
  cmd2/constants.py
  cmd2/decorators.py
  cmd2/utils.py
  docs/features/annotated.md
  docs/features/argument_processing.md
  docs/features/modular_commands.md
  examples/annotated_example.py
  examples/argparse_example.py
  examples/command_sets.py
  examples/custom_parser.py
  tests/test_annotated.py
  tests/test_argparse.py
  tests/test_argparse_completer.py
  tests/test_argparse_utils.py
  tests/test_commandset.py
  tests/test_utils.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

fix: resolve forward references against the unwrapped function's module
  cmd2/annotated.py
  tests/test_annotated.py
Owners: @tleonhardt

fix: more edge case
  cmd2/annotated.py
  tests/test_annotated.py
Owners: @tleonhardt

chore: more edge case fix
  cmd2/annotated.py
  docs/features/annotated.md
  tests/test_annotated.py
Owners: @tleonhardt

chore: doc simplify
  cmd2/annotated.py
Owners: @tleonhardt

docs: fix deprecated git:// URL in installation guide
  docs/overview/installation.md
Owners: @tleonhardt

fix: fix edge case on forward unresolveable type (#1673)
  cmd2/annotated.py
  docs/features/annotated.md
  tests/test_annotated.py
Owners: @tleonhardt

docs: fix deprecated git:// URL in installation guide (#1675)
  docs/overview/installation.md
Owners: @tleonhardt

Bump versions for ruff, typos, and zensical
  .pre-commit-config.yaml
  pyproject.toml
Owners: @tleonhardt

Update CHANGELOG in preparation for release.
  CHANGELOG.md
  README.md
Owners: @tleonhardt

tests: make tests compatible with rich 14.3.3
  tests/test_cmd2.py
Owners: @tleonhardt

PR #1677 - change title to make it unambiguous as well as more positive and action-oriented
  docs/migrating/index.md
  mkdocs.yml
Owners: @tleonhardt

PR #1677 - change title to make it unambiguous as well as more positive and action-oriented (#1679)
  docs/migrating/index.md
  mkdocs.yml
Owners: @tleonhardt

Add a new complete_in_thread parameter to cmd2.Cmd.__init__ that defaults to True
  CHANGELOG.md
  cmd2/cmd2.py
  docs/features/initialization.md
  tests/test_cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

feat(annotated): support frozenset[T] collections
  cmd2/annotated.py
  docs/features/annotated.md
  tests/test_annotated.py
Owners: @tleonhardt

chore: fix annotated typing
  cmd2/annotated.py
Owners: @tleonhardt

Add a new complete_in_thread parameter to cmd2.Cmd.__init__ that defaults to True (#1682)
  CHANGELOG.md
  cmd2/cmd2.py
  docs/features/initialization.md
  tests/test_cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

docs(annotated): list frozenset in collection messages and changelog
  CHANGELOG.md
  cmd2/annotated.py
Owners: @tleonhardt

fix(annotated): drop unnecessary string annotations, add changelog
  CHANGELOG.md
  cmd2/annotated.py
Owners: @tleonhardt

feat: annotated argpare adding support for frozenset (#1691)
  CHANGELOG.md
  cmd2/annotated.py
  docs/features/annotated.md
  tests/test_annotated.py
Owners: @tleonhardt

fix: fix annotated typing (#1692)
  CHANGELOG.md
  cmd2/annotated.py
Owners: @tleonhardt

Bump ruff version used to 0.15.17
  .pre-commit-config.yaml
Owners: @tleonhardt

feat(annotated): let a mutually exclusive group declare its own titled section
  CHANGELOG.md
  cmd2/annotated.py
  docs/features/annotated.md
  examples/annotated_example.py
  tests/test_annotated.py
Owners: @tleonhardt

feat(annotated): let a mutually exclusive group declare its own titled section (#1693)
  CHANGELOG.md
  cmd2/annotated.py
  docs/features/annotated.md
  examples/annotated_example.py
  tests/test_annotated.py
Owners: @tleonhardt

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Owners of code are automatically nominated to review PRs involving that code.

# These owners will be the default owners for everything in the repo.
*       @tleonhardt

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
#*.js    @octocat @github/js

# You can also use email addresses if you prefer.
#docs/*  docs@example.com

# cmd2 code
cmd2/__init__.py           @tleonhardt @kotfu
cmd2/ansi.py               @kmvanbrunt @tleonhardt
cmd2/argparse_*.py         @kmvanbrunt @anselor
cmd2/clipboard.py          @tleonhardt
cmd2/cmd2.py               @tleonhardt @kmvanbrunt @kotfu
cmd2/command_definition.py @anselor
cmd2/constants.py          @kotfu
cmd2/decorators.py         @kotfu @kmvanbrunt @anselor
cmd2/exceptions.py         @kmvanbrunt @anselor
cmd2/history.py            @kotfu @tleonhardt
cmd2/parsing.py            @kotfu @kmvanbrunt
cmd2/plugin.py             @kotfu
cmd2/py_bridge.py          @kmvanbrunt
cmd2/rl_utils.py           @kmvanbrunt
cmd2/table_creator.py      @kmvanbrunt
cmd2/transcript.py         @kotfu
cmd2/utils.py              @tleonhardt @kotfu @kmvanbrunt

# Sphinx documentation
docs/*                  @tleonhardt @kotfu

# Examples
examples/async_printing.py  @kmvanbrunt
examples/environment.py     @kotfu
examples/tab_*.py           @kmvanbrunt
examples/modular_*.py       @anselor
examples/modular_commands/* @anselor

plugins/template/*          @kotfu
plugins/ext_test/*          @anselor

# Unit Tests
tests/pyscript/*              @kmvanbrunt
tests/transcripts/*           @kotfu
tests/__init__.py             @kotfu
tests/conftest.py             @kotfu @tleonhardt
tests/test_argparse.py        @kotfu
tests/test_argparse_*.py      @kmvanbrunt
tests/test_comp*.py           @kmvanbrunt
tests/test_pars*.py           @kotfu
tests/test_run_pyscript.py    @kmvanbrunt
tests/test_transcript.py      @kotfu

tests_isolated/test_commandset/*    @anselor

# Top-level project stuff
CONTRIBUTING.md         @tleonhardt @kotfu
setup.py                @tleonhardt @kotfu
tasks.py                @kotfu
