Repository python-cmd2/cmd2, changes with the owners that CODEOWNERS names for each.
All owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

Corrected breaking change about history
  CHANGELOG.md
Owners: @tleonhardt

Attempt to fix test failures on master branch
  plugins/ext_test/setup.py
Owners: @tleonhardt, @kotfu

Try to fix tests on master
  plugins/template/setup.py
Owners: @tleonhardt, @kotfu

Exclude plugins directory from tarball when cmd2 release is published to PyPI
  MANIFEST.in
Owners: @tleonhardt

Don't include tests_isolated directory in cmd2 tarball published to PyPI
  MANIFEST.in
Owners: @tleonhardt

Update changelog
  CHANGELOG.md
Owners: @tleonhardt

Updated minimum cmd2 version for plugins to 2.0 due to API breaking changes.
  plugins/ext_test/setup.py
  plugins/template/setup.py
Owners: @tleonhardt, @kotfu

Updated minimum cmd2 version for plugins to 2.0 due to API breaking changes.
  plugins/ext_test/setup.py
  plugins/template/setup.py
Owners: @tleonhardt, @kotfu

Updating version tag filter
  .gitignore
  plugins/ext_test/setup.py
Owners: @tleonhardt, @kotfu

Updating version tag filter
  .gitignore
  plugins/ext_test/setup.py
Owners: @tleonhardt, @kotfu

Converted persistent history files from pickle to JSON format
  CHANGELOG.md
  cmd2/cmd2.py
  cmd2/history.py
  cmd2/parsing.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Change mypy and lint github steps to use nox/invoke to make CI validation configuration/commands match developer local commands.
  .github/workflows/lint.yml
  .github/workflows/mypy.yml
  noxfile.py
  setup.py
Owners: @tleonhardt, @kotfu

Compressing JSON history files
  CHANGELOG.md
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Added unit tests for History and Statement
  tests/test_history.py
  tests/test_parsing.py
Owners: @tleonhardt, @kotfu

Removed obsolete unit test
  tests/test_history.py
Owners: @tleonhardt

Updated documentation about persistent history files
  docs/features/history.rst
Owners: @tleonhardt

Fixed Sphinx error
  docs/conf.py
Owners: @tleonhardt, @kotfu

Fixed spelling in doc
  docs/features/history.rst
Owners: @tleonhardt

Sorted exception list
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Updated error message when invalid persistent history file is read
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Fixed spelling in doc
  docs/features/history.rst
Owners: @tleonhardt

Updated documentation about persistent history files
  docs/features/history.rst
Owners: @tleonhardt

Added unit tests for History and Statement
  tests/test_history.py
  tests/test_parsing.py
Owners: @tleonhardt, @kotfu

Compressing JSON history files
  CHANGELOG.md
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Removed obsolete unit test
  tests/test_history.py
Owners: @tleonhardt

Fixed Sphinx error
  docs/conf.py
Owners: @tleonhardt, @kotfu

Converted persistent history files from pickle to JSON format
  CHANGELOG.md
  cmd2/cmd2.py
  cmd2/history.py
  cmd2/parsing.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Change mypy and lint github steps to use nox/invoke to make CI validation configuration/commands match developer local commands.
  .github/workflows/lint.yml
  .github/workflows/mypy.yml
  noxfile.py
  setup.py
Owners: @tleonhardt, @kotfu

Sorted exception list
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Updated error message when invalid persistent history file is read
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Updated CHANGELOG for 2.1.0 release
  CHANGELOG.md
Owners: @tleonhardt

Begin testing on Python 3.10 beta 2
  .github/workflows/ci.yml
Owners: @tleonhardt

Try to fix 3.10 build
  .github/workflows/ci.yml
Owners: @tleonhardt

Add nox session
  .github/workflows/ci.yml
  noxfile.py
Owners: @tleonhardt

Add CI testing on Python 3.10 beta2 (#1122)
  .github/workflows/ci.yml
  noxfile.py
Owners: @tleonhardt

Add the tests_isolated directory back to the PyPI package for testing the CommandSet stuff
  MANIFEST.in
Owners: @tleonhardt

Add the tests_isolated directory back to the PyPI package for testing the CommandSet stuff (#1123)
  MANIFEST.in
Owners: @tleonhardt

Excluding more temporary directories from the manifest. Added plugins back in to enable isolated tests
  MANIFEST.in
  tasks.py
Owners: @tleonhardt, @kotfu

Excluding more temporary directories from the manifest. Added plugins back in to enable isolated tests
  MANIFEST.in
  tasks.py
Owners: @tleonhardt, @kotfu

Updated all examples to use Cmd2ArgumentParser instead of argparse.ArgumentParser. This is best practice for consistency of appearance between built-in and custom commands.
  README.md
  cmd2/decorators.py
  docs/examples/first_app.rst
  docs/features/argument_processing.rst
  examples/arg_decorators.py
  examples/arg_print.py
  examples/cmd_as_argument.py
  examples/colors.py
  examples/decorator_example.py
  examples/example.py
  examples/first_app.py
  examples/pirate.py
  examples/plumbum_colors.py
  examples/python_scripting.py
  examples/subcommands.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Owners of code are automatically nominated to review PRs involving that code.

# These owners will be the default owners for everything in the repo.
*       @tleonhardt

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
#*.js    @octocat @github/js

# You can also use email addresses if you prefer.
#docs/*  docs@example.com

# cmd2 code
cmd2/__init__.py           @tleonhardt @kotfu
cmd2/ansi.py               @kmvanbrunt @tleonhardt
cmd2/argparse_*.py         @kmvanbrunt @anselor
cmd2/clipboard.py          @tleonhardt
cmd2/cmd2.py               @tleonhardt @kmvanbrunt @kotfu
cmd2/command_definition.py @anselor
cmd2/constants.py          @kotfu
cmd2/decorators.py         @kotfu @kmvanbrunt @anselor
cmd2/exceptions.py         @kmvanbrunt @anselor
cmd2/history.py            @kotfu @tleonhardt
cmd2/parsing.py            @kotfu @kmvanbrunt
cmd2/plugin.py             @kotfu
cmd2/py_bridge.py          @kmvanbrunt
cmd2/rl_utils.py           @kmvanbrunt
cmd2/table_creator.py      @kmvanbrunt
cmd2/transcript.py         @kotfu
cmd2/utils.py              @tleonhardt @kotfu @kmvanbrunt

# Sphinx documentation
docs/*                  @tleonhardt @kotfu

# Examples
examples/async_printing.py  @kmvanbrunt
examples/environment.py     @kotfu
examples/tab_*.py           @kmvanbrunt
examples/modular_*.py       @anselor
examples/modular_commands/* @anselor

plugins/template/*          @kotfu
plugins/ext_test/*          @anselor

# Unit Tests
tests/pyscript/*              @kmvanbrunt
tests/transcripts/*           @kotfu
tests/__init__.py             @kotfu
tests/conftest.py             @kotfu @tleonhardt
tests/test_argparse.py        @kotfu
tests/test_argparse_*.py      @kmvanbrunt
tests/test_comp*.py           @kmvanbrunt
tests/test_pars*.py           @kotfu
tests/test_run_pyscript.py    @kmvanbrunt
tests/test_transcript.py      @kotfu

tests_isolated/test_commandset/*    @anselor

# Top-level project stuff
CONTRIBUTING.md         @tleonhardt @kotfu
setup.py                @tleonhardt @kotfu
tasks.py                @kotfu
