Repository python-cmd2/cmd2, changes with the owners that CODEOWNERS names for each.
All owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Owners of code are automatically nominated to review PRs involving that code.

# These owners will be the default owners for everything in the repo.
*       @tleonhardt

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
#*.js    @octocat @github/js

# You can also use email addresses if you prefer.
#docs/*  docs@example.com

# cmd2 code
cmd2/__init__.py           @tleonhardt @kotfu
cmd2/ansi.py               @kmvanbrunt @tleonhardt
cmd2/argparse_*.py         @kmvanbrunt @anselor
cmd2/clipboard.py          @tleonhardt
cmd2/cmd2.py               @tleonhardt @kmvanbrunt @kotfu
cmd2/command_definition.py @anselor
cmd2/constants.py          @kotfu
cmd2/decorators.py         @kotfu @kmvanbrunt @anselor
cmd2/exceptions.py         @kmvanbrunt @anselor
cmd2/history.py            @kotfu @tleonhardt
cmd2/parsing.py            @kotfu @kmvanbrunt
cmd2/plugin.py             @kotfu
cmd2/py_bridge.py          @kmvanbrunt
cmd2/rl_utils.py           @kmvanbrunt
cmd2/table_creator.py      @kmvanbrunt
cmd2/transcript.py         @kotfu
cmd2/utils.py              @tleonhardt @kotfu @kmvanbrunt

# Sphinx documentation
docs/*                  @tleonhardt @kotfu

# Examples
examples/async_printing.py  @kmvanbrunt
examples/environment.py     @kotfu
examples/tab_*.py           @kmvanbrunt
examples/modular_*.py       @anselor
examples/modular_commands/* @anselor

plugins/template/*          @kotfu
plugins/ext_test/*          @anselor

# Unit Tests
tests/pyscript/*              @kmvanbrunt
tests/transcripts/*           @kotfu
tests/__init__.py             @kotfu
tests/conftest.py             @kotfu @tleonhardt
tests/test_argparse.py        @kotfu
tests/test_argparse_*.py      @kmvanbrunt
tests/test_comp*.py           @kmvanbrunt
tests/test_pars*.py           @kotfu
tests/test_run_pyscript.py    @kmvanbrunt
tests/test_transcript.py      @kotfu

tests_isolated/test_commandset/*    @anselor

# Top-level project stuff
CONTRIBUTING.md         @tleonhardt @kotfu
setup.py                @tleonhardt @kotfu
tasks.py                @kotfu

Updated tests and increased coverage.
  tests/test_cmd2.py
Owners: @tleonhardt

Improved performance for inserting key presses.
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Added support for bracketed paste (#1733)
  CHANGELOG.md
  cmd2/cmd2.py
  tests/test_cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Updated CHANGELOG for 4.2.1 release.
  CHANGELOG.md
Owners: @tleonhardt

Removed extra line in CHANGELOG
  CHANGELOG.md
Owners: @tleonhardt

Fix broken example and improve some documentation
  docs/features/startup_commands.md
  examples/cmd_as_argument.py
Owners: @tleonhardt

Fix typo
  examples/cmd_as_argument.py
Owners: @tleonhardt

Fixed outdated documentation in os.md
  docs/features/os.md
Owners: @tleonhardt

Fix argparse -> argparse typo
  CHANGELOG.md
  docs/features/os.md
Owners: @tleonhardt

Fix `cmd2_as_argument.py` typo -> `cmd_as_argument.py`
  examples/README.md
Owners: @tleonhardt

Fix another typo
  examples/README.md
Owners: @tleonhardt

Updated changelog with notes for patch release
  CHANGELOG.md
Owners: @tleonhardt

Fix an edge case in cmd_as_argument example for empty string after strip
  docs/features/os.md
  examples/cmd_as_argument.py
Owners: @tleonhardt

Fix broken example and improve some documentation (#1735)
  CHANGELOG.md
  docs/features/os.md
  docs/features/startup_commands.md
  examples/README.md
  examples/cmd_as_argument.py
Owners: @tleonhardt

Fix ty unresolved-attribute warnings and stop globally ignoring them
  CHANGELOG.md
  cmd2/annotated.py
  cmd2/argparse_completer.py
  cmd2/argparse_utils.py
  cmd2/cmd2.py
  cmd2/decorators.py
  cmd2/rich_utils.py
  cmd2/types.py
  cmd2/utils.py
  ty.toml
Owners: @tleonhardt, @kmvanbrunt, @anselor, @kotfu

Removed redundant _NamedCallable protocol class from cmd2/annotated.py
  CHANGELOG.md
  cmd2/annotated.py
Owners: @tleonhardt

Fixed typo
  CHANGELOG.md
Owners: @tleonhardt

Fix type alias
  cmd2/annotated.py
Owners: @tleonhardt

Made `__name__` a read-only propery for BoundCommandFunc and UnboundCommandFunc Protocol classes
  cmd2/cmd2.py
  cmd2/types.py
  tests/test_cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Made the owner parameter for `__get__` optional in both BoundCommandFunc and UnboundCommand func
  cmd2/annotated.py
  cmd2/types.py
Owners: @tleonhardt

Remove unecessary ... and slight bump of ruff version
  .pre-commit-config.yaml
  cmd2/types.py
Owners: @tleonhardt

Make types in annotated.py fully consistent
  cmd2/annotated.py
Owners: @tleonhardt

Implemented protcol class in annotated.py to match needs and remove casts
  cmd2/annotated.py
Owners: @tleonhardt

Realized that _CommandFunc and BoundCommandFunc had identical implementation
  cmd2/annotated.py
Owners: @tleonhardt

Update CHANGELOG
  CHANGELOG.md
Owners: @tleonhardt

Define _CommandFunc to represent either a Bound or Ubound command function to make some types less restrictive
  cmd2/annotated.py
Owners: @tleonhardt

Add mypy back in addition to ty for type checking and fix warnings
  .github/workflows/typecheck.yml
  Makefile
  cmd2/annotated.py
  cmd2/argparse_utils.py
  pyproject.toml
  ruff.toml
Owners: @tleonhardt, @kmvanbrunt, @anselor

Copy GEMINI.md to AGENTS.md
  AGENTS.md
Owners: @tleonhardt

Fix types in annotated.py so both mypy and ty pass
  cmd2/annotated.py
Owners: @tleonhardt

Updated AGENTS.ai so it doesn't refer to Gemini
  AGENTS.md
Owners: @tleonhardt

Fix some type annotations so that cast is no longer needed in annotated.py
  cmd2/annotated.py
Owners: @tleonhardt

Fixed some types so an Any return type wasn't required
  cmd2/annotated.py
Owners: @tleonhardt

Added tests to cover the missing lines in annotated.py
  tests/test_annotated.py
Owners: @tleonhardt

Removed a couple cast() calls which were no longer needed
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Re-ordered some code so that quotes are not needed around type annotations
  cmd2/annotated.py
Owners: @tleonhardt

Add a missing check and associated unit test
  cmd2/annotated.py
  cmd2/cmd2.py
  tests/test_annotated.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Ruggedize a few types
  cmd2/annotated.py
  cmd2/cmd2.py
  cmd2/types.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Make __name__ and __qualname__ read-only properties in protocol classes
  cmd2/annotated.py
  cmd2/types.py
  tests/test_annotated.py
Owners: @tleonhardt

Fix ty unresolved-attribute warnings and add mypy back (#1737)
  .github/workflows/typecheck.yml
  .pre-commit-config.yaml
  AGENTS.md
  CHANGELOG.md
  Makefile
  cmd2/annotated.py
  cmd2/argparse_completer.py
  cmd2/argparse_utils.py
  cmd2/cmd2.py
  cmd2/decorators.py
  cmd2/rich_utils.py
  cmd2/types.py
  cmd2/utils.py
  pyproject.toml
  ruff.toml
  tests/test_annotated.py
  tests/test_cmd2.py
  ty.toml
Owners: @tleonhardt, @kmvanbrunt, @anselor, @kotfu

Update typos to 1.50.0
  .pre-commit-config.yaml
Owners: @tleonhardt
