Repository python-cmd2/cmd2, changes with the owners that CODEOWNERS names for each.
All owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Owners of code are automatically nominated to review PRs involving that code.

# These owners will be the default owners for everything in the repo.
*       @tleonhardt

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
#*.js    @octocat @github/js

# You can also use email addresses if you prefer.
#docs/*  docs@example.com

# cmd2 code
cmd2/__init__.py           @tleonhardt @kotfu
cmd2/ansi.py               @kmvanbrunt @tleonhardt
cmd2/argparse_*.py         @kmvanbrunt @anselor
cmd2/clipboard.py          @tleonhardt
cmd2/cmd2.py               @tleonhardt @kmvanbrunt @kotfu
cmd2/command_definition.py @anselor
cmd2/constants.py          @kotfu
cmd2/decorators.py         @kotfu @kmvanbrunt @anselor
cmd2/exceptions.py         @kmvanbrunt @anselor
cmd2/history.py            @kotfu @tleonhardt
cmd2/parsing.py            @kotfu @kmvanbrunt
cmd2/plugin.py             @kotfu
cmd2/py_bridge.py          @kmvanbrunt
cmd2/rl_utils.py           @kmvanbrunt
cmd2/table_creator.py      @kmvanbrunt
cmd2/transcript.py         @kotfu
cmd2/utils.py              @tleonhardt @kotfu @kmvanbrunt

# Sphinx documentation
docs/*                  @tleonhardt @kotfu

# Examples
examples/async_printing.py  @kmvanbrunt
examples/environment.py     @kotfu
examples/tab_*.py           @kmvanbrunt
examples/modular_*.py       @anselor
examples/modular_commands/* @anselor

plugins/template/*          @kotfu
plugins/ext_test/*          @anselor

# Unit Tests
tests/pyscript/*              @kmvanbrunt
tests/transcripts/*           @kotfu
tests/__init__.py             @kotfu
tests/conftest.py             @kotfu @tleonhardt
tests/test_argparse.py        @kotfu
tests/test_argparse_*.py      @kmvanbrunt
tests/test_comp*.py           @kmvanbrunt
tests/test_pars*.py           @kotfu
tests/test_run_pyscript.py    @kmvanbrunt
tests/test_transcript.py      @kotfu

tests_isolated/test_commandset/*    @anselor

# Top-level project stuff
CONTRIBUTING.md         @tleonhardt @kotfu
setup.py                @tleonhardt @kotfu
tasks.py                @kotfu

Added cmd2.exceptions.PassThroughException
  CHANGELOG.md
  cmd2/cmd2.py
  cmd2/exceptions.py
  docs/api/exceptions.rst
  tests/test_cmd2.py
  tests/test_plugin.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu, @anselor

Added support for ANSI styles and newlines in tab completion results
  CHANGELOG.md
  cmd2/ansi.py
  cmd2/argparse_completer.py
  cmd2/cmd2.py
  cmd2/table_creator.py
  tests/test_ansi.py
  tests/test_argparse_completer.py
Owners: @tleonhardt, @kmvanbrunt, @anselor, @kotfu

Updated tab completion example
  examples/argparse_completion.py
Owners: @tleonhardt

Updated change log
  CHANGELOG.md
Owners: @tleonhardt

Made changes requested in code review
  cmd2/ansi.py
  cmd2/argparse_completer.py
Owners: @kmvanbrunt, @tleonhardt, @anselor

Fixed issue where argparse choices could not be CompletionItems
  cmd2/argparse_completer.py
  tests/test_argparse_completer.py
Owners: @kmvanbrunt, @anselor

Updated comments
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Added link for command_definition module
  docs/api/index.rst
Owners: @tleonhardt

Added tests
  cmd2/cmd2.py
  setup.cfg
  tests/test_cmd2.py
  tests_isolated/test_commandset/test_commandset.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu, @anselor

Some mypy validation fixes
  cmd2/ansi.py
  cmd2/argparse_custom.py
  cmd2/clipboard.py
  cmd2/exceptions.py
  cmd2/plugin.py
  cmd2/py_bridge.py
  cmd2/utils.py
  docs/api/utils.rst
  tests_isolated/test_commandset/test_commandset.py
Owners: @kmvanbrunt, @tleonhardt, @anselor, @kotfu

Resolves comments from PR
  cmd2/ansi.py
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  cmd2/command_definition.py
  cmd2/utils.py
  examples/cmd_as_argument.py
  examples/colors.py
  examples/decorator_example.py
  examples/environment.py
  examples/example.py
  examples/first_app.py
  examples/initialization.py
  examples/pirate.py
  examples/plumbum_colors.py
  setup.py
  tests/test_cmd2.py
  tests/test_completion.py
  tests/test_transcript.py
  tests_isolated/test_commandset/test_commandset.py
Owners: @kmvanbrunt, @tleonhardt, @anselor, @kotfu

Corrected help text for alias command
  CHANGELOG.md
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Added tests
  cmd2/cmd2.py
  setup.cfg
  tests/test_cmd2.py
  tests_isolated/test_commandset/test_commandset.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu, @anselor

Some mypy validation fixes
  cmd2/ansi.py
  cmd2/argparse_custom.py
  cmd2/clipboard.py
  cmd2/exceptions.py
  cmd2/plugin.py
  cmd2/py_bridge.py
  cmd2/utils.py
  docs/api/utils.rst
  tests_isolated/test_commandset/test_commandset.py
Owners: @kmvanbrunt, @tleonhardt, @anselor, @kotfu

Resolves comments from PR
  CHANGELOG.md
  cmd2/ansi.py
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  cmd2/command_definition.py
  cmd2/utils.py
  examples/cmd_as_argument.py
  examples/colors.py
  examples/decorator_example.py
  examples/environment.py
  examples/example.py
  examples/first_app.py
  examples/initialization.py
  examples/pirate.py
  examples/plumbum_colors.py
  setup.py
  tests/test_cmd2.py
  tests/test_completion.py
  tests/test_transcript.py
  tests_isolated/test_commandset/test_commandset.py
Owners: @tleonhardt, @kmvanbrunt, @anselor, @kotfu

Resolves comments from PR
  CHANGELOG.md
  cmd2/ansi.py
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  cmd2/command_definition.py
  cmd2/utils.py
  examples/cmd_as_argument.py
  examples/colors.py
  examples/decorator_example.py
  examples/environment.py
  examples/example.py
  examples/first_app.py
  examples/initialization.py
  examples/pirate.py
  examples/plumbum_colors.py
  setup.py
  tests/test_cmd2.py
  tests/test_completion.py
  tests/test_transcript.py
  tests_isolated/test_commandset/test_commandset.py
Owners: @tleonhardt, @kmvanbrunt, @anselor, @kotfu

Some mypy validation fixes
  cmd2/ansi.py
  cmd2/argparse_custom.py
  cmd2/clipboard.py
  cmd2/exceptions.py
  cmd2/plugin.py
  cmd2/py_bridge.py
  cmd2/utils.py
  docs/api/utils.rst
  tests_isolated/test_commandset/test_commandset.py
Owners: @kmvanbrunt, @tleonhardt, @anselor, @kotfu

Added tests
  cmd2/cmd2.py
  setup.cfg
  tests/test_cmd2.py
  tests_isolated/test_commandset/test_commandset.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu, @anselor

Pass SystemExit code to self.exit_code
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Updated out of date comment
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Updating comment
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

onecmd_plus_hooks() now sets self.exit_code when a SystemExit handled
  CHANGELOG.md
  cmd2/cmd2.py
  docs/features/commands.rst
  tests/test_cmd2.py
  tests/test_plugin.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

No longer using -1 as an exit code
  CHANGELOG.md
  cmd2/cmd2.py
  docs/features/commands.rst
  examples/exit_code.py
  examples/pirate.py
  tests/test_cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Fixed docs creation errors
  docs/conf.py
Owners: @tleonhardt, @kotfu

Fixed colors example code
  examples/colors.py
Owners: @tleonhardt

Update autospec mock documentation
  docs/testing.rst
Owners: @tleonhardt, @kotfu

ipy command now includes all of self.py_locals in the IPython environment
  CHANGELOG.md
  cmd2/cmd2.py
  docs/features/embedded_python_shells.rst
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Removed ipy's access to the CLI's globals() dictionary
  cmd2/cmd2.py
  docs/features/embedded_python_shells.rst
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Fixed type hints
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Renamed use_ipython keyword parameter of cmd2.Cmd.__init__() to include_ipy.
  CHANGELOG.md
  README.md
  cmd2/cmd2.py
  cmd2/utils.py
  docs/features/embedded_python_shells.rst
  docs/features/initialization.rst
  examples/arg_decorators.py
  examples/basic.py
  examples/cmd_as_argument.py
  examples/colors.py
  examples/decorator_example.py
  examples/dynamic_commands.py
  examples/hello_cmd2.py
  examples/help_categories.py
  examples/initialization.py
  examples/override_parser.py
  examples/plumbum_colors.py
  examples/python_scripting.py
  tests/conftest.py
  tests/pyscript/py_locals.py
  tests/pyscript/self_in_py.py
  tests/test_cmd2.py
  tests/test_run_pyscript.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Changed History to use OrderDict to support Python 3.6 in non-CPython environments.
  cmd2/cmd2.py
  cmd2/history.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Renamed use_ipython keyword parameter of cmd2.Cmd.__init__() to include_ipy.
  CHANGELOG.md
  README.md
  cmd2/cmd2.py
  cmd2/utils.py
  docs/features/embedded_python_shells.rst
  docs/features/initialization.rst
  examples/arg_decorators.py
  examples/basic.py
  examples/cmd_as_argument.py
  examples/colors.py
  examples/decorator_example.py
  examples/dynamic_commands.py
  examples/hello_cmd2.py
  examples/help_categories.py
  examples/initialization.py
  examples/override_parser.py
  examples/plumbum_colors.py
  examples/python_scripting.py
  tests/conftest.py
  tests/pyscript/py_locals.py
  tests/pyscript/self_in_py.py
  tests/test_cmd2.py
  tests/test_run_pyscript.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Changed History to use OrderDict to support Python 3.6 in non-CPython environments.
  cmd2/cmd2.py
  cmd2/history.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

MyPy strict checking doesn't allow implicit exports. Must explicitly export in __init__.py
  cmd2/__init__.py
Owners: @tleonhardt, @kotfu

More things to make mypy happy.
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  cmd2/command_definition.py
  cmd2/decorators.py
  cmd2/parsing.py
  cmd2/plugin.py
  cmd2/py_bridge.py
  cmd2/utils.py
  docs/conf.py
Owners: @kmvanbrunt, @anselor, @tleonhardt, @kotfu

More mypy validation changes. cmd2.py is nearly fully mypy compliant now.
  cmd2/__init__.py
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  cmd2/decorators.py
  cmd2/rl_utils.py
  cmd2/transcript.py
  cmd2/utils.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

Refactored _perform_completion() to remove need for a cast() call Changed CommandResult.stderr to a str instead of Optional[str]
  cmd2/cmd2.py
  cmd2/py_bridge.py
  tests_isolated/test_commandset/test_commandset.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu, @anselor

More things to make mypy happy.
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  cmd2/command_definition.py
  cmd2/decorators.py
  cmd2/parsing.py
  cmd2/plugin.py
  cmd2/py_bridge.py
  cmd2/utils.py
  docs/conf.py
Owners: @kmvanbrunt, @anselor, @tleonhardt, @kotfu

More mypy validation changes. cmd2.py is nearly fully mypy compliant now.
  cmd2/__init__.py
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  cmd2/decorators.py
  cmd2/rl_utils.py
  cmd2/transcript.py
  cmd2/utils.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

Refactored _perform_completion() to remove need for a cast() call Changed CommandResult.stderr to a str instead of Optional[str]
  cmd2/cmd2.py
  cmd2/py_bridge.py
  tests_isolated/test_commandset/test_commandset.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu, @anselor
