Repository python-cmd2/cmd2, changes with the owners that CODEOWNERS names for each.
All owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

Added support to show the most similar command
  cmd2/cmd2.py
  cmd2/utils.py
  docs/api/cmd.rst
  docs/api/utils.rst
  tests/test_cmd2.py
  tests/test_utils.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

changes based on formatter and doc jobs
  cmd2/utils.py
  docs/api/utils.rst
  tests/test_utils.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt

more changes to comply with formatting
  cmd2/utils.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt

changes to make sphinx work and ordered the imports
  cmd2/utils.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt

added noqa: E721 to prevent error in linter job
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

more changes to comply with formatting
  cmd2/utils.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt

changes based on formatter and doc jobs
  cmd2/utils.py
  docs/api/utils.rst
  tests/test_utils.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt

changes to make sphinx work and ordered the imports
  cmd2/utils.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt

added noqa: E721 to prevent error in linter job
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Added support to show the most similar command
  cmd2/cmd2.py
  cmd2/utils.py
  docs/api/cmd.rst
  docs/api/utils.rst
  tests/test_cmd2.py
  tests/test_utils.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Updates to type hints for with_argparser and with_argument_list to correctly validate subclasses of Cmd.
  cmd2/decorators.py
  pyproject.toml
  tasks.py
Owners: @kotfu, @kmvanbrunt, @anselor, @tleonhardt

Updates to type hints for with_argparser and with_argument_list to correctly validate subclasses of Cmd. (#1276)
  cmd2/decorators.py
  pyproject.toml
  tasks.py
Owners: @kotfu, @kmvanbrunt, @anselor, @tleonhardt

Adds a base sigint_handler() method to the CommandSet. The sigint_handler() in Cmd will now delegate to the CommandSet.
  cmd2/cmd2.py
  cmd2/command_definition.py
  tests_isolated/test_commandset/test_commandset.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu, @anselor

Adds a base sigint_handler() method to the CommandSet. The sigint_handler() in Cmd will now delegate to the CommandSet.
  cmd2/cmd2.py
  cmd2/command_definition.py
  tests_isolated/test_commandset/test_commandset.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu, @anselor

Temporarily ignore error for Issue #1281
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Temporarily ignore error for Issue #1281 (#1283)
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

add '--no-history' option to run_script
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Add 'history_includes_scripts' settable
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Add required args to subcommand program
  cmd2/decorators.py
Owners: @kotfu, @kmvanbrunt, @anselor

Address formatting issues
  cmd2/argparse_custom.py
  cmd2/decorators.py
  cmd2/history.py
Owners: @kmvanbrunt, @anselor, @kotfu, @tleonhardt

Add type hint
  cmd2/decorators.py
Owners: @kotfu, @kmvanbrunt, @anselor

Add type hint
  cmd2/decorators.py
Owners: @kotfu, @kmvanbrunt, @anselor

Ignore E704 per PR feedback
  setup.cfg
Owners: @tleonhardt

Address mypy errors
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Handle absent lzma library
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Remove support for Python 3.7. Add unit testing for Python 3.12. Remove deprecated features.
  .github/CONTRIBUTING.md
  .github/workflows/ci.yml
  .github/workflows/doc.yml
  .github/workflows/format.yml
  .github/workflows/lint.yml
  .github/workflows/mypy.yml
  CHANGELOG.md
  README.md
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  cmd2/decorators.py
  cmd2/history.py
  docs/features/argument_processing.rst
  docs/overview/installation.rst
  noxfile.py
  plugins/ext_test/build-pyenvs.sh
  plugins/ext_test/cmd2_ext_test/__init__.py
  plugins/ext_test/noxfile.py
  plugins/ext_test/setup.py
  plugins/template/README.md
  plugins/template/build-pyenvs.sh
  plugins/template/cmd2_myplugin/__init__.py
  plugins/template/noxfile.py
  plugins/template/setup.py
  setup.py
  tests/test_cmd2.py
  tests/test_transcript.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

Fix validation tests.
  setup.cfg
  setup.py
Owners: @tleonhardt, @kotfu

Remove support for Python 3.7. Add unit testing for Python 3.12. Remove deprecated features.
  .github/CONTRIBUTING.md
  .github/workflows/ci.yml
  .github/workflows/doc.yml
  .github/workflows/format.yml
  .github/workflows/lint.yml
  .github/workflows/mypy.yml
  CHANGELOG.md
  README.md
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  cmd2/decorators.py
  cmd2/history.py
  docs/features/argument_processing.rst
  docs/overview/installation.rst
  noxfile.py
  plugins/ext_test/build-pyenvs.sh
  plugins/ext_test/cmd2_ext_test/__init__.py
  plugins/ext_test/noxfile.py
  plugins/ext_test/setup.py
  plugins/template/README.md
  plugins/template/build-pyenvs.sh
  plugins/template/cmd2_myplugin/__init__.py
  plugins/template/noxfile.py
  plugins/template/setup.py
  setup.py
  tests/test_cmd2.py
  tests/test_transcript.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

Fix validation tests.
  setup.cfg
  setup.py
Owners: @tleonhardt, @kotfu

Removed Python version check related to argparse parser deep copies since we only support Python 3.8+ now.
  cmd2/__init__.py
  cmd2/cmd2.py
  cmd2/decorators.py
  docs/features/argument_processing.rst
Owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

Fixed issue where persistent history file was not saved upon SIGHUP and SIGTERM signals.
  CHANGELOG.md
  cmd2/cmd2.py
  tests/test_cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Fixed unit test for Python 3.8+ systems.
  tests/test_cmd2.py
Owners: @tleonhardt

Refactored Cmd._initialize_history() to handle different exception types between lzma and bz2 libraries.
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Removed 'noinspection' comments since they are PyCharm-specific.
  cmd2/ansi.py
  cmd2/argparse_completer.py
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  cmd2/decorators.py
  cmd2/exceptions.py
  cmd2/history.py
  cmd2/rl_utils.py
  cmd2/utils.py
  examples/argparse_completion.py
  examples/pirate.py
  examples/read_input.py
  tests/test_ansi.py
  tests/test_argparse_completer.py
  tests/test_argparse_custom.py
  tests/test_parsing.py
Owners: @kmvanbrunt, @tleonhardt, @anselor, @kotfu

Removed 'noinspection' comments since they are PyCharm-specific.
  cmd2/ansi.py
  cmd2/argparse_completer.py
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  cmd2/decorators.py
  cmd2/exceptions.py
  cmd2/history.py
  cmd2/rl_utils.py
  cmd2/utils.py
  examples/argparse_completion.py
  examples/pirate.py
  examples/read_input.py
  tests/test_ansi.py
  tests/test_argparse_completer.py
  tests/test_argparse_custom.py
  tests/test_parsing.py
Owners: @kmvanbrunt, @tleonhardt, @anselor, @kotfu

Increased code coverage in history tests and updated change log.
  CHANGELOG.md
  tests/test_history.py
Owners: @tleonhardt

Added settable called scripts_add_to_history which determines whether scripts and pyscripts add commands to history.
  CHANGELOG.md
  cmd2/cmd2.py
  cmd2/py_bridge.py
  docs/conf.py
  docs/features/builtin_commands.rst
  docs/features/initialization.rst
  docs/features/multiline_commands.rst
  docs/features/settings.rst
  tests/conftest.py
  tests/test_cmd2.py
  tests/test_run_pyscript.py
  tests/transcripts/regex_set.txt
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Added settable called scripts_add_to_history which determines whether scripts and pyscripts (#1291)
  CHANGELOG.md
  cmd2/cmd2.py
  cmd2/py_bridge.py
  docs/conf.py
  docs/features/builtin_commands.rst
  docs/features/initialization.rst
  docs/features/multiline_commands.rst
  docs/features/settings.rst
  tests/conftest.py
  tests/test_cmd2.py
  tests/test_run_pyscript.py
  tests/transcripts/regex_set.txt
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Placed default_suggestion_message on its own line.
  cmd2/cmd2.py
  docs/api/cmd.rst
  tests/test_cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Fixing tests on macOS by ensuring gnureadline is used.
  Pipfile
  tests/test_cmd2.py
Owners: @tleonhardt

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Owners of code are automatically nominated to review PRs involving that code.

# These owners will be the default owners for everything in the repo.
*       @tleonhardt

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
#*.js    @octocat @github/js

# You can also use email addresses if you prefer.
#docs/*  docs@example.com

# cmd2 code
cmd2/__init__.py           @tleonhardt @kotfu
cmd2/ansi.py               @kmvanbrunt @tleonhardt
cmd2/argparse_*.py         @kmvanbrunt @anselor
cmd2/clipboard.py          @tleonhardt
cmd2/cmd2.py               @tleonhardt @kmvanbrunt @kotfu
cmd2/command_definition.py @anselor
cmd2/constants.py          @kotfu
cmd2/decorators.py         @kotfu @kmvanbrunt @anselor
cmd2/exceptions.py         @kmvanbrunt @anselor
cmd2/history.py            @kotfu @tleonhardt
cmd2/parsing.py            @kotfu @kmvanbrunt
cmd2/plugin.py             @kotfu
cmd2/py_bridge.py          @kmvanbrunt
cmd2/rl_utils.py           @kmvanbrunt
cmd2/table_creator.py      @kmvanbrunt
cmd2/transcript.py         @kotfu
cmd2/utils.py              @tleonhardt @kotfu @kmvanbrunt

# Sphinx documentation
docs/*                  @tleonhardt @kotfu

# Examples
examples/async_printing.py  @kmvanbrunt
examples/environment.py     @kotfu
examples/tab_*.py           @kmvanbrunt
examples/modular_*.py       @anselor
examples/modular_commands/* @anselor

plugins/template/*          @kotfu
plugins/ext_test/*          @anselor

# Unit Tests
tests/pyscript/*              @kmvanbrunt
tests/transcripts/*           @kotfu
tests/__init__.py             @kotfu
tests/conftest.py             @kotfu @tleonhardt
tests/test_argparse.py        @kotfu
tests/test_argparse_*.py      @kmvanbrunt
tests/test_comp*.py           @kmvanbrunt
tests/test_pars*.py           @kotfu
tests/test_run_pyscript.py    @kmvanbrunt
tests/test_transcript.py      @kotfu

tests_isolated/test_commandset/*    @anselor

# Top-level project stuff
CONTRIBUTING.md         @tleonhardt @kotfu
setup.py                @tleonhardt @kotfu
tasks.py                @kotfu
