Repository python-cmd2/cmd2, changes with the owners that CODEOWNERS names for each.
All owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

MyPy strict checking doesn't allow implicit exports. Must explicitly export in __init__.py
  cmd2/__init__.py
Owners: @tleonhardt, @kotfu

Replaced some pexcept() calls with perror(). Converted some strings to f-strings. Fixed some grammar in error messages and docs. Increased code coverage.
  cmd2/cmd2.py
  cmd2/parsing.py
  docs/api/index.rst
  docs/features/argument_processing.rst
  docs/features/hooks.rst
  tests/test_history.py
  tests/test_transcript.py
  tests_isolated/test_commandset/test_commandset.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu, @anselor

Replaced some pexcept() calls with perror(). Converted some strings to f-strings. Fixed some grammar in error messages and docs. Increased code coverage.
  cmd2/cmd2.py
  cmd2/parsing.py
  docs/api/index.rst
  docs/features/argument_processing.rst
  docs/features/hooks.rst
  tests/test_history.py
  tests/test_transcript.py
  tests_isolated/test_commandset/test_commandset.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu, @anselor

More mypy fixes
  cmd2/argparse_completer.py
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  cmd2/decorators.py
  cmd2/utils.py
Owners: @kmvanbrunt, @anselor, @tleonhardt, @kotfu

Command function formats defined and decorators.py updated with the defined signatures
  cmd2/cmd2.py
  cmd2/decorators.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu, @anselor

history, py_bridge, transcript now passs mypy
  cmd2/cmd2.py
  cmd2/history.py
  cmd2/py_bridge.py
  cmd2/transcript.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Shared implementation of write it StdSim
  cmd2/utils.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt

And that's the last of it. Passes mypy.
  cmd2/argparse_completer.py
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  cmd2/decorators.py
  cmd2/history.py
  cmd2/parsing.py
  cmd2/py_bridge.py
  cmd2/table_creator.py
  cmd2/transcript.py
  cmd2/utils.py
  plugins/ext_test/cmd2_ext_test/__init__.py
  tests/test_table_creator.py
Owners: @kmvanbrunt, @anselor, @tleonhardt, @kotfu

Add mypy validation action
  .github/workflows/mypy.yml
  cmd2/cmd2.py
  cmd2/table_creator.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Command function formats defined and decorators.py updated with the defined signatures
  cmd2/cmd2.py
  cmd2/decorators.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu, @anselor

And that's the last of it. Passes mypy.
  cmd2/argparse_completer.py
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  cmd2/decorators.py
  cmd2/history.py
  cmd2/parsing.py
  cmd2/py_bridge.py
  cmd2/table_creator.py
  cmd2/transcript.py
  cmd2/utils.py
  plugins/ext_test/cmd2_ext_test/__init__.py
  tests/test_table_creator.py
Owners: @kmvanbrunt, @anselor, @tleonhardt, @kotfu

history, py_bridge, transcript now passs mypy
  cmd2/cmd2.py
  cmd2/history.py
  cmd2/py_bridge.py
  cmd2/transcript.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

More mypy fixes
  cmd2/argparse_completer.py
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  cmd2/decorators.py
  cmd2/utils.py
Owners: @kmvanbrunt, @anselor, @tleonhardt, @kotfu

Add mypy validation action
  .github/workflows/mypy.yml
  cmd2/cmd2.py
  cmd2/table_creator.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Updated main code to use f-strings
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  cmd2/parsing.py
  tests/test_cmd2.py
Owners: @kmvanbrunt, @anselor, @tleonhardt, @kotfu

Updated main code to use f-strings
  cmd2/ansi.py
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  cmd2/decorators.py
  cmd2/parsing.py
  cmd2/table_creator.py
  cmd2/transcript.py
  cmd2/utils.py
  tests/test_cmd2.py
Owners: @kmvanbrunt, @tleonhardt, @anselor, @kotfu

Increased unit test coverage for pexcept()
  tests/test_cmd2.py
Owners: @tleonhardt

Increased unit test coverage for pexcept()
  tests/test_cmd2.py
Owners: @tleonhardt

Updated main code to use f-strings
  cmd2/ansi.py
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  cmd2/decorators.py
  cmd2/parsing.py
  cmd2/table_creator.py
  cmd2/transcript.py
  cmd2/utils.py
  tests/test_cmd2.py
Owners: @kmvanbrunt, @tleonhardt, @anselor, @kotfu

Fixed typo in docstring
  cmd2/utils.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt

Made the amount of space between columns in a SimpleTable configurable
  CHANGELOG.md
  cmd2/table_creator.py
  tests/test_table_creator.py
Owners: @tleonhardt, @kmvanbrunt

Style changes from running black on Python 3.9
  examples/alias_startup.py
  examples/arg_print.py
  examples/async_printing.py
  examples/cmd_as_argument.py
  examples/decorator_example.py
  examples/environment.py
  examples/example.py
  examples/exit_code.py
  examples/help_categories.py
  examples/migrating.py
  examples/paged_output.py
  examples/python_scripting.py
  examples/remove_builtin_commands.py
  tests/conftest.py
  tests/test_argparse.py
  tests/test_cmd2.py
  tests_isolated/test_commandset/conftest.py
  tests_isolated/test_commandset/test_argparse_subcommands.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu, @anselor

Renamed silent_startup_script to silence_startup_script for clarity
  CHANGELOG.md
  cmd2/cmd2.py
  docs/features/startup_commands.rst
  tests/test_cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Renamed silent_startup_script to silence_startup_script for clarity
  CHANGELOG.md
  cmd2/cmd2.py
  docs/features/startup_commands.rst
  tests/test_cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Added handling for OSError caused by trying to load a GNU readline shared library in Python environments like PyPy which have a pure Python implementation of readline.
  cmd2/rl_utils.py
Owners: @kmvanbrunt

Added handling for OSError caused by trying to load a GNU readline shared library in Python environments like PyPy which have a pure Python implementation of readline.
  cmd2/rl_utils.py
Owners: @kmvanbrunt

Changed default behavior of runcmds_plus_hooks() to not stop when Ctrl-C is pressed and instead run the next command in its list.
  CHANGELOG.md
  cmd2/cmd2.py
  tests/test_cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Removed cmd2.Cmd.quit_on_sigint.
  CHANGELOG.md
  cmd2/cmd2.py
  docs/features/initialization.rst
  docs/features/misc.rst
  tests/test_cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Changed default behavior of runcmds_plus_hooks() to not stop when Ctrl-C is pressed and instead run the next command in its list.
  CHANGELOG.md
  cmd2/cmd2.py
  tests/test_cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Removed cmd2.Cmd.quit_on_sigint.
  CHANGELOG.md
  cmd2/cmd2.py
  docs/features/initialization.rst
  docs/features/misc.rst
  tests/test_cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Make _run_editor() public
  cmd2/cmd2.py
  tests/test_history.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

do_eof() now just calls the quit function
  cmd2/cmd2.py
  tests/test_cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Fixed allow_redirection documentation
  docs/features/redirection.rst
Owners: @tleonhardt

do_eof() now just calls the quit function
  cmd2/cmd2.py
  tests/test_cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Fixed allow_redirection documentation
  docs/features/redirection.rst
Owners: @tleonhardt

Updated documentation. Added support for calling cmd2.Cmd.run_editor() with no argument.
  CHANGELOG.md
  cmd2/cmd2.py
  docs/features/redirection.rst
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Added notes to README about breaking changes in 2.0
  README.md
Owners: @tleonhardt

Added notes to README about breaking changes in 2.0
  README.md
Owners: @tleonhardt

Updated CHANGELOG for 2.0 release
  CHANGELOG.md
Owners: @tleonhardt

Added missing breaking change about history files
  CHANGELOG.md
Owners: @tleonhardt

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Owners of code are automatically nominated to review PRs involving that code.

# These owners will be the default owners for everything in the repo.
*       @tleonhardt

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
#*.js    @octocat @github/js

# You can also use email addresses if you prefer.
#docs/*  docs@example.com

# cmd2 code
cmd2/__init__.py           @tleonhardt @kotfu
cmd2/ansi.py               @kmvanbrunt @tleonhardt
cmd2/argparse_*.py         @kmvanbrunt @anselor
cmd2/clipboard.py          @tleonhardt
cmd2/cmd2.py               @tleonhardt @kmvanbrunt @kotfu
cmd2/command_definition.py @anselor
cmd2/constants.py          @kotfu
cmd2/decorators.py         @kotfu @kmvanbrunt @anselor
cmd2/exceptions.py         @kmvanbrunt @anselor
cmd2/history.py            @kotfu @tleonhardt
cmd2/parsing.py            @kotfu @kmvanbrunt
cmd2/plugin.py             @kotfu
cmd2/py_bridge.py          @kmvanbrunt
cmd2/rl_utils.py           @kmvanbrunt
cmd2/table_creator.py      @kmvanbrunt
cmd2/transcript.py         @kotfu
cmd2/utils.py              @tleonhardt @kotfu @kmvanbrunt

# Sphinx documentation
docs/*                  @tleonhardt @kotfu

# Examples
examples/async_printing.py  @kmvanbrunt
examples/environment.py     @kotfu
examples/tab_*.py           @kmvanbrunt
examples/modular_*.py       @anselor
examples/modular_commands/* @anselor

plugins/template/*          @kotfu
plugins/ext_test/*          @anselor

# Unit Tests
tests/pyscript/*              @kmvanbrunt
tests/transcripts/*           @kotfu
tests/__init__.py             @kotfu
tests/conftest.py             @kotfu @tleonhardt
tests/test_argparse.py        @kotfu
tests/test_argparse_*.py      @kmvanbrunt
tests/test_comp*.py           @kmvanbrunt
tests/test_pars*.py           @kotfu
tests/test_run_pyscript.py    @kmvanbrunt
tests/test_transcript.py      @kotfu

tests_isolated/test_commandset/*    @anselor

# Top-level project stuff
CONTRIBUTING.md         @tleonhardt @kotfu
setup.py                @tleonhardt @kotfu
tasks.py                @kotfu
