Repository python-cmd2/cmd2, changes with the owners that CODEOWNERS names for each.
All owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Owners of code are automatically nominated to review PRs involving that code.

# These owners will be the default owners for everything in the repo.
*       @tleonhardt

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
#*.js    @octocat @github/js

# You can also use email addresses if you prefer.
#docs/*  docs@example.com

# cmd2 code
cmd2/__init__.py           @tleonhardt @kotfu
cmd2/ansi.py               @kmvanbrunt @tleonhardt
cmd2/argparse_*.py         @kmvanbrunt @anselor
cmd2/clipboard.py          @tleonhardt
cmd2/cmd2.py               @tleonhardt @kmvanbrunt @kotfu
cmd2/command_definition.py @anselor
cmd2/constants.py          @kotfu
cmd2/decorators.py         @kotfu @kmvanbrunt @anselor
cmd2/exceptions.py         @kmvanbrunt @anselor
cmd2/history.py            @kotfu @tleonhardt
cmd2/parsing.py            @kotfu @kmvanbrunt
cmd2/plugin.py             @kotfu
cmd2/py_bridge.py          @kmvanbrunt
cmd2/rl_utils.py           @kmvanbrunt
cmd2/table_creator.py      @kmvanbrunt
cmd2/transcript.py         @kotfu
cmd2/utils.py              @tleonhardt @kotfu @kmvanbrunt

# Sphinx documentation
docs/*                  @tleonhardt @kotfu

# Examples
examples/async_printing.py  @kmvanbrunt
examples/environment.py     @kotfu
examples/tab_*.py           @kmvanbrunt
examples/modular_*.py       @anselor
examples/modular_commands/* @anselor

plugins/template/*          @kotfu
plugins/ext_test/*          @anselor

# Unit Tests
tests/pyscript/*              @kmvanbrunt
tests/transcripts/*           @kotfu
tests/__init__.py             @kotfu
tests/conftest.py             @kotfu @tleonhardt
tests/test_argparse.py        @kotfu
tests/test_argparse_*.py      @kmvanbrunt
tests/test_comp*.py           @kmvanbrunt
tests/test_pars*.py           @kotfu
tests/test_run_pyscript.py    @kmvanbrunt
tests/test_transcript.py      @kotfu

tests_isolated/test_commandset/*    @anselor

# Top-level project stuff
CONTRIBUTING.md         @tleonhardt @kotfu
setup.py                @tleonhardt @kotfu
tasks.py                @kotfu

Removed stuff from top of argparse_completer that was preventing ruff flake8 stuff from running in that file and fixed issues
  cmd2/argparse_completer.py
Owners: @kmvanbrunt, @anselor

Bunch of random clenaups and fixes
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  cmd2/constants.py
  cmd2/parsing.py
  cmd2/plugin.py
  cmd2/transcript.py
  examples/modular_commands/commandset_complex.py
  examples/override_parser.py
  examples/scripts/conditional.py
  examples/scripts/save_help_text.py
  plugins/tasks.py
  pyproject.toml
  tasks.py
  tests/pyscript/echo.py
  tests/pyscript/environment.py
  tests/pyscript/help.py
  tests/pyscript/py_locals.py
  tests/pyscript/pyscript_dir.py
  tests/pyscript/recursive.py
  tests/pyscript/self_in_py.py
  tests/pyscript/stdout_capture.py
  tests/pyscript/stop.py
  tests/test_ansi.py
  tests/test_argparse.py
  tests/test_argparse_completer.py
  tests/test_argparse_custom.py
  tests/test_cmd2.py
  tests/test_completion.py
  tests/test_history.py
  tests/test_parsing.py
  tests/test_plugin.py
  tests/test_run_pyscript.py
  tests/test_table_creator.py
  tests/test_transcript.py
  tests/test_utils.py
  tests/test_utils_defining_class.py
  tests_isolated/test_commandset/test_argparse_subcommands.py
  tests_isolated/test_commandset/test_commandset.py
Owners: @kmvanbrunt, @anselor, @tleonhardt, @kotfu

Applied a few more fixes
  tests/test_history.py
  tests/test_table_creator.py
  tests/test_utils.py
  tests_isolated/test_commandset/test_commandset.py
Owners: @tleonhardt, @anselor

Enabled ruff PGH ruleset for pygrep-hooks
  plugins/ext_test/tasks.py
  pyproject.toml
  tests/test_utils_defining_class.py
Owners: @kotfu, @tleonhardt

Fix bug in tasks.py do to renaming a built-in to prevent shadowing
  tasks.py
Owners: @kotfu

Removed unnecessary use of pass
  cmd2/ansi.py
  cmd2/cmd2.py
  cmd2/command_definition.py
  cmd2/exceptions.py
  examples/alias_startup.py
  examples/async_printing.py
  examples/default_categories.py
  plugins/tasks.py
  plugins/template/tasks.py
  pyproject.toml
  tasks.py
  tests/test_argparse_completer.py
  tests/test_cmd2.py
  tests/test_completion.py
  tests/test_plugin.py
  tests/test_transcript.py
  tests_isolated/test_commandset/test_commandset.py
Owners: @kmvanbrunt, @tleonhardt, @kotfu, @anselor

Enable ruff PIE ruleset and fix related issues
  cmd2/ansi.py
  cmd2/exceptions.py
  examples/default_categories.py
  plugins/ext_test/tasks.py
  tests/test_argparse.py
  tests/test_argparse_completer.py
  tests_isolated/test_commandset/test_argparse_subcommands.py
Owners: @kmvanbrunt, @tleonhardt, @anselor, @kotfu

Enabled ruff PLW ruleset for PyLint warnings
  cmd2/argparse_completer.py
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  cmd2/decorators.py
  cmd2/parsing.py
  cmd2/table_creator.py
  cmd2/utils.py
  examples/async_printing.py
  pyproject.toml
Owners: @kmvanbrunt, @anselor, @tleonhardt, @kotfu

Disable framework-specific ruff rulesets for Airflow, Django, FastAPI, Numpy, and Pandas
  pyproject.toml
Owners: @tleonhardt

Applied automated fixes from ruff PT pytest ruleset
  cmd2/transcript.py
  pyproject.toml
  tests/test_ansi.py
  tests/test_argparse_completer.py
  tests/test_argparse_custom.py
  tests/test_cmd2.py
  tests/test_completion.py
  tests/test_parsing.py
  tests/test_run_pyscript.py
  tests/test_transcript.py
Owners: @kotfu, @tleonhardt, @kmvanbrunt

isort fixes
  plugins/ext_test/examples/example.py
  plugins/ext_test/tests/test_ext_test.py
Owners: @tleonhardt

Fixed a bunch of unit test best practices warnings from ruff PT ruleset
  plugins/ext_test/examples/example.py
  plugins/ext_test/tests/test_ext_test.py
  tests/conftest.py
  tests/test_ansi.py
  tests/test_argparse_custom.py
  tests/test_cmd2.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt

Enabled ruff PT ruleset for pytest best practices
  plugins/ext_test/cmd2_ext_test/cmd2_ext_test.py
  pyproject.toml
  tests/test_cmd2.py
  tests/test_history.py
  tests/test_plugin.py
  tests/test_table_creator.py
  tests/test_utils.py
  tests_isolated/test_commandset/conftest.py
  tests_isolated/test_commandset/test_commandset.py
Owners: @tleonhardt, @anselor

Try to fix failing test on Windows
  tests/test_cmd2.py
Owners: @tleonhardt

Try to fix path on Windows so test passes
  tests/test_cmd2.py
Owners: @tleonhardt

Allow two different types of exceptions for one test since windows test runners have a different one
  tests/test_cmd2.py
Owners: @tleonhardt

Split test with if for windows vs other
  tests/test_cmd2.py
Owners: @tleonhardt

Split problematic test into two separate tests and skip one on Windows
  tests/test_cmd2.py
Owners: @tleonhardt

Recombine test and skip both parts on Windows
  tests/test_cmd2.py
Owners: @tleonhardt

Cleaned up remaining import of Dict and List from Typing
  cmd2/__init__.py
  cmd2/ansi.py
  cmd2/exceptions.py
  cmd2/plugin.py
  cmd2/rl_utils.py
  examples/modular_commands/commandset_complex.py
  examples/modular_commands_main.py
  examples/scripts/save_help_text.py
  examples/table_creation.py
  plugins/template/cmd2_myplugin/myplugin.py
  tests/test_argparse.py
  tests/test_argparse_completer.py
  tests/test_utils.py
  tests_isolated/test_commandset/test_categories.py
  tests_isolated/test_commandset/test_commandset.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

Enable ruff Q ruleset for quote checking, though many rules are ignored to prevent conflict with ruff formatter
  cmd2/cmd2.py
  pyproject.toml
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Enabled ruff SLOT ruleset
  cmd2/argparse_custom.py
  cmd2/parsing.py
  pyproject.toml
Owners: @kmvanbrunt, @anselor, @kotfu, @tleonhardt

Do a bunch of automated refactoring using ruff UP ruleset to do things like replace .format() with f-strings
  cmd2/argparse_completer.py
  examples/modular_commands/commandset_complex.py
  examples/scripts/conditional.py
  examples/scripts/save_help_text.py
  tasks.py
  tests/pyscript/environment.py
  tests/test_argparse.py
  tests/test_argparse_completer.py
  tests/test_cmd2.py
  tests/test_completion.py
  tests/test_history.py
  tests/test_parsing.py
  tests/test_run_pyscript.py
  tests/test_transcript.py
  tests/test_utils_defining_class.py
  tests_isolated/test_commandset/test_commandset.py
Owners: @kmvanbrunt, @anselor, @tleonhardt, @kotfu

Automated refactoring to replace ancient print % formatting with f-strings amd the like
  cmd2/history.py
  examples/cmd_as_argument.py
  examples/colors.py
  examples/decorator_example.py
  examples/default_categories.py
  examples/example.py
  examples/first_app.py
  examples/modular_commands_basic.py
  examples/subcommands.py
  tests/test_argparse.py
  tests/test_argparse_completer.py
  tests/test_cmd2.py
  tests/test_completion.py
  tests/test_transcript.py
  tests/test_utils_defining_class.py
  tests_isolated/test_commandset/conftest.py
  tests_isolated/test_commandset/test_argparse_subcommands.py
  tests_isolated/test_commandset/test_categories.py
  tests_isolated/test_commandset/test_commandset.py
Owners: @kotfu, @tleonhardt, @anselor, @kmvanbrunt

Enable ruff UP ruleset for pyupgrade
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  plugins/ext_test/cmd2_ext_test/__init__.py
  plugins/ext_test/cmd2_ext_test/cmd2_ext_test.py
  plugins/ext_test/examples/example.py
  plugins/ext_test/setup.py
  plugins/ext_test/tasks.py
  plugins/ext_test/tests/test_ext_test.py
  pyproject.toml
Owners: @kmvanbrunt, @anselor, @tleonhardt, @kotfu

Replace typing.Never with typing.NoReturn since Never wasn't introduced until Python 3.11
  tests/test_cmd2.py
  tests/test_completion.py
  tests/test_plugin.py
  tests/test_transcript.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Automatically remove whitespace at top of files
  plugins/template/cmd2_myplugin/__init__.py
  plugins/template/cmd2_myplugin/myplugin.py
  plugins/template/examples/example.py
  plugins/template/setup.py
  plugins/template/tasks.py
  plugins/template/tests/test_myplugin.py
  tests/__init__.py
  tests_isolated/test_commandset/__init__.py
Owners: @tleonhardt, @kotfu, @anselor

Refactor a conditional for readability
  cmd2/argparse_completer.py
Owners: @kmvanbrunt, @anselor

Move a comment back to where it belongs
  cmd2/__init__.py
Owners: @tleonhardt, @kotfu

Removed some else cases that were not needed due to a return in the if case
  cmd2/argparse_completer.py
  tests/test_completion.py
Owners: @kmvanbrunt, @anselor

Enable ruff RET ruleset
  cmd2/clipboard.py
  cmd2/parsing.py
  cmd2/py_bridge.py
  plugins/template/tests/test_myplugin.py
  pyproject.toml
  tests/test_argparse.py
  tests/test_argparse_completer.py
  tests/test_cmd2.py
  tests/test_completion.py
  tests/test_history.py
  tests/test_parsing.py
  tests/test_utils.py
  tests_isolated/test_commandset/conftest.py
  tests_isolated/test_commandset/test_argparse_subcommands.py
  tests_isolated/test_commandset/test_commandset.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

Applied some list performance optimizations from ruff RUF ruleset
  cmd2/argparse_custom.py
  cmd2/cmd2.py
Owners: @kmvanbrunt, @anselor, @tleonhardt, @kotfu

Also ignore pydocstyle in examples and plugins directories
  pyproject.toml
Owners: @tleonhardt

Disable missing type annotation warnings in test directories
  pyproject.toml
Owners: @tleonhardt

Apply a couple automated ruff SIM refactorings
  tests/test_argparse_custom.py
  tests_isolated/test_commandset/test_commandset.py
Owners: @kmvanbrunt, @anselor

Apply some more ruff SIM automated simplifications
  cmd2/argparse_completer.py
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  cmd2/command_definition.py
  cmd2/history.py
  cmd2/parsing.py
  cmd2/py_bridge.py
  cmd2/rl_utils.py
  cmd2/utils.py
  examples/read_input.py
  examples/scripts/save_help_text.py
  plugins/template/tasks.py
  tasks.py
  tests/conftest.py
  tests/test_argparse.py
  tests/test_argparse_completer.py
  tests/test_history.py
  tests_isolated/test_commandset/conftest.py
  tests_isolated/test_commandset/test_commandset.py
Owners: @kmvanbrunt, @anselor, @tleonhardt, @kotfu

Ignore warning about private/protected member access in test directories
  pyproject.toml
Owners: @tleonhardt

Apply a few tryceratops automated refactorings
  cmd2/cmd2.py
  pyproject.toml
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Enable ruff BLE ruleset
  cmd2/cmd2.py
  examples/python_scripting.py
  pyproject.toml
  tests/test_cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Enabled ruff ERA ruleset for eradicating commented-out code
  cmd2/rl_utils.py
  examples/cmd_as_argument.py
  examples/decorator_example.py
  examples/example.py
  examples/hooks.py
  examples/migrating.py
  plugins/ext_test/cmd2_ext_test/cmd2_ext_test.py
  plugins/ext_test/setup.py
  plugins/template/setup.py
  plugins/template/tasks.py
  pyproject.toml
  tests/test_argparse_custom.py
  tests/test_transcript.py
Owners: @kmvanbrunt, @tleonhardt, @kotfu
