Repository python-cmd2/cmd2, changes with the owners that CODEOWNERS names for each.
All owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Owners of code are automatically nominated to review PRs involving that code.

# These owners will be the default owners for everything in the repo.
*       @tleonhardt

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
#*.js    @octocat @github/js

# You can also use email addresses if you prefer.
#docs/*  docs@example.com

# cmd2 code
cmd2/__init__.py           @tleonhardt @kotfu
cmd2/ansi.py               @kmvanbrunt @tleonhardt
cmd2/argparse_*.py         @kmvanbrunt @anselor
cmd2/clipboard.py          @tleonhardt
cmd2/cmd2.py               @tleonhardt @kmvanbrunt @kotfu
cmd2/command_definition.py @anselor
cmd2/constants.py          @kotfu
cmd2/decorators.py         @kotfu @kmvanbrunt @anselor
cmd2/exceptions.py         @kmvanbrunt @anselor
cmd2/history.py            @kotfu @tleonhardt
cmd2/parsing.py            @kotfu @kmvanbrunt
cmd2/plugin.py             @kotfu
cmd2/py_bridge.py          @kmvanbrunt
cmd2/rl_utils.py           @kmvanbrunt
cmd2/table_creator.py      @kmvanbrunt
cmd2/transcript.py         @kotfu
cmd2/utils.py              @tleonhardt @kotfu @kmvanbrunt

# Sphinx documentation
docs/*                  @tleonhardt @kotfu

# Examples
examples/async_printing.py  @kmvanbrunt
examples/environment.py     @kotfu
examples/tab_*.py           @kmvanbrunt
examples/modular_*.py       @anselor
examples/modular_commands/* @anselor

plugins/template/*          @kotfu
plugins/ext_test/*          @anselor

# Unit Tests
tests/pyscript/*              @kmvanbrunt
tests/transcripts/*           @kotfu
tests/__init__.py             @kotfu
tests/conftest.py             @kotfu @tleonhardt
tests/test_argparse.py        @kotfu
tests/test_argparse_*.py      @kmvanbrunt
tests/test_comp*.py           @kmvanbrunt
tests/test_pars*.py           @kotfu
tests/test_run_pyscript.py    @kmvanbrunt
tests/test_transcript.py      @kotfu

tests_isolated/test_commandset/*    @anselor

# Top-level project stuff
CONTRIBUTING.md         @tleonhardt @kotfu
setup.py                @tleonhardt @kotfu
tasks.py                @kotfu

Use set --verbose instead of -v in docs
  docs/features/settings.rst
Owners: @tleonhardt

Replace with_argparser_and_unknown_args in docs
  README.md
  cmd2/parsing.py
  docs/features/argument_processing.rst
Owners: @tleonhardt, @kotfu, @kmvanbrunt

Fixed tab completion crash on Windows
  CHANGELOG.md
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

specifying is not none on coditions
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Update CHANGELOG prior to a release
  CHANGELOG.md
Owners: @tleonhardt

Fixed bug where setting always_show_hint=True did not show a hint when completing Settables
  CHANGELOG.md
  cmd2/argparse_completer.py
  tests/test_completion.py
Owners: @tleonhardt, @kmvanbrunt, @anselor

feat(utils): probe editors in system path
  cmd2/utils.py
  tests/test_cmd2.py
  tests/test_utils.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt

Update CHANGELOG with info on recent bug fix PR
  CHANGELOG.md
Owners: @tleonhardt

Updated utils.find_editor() to include more Windows editors
  cmd2/utils.py
  tests/test_utils.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt

Update editor list for Linux/Mac - add joe and change order of various graphical editors
  cmd2/utils.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt

Fix unit test that was failing when EDITOR environment variable was set
  tests/test_utils.py
Owners: @tleonhardt

Fix wrong superclass in doc
  docs/features/shortcuts_aliases_macros.rst
Owners: @tleonhardt

Skip a test which is failing on Python 3.8 and 3.9 for now to fix a unit test
  tests/test_cmd2.py
Owners: @tleonhardt

Skip a test which is failing on Python 3.8 and 3.9 for now to fix a unit test
  tests/test_cmd2.py
Owners: @tleonhardt

Increase the minimum versions for setuptools. Some documentation seems to indicate these are the versions that resolve scm_version issues
  plugins/ext_test/setup.py
Owners: @tleonhardt, @kotfu

Removed relative_to
  plugins/ext_test/setup.py
Owners: @tleonhardt, @kotfu

Increase the minimum versions for setuptools. Some documentation seems to indicate these are the versions that resolve scm_version issues
  plugins/ext_test/setup.py
Owners: @tleonhardt, @kotfu

Removed relative_to
  plugins/ext_test/setup.py
Owners: @tleonhardt, @kotfu

Added py.typed to signal that we support type annotations for PEP-561. Fixes #1036
  cmd2/py.typed
  plugins/ext_test/cmd2_ext_test/py.typed
  plugins/ext_test/setup.py
  setup.py
Owners: @tleonhardt, @kotfu

Removed --silent flag from alias/macro create since startup scripts can be run silently. Removed --with_silent flag from alias/macro list since startup scripts can be run silently.
  CHANGELOG.md
  cmd2/cmd2.py
  tests/test_cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Removed with_argparser_and_unknown_args since it was deprecated in 1.3.0.
  CHANGELOG.md
  cmd2/__init__.py
  cmd2/decorators.py
  tests/test_argparse.py
  tests/test_completion.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

Added option to run startup scripts silently
  CHANGELOG.md
  cmd2/cmd2.py
  tests/test_cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Added py.typed to signal that we support type annotations for PEP-561. Fixes #1036
  cmd2/py.typed
  plugins/ext_test/cmd2_ext_test/py.typed
  plugins/ext_test/setup.py
  setup.py
Owners: @tleonhardt, @kotfu

Fix flake8 error and make type hinting consistent
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Update conditional pyreadline3 dependency for Win
  Pipfile
  cmd2/rl_utils.py
  docs/overview/integrating.rst
  setup.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Fix doc in docs/features/commands.rst
  docs/features/commands.rst
Owners: @tleonhardt

docs/features/modular_commands: fix broken link
  docs/features/modular_commands.rst
Owners: @tleonhardt

Fixed width calculation when table column headers had tabs
  CHANGELOG.md
  cmd2/table_creator.py
  tests/test_table_creator.py
Owners: @tleonhardt, @kmvanbrunt

Fixed FileNotFoundError which occurred when running 'history --clear' and no history file existed.
  CHANGELOG.md
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Added more validation to TableCreator
  cmd2/table_creator.py
  tests/test_table_creator.py
Owners: @kmvanbrunt, @tleonhardt

Printing error when OSError other than FileNotFoundError occurs when deleting persistent history file with history --clear command.
  cmd2/cmd2.py
  tests/test_history.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Updated documentation
  CHANGELOG.md
  docs/features/startup_commands.rst
Owners: @tleonhardt

Move generitc GitHub files to .github directory
  .github/CODEOWNERS
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .github/workflows/ci.yml
  .travis.yml
Owners: @tleonhardt, @kotfu

Fixed syntax error in `pip install` command for GitHub Actions
  .github/workflows/ci.yml
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

For GitHub Actions CI, remove Python 3.5 since it is past EOL
  .github/workflows/ci.yml
Owners: @tleonhardt

Trying something
  .github/workflows/ci.yml
Owners: @tleonhardt

Trying to add a pyproject.toml to see if it can help with GitHub actions not being able to determine version via setuptools_scm
  pyproject.toml
Owners: @tleonhardt

Attempting to set fetch_depth to fix setuptools_scm version
  .github/workflows/ci.yml
Owners: @tleonhardt

LOL FML - put the right code in the wrong place last time
  .github/workflows/ci.yml
Owners: @tleonhardt

Try to fix `pip install` failing on Windows within GitHub Actions
  .github/workflows/ci.yml
Owners: @tleonhardt
