Repository python-cmd2/cmd2, changes with the owners that CODEOWNERS names for each.
All owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Owners of code are automatically nominated to review PRs involving that code.

# These owners will be the default owners for everything in the repo.
*       @tleonhardt

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
#*.js    @octocat @github/js

# You can also use email addresses if you prefer.
#docs/*  docs@example.com

# cmd2 code
cmd2/__init__.py           @tleonhardt @kotfu
cmd2/ansi.py               @kmvanbrunt @tleonhardt
cmd2/argparse_*.py         @kmvanbrunt @anselor
cmd2/clipboard.py          @tleonhardt
cmd2/cmd2.py               @tleonhardt @kmvanbrunt @kotfu
cmd2/command_definition.py @anselor
cmd2/constants.py          @kotfu
cmd2/decorators.py         @kotfu @kmvanbrunt @anselor
cmd2/exceptions.py         @kmvanbrunt @anselor
cmd2/history.py            @kotfu @tleonhardt
cmd2/parsing.py            @kotfu @kmvanbrunt
cmd2/plugin.py             @kotfu
cmd2/py_bridge.py          @kmvanbrunt
cmd2/rl_utils.py           @kmvanbrunt
cmd2/table_creator.py      @kmvanbrunt
cmd2/transcript.py         @kotfu
cmd2/utils.py              @tleonhardt @kotfu @kmvanbrunt

# Sphinx documentation
docs/*                  @tleonhardt @kotfu

# Examples
examples/async_printing.py  @kmvanbrunt
examples/environment.py     @kotfu
examples/tab_*.py           @kmvanbrunt
examples/modular_*.py       @anselor
examples/modular_commands/* @anselor

plugins/template/*          @kotfu
plugins/ext_test/*          @anselor

# Unit Tests
tests/pyscript/*              @kmvanbrunt
tests/transcripts/*           @kotfu
tests/__init__.py             @kotfu
tests/conftest.py             @kotfu @tleonhardt
tests/test_argparse.py        @kotfu
tests/test_argparse_*.py      @kmvanbrunt
tests/test_comp*.py           @kmvanbrunt
tests/test_pars*.py           @kotfu
tests/test_run_pyscript.py    @kmvanbrunt
tests/test_transcript.py      @kotfu

tests_isolated/test_commandset/*    @anselor

# Top-level project stuff
CONTRIBUTING.md         @tleonhardt @kotfu
setup.py                @tleonhardt @kotfu
tasks.py                @kotfu

Enabled styled text for completion display and display_meta values.
  cmd2/cmd2.py
  cmd2/pt_utils.py
  tests/test_cmd2.py
  tests/test_pt_utils.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Added tests.
  tests/test_completion.py
Owners: @kmvanbrunt

Enabled styled text for completion display and display_meta values. (#1577)
  cmd2/argparse_completer.py
  cmd2/cmd2.py
  cmd2/completion.py
  cmd2/pt_utils.py
  tests/scripts/postcmds.txt
  tests/scripts/precmds.txt
  tests/test_cmd2.py
  tests/test_completion.py
  tests/test_pt_utils.py
Owners: @kmvanbrunt, @anselor, @tleonhardt, @kotfu

Changed Statement.multiline_command field from a string to a bool.
  CHANGELOG.md
  cmd2/cmd2.py
  cmd2/parsing.py
  tests/test_cmd2.py
  tests/test_history.py
  tests/test_parsing.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Optimized Statement class.
  cmd2/cmd2.py
  cmd2/constants.py
  cmd2/history.py
  cmd2/parsing.py
  tests/test_history.py
  tests/test_parsing.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Simplified recreation of resolved-macro Statement.
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Updated change log.
  CHANGELOG.md
Owners: @tleonhardt

Updated change log.
  CHANGELOG.md
Owners: @tleonhardt

Statement and StatementParser updates (#1579)
  CHANGELOG.md
  cmd2/cmd2.py
  cmd2/constants.py
  cmd2/history.py
  cmd2/parsing.py
  tests/test_cmd2.py
  tests/test_history.py
  tests/test_parsing.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Removed use of OrderedDict.
  cmd2/cmd2.py
  cmd2/history.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Renamed Macro.arg_list to Macro.args and changed it to a tuple.
  CHANGELOG.md
  cmd2/cmd2.py
  cmd2/parsing.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

More refactoring (#1580)
  CHANGELOG.md
  cmd2/cmd2.py
  cmd2/history.py
  cmd2/parsing.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Removed terminal_utils.py. Added documentation for completion.py.
  .github/CODEOWNERS
  CHANGELOG.md
  cmd2/completion.py
  docs/api/completion.md
  docs/api/index.md
  docs/api/terminal_utils.md
  docs/features/generating_output.md
  docs/upgrades.md
  mkdocs.yml
  tests/test_terminal_utils.py
Owners: @tleonhardt, @kotfu

Update version of ruff to 0.15.2
  .pre-commit-config.yaml
Owners: @tleonhardt

Restored upgrade documentation.
  docs/upgrades.md
Owners: @tleonhardt, @kotfu

Deleted terminal_utils.py.
  cmd2/terminal_utils.py
Owners: @tleonhardt

Fix async_alert to respect allow_style setting
  cmd2/cmd2.py
  tests/test_async_alert.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Update CHANGELOG
  CHANGELOG.md
Owners: @tleonhardt

Fix async_alert to respect allow_style setting for 3.x branch (#1582)
  CHANGELOG.md
  cmd2/cmd2.py
  tests/test_async_alert.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Update date in changelog in preparation for 3.2.1 release
  CHANGELOG.md
Owners: @tleonhardt

Update CHANGELOG with info from 3.2.1 release
  CHANGELOG.md
Owners: @tleonhardt

Make note in CHANGELOG more accurate
  CHANGELOG.md
Owners: @tleonhardt

Minor tweak to working in CHANGELOG for 4.0 to ensure accuracy
  CHANGELOG.md
Owners: @tleonhardt

Updated rich_utils.ANSI_STYLE_SEQUENCE_RE to only match ANSI SGR (Select Graphic Rendition) sequences for text styling.
  CHANGELOG.md
  cmd2/rich_utils.py
  cmd2/string_utils.py
  tests/test_string_utils.py
Owners: @tleonhardt

Updated change log.
  CHANGELOG.md
  tests/test_string_utils.py
Owners: @tleonhardt

Updated rich_utils.ANSI_STYLE_SEQUENCE_RE to only match ANSI SGR (Select Graphic Rendition) sequences for text styling.
  CHANGELOG.md
  cmd2/rich_utils.py
  cmd2/string_utils.py
  tests/test_string_utils.py
Owners: @tleonhardt

Updated change log.
  CHANGELOG.md
  tests/test_string_utils.py
Owners: @tleonhardt

Use more generic types where possible for input parameters
  cmd2/argparse_completer.py
  cmd2/cmd2.py
  cmd2/decorators.py
  cmd2/parsing.py
  cmd2/utils.py
Owners: @kmvanbrunt, @anselor, @tleonhardt, @kotfu

Made the ArgTokens type alias consistent with the cmd2.Cmd methods using it
  cmd2/completion.py
Owners: @tleonhardt

Modernize build requirements
  pyproject.toml
Owners: @tleonhardt

Use more generic types where possible for input parameters (#1584)
  cmd2/argparse_completer.py
  cmd2/cmd2.py
  cmd2/completion.py
  cmd2/decorators.py
  cmd2/parsing.py
  cmd2/utils.py
  pyproject.toml
Owners: @kmvanbrunt, @anselor, @tleonhardt, @kotfu

Moved logic specific to the main command line from Cmd.read_input() to Cmd._read_command_line().
  cmd2/__init__.py
  cmd2/cmd2.py
  cmd2/constants.py
  cmd2/pt_utils.py
  cmd2/utils.py
  examples/read_input.py
  tests/test_cmd2.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt

Try setting shell to cmd.exe on Windows but bash on Linux or Mac for GitHub Actions
  .github/workflows/tests.yml
Owners: @tleonhardt

Try to fix GitHub Actions
  .github/workflows/tests.yml
Owners: @tleonhardt

Try running windows tests using winpty
  .github/workflows/tests.yml
Owners: @tleonhardt

Try to fix running windows tests using winpty
  .github/workflows/tests.yml
Owners: @tleonhardt

Try using powershell on Windows tests
  .github/workflows/tests.yml
Owners: @tleonhardt

Try setting windows test shell to cmd
  .github/workflows/tests.yml
Owners: @tleonhardt

Moved call to patch_stdout() right before creating the prompt.
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Put tests.yml back to the way it was originally
  .github/workflows/tests.yml
Owners: @tleonhardt
