Repository python-cmd2/cmd2, changes with the owners that CODEOWNERS names for each.
All owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Owners of code are automatically nominated to review PRs involving that code.

# These owners will be the default owners for everything in the repo.
*       @tleonhardt

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
#*.js    @octocat @github/js

# You can also use email addresses if you prefer.
#docs/*  docs@example.com

# cmd2 code
cmd2/__init__.py           @tleonhardt @kotfu
cmd2/ansi.py               @kmvanbrunt @tleonhardt
cmd2/argparse_*.py         @kmvanbrunt @anselor
cmd2/clipboard.py          @tleonhardt
cmd2/cmd2.py               @tleonhardt @kmvanbrunt @kotfu
cmd2/command_definition.py @anselor
cmd2/constants.py          @kotfu
cmd2/decorators.py         @kotfu @kmvanbrunt @anselor
cmd2/exceptions.py         @kmvanbrunt @anselor
cmd2/history.py            @kotfu @tleonhardt
cmd2/parsing.py            @kotfu @kmvanbrunt
cmd2/plugin.py             @kotfu
cmd2/py_bridge.py          @kmvanbrunt
cmd2/rl_utils.py           @kmvanbrunt
cmd2/table_creator.py      @kmvanbrunt
cmd2/transcript.py         @kotfu
cmd2/utils.py              @tleonhardt @kotfu @kmvanbrunt

# Sphinx documentation
docs/*                  @tleonhardt @kotfu

# Examples
examples/async_printing.py  @kmvanbrunt
examples/environment.py     @kotfu
examples/tab_*.py           @kmvanbrunt
examples/modular_*.py       @anselor
examples/modular_commands/* @anselor

plugins/template/*          @kotfu
plugins/ext_test/*          @anselor

# Unit Tests
tests/pyscript/*              @kmvanbrunt
tests/transcripts/*           @kotfu
tests/__init__.py             @kotfu
tests/conftest.py             @kotfu @tleonhardt
tests/test_argparse.py        @kotfu
tests/test_argparse_*.py      @kmvanbrunt
tests/test_comp*.py           @kmvanbrunt
tests/test_pars*.py           @kotfu
tests/test_run_pyscript.py    @kmvanbrunt
tests/test_transcript.py      @kotfu

tests_isolated/test_commandset/*    @anselor

# Top-level project stuff
CONTRIBUTING.md         @tleonhardt @kotfu
setup.py                @tleonhardt @kotfu
tasks.py                @kotfu

Require devs to use Cmd2ArgumentParser-based parsers.
  CHANGELOG.md
  cmd2/argparse_completer.py
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  cmd2/decorators.py
  cmd2/utils.py
  docs/features/argument_processing.md
  docs/features/completion.md
  docs/migrating/next_steps.md
  tests/conftest.py
Owners: @tleonhardt, @kmvanbrunt, @anselor, @kotfu

Moved _get_nargs_pattern and _match_argument overrides into Cmd2ArgumentParser.
  cmd2/argparse_custom.py
Owners: @kmvanbrunt, @anselor

Moved _check_value() override to Cmd2ArgumentParser.
  CHANGELOG.md
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  tests/test_argparse_completer.py
Owners: @tleonhardt, @kmvanbrunt, @anselor, @kotfu

Renamed two patch functions.
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  cmd2/rich_utils.py
  tests/test_rich_utils.py
Owners: @kmvanbrunt, @anselor, @tleonhardt, @kotfu

Fix two errors, one logical and one type
  cmd2/argparse_completer.py
  cmd2/utils.py
Owners: @kmvanbrunt, @anselor, @tleonhardt, @kotfu

Simplified creation of cmd2-specific argparse.Action attributes.
  cmd2/argparse_completer.py
  cmd2/argparse_custom.py
  tests/test_argparse_completer.py
  tests/test_argparse_custom.py
  tests/test_cmd2.py
Owners: @kmvanbrunt, @anselor, @tleonhardt

Renamed patch function again.
  cmd2/argparse_custom.py
Owners: @kmvanbrunt, @anselor

Simplified some error checks.
  cmd2/argparse_custom.py
  tests/test_argparse_custom.py
Owners: @kmvanbrunt, @anselor

Made common prefix for all custom cmd2 attributes.
  cmd2/argparse_custom.py
  cmd2/constants.py
Owners: @kmvanbrunt, @anselor, @kotfu

Fixing linting error.
  tests/test_argparse_custom.py
Owners: @kmvanbrunt

Added test coverage.
  cmd2/argparse_custom.py
  tests/test_argparse_custom.py
Owners: @kmvanbrunt, @anselor

Sanitize whitespace characters in CompletionItem display fields to ensure correct rendering in the completion menu.
  cmd2/completion.py
  tests/test_completion.py
Owners: @tleonhardt, @kmvanbrunt

Correcting grammar.
  CHANGELOG.md
  cmd2/decorators.py
  docs/migrating/next_steps.md
Owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

Improved error handling in register_argparse_argument_parameter().
  cmd2/argparse_custom.py
  tests/test_argparse_custom.py
Owners: @kmvanbrunt, @anselor

Checking for Cmd2ArgumentParser instance in _build_parser().
  cmd2/cmd2.py
  tests/test_argparse.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Refactor argparse custom (#1621)
  CHANGELOG.md
  cmd2/argparse_completer.py
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  cmd2/constants.py
  cmd2/decorators.py
  cmd2/rich_utils.py
  cmd2/utils.py
  docs/features/argument_processing.md
  docs/features/completion.md
  docs/migrating/next_steps.md
  tests/conftest.py
  tests/test_argparse.py
  tests/test_argparse_completer.py
  tests/test_argparse_custom.py
  tests/test_cmd2.py
  tests/test_rich_utils.py
Owners: @tleonhardt, @kmvanbrunt, @anselor, @kotfu

Compiling regular expression at the class level.
  cmd2/completion.py
Owners: @tleonhardt

Made sanitize_display_string a module-level utility function.
  cmd2/completion.py
Owners: @tleonhardt

Simplified code with encapsulation.
  cmd2/argparse_completer.py
  cmd2/completion.py
  tests/test_completion.py
Owners: @kmvanbrunt, @anselor, @tleonhardt

Updated test function.
  tests/test_completion.py
Owners: @kmvanbrunt

Fix rendering of control whitespace in completion items (#1622)
  cmd2/argparse_completer.py
  cmd2/completion.py
  tests/test_completion.py
Owners: @kmvanbrunt, @anselor, @tleonhardt

feat: add annotated argparse building
  cmd2/__init__.py
  cmd2/annotated.py
  cmd2/argparse_completer.py
  cmd2/decorators.py
  docs/features/argument_processing.md
  examples/annotated_example.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

chore: add test
  tests/test_annotated.py
Owners: @tleonhardt

chore: more update
  cmd2/annotated.py
  cmd2/argparse_completer.py
  cmd2/decorators.py
  docs/features/argument_processing.md
  tests/test_annotated.py
Owners: @tleonhardt, @kmvanbrunt, @anselor, @kotfu

chore: better example
  examples/annotated_example.py
Owners: @tleonhardt

chore: recover
  cmd2/annotated.py
  cmd2/argparse_completer.py
  cmd2/decorators.py
  tests/test_annotated.py
Owners: @tleonhardt, @kmvanbrunt, @anselor, @kotfu

chore: more clean up
  cmd2/argparse_completer.py
  docs/features/argument_processing.md
  examples/annotated_example.py
  tests/test_annotated.py
  tests/test_argparse_completer.py
Owners: @kmvanbrunt, @anselor, @tleonhardt

chore: more recovery
  cmd2/annotated.py
  cmd2/decorators.py
  tests/test_annotated.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

chore: fix rebase error
  cmd2/argparse_completer.py
  tests/test_annotated.py
  tests/test_argparse_completer.py
Owners: @kmvanbrunt, @anselor, @tleonhardt

Added attach_subcommand() and detach_subcommand() to public API.
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  tests/test_completion.py
Owners: @kmvanbrunt, @anselor, @tleonhardt, @kotfu

Moved set_parser_prog() to Cmd2ArgumentParser.update_prog().
  CHANGELOG.md
  cmd2/argparse_custom.py
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @anselor, @kotfu

chore: review comment and test
  cmd2/annotated.py
  tests/test_annotated.py
Owners: @tleonhardt

Fixing logic in update_prog().
  cmd2/argparse_custom.py
Owners: @kmvanbrunt, @anselor

Simplifying code.
  cmd2/argparse_custom.py
Owners: @kmvanbrunt, @anselor

chore: more test
  tests/test_annotated.py
Owners: @tleonhardt

Copying argparse's method for setting a subcommand's prog value.
  cmd2/argparse_custom.py
Owners: @kmvanbrunt, @anselor

chore: more feedback
  cmd2/annotated.py
  cmd2/argparse_completer.py
  docs/features/argument_processing.md
  tests/test_annotated.py
Owners: @tleonhardt, @kmvanbrunt, @anselor

More updates to update_prog().
  cmd2/argparse_custom.py
  tests/test_argparse.py
  tests/test_argparse_subcommands.py
Owners: @kmvanbrunt, @anselor, @kotfu

Updated argparse_custom unit tests.
  tests/test_argparse.py
  tests/test_argparse_custom.py
  tests/test_argparse_subcommands.py
Owners: @kotfu, @kmvanbrunt

Added another test.
  tests/test_argparse_custom.py
Owners: @kmvanbrunt
