Repository python-cmd2/cmd2, changes with the owners that CODEOWNERS names for each.
All owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Owners of code are automatically nominated to review PRs involving that code.

# These owners will be the default owners for everything in the repo.
*       @tleonhardt

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
#*.js    @octocat @github/js

# You can also use email addresses if you prefer.
#docs/*  docs@example.com

# cmd2 code
cmd2/__init__.py           @tleonhardt @kotfu
cmd2/ansi.py               @kmvanbrunt @tleonhardt
cmd2/argparse_*.py         @kmvanbrunt @anselor
cmd2/clipboard.py          @tleonhardt
cmd2/cmd2.py               @tleonhardt @kmvanbrunt @kotfu
cmd2/command_definition.py @anselor
cmd2/constants.py          @kotfu
cmd2/decorators.py         @kotfu @kmvanbrunt @anselor
cmd2/exceptions.py         @kmvanbrunt @anselor
cmd2/history.py            @kotfu @tleonhardt
cmd2/parsing.py            @kotfu @kmvanbrunt
cmd2/plugin.py             @kotfu
cmd2/py_bridge.py          @kmvanbrunt
cmd2/rl_utils.py           @kmvanbrunt
cmd2/table_creator.py      @kmvanbrunt
cmd2/transcript.py         @kotfu
cmd2/utils.py              @tleonhardt @kotfu @kmvanbrunt

# Sphinx documentation
docs/*                  @tleonhardt @kotfu

# Examples
examples/async_printing.py  @kmvanbrunt
examples/environment.py     @kotfu
examples/tab_*.py           @kmvanbrunt
examples/modular_*.py       @anselor
examples/modular_commands/* @anselor

plugins/template/*          @kotfu
plugins/ext_test/*          @anselor

# Unit Tests
tests/pyscript/*              @kmvanbrunt
tests/transcripts/*           @kotfu
tests/__init__.py             @kotfu
tests/conftest.py             @kotfu @tleonhardt
tests/test_argparse.py        @kotfu
tests/test_argparse_*.py      @kmvanbrunt
tests/test_comp*.py           @kmvanbrunt
tests/test_pars*.py           @kotfu
tests/test_run_pyscript.py    @kmvanbrunt
tests/test_transcript.py      @kotfu

tests_isolated/test_commandset/*    @anselor

# Top-level project stuff
CONTRIBUTING.md         @tleonhardt @kotfu
setup.py                @tleonhardt @kotfu
tasks.py                @kotfu

fixed test
  tests/test_cmd2.py
Owners: @tleonhardt

Added custom CmdLexer class
  cmd2/cmd2.py
  cmd2/pt_utils.py
  tests/test_pt_utils.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Expanded Cmd2Lexer to highlight argparse flags in red and values in yellow
  cmd2/pt_utils.py
  tests/test_pt_utils.py
Owners: @tleonhardt

Added initialization argument to cmd2.Cmd to support fish-style auto-suggestions based on history
  cmd2/cmd2.py
  examples/basic_completion.py
  tests/test_cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Make turning on `auto_suggest=True` explicit in `getting_started.py` example
  examples/getting_started.py
Owners: @tleonhardt

Updated CHANGELOG.md with info on all new cmd2.Cmd parameters
  CHANGELOG.md
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Added new cmd2.Cmd.get_rprompt method that can be overridden to display a right prompt
  CHANGELOG.md
  cmd2/cmd2.py
  examples/getting_started.py
  tests/test_cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Remove bottom_toolbar parameter from cmd2.Cmd.__init__ and make default implementation of get_bottom_toolbar just return None.
  CHANGELOG.md
  cmd2/cmd2.py
  docs/features/initialization.md
  docs/upgrades.md
  examples/getting_started.py
  tests/test_cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Removed custom formatting for argparse.ZERO_OR_MORE and argparse.ONE_OR_MORE.
  cmd2/argparse_custom.py
  tests/test_argparse_custom.py
Owners: @kmvanbrunt, @anselor

Removed bold from help header and leader text.
  cmd2/styles.py
Owners: @tleonhardt

Removed custom formatting for argparse.ZERO_OR_MORE and argparse.ONE_OR_MORE. (#1561)
  cmd2/argparse_custom.py
  tests/test_argparse_custom.py
Owners: @kmvanbrunt, @anselor

Address warning in GitHub Actions tests about deprecated action
  .github/workflows/tests.yml
Owners: @tleonhardt

Address warning in GitHub Actions tests about deprecated action (#1563)
  .github/workflows/tests.yml
Owners: @tleonhardt

Removed bold from help header and leader text. (#1562)
  cmd2/styles.py
Owners: @tleonhardt

Added 3.1.1 entry.
  CHANGELOG.md
Owners: @tleonhardt

Fixed missing dependency for Python 3.10
  CHANGELOG.md
  cmd2/argparse_custom.py
  cmd2/parsing.py
  pyproject.toml
Owners: @tleonhardt, @kmvanbrunt, @anselor, @kotfu

Revert "Remove bottom_toolbar parameter from cmd2.Cmd.__init__ and make default implementation of get_bottom_toolbar just return None."
  CHANGELOG.md
  cmd2/cmd2.py
  docs/features/initialization.md
  docs/upgrades.md
  examples/getting_started.py
  tests/test_cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Remove complete_style parameter from cmd2.Cmd.__init__
  CHANGELOG.md
  cmd2/cmd2.py
  docs/features/initialization.md
  examples/basic_completion.py
  examples/hello_cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Renamed max_column_completion_items to max_column_completion_results
  CHANGELOG.md
  cmd2/cmd2.py
  docs/features/initialization.md
  tests/test_dynamic_complete_style.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Fix tab-completion crash when CompletionItem.descriptive_data is something other than a str.
  cmd2/pt_utils.py
Owners: @tleonhardt

Support rich Text objects in tab completion metadta
  cmd2/pt_utils.py
Owners: @tleonhardt

Fix cursor jump issue with unclosed quotes in Cmd2Lexer
  cmd2/pt_utils.py
  tests/test_pt_utils.py
Owners: @tleonhardt

Fix some completion quoting logic
  cmd2/cmd2.py
  tests/test_cmd2.py
  tests/test_completion.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Updated documentation about soft_wrap. Set soft_wrap to False whereever cmd2 printed Tables.
  cmd2/argparse_completer.py
  cmd2/cmd2.py
Owners: @kmvanbrunt, @anselor, @tleonhardt, @kotfu

Fix output format bug when exception occurs during completion
  cmd2/cmd2.py
  tests/test_completion.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Fixed issue where delimiter_complete() could cause more matches than display matches
  CHANGELOG.md
  cmd2/cmd2.py
  cmd2/utils.py
  tests/test_completion.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Fixed issue where CommandSet registration did not respect disabled categories
  CHANGELOG.md
  cmd2/cmd2.py
  tests/test_cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Added unit tests
  tests/test_cmd2.py
Owners: @tleonhardt

Fixed issue where delimiter_complete() could cause more matches than display matches (#1566)
  CHANGELOG.md
  cmd2/cmd2.py
  cmd2/utils.py
  tests/test_completion.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Fixed issue where CommandSet registration did not respect disabled categories (#1568)
  CHANGELOG.md
  cmd2/cmd2.py
  tests/test_cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Fixed unit test
  tests/test_completion.py
Owners: @kmvanbrunt

Upgrae to ruff 0.15.0 and prettier 3.8.1
  .pre-commit-config.yaml
  cmd2/argparse_completer.py
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  cmd2/command_definition.py
  package.json
Owners: @tleonhardt, @kmvanbrunt, @anselor, @kotfu

Updated changelog in preparation for release
  CHANGELOG.md
Owners: @tleonhardt

Fix a few broken links in documentation
  docs/features/plugins.md
  docs/mixins/mixin_template.md
Owners: @tleonhardt

Fix a few broken links in documentation (#1569)
  docs/features/plugins.md
  docs/mixins/mixin_template.md
Owners: @tleonhardt

Removed unused variable.
  cmd2/pt_utils.py
Owners: @tleonhardt

Removed unused state argument to Cmd.complete().
  cmd2/cmd2.py
  cmd2/pt_utils.py
  tests/conftest.py
  tests/test_cmd2.py
  tests/test_dynamic_complete_style.py
  tests/test_pt_utils.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Updated comments to just say 'complete' instead of 'tab complete'.
  cmd2/argparse_completer.py
  cmd2/argparse_custom.py
  cmd2/constants.py
  cmd2/exceptions.py
  cmd2/parsing.py
  cmd2/utils.py
Owners: @kmvanbrunt, @anselor, @kotfu, @tleonhardt

Removed most overrided functions for custom argparse help formatting due to incompatibilities with newer versions.
  cmd2/argparse_custom.py
  tests/transcripts/from_cmdloop.txt
Owners: @kmvanbrunt, @anselor, @kotfu

Updated _macro_list to use a method to build its parser.
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu
