Repository python-cmd2/cmd2, changes with the owners that CODEOWNERS names for each.
All owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

use pybridge to output stderr to transcripts, allowing transcript to check for non-existent commands, pwarn and perror
  cmd2/transcript.py
  tests/test_transcript.py
  tests/transcripts/fail_no_command.txt
  tests/transcripts/pwarn_perror.txt
Owners: @kotfu

final changes (#1200)
  .github/images/graph.drawio.png
  .gitignore
  README.md
  readme_files/shout_out.csv
  readme_files/shoutout.txt
Owners: @tleonhardt

Fixed path to schema image in README
  README.md
Owners: @tleonhardt

Fix test suite ansi.allow_style handling
  tests/test_cmd2.py
Owners: @tleonhardt

Make black happy
  tests/test_cmd2.py
Owners: @tleonhardt

Fix test suite ansi.allow_style handling (#1217)
  tests/test_cmd2.py
Owners: @tleonhardt

Fixed value for ansi.Bg.YELLOW
  CHANGELOG.md
  cmd2/ansi.py
Owners: @tleonhardt, @kmvanbrunt

Fixed value for ansi.Bg.YELLOW
  CHANGELOG.md
  cmd2/ansi.py
Owners: @tleonhardt, @kmvanbrunt

async_alert() raises a RuntimeError if called from the main thread.
  CHANGELOG.md
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

async_alert() raises a RuntimeError if called from the main thread.
  CHANGELOG.md
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Fixed formatting error
  examples/hooks.py
Owners: @tleonhardt

Add an educational postcommand hook
  examples/hooks.py
Owners: @tleonhardt

Fixed formatting error
  examples/hooks.py
Owners: @tleonhardt

update postparsing hooks
  examples/hooks.py
Owners: @tleonhardt

Updated change log for 2.4.1 release
  CHANGELOG.md
Owners: @tleonhardt

Moved documentation annotation stripping into utility function. Changed argparse decorator to automatically strip annotations.
  cmd2/cmd2.py
  cmd2/decorators.py
  cmd2/utils.py
  examples/arg_decorators.py
  tests/test_argparse.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu, @anselor

Moved documentation annotation stripping into utility function. Changed argparse decorator to automatically strip annotations.
  cmd2/cmd2.py
  cmd2/decorators.py
  cmd2/utils.py
  examples/arg_decorators.py
  tests/test_argparse.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu, @anselor

Fixed duplicate subparser name in test_add_parser_custom_completer
  tests/test_argparse_completer.py
Owners: @kmvanbrunt

chore: Set permissions for GitHub actions
  .github/workflows/codeql-analysis.yml
  .github/workflows/doc.yml
  .github/workflows/format.yml
  .github/workflows/lint.yml
  .github/workflows/mypy.yml
Owners: @tleonhardt

Fixed duplicate subparser name in test_add_parser_custom_completer
  tests/test_argparse_completer.py
Owners: @kmvanbrunt

chore: Included githubactions in the dependabot config
  .github/dependabot.yml
Owners: @tleonhardt

Updated CHANGELOG for 2.4.2 release. Fixed github image URLs in README so they link to the raw data. This fixes issue where the README did not display correctly on pypi.org.
  CHANGELOG.md
  README.md
Owners: @tleonhardt

Fixing Sphinx error
  docs/conf.py
Owners: @tleonhardt, @kotfu

chore: Set permissions for GitHub actions (#1230)
  .github/workflows/codeql-analysis.yml
  .github/workflows/doc.yml
  .github/workflows/format.yml
  .github/workflows/lint.yml
  .github/workflows/mypy.yml
Owners: @tleonhardt

chore: Included githubactions in the dependabot config (#1231)
  .github/dependabot.yml
Owners: @tleonhardt

code reformat with black
  cmd2/transcript.py
  tests/test_transcript.py
Owners: @kotfu

Remove Azure Pipeline config file and add pip dependency scanning for Dependabot
  .github/dependabot.yml
  azure-pipelines.yml
Owners: @tleonhardt

Remove Azure Pipeline config file and add pip dependency scanning for Dependabot (#1236)
  .github/dependabot.yml
  azure-pipelines.yml
Owners: @tleonhardt

Fix YAML indentation error in dependabot.yml
  .github/dependabot.yml
Owners: @tleonhardt

Fix YAML indentation error in dependabot.yml (#1237)
  .github/dependabot.yml
Owners: @tleonhardt

Use latest version of mypy and fix type hinting accordingly
  Pipfile
  README.md
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  cmd2/utils.py
  setup.py
  tasks.py
Owners: @tleonhardt, @kmvanbrunt, @anselor, @kotfu

Try to fix type errors on versions prior to 3.8
  cmd2/utils.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt

Restored correct types in argparse_custom.py
  cmd2/argparse_custom.py
Owners: @kmvanbrunt, @anselor

Use latest version of mypy and fix type hinting accordingly (#1239)
  Pipfile
  README.md
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  cmd2/utils.py
  setup.py
  tasks.py
Owners: @tleonhardt, @kmvanbrunt, @anselor, @kotfu

yet mo format
  cmd2/transcript.py
Owners: @kotfu

Enhance str_to_bool() to accept other types
  cmd2/utils.py
  docs/api/utils.rst
  tests/test_utils.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt

Update type hints and comments on to_bool()
  cmd2/utils.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt

Fix black errors
  cmd2/utils.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt

Add tests for to_bool() when passing boolean values
  tests/test_utils.py
Owners: @tleonhardt

Clean up spacing
  tests/test_utils.py
Owners: @tleonhardt

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Owners of code are automatically nominated to review PRs involving that code.

# These owners will be the default owners for everything in the repo.
*       @tleonhardt

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
#*.js    @octocat @github/js

# You can also use email addresses if you prefer.
#docs/*  docs@example.com

# cmd2 code
cmd2/__init__.py           @tleonhardt @kotfu
cmd2/ansi.py               @kmvanbrunt @tleonhardt
cmd2/argparse_*.py         @kmvanbrunt @anselor
cmd2/clipboard.py          @tleonhardt
cmd2/cmd2.py               @tleonhardt @kmvanbrunt @kotfu
cmd2/command_definition.py @anselor
cmd2/constants.py          @kotfu
cmd2/decorators.py         @kotfu @kmvanbrunt @anselor
cmd2/exceptions.py         @kmvanbrunt @anselor
cmd2/history.py            @kotfu @tleonhardt
cmd2/parsing.py            @kotfu @kmvanbrunt
cmd2/plugin.py             @kotfu
cmd2/py_bridge.py          @kmvanbrunt
cmd2/rl_utils.py           @kmvanbrunt
cmd2/table_creator.py      @kmvanbrunt
cmd2/transcript.py         @kotfu
cmd2/utils.py              @tleonhardt @kotfu @kmvanbrunt

# Sphinx documentation
docs/*                  @tleonhardt @kotfu

# Examples
examples/async_printing.py  @kmvanbrunt
examples/environment.py     @kotfu
examples/tab_*.py           @kmvanbrunt
examples/modular_*.py       @anselor
examples/modular_commands/* @anselor

plugins/template/*          @kotfu
plugins/ext_test/*          @anselor

# Unit Tests
tests/pyscript/*              @kmvanbrunt
tests/transcripts/*           @kotfu
tests/__init__.py             @kotfu
tests/conftest.py             @kotfu @tleonhardt
tests/test_argparse.py        @kotfu
tests/test_argparse_*.py      @kmvanbrunt
tests/test_comp*.py           @kmvanbrunt
tests/test_pars*.py           @kotfu
tests/test_run_pyscript.py    @kmvanbrunt
tests/test_transcript.py      @kotfu

tests_isolated/test_commandset/*    @anselor

# Top-level project stuff
CONTRIBUTING.md         @tleonhardt @kotfu
setup.py                @tleonhardt @kotfu
tasks.py                @kotfu
