Repository python-cmd2/cmd2, changes with the owners that CODEOWNERS names for each.
All owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Owners of code are automatically nominated to review PRs involving that code.

# These owners will be the default owners for everything in the repo.
*       @tleonhardt

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
#*.js    @octocat @github/js

# You can also use email addresses if you prefer.
#docs/*  docs@example.com

# cmd2 code
cmd2/__init__.py           @tleonhardt @kotfu
cmd2/ansi.py               @kmvanbrunt @tleonhardt
cmd2/argparse_*.py         @kmvanbrunt @anselor
cmd2/clipboard.py          @tleonhardt
cmd2/cmd2.py               @tleonhardt @kmvanbrunt @kotfu
cmd2/command_definition.py @anselor
cmd2/constants.py          @kotfu
cmd2/decorators.py         @kotfu @kmvanbrunt @anselor
cmd2/exceptions.py         @kmvanbrunt @anselor
cmd2/history.py            @kotfu @tleonhardt
cmd2/parsing.py            @kotfu @kmvanbrunt
cmd2/plugin.py             @kotfu
cmd2/py_bridge.py          @kmvanbrunt
cmd2/rl_utils.py           @kmvanbrunt
cmd2/table_creator.py      @kmvanbrunt
cmd2/transcript.py         @kotfu
cmd2/utils.py              @tleonhardt @kotfu @kmvanbrunt

# Sphinx documentation
docs/*                  @tleonhardt @kotfu

# Examples
examples/async_printing.py  @kmvanbrunt
examples/environment.py     @kotfu
examples/tab_*.py           @kmvanbrunt
examples/modular_*.py       @anselor
examples/modular_commands/* @anselor

plugins/template/*          @kotfu
plugins/ext_test/*          @anselor

# Unit Tests
tests/pyscript/*              @kmvanbrunt
tests/transcripts/*           @kotfu
tests/__init__.py             @kotfu
tests/conftest.py             @kotfu @tleonhardt
tests/test_argparse.py        @kotfu
tests/test_argparse_*.py      @kmvanbrunt
tests/test_comp*.py           @kmvanbrunt
tests/test_pars*.py           @kotfu
tests/test_run_pyscript.py    @kmvanbrunt
tests/test_transcript.py      @kotfu

tests_isolated/test_commandset/*    @anselor

# Top-level project stuff
CONTRIBUTING.md         @tleonhardt @kotfu
setup.py                @tleonhardt @kotfu
tasks.py                @kotfu

feat(annotated): allow honoring Enum _missing_ and support Enum | Enum
  CHANGELOG.md
  cmd2/annotated.py
  docs/features/annotated.md
  tests/test_annotated.py
Owners: @tleonhardt

chore: clean up
  CHANGELOG.md
  cmd2/annotated.py
  docs/features/annotated.md
  tests/test_annotated.py
Owners: @tleonhardt

feat(annotated): allow honoring Enum _missing_ and support Enum | Enum (#1694)
  CHANGELOG.md
  cmd2/annotated.py
  docs/features/annotated.md
  tests/test_annotated.py
Owners: @tleonhardt

feat(annotated): add converter and preprocess hooks for custom conversion
  CHANGELOG.md
  cmd2/annotated.py
  docs/features/annotated.md
  examples/annotated_example.py
  tests/test_annotated.py
Owners: @tleonhardt

Added theme module to docs.
  docs/api/index.md
  docs/api/theme.md
  mkdocs.yml
Owners: @tleonhardt

Added theme module to docs. (#1696)
  docs/api/index.md
  docs/api/theme.md
  mkdocs.yml
Owners: @tleonhardt

feat(annotated): add converter and preprocess hooks for custom conversion (#1695)
  CHANGELOG.md
  cmd2/annotated.py
  docs/features/annotated.md
  examples/annotated_example.py
  tests/test_annotated.py
Owners: @tleonhardt

Added UI refresh interval setting.
  cmd2/cmd2.py
  examples/getting_started.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

doc: update
  docs/features/annotated.md
Owners: @tleonhardt

chore: extend coverage
  tests/test_annotated.py
Owners: @tleonhardt

feat: blocked argument
  CHANGELOG.md
  cmd2/__init__.py
  cmd2/annotated.py
  docs/features/annotated.md
  examples/annotated_example.py
  tests/test_annotated.py
Owners: @tleonhardt, @kotfu

fix: fix edge case
  cmd2/annotated.py
  docs/features/annotated.md
  tests/test_annotated.py
Owners: @tleonhardt

Removed bottom_toolbar boolean from Cmd to make get_bottom_toolbar() work the same way as get_rprompt().
  cmd2/cmd2.py
  docs/features/prompt.md
  docs/upgrades.md
  examples/getting_started.py
  tests/test_cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Updated change log.
  CHANGELOG.md
Owners: @tleonhardt

Added test for refresh_interval.
  tests/test_cmd2.py
Owners: @tleonhardt

Renamed bottom_toolbar flag to enable_bottom_toolbar. Added enable_rprompt flag.
  CHANGELOG.md
  cmd2/cmd2.py
  docs/features/initialization.md
  docs/features/prompt.md
  docs/upgrades.md
  examples/getting_started.py
  tests/test_cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Moved import.
  examples/getting_started.py
Owners: @tleonhardt

Updated docstrings.
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

chore: review comment and test
  cmd2/annotated.py
  tests/test_annotated.py
Owners: @tleonhardt

feat: blocked argument (#1698)
  CHANGELOG.md
  cmd2/__init__.py
  cmd2/annotated.py
  docs/features/annotated.md
  examples/annotated_example.py
  tests/test_annotated.py
Owners: @tleonhardt, @kotfu

Simplified tests.
  tests/test_cmd2.py
Owners: @tleonhardt

Updated documentation.
  CHANGELOG.md
  docs/features/initialization.md
Owners: @tleonhardt

Refactored bottom toolbar and rprompt functionality. (#1700)
  CHANGELOG.md
  cmd2/cmd2.py
  docs/features/initialization.md
  docs/features/prompt.md
  docs/upgrades.md
  examples/getting_started.py
  tests/test_cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

docs: add design spec for threaded toolbar update
  docs/superpowers/specs/2026-07-01-threaded-toolbar-design.md
Owners: @tleonhardt

Don't commit superpowers design docs
  docs/superpowers/specs/2026-07-01-threaded-toolbar-design.md
Owners: @tleonhardt

docs: add implementation plan for threaded toolbar update
  docs/superpowers/plans/2026-07-01-threaded-toolbar-plan.md
Owners: @tleonhardt

Update GEMINI.md to tell superpowers not to commit specs or plans
  GEMINI.md
  docs/superpowers/plans/2026-07-01-threaded-toolbar-plan.md
Owners: @tleonhardt

docs: add design spec for getting_started bottom toolbar optimization
  docs/superpowers/specs/2026-07-01-getting-started-toolbar-optimization-design.md
Owners: @tleonhardt

docs: add implementation plan for getting_started bottom toolbar optimization
  docs/superpowers/plans/2026-07-01-getting-started-toolbar-optimization.md
Owners: @tleonhardt

Update Gemini.md again to try to stop superpowers from saving its specs and plans in git
  GEMINI.md
Owners: @tleonhardt

Add superpowers directory to .gitignore
  .gitignore
Owners: @tleonhardt

Remove superpowers md files
  docs/superpowers/plans/2026-07-01-getting-started-toolbar-optimization.md
  docs/superpowers/specs/2026-07-01-getting-started-toolbar-optimization-design.md
Owners: @tleonhardt

feat(example): initialize state and worker for background toolbar thread
  examples/getting_started.py
Owners: @tleonhardt

Fix: Remove terminal width calculation from background thread in getting_started example
  examples/getting_started.py
Owners: @tleonhardt

feat(example): add preloop and postloop hooks to manage toolbar thread
  examples/getting_started.py
Owners: @tleonhardt

refactor(example): get_bottom_toolbar now reads from thread-safe cached state
  examples/getting_started.py
Owners: @tleonhardt

fix(example): improve thread teardown safety with daemon=True and event.wait()
  examples/getting_started.py
Owners: @tleonhardt

Update file-header command and change background thread to run 4 times a second instead of 10
  examples/getting_started.py
Owners: @tleonhardt

Add a type hint to fix mypy warnings
  examples/getting_started.py
Owners: @tleonhardt

Make a comment more clear
  examples/getting_started.py
Owners: @tleonhardt
