Repository python-cmd2/cmd2, changes with the owners that CODEOWNERS names for each.
All owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

Removed outdated comment.
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Refactored the help functions.
  cmd2/cmd2.py
  cmd2/styles.py
  tests/test_cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Updated unit tests and comments.
  cmd2/cmd2.py
  tests/test_cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

More code cleanup.
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Even more code cleanup.
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Refactored the help functions. (#1478)
  cmd2/cmd2.py
  cmd2/styles.py
  tests/test_cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Simplied string_to_rich_text().
  cmd2/rich_utils.py
Owners: @tleonhardt

Updated comments.
  cmd2/rich_utils.py
Owners: @tleonhardt

Updated comments.
  cmd2/rich_utils.py
Owners: @tleonhardt

Corrected theme management functions.
  cmd2/rich_utils.py
Owners: @tleonhardt

Added conditional check to prevent rich.Text.from_ansi() bug workaround from running when bug isn't present.
  cmd2/rich_utils.py
Owners: @tleonhardt

Updated comments.
  cmd2/rich_utils.py
Owners: @tleonhardt

Documented default cmd2 styles.
  cmd2/cmd2.py
  cmd2/styles.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Added unit tests for rich_utils.py.
  tests/test_rich_utils.py
Owners: @tleonhardt

Using Rich Rule for transcript output lines.
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Added conditional check to prevent rich.Text.from_ansi() bug workaround from running when bug isn't present.
  cmd2/rich_utils.py
Owners: @tleonhardt

Documented default cmd2 styles.
  cmd2/cmd2.py
  cmd2/styles.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Added unit tests for rich_utils.py.
  tests/test_rich_utils.py
Owners: @tleonhardt

Updated comments.
  cmd2/rich_utils.py
Owners: @tleonhardt

Using Rich Rule for transcript output lines.
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Corrected theme management functions.
  cmd2/rich_utils.py
Owners: @tleonhardt

Some fixes for mypy unused ignores
  GEMINI.md
  cmd2/argparse_completer.py
  cmd2/argparse_custom.py
  cmd2/clipboard.py
  cmd2/cmd2.py
  cmd2/decorators.py
  cmd2/parsing.py
  cmd2/rl_utils.py
  cmd2/utils.py
Owners: @tleonhardt, @kmvanbrunt, @anselor, @kotfu

Finished removing ignores that were no longer used by mypy
  cmd2/argparse_completer.py
  cmd2/argparse_custom.py
  cmd2/cmd2.py
Owners: @kmvanbrunt, @anselor, @tleonhardt, @kotfu

Fix one issue and simplify another thing
  cmd2/argparse_custom.py
  cmd2/rl_utils.py
Owners: @kmvanbrunt, @anselor

Minor grammar fix
  GEMINI.md
Owners: @tleonhardt

Fix: Remove unused mypy ignores and fix type errors (#1481)
  GEMINI.md
  cmd2/argparse_completer.py
  cmd2/argparse_custom.py
  cmd2/clipboard.py
  cmd2/cmd2.py
  cmd2/decorators.py
  cmd2/parsing.py
  cmd2/rl_utils.py
  cmd2/utils.py
Owners: @tleonhardt, @kmvanbrunt, @anselor, @kotfu

Add a simple example to demonstrate the colors available in cmd2.Color
  examples/color.py
Owners: @tleonhardt

Fix visual appearance when printing background colors
  examples/color.py
Owners: @tleonhardt

Deleted old examples/colors.py and updated documentation
  docs/features/completion.md
  examples/README.md
  examples/colors.py
Owners: @tleonhardt

Corrected a comment and some type hints.
  cmd2/argparse_custom.py
  cmd2/rich_utils.py
Owners: @kmvanbrunt, @anselor, @tleonhardt

Corrected a comment and some type hints.
  cmd2/argparse_custom.py
  cmd2/rich_utils.py
Owners: @kmvanbrunt, @anselor, @tleonhardt

Simplified color example.
  examples/color.py
Owners: @tleonhardt

Added argument to optionally display using a pager
  examples/color.py
Owners: @tleonhardt

Add a simple example to demonstrate the colors available in cmd2.Color (#1482)
  docs/features/completion.md
  examples/README.md
  examples/color.py
  examples/colors.py
Owners: @tleonhardt

Updated color.py and argparse_completion.py examples for cmd2 3.0.
  examples/argparse_completion.py
  examples/color.py
Owners: @tleonhardt

Added a table to a CompletionItem description in argparse_completion.py example.
  examples/argparse_completion.py
Owners: @tleonhardt

Updated documentation for Cmd2Style.
  cmd2/styles.py
Owners: @tleonhardt

Updated initialization.py and python_scripting.py examples for cmd2 3.0. Deleted basic.py and pirate.py examples.
  .github/CODEOWNERS
  .github/CONTRIBUTING.md
  README.md
  docs/features/generating_output.md
  docs/features/initialization.md
  docs/features/prompt.md
  docs/migrating/next_steps.md
  examples/README.md
  examples/basic.py
  examples/initialization.py
  examples/pirate.py
  examples/python_scripting.py
Owners: @tleonhardt, @kotfu

Fix typo and slightly re-order a couple things in top-level README
  README.md
Owners: @tleonhardt

Fix initialization.py example so it uses a valid startup script and delete redundant alias_startup.py example
  docs/features/startup_commands.md
  examples/README.md
  examples/alias_startup.py
  examples/initialization.py
Owners: @tleonhardt

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Owners of code are automatically nominated to review PRs involving that code.

# These owners will be the default owners for everything in the repo.
*       @tleonhardt

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
#*.js    @octocat @github/js

# You can also use email addresses if you prefer.
#docs/*  docs@example.com

# cmd2 code
cmd2/__init__.py           @tleonhardt @kotfu
cmd2/ansi.py               @kmvanbrunt @tleonhardt
cmd2/argparse_*.py         @kmvanbrunt @anselor
cmd2/clipboard.py          @tleonhardt
cmd2/cmd2.py               @tleonhardt @kmvanbrunt @kotfu
cmd2/command_definition.py @anselor
cmd2/constants.py          @kotfu
cmd2/decorators.py         @kotfu @kmvanbrunt @anselor
cmd2/exceptions.py         @kmvanbrunt @anselor
cmd2/history.py            @kotfu @tleonhardt
cmd2/parsing.py            @kotfu @kmvanbrunt
cmd2/plugin.py             @kotfu
cmd2/py_bridge.py          @kmvanbrunt
cmd2/rl_utils.py           @kmvanbrunt
cmd2/table_creator.py      @kmvanbrunt
cmd2/transcript.py         @kotfu
cmd2/utils.py              @tleonhardt @kotfu @kmvanbrunt

# Sphinx documentation
docs/*                  @tleonhardt @kotfu

# Examples
examples/async_printing.py  @kmvanbrunt
examples/environment.py     @kotfu
examples/tab_*.py           @kmvanbrunt
examples/modular_*.py       @anselor
examples/modular_commands/* @anselor

plugins/template/*          @kotfu
plugins/ext_test/*          @anselor

# Unit Tests
tests/pyscript/*              @kmvanbrunt
tests/transcripts/*           @kotfu
tests/__init__.py             @kotfu
tests/conftest.py             @kotfu @tleonhardt
tests/test_argparse.py        @kotfu
tests/test_argparse_*.py      @kmvanbrunt
tests/test_comp*.py           @kmvanbrunt
tests/test_pars*.py           @kotfu
tests/test_run_pyscript.py    @kmvanbrunt
tests/test_transcript.py      @kotfu

tests_isolated/test_commandset/*    @anselor

# Top-level project stuff
CONTRIBUTING.md         @tleonhardt @kotfu
setup.py                @tleonhardt @kotfu
tasks.py                @kotfu
