Repository python-cmd2/cmd2, changes with the owners that CODEOWNERS names for each.
All owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

Fix duplicated parameter tables in API docs
  .pre-commit-config.yaml
  mkdocs.yml
  pyproject.toml
Owners: @tleonhardt

Prepare for new release to fix stable documentation
  CHANGELOG.md
  docs/overview/installation.md
Owners: @tleonhardt

Update CONTRIBUTING.md and Pipfile for removed dependency
  .github/CONTRIBUTING.md
  Pipfile
Owners: @tleonhardt, @kotfu

Suppress mypy warning
  cmd2/argparse_custom.py
Owners: @kmvanbrunt, @anselor

Suppress mypy warning (#1410)
  cmd2/argparse_custom.py
Owners: @kmvanbrunt, @anselor

Add support for Python 3.14 and remove support for Python 3.8
  .github/CONTRIBUTING.md
  .github/workflows/build.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  README.md
  docs/overview/installation.md
  plugins/ext_test/build-pyenvs.sh
  plugins/ext_test/noxfile.py
  plugins/ext_test/setup.py
  plugins/template/README.md
  plugins/template/build-pyenvs.sh
  plugins/template/noxfile.py
  plugins/template/setup.py
  pyproject.toml
  tests/test_argparse_custom.py
Owners: @tleonhardt, @kotfu, @anselor, @kmvanbrunt

Try to fix unit tests for Python 3.14
  cmd2/argparse_custom.py
Owners: @kmvanbrunt, @anselor

Fix tests failing on Windows for Python 3.14
  CHANGELOG.md
  cmd2/argparse_custom.py
  tests/test_history.py
Owners: @tleonhardt, @kmvanbrunt, @anselor

Improved a few tests to be slightly stricter, but permissive enough they work on Windows with Python 3.14
  tests/test_history.py
Owners: @tleonhardt

Enable some additional ruff lint check rules and enable auto-fix of lint rules on "make check"
  .pre-commit-config.yaml
  pyproject.toml
Owners: @tleonhardt

Add support for Python 3.14 and remove support for Python 3.8 (#1419)
  .github/CONTRIBUTING.md
  .github/workflows/build.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  README.md
  cmd2/argparse_custom.py
  docs/overview/installation.md
  plugins/ext_test/build-pyenvs.sh
  plugins/ext_test/noxfile.py
  plugins/ext_test/setup.py
  plugins/template/README.md
  plugins/template/build-pyenvs.sh
  plugins/template/noxfile.py
  plugins/template/setup.py
  pyproject.toml
  tests/test_argparse_custom.py
  tests/test_history.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

Renamed a couple things which needlessely shadowed built-in functions
  cmd2/argparse_custom.py
  pyproject.toml
Owners: @kmvanbrunt, @anselor, @tleonhardt

Added make commands for format and lint
  Makefile
Owners: @tleonhardt

Enable ruff DTZ rules and all datetime calls now use an explicit timezone
  cmd2/cmd2.py
  pyproject.toml
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Enabled ruff EXE ruleset and fixed files with inconsisentcy between executableness and shebang pressence
  examples/scripts/script.py
  pyproject.toml
  tests/pyscript/raises_exception.py
  tests/script.py
  tests_isolated/test_commandset/test_categories.py
Owners: @tleonhardt, @kmvanbrunt, @anselor

Enable ruff FIX ruleset that warns about FIXME or TODO in code
  pyproject.toml
Owners: @tleonhardt

Enabled ruff FURB ruleset
  pyproject.toml
Owners: @tleonhardt

Enable ruff ISC ruleset that warns about implict string concatenation
  pyproject.toml
Owners: @tleonhardt

Enable ruff LOG ruleset which warns about logger issues
  pyproject.toml
Owners: @tleonhardt

Enabled ruff PLC ruleset for Pylint naming conventions and exempted one example file
  pyproject.toml
Owners: @tleonhardt

Accepted a few recommended refactorings from ruff PLR ruleset
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  cmd2/transcript.py
  cmd2/utils.py
Owners: @kmvanbrunt, @anselor, @tleonhardt, @kotfu

Accepted one automated change from ruff PT ruleset
  tests_isolated/test_commandset/conftest.py
Owners: @anselor

Unabled ruff PYI ruleset for type hint best practices
  cmd2/argparse_custom.py
  cmd2/table_creator.py
  cmd2/utils.py
  pyproject.toml
Owners: @kmvanbrunt, @anselor, @tleonhardt, @kotfu

Accept various automated refactorings from ruff RET ruleset that eliminated else case when the if had a return
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  cmd2/decorators.py
  cmd2/history.py
  cmd2/parsing.py
  cmd2/py_bridge.py
  cmd2/rl_utils.py
  cmd2/table_creator.py
  cmd2/transcript.py
  cmd2/utils.py
Owners: @kmvanbrunt, @anselor, @tleonhardt, @kotfu

Accepted some automated refactorings from the ruff RUF ruleset
  cmd2/cmd2.py
  cmd2/parsing.py
  examples/modular_commands_main.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu, @anselor

Enable ruff TC type checking ruleset and accept automated refactorings
  cmd2/ansi.py
  cmd2/argparse_custom.py
  cmd2/clipboard.py
  cmd2/cmd2.py
  cmd2/py_bridge.py
  cmd2/transcript.py
  cmd2/utils.py
  pyproject.toml
Owners: @kmvanbrunt, @tleonhardt, @anselor, @kotfu

Enable ruff TD ruleset
  pyproject.toml
Owners: @tleonhardt

Enable ruff YTT ruleset and fix the one warning
  cmd2/argparse_custom.py
  pyproject.toml
Owners: @kmvanbrunt, @anselor, @tleonhardt

Add a ruff ignore rule for something requiring Python >= 3.10
  pyproject.toml
Owners: @tleonhardt

Revert "Enable ruff TC type checking ruleset and accept automated refactorings"
  cmd2/ansi.py
  cmd2/clipboard.py
  cmd2/py_bridge.py
  cmd2/utils.py
Owners: @kmvanbrunt, @tleonhardt, @kotfu

Finish reverting ruff rule TC006 changes and added that to the ignore list
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  cmd2/transcript.py
  pyproject.toml
Owners: @kmvanbrunt, @anselor, @tleonhardt, @kotfu

Enabled ruff PERF ruleset for performance checking
  Makefile
  cmd2/argparse_custom.py
  cmd2/parsing.py
  pyproject.toml
Owners: @tleonhardt, @kmvanbrunt, @anselor, @kotfu

Enabled ruff C4 ruleset and applied fixes
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  cmd2/decorators.py
  cmd2/table_creator.py
  cmd2/utils.py
  examples/table_creation.py
  pyproject.toml
Owners: @kmvanbrunt, @anselor, @tleonhardt, @kotfu

Add ignore all ruff lint rules that can interfere with ruff format
  pyproject.toml
Owners: @tleonhardt

Enabled ruff A ruleset for finding symbols shadowing built-in functions
  pyproject.toml
Owners: @tleonhardt

Moved per-file exemption for A002 to per-line
  cmd2/decorators.py
  pyproject.toml
Owners: @kotfu, @kmvanbrunt, @anselor, @tleonhardt

Eliminated a couple per-file ruff lint exemptions and replaced one with a single line exemption
  cmd2/cmd2.py
  pyproject.toml
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Enabled ruff COM ruleset for forcing commas at the end of container lists
  pyproject.toml
Owners: @tleonhardt

Enabled ruff INP ruleset for warning about modules in an implicit namespace
  pyproject.toml
Owners: @tleonhardt

Removed unnecessary stuff from top of cmd2/__init__.py
  cmd2/__init__.py
Owners: @tleonhardt, @kotfu

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Owners of code are automatically nominated to review PRs involving that code.

# These owners will be the default owners for everything in the repo.
*       @tleonhardt

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
#*.js    @octocat @github/js

# You can also use email addresses if you prefer.
#docs/*  docs@example.com

# cmd2 code
cmd2/__init__.py           @tleonhardt @kotfu
cmd2/ansi.py               @kmvanbrunt @tleonhardt
cmd2/argparse_*.py         @kmvanbrunt @anselor
cmd2/clipboard.py          @tleonhardt
cmd2/cmd2.py               @tleonhardt @kmvanbrunt @kotfu
cmd2/command_definition.py @anselor
cmd2/constants.py          @kotfu
cmd2/decorators.py         @kotfu @kmvanbrunt @anselor
cmd2/exceptions.py         @kmvanbrunt @anselor
cmd2/history.py            @kotfu @tleonhardt
cmd2/parsing.py            @kotfu @kmvanbrunt
cmd2/plugin.py             @kotfu
cmd2/py_bridge.py          @kmvanbrunt
cmd2/rl_utils.py           @kmvanbrunt
cmd2/table_creator.py      @kmvanbrunt
cmd2/transcript.py         @kotfu
cmd2/utils.py              @tleonhardt @kotfu @kmvanbrunt

# Sphinx documentation
docs/*                  @tleonhardt @kotfu

# Examples
examples/async_printing.py  @kmvanbrunt
examples/environment.py     @kotfu
examples/tab_*.py           @kmvanbrunt
examples/modular_*.py       @anselor
examples/modular_commands/* @anselor

plugins/template/*          @kotfu
plugins/ext_test/*          @anselor

# Unit Tests
tests/pyscript/*              @kmvanbrunt
tests/transcripts/*           @kotfu
tests/__init__.py             @kotfu
tests/conftest.py             @kotfu @tleonhardt
tests/test_argparse.py        @kotfu
tests/test_argparse_*.py      @kmvanbrunt
tests/test_comp*.py           @kmvanbrunt
tests/test_pars*.py           @kotfu
tests/test_run_pyscript.py    @kmvanbrunt
tests/test_transcript.py      @kotfu

tests_isolated/test_commandset/*    @anselor

# Top-level project stuff
CONTRIBUTING.md         @tleonhardt @kotfu
setup.py                @tleonhardt @kotfu
tasks.py                @kotfu
