Repository python-cmd2/cmd2, changes with the owners that CODEOWNERS names for each.
All owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Owners of code are automatically nominated to review PRs involving that code.

# These owners will be the default owners for everything in the repo.
*       @tleonhardt

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
#*.js    @octocat @github/js

# You can also use email addresses if you prefer.
#docs/*  docs@example.com

# cmd2 code
cmd2/__init__.py           @tleonhardt @kotfu
cmd2/ansi.py               @kmvanbrunt @tleonhardt
cmd2/argparse_*.py         @kmvanbrunt @anselor
cmd2/clipboard.py          @tleonhardt
cmd2/cmd2.py               @tleonhardt @kmvanbrunt @kotfu
cmd2/command_definition.py @anselor
cmd2/constants.py          @kotfu
cmd2/decorators.py         @kotfu @kmvanbrunt @anselor
cmd2/exceptions.py         @kmvanbrunt @anselor
cmd2/history.py            @kotfu @tleonhardt
cmd2/parsing.py            @kotfu @kmvanbrunt
cmd2/plugin.py             @kotfu
cmd2/py_bridge.py          @kmvanbrunt
cmd2/rl_utils.py           @kmvanbrunt
cmd2/table_creator.py      @kmvanbrunt
cmd2/transcript.py         @kotfu
cmd2/utils.py              @tleonhardt @kotfu @kmvanbrunt

# Sphinx documentation
docs/*                  @tleonhardt @kotfu

# Examples
examples/async_printing.py  @kmvanbrunt
examples/environment.py     @kotfu
examples/tab_*.py           @kmvanbrunt
examples/modular_*.py       @anselor
examples/modular_commands/* @anselor

plugins/template/*          @kotfu
plugins/ext_test/*          @anselor

# Unit Tests
tests/pyscript/*              @kmvanbrunt
tests/transcripts/*           @kotfu
tests/__init__.py             @kotfu
tests/conftest.py             @kotfu @tleonhardt
tests/test_argparse.py        @kotfu
tests/test_argparse_*.py      @kmvanbrunt
tests/test_comp*.py           @kmvanbrunt
tests/test_pars*.py           @kotfu
tests/test_run_pyscript.py    @kmvanbrunt
tests/test_transcript.py      @kotfu

tests_isolated/test_commandset/*    @anselor

# Top-level project stuff
CONTRIBUTING.md         @tleonhardt @kotfu
setup.py                @tleonhardt @kotfu
tasks.py                @kotfu

Removed unnecessary arguments in rich_text_to_string(). (#1597)
  cmd2/argparse_custom.py
  cmd2/rich_utils.py
Owners: @kmvanbrunt, @anselor, @tleonhardt

Removed unnecessary arguments in rich_text_to_string(). (#1598)
  cmd2/argparse_custom.py
  cmd2/rich_utils.py
  tests/test_cmd2.py
Owners: @kmvanbrunt, @anselor, @tleonhardt

Add 3.4.0 release date
  CHANGELOG.md
Owners: @tleonhardt

Add 3.4.0 release date
  CHANGELOG.md
Owners: @tleonhardt

Update cmd2.Cmd.select to use prompt-toolkit choice
  cmd2/cmd2.py
  examples/remove_settable.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Add unit tests
  tests/test_cmd2.py
Owners: @tleonhardt

Add unit test for uncovered code
  tests/test_cmd2.py
Owners: @tleonhardt

Updated CHANGELOG
  CHANGELOG.md
Owners: @tleonhardt

Consider self.stdout when creating main session.
  cmd2/cmd2.py
  tests/test_cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Consider self.stdout when creating main session. (#1601)
  cmd2/cmd2.py
  tests/test_cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Addressed PR comments
  cmd2/cmd2.py
  docs/features/misc.md
  examples/read_input.py
  examples/remove_settable.py
  tests/test_cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Update cmd2.Cmd.select to use prompt-toolkit choice (#1600)
  CHANGELOG.md
  cmd2/cmd2.py
  docs/features/misc.md
  examples/read_input.py
  tests/test_cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Remove Gemini Dispatch GitHub Actions workflows
  .github/commands/gemini-invoke.toml
  .github/commands/gemini-review.toml
  .github/commands/gemini-scheduled-triage.toml
  .github/commands/gemini-triage.toml
  .github/workflows/gemini-dispatch.yml
  .github/workflows/gemini-invoke.yml
  .github/workflows/gemini-review.yml
  .github/workflows/gemini-scheduled-triage.yml
  .github/workflows/gemini-triage.yml
Owners: @tleonhardt

Remove Gemini Dispatch GitHub Actions workflows (#1602)
  .github/commands/gemini-invoke.toml
  .github/commands/gemini-review.toml
  .github/commands/gemini-scheduled-triage.toml
  .github/commands/gemini-triage.toml
  .github/workflows/gemini-dispatch.yml
  .github/workflows/gemini-invoke.yml
  .github/workflows/gemini-review.yml
  .github/workflows/gemini-scheduled-triage.yml
  .github/workflows/gemini-triage.yml
Owners: @tleonhardt

Fixed crash in Python 3.15.0a6
  cmd2/argparse_custom.py
Owners: @kmvanbrunt, @anselor

Ruggedize override so it would be safe on any version of Python and type checkers won't complain
  cmd2/argparse_custom.py
Owners: @kmvanbrunt, @anselor

Add a common_prefix helper function in string_utils module
  CHANGELOG.md
  cmd2/cmd2.py
  cmd2/string_utils.py
  tests/test_string_utils.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Added tests to cover missing lines in argparse_custom.py
  CHANGELOG.md
  tests/test_argparse_custom.py
Owners: @tleonhardt, @kmvanbrunt

Add GitHub Actions testing on Python 3.15-dev
  .github/workflows/tests.yml
  tests/test_argparse_custom.py
Owners: @tleonhardt, @kmvanbrunt

Fixed crash in Python 3.15.0a6 (#1604)
  .github/workflows/tests.yml
  CHANGELOG.md
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  cmd2/string_utils.py
  tests/test_argparse_custom.py
  tests/test_string_utils.py
Owners: @tleonhardt, @kmvanbrunt, @anselor, @kotfu

Add cmd2.Cmd.read_secret method
  cmd2/cmd2.py
  examples/README.md
  examples/read_input.py
  tests/test_cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Update CHANGELOG
  CHANGELOG.md
Owners: @tleonhardt

Update CHANGELOG
  CHANGELOG.md
Owners: @tleonhardt

Add cmd2.Cmd.read_secret method
  cmd2/cmd2.py
  examples/README.md
  examples/read_input.py
  tests/test_cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Setting _alert_prompt_timestamp before calling pre_prompt().
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Upgrade ruff to 0.15.6
  .pre-commit-config.yaml
Owners: @tleonhardt

Renamed completion_hint to hint. Renamed completion_error to error. Renamed completion_table to table and converted it from a string to a Rich Table.
  CHANGELOG.md
  cmd2/argparse_completer.py
  cmd2/cmd2.py
  cmd2/completion.py
  cmd2/pt_utils.py
  examples/argparse_completion.py
  tests/test_argparse_completer.py
  tests/test_commandset.py
  tests/test_completion.py
  tests/test_pt_utils.py
Owners: @tleonhardt, @kmvanbrunt, @anselor, @kotfu

Renamed a variable.
  cmd2/argparse_custom.py
  tests/test_argparse_custom.py
Owners: @kmvanbrunt, @anselor

Removed DEFAULT_TABLE_HEADER.
  CHANGELOG.md
  cmd2/argparse_completer.py
  tests/test_argparse_completer.py
Owners: @tleonhardt, @kmvanbrunt, @anselor

Renamed parser's table_header to table_columns. Renamed CompletionItem's table_row to table_data.
  CHANGELOG.md
  cmd2/argparse_completer.py
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  cmd2/completion.py
  examples/argparse_completion.py
  tests/test_argparse_completer.py
  tests/test_cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @anselor, @kotfu

Migrate to prek from pre-commit
  .github/workflows/quality.yml
  Makefile
  examples/README.md
  examples/modular_commandsets.py
  pyproject.toml
Owners: @tleonhardt, @anselor

Reword comment in Makefile
  Makefile
Owners: @tleonhardt

Fixed spelling.
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Renamed parser's table_header to table_columns. Renamed CompletionItem's table_row to table_data.
  CHANGELOG.md
  cmd2/argparse_completer.py
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  cmd2/completion.py
  examples/argparse_completion.py
  tests/test_argparse_completer.py
  tests/test_cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @anselor, @kotfu

Renamed completion_hint to hint. Renamed completion_error to error. Renamed completion_table to table and converted it from a string to a Rich Table.
  CHANGELOG.md
  cmd2/argparse_completer.py
  cmd2/cmd2.py
  cmd2/completion.py
  cmd2/pt_utils.py
  examples/argparse_completion.py
  tests/test_argparse_completer.py
  tests/test_commandset.py
  tests/test_completion.py
  tests/test_pt_utils.py
Owners: @tleonhardt, @kmvanbrunt, @anselor, @kotfu

Fixed spelling.
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Removed DEFAULT_TABLE_HEADER.
  CHANGELOG.md
  cmd2/argparse_completer.py
  tests/test_argparse_completer.py
Owners: @tleonhardt, @kmvanbrunt, @anselor

Renamed a variable.
  cmd2/argparse_custom.py
  tests/test_argparse_custom.py
Owners: @kmvanbrunt, @anselor

Add typo checker to prek/pre-commit config
  .github/CONTRIBUTING.md
  .pre-commit-config.yaml
  README.md
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  docs/doc_conventions.md
  examples/README.md
  examples/command_sets.py
  examples/custom_types.py
  ruff.toml
  tests/test_cmd2.py
  tests/test_commandset.py
  tests/test_pt_utils.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

Fix things that weren't typos
  .typos.toml
  README.md
Owners: @tleonhardt
