Repository python-cmd2/cmd2, changes with the owners that CODEOWNERS names for each.
All owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

Updated CHANGELOG for 4.1.2 release.
  CHANGELOG.md
Owners: @tleonhardt

fix: put help text as part of positional argument
  CHANGELOG.md
  cmd2/annotated.py
  docs/features/annotated.md
  tests/test_annotated.py
Owners: @tleonhardt

fix: put help text as part of positional argument (#1719)
  CHANGELOG.md
  cmd2/annotated.py
  docs/features/annotated.md
  tests/test_annotated.py
Owners: @tleonhardt

Fix with_annotated decorator so using ArgumentBlock works with groups
  cmd2/annotated.py
  tests/test_annotated.py
Owners: @tleonhardt

Update CHANGELOG.md
  CHANGELOG.md
Owners: @tleonhardt

chore: update implementation
  CHANGELOG.md
  cmd2/annotated.py
  docs/features/annotated.md
  tests/test_annotated.py
Owners: @tleonhardt

[Cmd] use prompt-toolkit native clipboard integration
  cmd2/clipboard.py
  cmd2/cmd2.py
  docs/api/clipboard.md
  docs/api/index.md
  docs/features/clipboard.md
  tests/test_cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

chore: update
  cmd2/annotated.py
  examples/annotated_example.py
Owners: @tleonhardt

Fix with_annotated decorator so using ArgumentBlock works with groups (#1718)
  CHANGELOG.md
  cmd2/annotated.py
  docs/features/annotated.md
  examples/annotated_example.py
  tests/test_annotated.py
Owners: @tleonhardt

[Clipboard] Check clipboard on init a provide property. Also add unit tests and Changelog entry.
  CHANGELOG.md
  cmd2/cmd2.py
  tests/test_cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

[Clipboard] unit test and custom exception for clipboard errors
  cmd2/cmd2.py
  cmd2/exceptions.py
  tests/test_cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu, @anselor

mypy
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

text
  tests/test_cmd2.py
Owners: @tleonhardt

[Clipboard] unit tests
  tests/test_cmd2.py
Owners: @tleonhardt

[Clipboard] unit tests
  tests/test_cmd2.py
Owners: @tleonhardt

[Clipboard] fixes
  cmd2/cmd2.py
  tests/test_cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

[Clipboard] unit tests
  tests/test_cmd2.py
Owners: @tleonhardt

[Clipboard] fix
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

[Clipboard] fixes + only activate PyperClip if Cmd is set with `allow_clipboard = True` argument
  cmd2/cmd2.py
  tests/test_cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Updated prompt-toolkit minimum version.
  pyproject.toml
Owners: @tleonhardt

Upgrade ruff to version 0.16.0
  .pre-commit-config.yaml
  cmd2/annotated.py
Owners: @tleonhardt

Upgrade ruff to 0.16.1
  .pre-commit-config.yaml
Owners: @tleonhardt

Fixed bug where already sorted choices_provider results were being re-sorted.
  CHANGELOG.md
  cmd2/argparse_completer.py
  tests/test_argparse_completer.py
Owners: @tleonhardt, @kmvanbrunt, @anselor

Fixed choice_provider in example code.
  examples/modular_commandsets.py
Owners: @anselor

Fixed bug where already sorted choices_provider results were being re-sorted. (#1727)
  CHANGELOG.md
  cmd2/argparse_completer.py
  examples/modular_commandsets.py
  tests/test_argparse_completer.py
Owners: @tleonhardt, @kmvanbrunt, @anselor

Updated CHANGELOG for 4.2.0 release.
  CHANGELOG.md
Owners: @tleonhardt

Bump minor versions of ruff and typos used for CICD
  .pre-commit-config.yaml
Owners: @tleonhardt

Bump ruff to 0.16.3
  .pre-commit-config.yaml
Owners: @tleonhardt

Fixed some broken autoref links in the Zensical documentation
  cmd2/parsing.py
  docs/features/argument_processing.md
  docs/upgrades.md
Owners: @kotfu, @kmvanbrunt, @tleonhardt

Fixed typo
  cmd2/parsing.py
Owners: @kotfu, @kmvanbrunt

Fixed some broken autoref links in the Zensical documentation (#1730)
  cmd2/parsing.py
  docs/features/argument_processing.md
  docs/upgrades.md
Owners: @kotfu, @kmvanbrunt, @tleonhardt

Migrate from mypy to ty as a type checker
  .github/workflows/typecheck.yml
  Makefile
  cmd2/annotated.py
  pyproject.toml
  ruff.toml
  ty.toml
Owners: @tleonhardt

Eliminated all the ty ignore rules other than the one for unresolved attributes
  cmd2/annotated.py
  cmd2/argparse_utils.py
  cmd2/cmd2.py
  cmd2/decorators.py
  cmd2/pt_utils.py
  cmd2/rich_utils.py
  ty.toml
Owners: @tleonhardt, @kmvanbrunt, @anselor, @kotfu

Add unit test for uncovered line
  cmd2/annotated.py
  tests/test_annotated.py
Owners: @tleonhardt

Enabled Ctrl-Z suspension at the prompt
  CHANGELOG.md
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Migrate from mypy to ty as a type checker (#1731)
  .github/workflows/typecheck.yml
  Makefile
  cmd2/annotated.py
  cmd2/argparse_utils.py
  cmd2/cmd2.py
  cmd2/decorators.py
  cmd2/pt_utils.py
  cmd2/rich_utils.py
  pyproject.toml
  ruff.toml
  tests/test_annotated.py
  ty.toml
Owners: @tleonhardt, @kmvanbrunt, @anselor, @kotfu

Enabled Ctrl-Z suspension at the prompt (#1732)
  CHANGELOG.md
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Added support for bracketed paste
  CHANGELOG.md
  cmd2/cmd2.py
  tests/test_cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Added unit test for default PromptSession settings
  tests/test_cmd2.py
Owners: @tleonhardt

Updated CHANGELOG
  CHANGELOG.md
Owners: @tleonhardt

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Owners of code are automatically nominated to review PRs involving that code.

# These owners will be the default owners for everything in the repo.
*       @tleonhardt

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
#*.js    @octocat @github/js

# You can also use email addresses if you prefer.
#docs/*  docs@example.com

# cmd2 code
cmd2/__init__.py           @tleonhardt @kotfu
cmd2/ansi.py               @kmvanbrunt @tleonhardt
cmd2/argparse_*.py         @kmvanbrunt @anselor
cmd2/clipboard.py          @tleonhardt
cmd2/cmd2.py               @tleonhardt @kmvanbrunt @kotfu
cmd2/command_definition.py @anselor
cmd2/constants.py          @kotfu
cmd2/decorators.py         @kotfu @kmvanbrunt @anselor
cmd2/exceptions.py         @kmvanbrunt @anselor
cmd2/history.py            @kotfu @tleonhardt
cmd2/parsing.py            @kotfu @kmvanbrunt
cmd2/plugin.py             @kotfu
cmd2/py_bridge.py          @kmvanbrunt
cmd2/rl_utils.py           @kmvanbrunt
cmd2/table_creator.py      @kmvanbrunt
cmd2/transcript.py         @kotfu
cmd2/utils.py              @tleonhardt @kotfu @kmvanbrunt

# Sphinx documentation
docs/*                  @tleonhardt @kotfu

# Examples
examples/async_printing.py  @kmvanbrunt
examples/environment.py     @kotfu
examples/tab_*.py           @kmvanbrunt
examples/modular_*.py       @anselor
examples/modular_commands/* @anselor

plugins/template/*          @kotfu
plugins/ext_test/*          @anselor

# Unit Tests
tests/pyscript/*              @kmvanbrunt
tests/transcripts/*           @kotfu
tests/__init__.py             @kotfu
tests/conftest.py             @kotfu @tleonhardt
tests/test_argparse.py        @kotfu
tests/test_argparse_*.py      @kmvanbrunt
tests/test_comp*.py           @kmvanbrunt
tests/test_pars*.py           @kotfu
tests/test_run_pyscript.py    @kmvanbrunt
tests/test_transcript.py      @kotfu

tests_isolated/test_commandset/*    @anselor

# Top-level project stuff
CONTRIBUTING.md         @tleonhardt @kotfu
setup.py                @tleonhardt @kotfu
tasks.py                @kotfu
