Repository python-cmd2/cmd2, changes with the owners that CODEOWNERS names for each.
All owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Owners of code are automatically nominated to review PRs involving that code.

# These owners will be the default owners for everything in the repo.
*       @tleonhardt

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
#*.js    @octocat @github/js

# You can also use email addresses if you prefer.
#docs/*  docs@example.com

# cmd2 code
cmd2/__init__.py           @tleonhardt @kotfu
cmd2/ansi.py               @kmvanbrunt @tleonhardt
cmd2/argparse_*.py         @kmvanbrunt @anselor
cmd2/clipboard.py          @tleonhardt
cmd2/cmd2.py               @tleonhardt @kmvanbrunt @kotfu
cmd2/command_definition.py @anselor
cmd2/constants.py          @kotfu
cmd2/decorators.py         @kotfu @kmvanbrunt @anselor
cmd2/exceptions.py         @kmvanbrunt @anselor
cmd2/history.py            @kotfu @tleonhardt
cmd2/parsing.py            @kotfu @kmvanbrunt
cmd2/plugin.py             @kotfu
cmd2/py_bridge.py          @kmvanbrunt
cmd2/rl_utils.py           @kmvanbrunt
cmd2/table_creator.py      @kmvanbrunt
cmd2/transcript.py         @kotfu
cmd2/utils.py              @tleonhardt @kotfu @kmvanbrunt

# Sphinx documentation
docs/*                  @tleonhardt @kotfu

# Examples
examples/async_printing.py  @kmvanbrunt
examples/environment.py     @kotfu
examples/tab_*.py           @kmvanbrunt
examples/modular_*.py       @anselor
examples/modular_commands/* @anselor

plugins/template/*          @kotfu
plugins/ext_test/*          @anselor

# Unit Tests
tests/pyscript/*              @kmvanbrunt
tests/transcripts/*           @kotfu
tests/__init__.py             @kotfu
tests/conftest.py             @kotfu @tleonhardt
tests/test_argparse.py        @kotfu
tests/test_argparse_*.py      @kmvanbrunt
tests/test_comp*.py           @kmvanbrunt
tests/test_pars*.py           @kotfu
tests/test_run_pyscript.py    @kmvanbrunt
tests/test_transcript.py      @kotfu

tests_isolated/test_commandset/*    @anselor

# Top-level project stuff
CONTRIBUTING.md         @tleonhardt @kotfu
setup.py                @tleonhardt @kotfu
tasks.py                @kotfu

Use all available width for traceback panel and code display.
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Use all available width for traceback panel and code display.
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Refactor: Use a single parser instance for subcommands
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Improved docstring for TextGroup.__rich__().
  cmd2/argparse_custom.py
Owners: @kmvanbrunt, @anselor

Improved docstring for TextGroup.__rich__().
  cmd2/argparse_custom.py
Owners: @kmvanbrunt, @anselor

Refactor: Use a single parser instance for subcommands
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Draft example for setting a theme
  examples/rich_theme.py
Owners: @tleonhardt

Fix typos
  examples/rich_theme.py
Owners: @tleonhardt

Add some more elements to the custom theme
  examples/rich_theme.py
Owners: @tleonhardt

Added in a custom self.doc_leader
  examples/rich_theme.py
Owners: @tleonhardt

Fixed issue where help table header Rule() objects were not using the TABLE_BORDER style.
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Add in setting background color for one style to make it discoverable that this is an option
  examples/rich_theme.py
Owners: @tleonhardt

Fix display of doc_leader with background color
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Change some styles to show off different options
  examples/rich_theme.py
Owners: @tleonhardt

Add comments about how colors can be defined
  examples/rich_theme.py
Owners: @tleonhardt

Fix typo
  examples/rich_theme.py
Owners: @tleonhardt

Overrode "traceback.exc_type"
  examples/rich_theme.py
Owners: @tleonhardt

Add example for setting a theme (#1497)
  examples/rich_theme.py
Owners: @tleonhardt

Only apply style to the help header text instead of the entire row.
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

No longer set inspect.attr in the custom theme
  examples/rich_theme.py
Owners: @tleonhardt

Added links to a couple new examples to the list of examples
  examples/README.md
Owners: @tleonhardt

Updated example/README.md
  examples/README.md
Owners: @tleonhardt

Simplify subcommand example within argparse_example.py
  examples/argparse_example.py
Owners: @tleonhardt

Added `required=True` to `add_subparsers()` call in order to simplify implementation for do_calculate
  examples/argparse_example.py
Owners: @tleonhardt

Simplify subcommand example within argparse_example.py (#1498)
  examples/argparse_example.py
Owners: @tleonhardt

Update cmd2.png to reflect 3.0 look and feel
  cmd2.png
Owners: @tleonhardt

Crop bottom off cmd2.png
  cmd2.png
Owners: @tleonhardt

Update CHANGELOG.md to try to make the notes a bit more polished, clearly articulated, and better organized; along with links to examples and other documentation
  CHANGELOG.md
Owners: @tleonhardt

Update CHANGELOG.md to try to make the notes a bit more polished (#1499)
  CHANGELOG.md
Owners: @tleonhardt

Fixed issue where default help category wasn't displaying in help output when there were categorized commands.
  cmd2/cmd2.py
  tests/test_cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Fixed issue where default help category wasn't displaying in help output when there were categorized commands.
  cmd2/cmd2.py
  tests/test_cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Removed rich_utils.string_to_rich_text() in favor of monkey patching Rich's Text.from_ansi(). Now a dev isn't required to call a cmd2-specific function to get the bug fix.
  cmd2/cmd2.py
  cmd2/rich_utils.py
  cmd2/string_utils.py
  examples/rich_theme.py
  tests/conftest.py
  tests/test_cmd2.py
  tests/test_rich_utils.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Removed rich_utils.string_to_rich_text() in favor of monkey patching Rich's Text.from_ansi(). Now a dev isn't required to call a cmd2-specific function to get the bug fix.
  cmd2/cmd2.py
  cmd2/rich_utils.py
  cmd2/string_utils.py
  examples/rich_theme.py
  tests/conftest.py
  tests/test_cmd2.py
  tests/test_rich_utils.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Added docstring to with_ansi_style test decorator.
  tests/conftest.py
Owners: @kotfu, @tleonhardt

Refactor: Allow Rich to handle expandable objects
  cmd2/rich_utils.py
Owners: @tleonhardt

fixed documentation displaying 2 section titles when rendered.
  docs/index.md
Owners: @tleonhardt, @kotfu

fixed readme exmple indentation of function to make it a member of the FirstApp so when copied will work as intended.
  README.md
Owners: @tleonhardt

Migrated emoji, markup, and highlight from rich_print_kwargs to dedicated print_to() parameters to simplify the API and improve discoverability of core functionality.
  cmd2/cmd2.py
  cmd2/rich_utils.py
  tests/test_cmd2.py
  tests/test_rich_utils.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Migrated emoji, markup, and highlight from rich_print_kwargs to dedicated print_to() parameters to simplify the API and improve discoverability of core functionality.
  cmd2/cmd2.py
  cmd2/rich_utils.py
  tests/test_cmd2.py
  tests/test_rich_utils.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Add code to cache initial termios settings in cmd2.Cmd.__init__
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu
