Repository python-cmd2/cmd2, changes with the owners that CODEOWNERS names for each.
All owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Owners of code are automatically nominated to review PRs involving that code.

# These owners will be the default owners for everything in the repo.
*       @tleonhardt

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
#*.js    @octocat @github/js

# You can also use email addresses if you prefer.
#docs/*  docs@example.com

# cmd2 code
cmd2/__init__.py           @tleonhardt @kotfu
cmd2/ansi.py               @kmvanbrunt @tleonhardt
cmd2/argparse_*.py         @kmvanbrunt @anselor
cmd2/clipboard.py          @tleonhardt
cmd2/cmd2.py               @tleonhardt @kmvanbrunt @kotfu
cmd2/command_definition.py @anselor
cmd2/constants.py          @kotfu
cmd2/decorators.py         @kotfu @kmvanbrunt @anselor
cmd2/exceptions.py         @kmvanbrunt @anselor
cmd2/history.py            @kotfu @tleonhardt
cmd2/parsing.py            @kotfu @kmvanbrunt
cmd2/plugin.py             @kotfu
cmd2/py_bridge.py          @kmvanbrunt
cmd2/rl_utils.py           @kmvanbrunt
cmd2/table_creator.py      @kmvanbrunt
cmd2/transcript.py         @kotfu
cmd2/utils.py              @tleonhardt @kotfu @kmvanbrunt

# Sphinx documentation
docs/*                  @tleonhardt @kotfu

# Examples
examples/async_printing.py  @kmvanbrunt
examples/environment.py     @kotfu
examples/tab_*.py           @kmvanbrunt
examples/modular_*.py       @anselor
examples/modular_commands/* @anselor

plugins/template/*          @kotfu
plugins/ext_test/*          @anselor

# Unit Tests
tests/pyscript/*              @kmvanbrunt
tests/transcripts/*           @kotfu
tests/__init__.py             @kotfu
tests/conftest.py             @kotfu @tleonhardt
tests/test_argparse.py        @kotfu
tests/test_argparse_*.py      @kmvanbrunt
tests/test_comp*.py           @kmvanbrunt
tests/test_pars*.py           @kotfu
tests/test_run_pyscript.py    @kmvanbrunt
tests/test_transcript.py      @kotfu

tests_isolated/test_commandset/*    @anselor

# Top-level project stuff
CONTRIBUTING.md         @tleonhardt @kotfu
setup.py                @tleonhardt @kotfu
tasks.py                @kotfu

Add unit test for case when a str is passed to rich-to_pt_style
  tests/test_pt_utils.py
Owners: @tleonhardt

Attempt at a compromise format that is split over 2 lines
  cmd2/cmd2.py
  tests/test_cmd2.py
  tests/test_commandset.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Added methods to Cmd2ArgumentParser to support redirection of help and usage output during the parsing phase.
  cmd2/argparse_completer.py
  cmd2/argparse_utils.py
  cmd2/cmd2.py
  cmd2/decorators.py
Owners: @kmvanbrunt, @anselor, @tleonhardt, @kotfu

Made docstrings the single source of truth for verbose help descriptions.
  cmd2/cmd2.py
  tests/test_cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Only capture command output written to self.stdout during pyscript execution.
  cmd2/py_bridge.py
  tests/pyscript/stdout_capture.py
  tests/test_run_pyscript.py
Owners: @kmvanbrunt

No longer capturing sys.stdout when redirecting output.
  cmd2/cmd2.py
  cmd2/utils.py
  docs/features/settings.md
  tests/conftest.py
  tests/test_cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Made py_print's signature match print's
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Updated comments.
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Added unit tests.
  tests/pyscript/environment.py
  tests/pyscript/test_print.py
  tests/test_run_pyscript.py
Owners: @kmvanbrunt

Updated comment.
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Added HelpFormatterRenderable to simplify how we pass help formatter when rendering argparse help.
  CHANGELOG.md
  cmd2/argparse_utils.py
  cmd2/cmd2.py
  cmd2/rich_utils.py
  tests/test_rich_utils.py
Owners: @tleonhardt, @kmvanbrunt, @anselor, @kotfu

Added ability to set the file stream for all argparse output.
  cmd2/argparse_utils.py
  cmd2/rich_utils.py
Owners: @kmvanbrunt, @anselor, @tleonhardt

Added unit tests.
  tests/test_argparse_utils.py
  tests/test_rich_utils.py
Owners: @kmvanbrunt, @tleonhardt

Updated change log.
  CHANGELOG.md
Owners: @tleonhardt

Added test.
  tests/pyscript/test_print.py
  tests/test_run_pyscript.py
Owners: @kmvanbrunt

Fixed test on Python 3.15.
  cmd2/argparse_utils.py
Owners: @kmvanbrunt, @anselor

Removed parse_args wrappers and made context manager public.
  CHANGELOG.md
  cmd2/argparse_utils.py
  cmd2/decorators.py
  tests/test_argparse_utils.py
Owners: @tleonhardt, @kmvanbrunt, @anselor, @kotfu

Updated comments.
  CHANGELOG.md
  cmd2/argparse_utils.py
  tests/test_argparse_utils.py
Owners: @tleonhardt, @kmvanbrunt, @anselor

Updated change log.
  CHANGELOG.md
Owners: @tleonhardt

Updated change log.
  CHANGELOG.md
Owners: @tleonhardt

Overhauled redirection and output capturing (#1654)
  CHANGELOG.md
  cmd2/argparse_completer.py
  cmd2/argparse_utils.py
  cmd2/cmd2.py
  cmd2/decorators.py
  cmd2/py_bridge.py
  cmd2/rich_utils.py
  cmd2/utils.py
  docs/features/settings.md
  tests/conftest.py
  tests/pyscript/environment.py
  tests/pyscript/stdout_capture.py
  tests/pyscript/test_print.py
  tests/test_argparse_utils.py
  tests/test_cmd2.py
  tests/test_rich_utils.py
  tests/test_run_pyscript.py
Owners: @tleonhardt, @kmvanbrunt, @anselor, @kotfu

Fixed default value for traceback_show_locals.
  cmd2/cmd2.py
  tests/test_cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Fixed default value for traceback_show_locals. (#1655)
  cmd2/cmd2.py
  tests/test_cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Updated change log.
  CHANGELOG.md
Owners: @tleonhardt

Fix validation options in mkdocs.yml for new version of Zensical
  mkdocs.yml
Owners: @tleonhardt

Cmd2Lexer colors are now part of the cmd2 rich theme
  cmd2/pt_utils.py
  cmd2/styles.py
  examples/rich_theme.py
  tests/test_pt_utils.py
Owners: @tleonhardt

Lexer colors now change if a user changes the theme during runtime
  cmd2/pt_utils.py
  cmd2/rich_utils.py
  tests/test_pt_utils.py
Owners: @tleonhardt

rich_to_pt_style now also supports blink, reverse, and conceal/hidden styles
  cmd2/pt_utils.py
  tests/test_pt_utils.py
Owners: @tleonhardt

Removed pointless try/except
  cmd2/rich_utils.py
Owners: @tleonhardt

Apparently I forgot to hit save after changing this previously
  cmd2/pt_utils.py
Owners: @tleonhardt

Fix tests after removing noreverse for color conversion initializaiton
  tests/test_pt_utils.py
Owners: @tleonhardt

Enable true color support for both main and temporary prompt-toolkit sessions
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Added additional prompt-toolkit completion styles to cmd2's rich theme
  CHANGELOG.md
  cmd2/cmd2.py
  cmd2/styles.py
  docs/features/theme.md
  docs/upgrades.md
  examples/rich_theme.py
  tests/test_cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Temporary prompt-toolkit sessions now get style from main session
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Add register_theme_update_callback function to rich_utils.py
  cmd2/pt_utils.py
  cmd2/rich_utils.py
  tests/test_pt_utils.py
  tests/test_rich_utils.py
Owners: @tleonhardt

Updated changelog with info on register_theme_update_callback
  CHANGELOG.md
Owners: @tleonhardt

cmd2.Cmd now updates pt_style based on callback method registation
  cmd2/cmd2.py
  tests/test_cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Also set color_depth in the secret prompt
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Use consistent terminology in adjacent comments
  cmd2/styles.py
Owners: @tleonhardt

Add styles to theme for prompt-toolkit completion styles (#1653)
  CHANGELOG.md
  cmd2/cmd2.py
  cmd2/pt_utils.py
  cmd2/rich_utils.py
  cmd2/styles.py
  docs/features/completion.md
  docs/features/theme.md
  docs/upgrades.md
  examples/rich_theme.py
  tests/test_cmd2.py
  tests/test_pt_utils.py
  tests/test_rich_utils.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu
