Repository python-cmd2/cmd2, changes with the owners that CODEOWNERS names for each.
All owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

Move doc8 config to pyrpoject.toml from setup.cfg (#1343)
  pyproject.toml
  setup.cfg
Owners: @tleonhardt

Preparing for a release.
  CHANGELOG.md
Owners: @tleonhardt

Updated copyright year.
  LICENSE
Owners: @tleonhardt

Move mypy configuration to pyproject.toml from setup.cfg
  plugins/ext_test/pyproject.toml
  plugins/ext_test/tasks.py
  plugins/tasks.py
  setup.cfg
  tasks.py
Owners: @anselor, @kotfu, @tleonhardt

Fix mypy GitHub Action to directly call mypy
  .github/workflows/mypy.yml
  noxfile.py
Owners: @tleonhardt

Move mypy configuration to pyproject.toml from setup.cfg (#1344)
  .github/workflows/mypy.yml
  noxfile.py
  plugins/ext_test/pyproject.toml
  plugins/ext_test/tasks.py
  plugins/tasks.py
  setup.cfg
  tasks.py
Owners: @tleonhardt, @anselor, @kotfu

Add ruff to Pipfile
  Pipfile
Owners: @tleonhardt

Move pytest config to pyproject.toml from setup.cfg
  .github/workflows/build.yml
  .github/workflows/ci.yml
  pyproject.toml
  setup.cfg
Owners: @tleonhardt

Fix build workflow
  .github/workflows/build.yml
Owners: @tleonhardt

Fix build.yml GitHub Action workflow
  .github/workflows/build.yml
Owners: @tleonhardt

Move pytest config to pyproject.toml from setup.cfg (#1345)
  .github/workflows/build.yml
  pyproject.toml
  setup.cfg
Owners: @tleonhardt

Fix typos
  .github/CONTRIBUTING.md
  CHANGELOG.md
  README.md
  cmd2/argparse_custom.py
  cmd2/transcript.py
  docs/doc_conventions.rst
  docs/features/commands.rst
  docs/features/help.rst
  docs/features/hooks.rst
  docs/features/scripting.rst
  docs/features/settings.rst
  docs/migrating/why.rst
  docs/testing.rst
  plugins/template/README.md
  readme_files/shout_out.csv
  readme_files/shoutout.txt
  tests/test_argparse.py
  tests/test_argparse_completer.py
  tests/test_cmd2.py
  tests/test_completion.py
  tests/test_parsing.py
  tests/test_plugin.py
  tests/test_utils.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

Add build and setuptools-scm to Pipfile
  Pipfile
  pyproject.toml
Owners: @tleonhardt

Add build and setuptools-scm to Pipfile (#1347)
  Pipfile
  pyproject.toml
Owners: @tleonhardt

Fixed spelling errors.
  .github/CONTRIBUTING.md
  CHANGELOG.md
  README.md
  cmd2/argparse_custom.py
  cmd2/transcript.py
  docs/doc_conventions.rst
  docs/features/commands.rst
  docs/features/help.rst
  docs/features/hooks.rst
  docs/features/scripting.rst
  docs/features/settings.rst
  docs/migrating/why.rst
  docs/testing.rst
  plugins/template/README.md
  readme_files/shoutout.txt
  tests/test_argparse.py
  tests/test_argparse_completer.py
  tests/test_cmd2.py
  tests/test_completion.py
  tests/test_parsing.py
  tests/test_plugin.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

Fixed spelling errors.
  .github/CONTRIBUTING.md
  CHANGELOG.md
  README.md
  cmd2/argparse_custom.py
  cmd2/transcript.py
  docs/doc_conventions.rst
  docs/features/commands.rst
  docs/features/help.rst
  docs/features/hooks.rst
  docs/features/scripting.rst
  docs/features/settings.rst
  docs/migrating/why.rst
  docs/testing.rst
  plugins/template/README.md
  readme_files/shoutout.txt
  tests/test_argparse.py
  tests/test_argparse_completer.py
  tests/test_cmd2.py
  tests/test_completion.py
  tests/test_parsing.py
  tests/test_plugin.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

Updated pypi_test task to use --repository flag in its twine command.
  tasks.py
Owners: @kotfu

Updated pypi_test task to use --repository flag in its twine command.
  tasks.py
Owners: @kotfu

Removed macros.
  CHANGELOG.md
  README.md
  cmd2/cmd2.py
  cmd2/parsing.py
  docs/api/cmd.rst
  docs/api/parsing.rst
  docs/examples/first_app.rst
  docs/features/builtin_commands.rst
  docs/features/commands.rst
  docs/features/help.rst
  docs/features/history.rst
  docs/features/index.rst
  docs/features/initialization.rst
  docs/features/os.rst
  docs/features/shortcuts_aliases.rst
  docs/migrating/incompatibilities.rst
  docs/migrating/why.rst
  examples/help_categories.py
  tests/conftest.py
  tests/test_cmd2.py
  tests/test_completion.py
  tests/test_parsing.py
  tests_isolated/test_commandset/conftest.py
  tests_isolated/test_commandset/test_commandset.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu, @anselor

Removed macros.
  CHANGELOG.md
  README.md
  cmd2/cmd2.py
  cmd2/parsing.py
  docs/api/cmd.rst
  docs/api/parsing.rst
  docs/examples/first_app.rst
  docs/features/builtin_commands.rst
  docs/features/commands.rst
  docs/features/help.rst
  docs/features/history.rst
  docs/features/index.rst
  docs/features/initialization.rst
  docs/features/os.rst
  docs/features/shortcuts_aliases.rst
  docs/migrating/incompatibilities.rst
  docs/migrating/why.rst
  examples/help_categories.py
  tests/conftest.py
  tests/test_cmd2.py
  tests/test_completion.py
  tests/test_parsing.py
  tests_isolated/test_commandset/conftest.py
  tests_isolated/test_commandset/test_commandset.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu, @anselor

All built-in commands now use a function to create their argument parser. This simplifies the process for overriding cmd2's default parser class.
  CHANGELOG.md
  cmd2/__init__.py
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  cmd2/decorators.py
  docs/conf.py
  examples/custom_parser.py
  examples/help_categories.py
  examples/override_parser.py
  plugins/ext_test/pyproject.toml
  pyproject.toml
  tests/test_argparse_custom.py
  tests/test_history.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

All built-in commands now use a function to create their argument parser. This simplifies the process for overriding cmd2's default parser class.
  CHANGELOG.md
  cmd2/__init__.py
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  cmd2/decorators.py
  docs/conf.py
  examples/custom_parser.py
  examples/help_categories.py
  examples/override_parser.py
  plugins/ext_test/pyproject.toml
  pyproject.toml
  tests/test_argparse_custom.py
  tests/test_history.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

Integrated rich-argparse with cmd2.
  .github/workflows/mypy.yml
  Pipfile
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  docs/conf.py
  docs/features/help.rst
  setup.py
  tests/conftest.py
  tests/test_argparse.py
  tests/test_argparse_custom.py
  tests/test_cmd2.py
  tests/test_transcript.py
  tests/transcripts/from_cmdloop.txt
  tests_isolated/test_commandset/test_argparse_subcommands.py
Owners: @tleonhardt, @kmvanbrunt, @anselor, @kotfu

Integrated rich-argparse with cmd2. (#1356)
  .github/workflows/mypy.yml
  Pipfile
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  docs/conf.py
  docs/features/help.rst
  setup.py
  tests/conftest.py
  tests/test_argparse.py
  tests/test_argparse_custom.py
  tests/test_cmd2.py
  tests/test_transcript.py
  tests/transcripts/from_cmdloop.txt
  tests_isolated/test_commandset/test_argparse_subcommands.py
Owners: @tleonhardt, @kmvanbrunt, @anselor, @kotfu

Fix bug when using ipy with gnureadline and Python 3.13
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Fix mypy error with IPython stuff
  .github/workflows/mypy.yml
Owners: @tleonhardt

Fix mypy errors when importing stuff from IPython
  .github/workflows/mypy.yml
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Updated CHANGELOG with info on bug fix
  CHANGELOG.md
Owners: @tleonhardt

Added invoke task for cleaning ruff cache directory
  tasks.py
Owners: @kotfu

Added ruff cache clean invoke task to plugins
  plugins/tasks.py
Owners: @kotfu

Use the "ruff clean" command to clear all ruff cache dirs
  plugins/tasks.py
  tasks.py
Owners: @kotfu

Made cmd2/parsing.py non-executable and examples executable
  cmd2/parsing.py
  examples/argparse_completion.py
  examples/default_categories.py
  examples/modular_commands_basic.py
  examples/modular_commands_dynamic.py
  examples/modular_commands_main.py
  examples/modular_subcommands.py
  examples/read_input.py
Owners: @kotfu, @kmvanbrunt, @tleonhardt, @anselor

Fix bug when using ipy with gnureadline and Python 3.13 (#1358)
  .github/workflows/mypy.yml
  CHANGELOG.md
  cmd2/cmd2.py
  cmd2/parsing.py
  examples/argparse_completion.py
  examples/default_categories.py
  examples/modular_commands_basic.py
  examples/modular_commands_dynamic.py
  examples/modular_commands_main.py
  examples/modular_subcommands.py
  examples/read_input.py
  tasks.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu, @anselor

Fix a few links that referred to the wrong lines of code
  CHANGELOG.md
  docs/features/prompt.rst
Owners: @tleonhardt

Fix a few links that referred to the wrong lines of code (#1359)
  CHANGELOG.md
  docs/features/prompt.rst
Owners: @tleonhardt

Fix a pytest warning about an invalid escape sequence
  tests/test_transcript.py
Owners: @kotfu

Fix a pytest warning about an invalid escape sequence (#1360)
  tests/test_transcript.py
Owners: @kotfu

Remove unused mypy ignores.
  .github/workflows/mypy.yml
  cmd2/ansi.py
  cmd2/argparse_completer.py
  cmd2/argparse_custom.py
  cmd2/clipboard.py
  cmd2/cmd2.py
  cmd2/decorators.py
  cmd2/parsing.py
  cmd2/table_creator.py
  cmd2/utils.py
Owners: @tleonhardt, @kmvanbrunt, @anselor, @kotfu

Remove unused mypy ignores. (#1361)
  .github/workflows/mypy.yml
  cmd2/ansi.py
  cmd2/argparse_completer.py
  cmd2/argparse_custom.py
  cmd2/clipboard.py
  cmd2/cmd2.py
  cmd2/decorators.py
  cmd2/parsing.py
  cmd2/table_creator.py
  cmd2/utils.py
Owners: @tleonhardt, @kmvanbrunt, @anselor, @kotfu

Remove tests_isolated from default tests run with pytest
  pyproject.toml
Owners: @tleonhardt

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Owners of code are automatically nominated to review PRs involving that code.

# These owners will be the default owners for everything in the repo.
*       @tleonhardt

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
#*.js    @octocat @github/js

# You can also use email addresses if you prefer.
#docs/*  docs@example.com

# cmd2 code
cmd2/__init__.py           @tleonhardt @kotfu
cmd2/ansi.py               @kmvanbrunt @tleonhardt
cmd2/argparse_*.py         @kmvanbrunt @anselor
cmd2/clipboard.py          @tleonhardt
cmd2/cmd2.py               @tleonhardt @kmvanbrunt @kotfu
cmd2/command_definition.py @anselor
cmd2/constants.py          @kotfu
cmd2/decorators.py         @kotfu @kmvanbrunt @anselor
cmd2/exceptions.py         @kmvanbrunt @anselor
cmd2/history.py            @kotfu @tleonhardt
cmd2/parsing.py            @kotfu @kmvanbrunt
cmd2/plugin.py             @kotfu
cmd2/py_bridge.py          @kmvanbrunt
cmd2/rl_utils.py           @kmvanbrunt
cmd2/table_creator.py      @kmvanbrunt
cmd2/transcript.py         @kotfu
cmd2/utils.py              @tleonhardt @kotfu @kmvanbrunt

# Sphinx documentation
docs/*                  @tleonhardt @kotfu

# Examples
examples/async_printing.py  @kmvanbrunt
examples/environment.py     @kotfu
examples/tab_*.py           @kmvanbrunt
examples/modular_*.py       @anselor
examples/modular_commands/* @anselor

plugins/template/*          @kotfu
plugins/ext_test/*          @anselor

# Unit Tests
tests/pyscript/*              @kmvanbrunt
tests/transcripts/*           @kotfu
tests/__init__.py             @kotfu
tests/conftest.py             @kotfu @tleonhardt
tests/test_argparse.py        @kotfu
tests/test_argparse_*.py      @kmvanbrunt
tests/test_comp*.py           @kmvanbrunt
tests/test_pars*.py           @kotfu
tests/test_run_pyscript.py    @kmvanbrunt
tests/test_transcript.py      @kotfu

tests_isolated/test_commandset/*    @anselor

# Top-level project stuff
CONTRIBUTING.md         @tleonhardt @kotfu
setup.py                @tleonhardt @kotfu
tasks.py                @kotfu
