Repository python-cmd2/cmd2, changes with the owners that CODEOWNERS names for each.
All owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Owners of code are automatically nominated to review PRs involving that code.

# These owners will be the default owners for everything in the repo.
*       @tleonhardt

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
#*.js    @octocat @github/js

# You can also use email addresses if you prefer.
#docs/*  docs@example.com

# cmd2 code
cmd2/__init__.py           @tleonhardt @kotfu
cmd2/ansi.py               @kmvanbrunt @tleonhardt
cmd2/argparse_*.py         @kmvanbrunt @anselor
cmd2/clipboard.py          @tleonhardt
cmd2/cmd2.py               @tleonhardt @kmvanbrunt @kotfu
cmd2/command_definition.py @anselor
cmd2/constants.py          @kotfu
cmd2/decorators.py         @kotfu @kmvanbrunt @anselor
cmd2/exceptions.py         @kmvanbrunt @anselor
cmd2/history.py            @kotfu @tleonhardt
cmd2/parsing.py            @kotfu @kmvanbrunt
cmd2/plugin.py             @kotfu
cmd2/py_bridge.py          @kmvanbrunt
cmd2/rl_utils.py           @kmvanbrunt
cmd2/table_creator.py      @kmvanbrunt
cmd2/transcript.py         @kotfu
cmd2/utils.py              @tleonhardt @kotfu @kmvanbrunt

# Sphinx documentation
docs/*                  @tleonhardt @kotfu

# Examples
examples/async_printing.py  @kmvanbrunt
examples/environment.py     @kotfu
examples/tab_*.py           @kmvanbrunt
examples/modular_*.py       @anselor
examples/modular_commands/* @anselor

plugins/template/*          @kotfu
plugins/ext_test/*          @anselor

# Unit Tests
tests/pyscript/*              @kmvanbrunt
tests/transcripts/*           @kotfu
tests/__init__.py             @kotfu
tests/conftest.py             @kotfu @tleonhardt
tests/test_argparse.py        @kotfu
tests/test_argparse_*.py      @kmvanbrunt
tests/test_comp*.py           @kmvanbrunt
tests/test_pars*.py           @kotfu
tests/test_run_pyscript.py    @kmvanbrunt
tests/test_transcript.py      @kotfu

tests_isolated/test_commandset/*    @anselor

# Top-level project stuff
CONTRIBUTING.md         @tleonhardt @kotfu
setup.py                @tleonhardt @kotfu
tasks.py                @kotfu

Restore macros (#1464)
  CHANGELOG.md
  README.md
  cmd2/cmd2.py
  cmd2/parsing.py
  docs/examples/first_app.md
  docs/features/builtin_commands.md
  docs/features/commands.md
  docs/features/help.md
  docs/features/history.md
  docs/features/index.md
  docs/features/initialization.md
  docs/features/os.md
  docs/features/shortcuts_aliases_macros.md
  docs/migrating/incompatibilities.md
  docs/migrating/why.md
  mkdocs.yml
  tests/conftest.py
  tests/test_cmd2.py
  tests/test_completion.py
  tests/test_parsing.py
  tests_isolated/test_commandset/conftest.py
  tests_isolated/test_commandset/test_commandset.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu, @anselor

Update version of ruff used by pre-commit
  .pre-commit-config.yaml
Owners: @tleonhardt

Updated some help text and colors.
  cmd2/cmd2.py
  cmd2/rich_utils.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Updated some help text and colors.
  cmd2/cmd2.py
  cmd2/rich_utils.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Moved decorators._set_parser_prog() to argparse_custom.set_parser_prog().
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  cmd2/decorators.py
  tests/test_argparse.py
  tests_isolated/test_commandset/test_argparse_subcommands.py
Owners: @kmvanbrunt, @anselor, @tleonhardt, @kotfu

Moved decorators._set_parser_prog() to argparse_custom.set_parser_prog().
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  cmd2/decorators.py
  tests/test_argparse.py
  tests_isolated/test_commandset/test_argparse_subcommands.py
Owners: @kmvanbrunt, @anselor, @tleonhardt, @kotfu

Changed do_help() so that argparsers print their own help.
  cmd2/argparse_completer.py
  cmd2/cmd2.py
Owners: @kmvanbrunt, @anselor, @tleonhardt, @kotfu

Changed do_help() so that argparsers print their own help.
  cmd2/argparse_completer.py
  cmd2/cmd2.py
Owners: @kmvanbrunt, @anselor, @tleonhardt, @kotfu

Only redirect sys.stdout when it's the same as self.stdout.
  cmd2/cmd2.py
  cmd2/py_bridge.py
  cmd2/utils.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Added unit tests for when to redirect/capture sys.stdout.
  CHANGELOG.md
  cmd2/py_bridge.py
  tests/conftest.py
  tests/pyscript/stdout_capture.py
  tests/test_argparse_completer.py
  tests/test_cmd2.py
  tests/test_run_pyscript.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Only redirect sys.stdout when it's the same as self.stdout.
  cmd2/cmd2.py
  cmd2/py_bridge.py
  cmd2/utils.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Added unit tests for when to redirect/capture sys.stdout.
  CHANGELOG.md
  cmd2/py_bridge.py
  tests/conftest.py
  tests/pyscript/stdout_capture.py
  tests/test_argparse_completer.py
  tests/test_cmd2.py
  tests/test_run_pyscript.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Add mypy type checking for Python 3.14 and use open() instead of codecs.open() due to deprecation in 3.14
  .github/workflows/typecheck.yml
  cmd2/utils.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt

Add mypy type checking for Python 3.14 and use open() instead of codecs.open() due to deprecation in 3.14 (#1470)
  .github/workflows/typecheck.yml
  cmd2/utils.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt

Enabled all printing methods to support Rich objects.
  cmd2/cmd2.py
  cmd2/rich_utils.py
  cmd2/rl_utils.py
  tests/test_cmd2.py
  tests/transcripts/regex_set.txt
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Added unit tests and updated change log.
  CHANGELOG.md
  cmd2/cmd2.py
  cmd2/rich_utils.py
  tests/test_cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Enabled all printing methods to support Rich objects. (#1471)
  CHANGELOG.md
  cmd2/cmd2.py
  cmd2/rich_utils.py
  cmd2/rl_utils.py
  tests/test_cmd2.py
  tests/transcripts/regex_set.txt
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Drop support for Python 3.9 and require 3.10 minimum
  .github/CONTRIBUTING.md
  .github/workflows/tests.yml
  .github/workflows/typecheck.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  README.md
  cmd2/ansi.py
  cmd2/argparse_completer.py
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  cmd2/command_definition.py
  cmd2/decorators.py
  cmd2/history.py
  cmd2/parsing.py
  cmd2/plugin.py
  cmd2/py_bridge.py
  cmd2/rich_utils.py
  cmd2/rl_utils.py
  cmd2/table_creator.py
  cmd2/utils.py
  docs/overview/installation.md
  examples/modular_commands_main.py
  package.json
  plugins/ext_test/build-pyenvs.sh
  plugins/ext_test/cmd2_ext_test/cmd2_ext_test.py
  plugins/ext_test/noxfile.py
  plugins/ext_test/setup.py
  plugins/template/README.md
  plugins/template/build-pyenvs.sh
  plugins/template/noxfile.py
  plugins/template/setup.py
  pyproject.toml
  tasks.py
  tests/conftest.py
  tests/test_argparse.py
  tests_isolated/test_commandset/conftest.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

Restored some comments.
  cmd2/decorators.py
Owners: @kotfu, @kmvanbrunt, @anselor

Drop support for Python 3.9 and require 3.10 minimum (#1473)
  .github/CONTRIBUTING.md
  .github/workflows/tests.yml
  .github/workflows/typecheck.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  README.md
  cmd2/ansi.py
  cmd2/argparse_completer.py
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  cmd2/command_definition.py
  cmd2/decorators.py
  cmd2/history.py
  cmd2/parsing.py
  cmd2/plugin.py
  cmd2/py_bridge.py
  cmd2/rich_utils.py
  cmd2/rl_utils.py
  cmd2/table_creator.py
  cmd2/utils.py
  docs/overview/installation.md
  examples/modular_commands_main.py
  package.json
  plugins/ext_test/build-pyenvs.sh
  plugins/ext_test/cmd2_ext_test/cmd2_ext_test.py
  plugins/ext_test/noxfile.py
  plugins/ext_test/setup.py
  plugins/template/README.md
  plugins/template/build-pyenvs.sh
  plugins/template/noxfile.py
  plugins/template/setup.py
  pyproject.toml
  tasks.py
  tests/conftest.py
  tests/test_argparse.py
  tests_isolated/test_commandset/conftest.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

All tables in cmd2 are now rich-based, including those used in tab completion. Added a StrEnum for all cmd2 text styles.
  cmd2/argparse_completer.py
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  cmd2/rich_utils.py
  docs/features/builtin_commands.md
  examples/argparse_completion.py
  pyproject.toml
  tests/conftest.py
  tests/test_argparse_completer.py
  tests/test_cmd2.py
  tests/test_history.py
  tests/transcripts/regex_set.txt
  tests_isolated/test_commandset/conftest.py
Owners: @kmvanbrunt, @anselor, @tleonhardt, @kotfu

Force UTF-8 Unicode encoding when running tests both locally and in GitHub Actions
  .github/workflows/tests.yml
  Makefile
Owners: @tleonhardt

Fixed unit test on Windows.
  tests/transcripts/regex_set.txt
Owners: @kotfu

Fixed issue where colors were being stripped by pyreadline3.
  cmd2/argparse_completer.py
  cmd2/cmd2.py
Owners: @kmvanbrunt, @anselor, @tleonhardt, @kotfu

All tables in cmd2 are now rich-based. (#1475)
  .github/workflows/tests.yml
  Makefile
  cmd2/argparse_completer.py
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  cmd2/rich_utils.py
  docs/features/builtin_commands.md
  examples/argparse_completion.py
  pyproject.toml
  tests/conftest.py
  tests/test_argparse_completer.py
  tests/test_cmd2.py
  tests/test_history.py
  tests/transcripts/regex_set.txt
  tests_isolated/test_commandset/conftest.py
Owners: @tleonhardt, @kmvanbrunt, @anselor, @kotfu

Backing up working. Lots of refactoring. Tests are broken.
  .github/CONTRIBUTING.md
  CHANGELOG.md
  cmd2/__init__.py
  cmd2/ansi.py
  cmd2/argparse_completer.py
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  cmd2/colors.py
  cmd2/constants.py
  cmd2/exceptions.py
  cmd2/history.py
  cmd2/parsing.py
  cmd2/rich_utils.py
  cmd2/string_utils.py
  cmd2/table_creator.py
  cmd2/transcript.py
  cmd2/utils.py
  docs/features/generating_output.md
  docs/requirements.txt
  examples/async_printing.py
  examples/custom_parser.py
  examples/table_creation.py
  pyproject.toml
  tests/test_ansi.py
  tests/test_cmd2.py
  tests/test_parsing.py
  tests/test_table_creator.py
  tests/test_utils.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

Change utils.get_types to use inspect.get_annotations that was added in Python 3.10 since we dropped support for 3.9
  .gitignore
  .pre-commit-config.yaml
  cmd2/utils.py
  docs/api/utils.md
Owners: @tleonhardt, @kotfu, @kmvanbrunt

Change utils.get_types to use inspect.get_annotations that was added in Python 3.10 since we dropped support for 3.9 (#1476)
  .gitignore
  .pre-commit-config.yaml
  cmd2/utils.py
  docs/api/utils.md
Owners: @tleonhardt, @kotfu, @kmvanbrunt

Refactored cmd2 to better account for our use of Rich.
  .github/CONTRIBUTING.md
  CHANGELOG.md
  cmd2/__init__.py
  cmd2/ansi.py
  cmd2/argparse_completer.py
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  cmd2/colors.py
  cmd2/constants.py
  cmd2/exceptions.py
  cmd2/history.py
  cmd2/parsing.py
  cmd2/rich_utils.py
  cmd2/string_utils.py
  cmd2/styles.py
  cmd2/table_creator.py
  cmd2/terminal_utils.py
  cmd2/transcript.py
  cmd2/utils.py
  docs/features/generating_output.md
  docs/requirements.txt
  examples/async_printing.py
  examples/custom_parser.py
  examples/table_creation.py
  pyproject.toml
  tests/test_ansi.py
  tests/test_cmd2.py
  tests/test_parsing.py
  tests/test_run_pyscript.py
  tests/test_string_utils.py
  tests/test_table_creator.py
  tests/test_terminal_utils.py
  tests/test_utils.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

Fixed documentation build on refactoring branch
  docs/api/ansi.md
  docs/api/clipboard.md
  docs/api/colors.md
  docs/api/index.md
  docs/api/rich_utils.md
  docs/api/rl_utils.md
  docs/api/string_utils.md
  docs/api/table_creator.md
  docs/api/terminal_utils.md
  docs/api/transcript.md
  docs/features/generating_output.md
  docs/features/table_creation.md
  mkdocs.yml
Owners: @tleonhardt

Fixed explanation of `colors` module in documentation now that it no longer contains a StrEnum
  docs/api/index.md
Owners: @tleonhardt

Moved the style and color string constants into Cmd2Style and ColorName StrEnums.
  cmd2/__init__.py
  cmd2/argparse_completer.py
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  cmd2/colors.py
  cmd2/rich_utils.py
  cmd2/styles.py
  docs/api/index.md
  docs/api/styles.md
  mkdocs.yml
  pyproject.toml
  tests/test_cmd2.py
  tests/test_string_utils.py
  tests/test_terminal_utils.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

Removed unused AnsiSequence class.
  cmd2/terminal_utils.py
Owners: @tleonhardt

Renamed ColorName enum to Color.
  cmd2/__init__.py
  cmd2/colors.py
  cmd2/styles.py
  docs/api/index.md
  tests/test_cmd2.py
  tests/test_string_utils.py
  tests/test_terminal_utils.py
Owners: @tleonhardt, @kotfu

Addressing some code review comments.
  .github/CONTRIBUTING.md
  docs/requirements.txt
  examples/async_printing.py
  pyproject.toml
Owners: @tleonhardt, @kotfu, @kmvanbrunt

Addressing more code review comments.
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  cmd2/history.py
  cmd2/parsing.py
  tests/test_cmd2.py
  tests/test_completion.py
  tests/test_parsing.py
  tests/test_string_utils.py
  tests/test_terminal_utils.py
Owners: @kmvanbrunt, @anselor, @tleonhardt, @kotfu

Added documentation to colors.Color and resorted its members with a natural sort.
  cmd2/colors.py
Owners: @tleonhardt

Added more documentation.
  CHANGELOG.md
  cmd2/colors.py
Owners: @tleonhardt

Simplified some imports.
  cmd2/argparse_custom.py
  cmd2/string_utils.py
  cmd2/terminal_utils.py
  cmd2/transcript.py
  cmd2/utils.py
Owners: @kmvanbrunt, @anselor, @tleonhardt, @kotfu

Renamed rich_utils.allow_style to rich_utils.ALLOW_STYLE to be consistent with our other global settings.
  cmd2/cmd2.py
  cmd2/rich_utils.py
  tests/test_cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu
