Repository python-cmd2/cmd2, changes with the owners that CODEOWNERS names for each.
All owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Owners of code are automatically nominated to review PRs involving that code.

# These owners will be the default owners for everything in the repo.
*       @tleonhardt

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
#*.js    @octocat @github/js

# You can also use email addresses if you prefer.
#docs/*  docs@example.com

# cmd2 code
cmd2/__init__.py           @tleonhardt @kotfu
cmd2/ansi.py               @kmvanbrunt @tleonhardt
cmd2/argparse_*.py         @kmvanbrunt @anselor
cmd2/clipboard.py          @tleonhardt
cmd2/cmd2.py               @tleonhardt @kmvanbrunt @kotfu
cmd2/command_definition.py @anselor
cmd2/constants.py          @kotfu
cmd2/decorators.py         @kotfu @kmvanbrunt @anselor
cmd2/exceptions.py         @kmvanbrunt @anselor
cmd2/history.py            @kotfu @tleonhardt
cmd2/parsing.py            @kotfu @kmvanbrunt
cmd2/plugin.py             @kotfu
cmd2/py_bridge.py          @kmvanbrunt
cmd2/rl_utils.py           @kmvanbrunt
cmd2/table_creator.py      @kmvanbrunt
cmd2/transcript.py         @kotfu
cmd2/utils.py              @tleonhardt @kotfu @kmvanbrunt

# Sphinx documentation
docs/*                  @tleonhardt @kotfu

# Examples
examples/async_printing.py  @kmvanbrunt
examples/environment.py     @kotfu
examples/tab_*.py           @kmvanbrunt
examples/modular_*.py       @anselor
examples/modular_commands/* @anselor

plugins/template/*          @kotfu
plugins/ext_test/*          @anselor

# Unit Tests
tests/pyscript/*              @kmvanbrunt
tests/transcripts/*           @kotfu
tests/__init__.py             @kotfu
tests/conftest.py             @kotfu @tleonhardt
tests/test_argparse.py        @kotfu
tests/test_argparse_*.py      @kmvanbrunt
tests/test_comp*.py           @kmvanbrunt
tests/test_pars*.py           @kotfu
tests/test_run_pyscript.py    @kmvanbrunt
tests/test_transcript.py      @kotfu

tests_isolated/test_commandset/*    @anselor

# Top-level project stuff
CONTRIBUTING.md         @tleonhardt @kotfu
setup.py                @tleonhardt @kotfu
tasks.py                @kotfu

Enabled ruff S ruleset for security checks
  cmd2/argparse_completer.py
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  cmd2/transcript.py
  cmd2/utils.py
  pyproject.toml
Owners: @kmvanbrunt, @anselor, @tleonhardt, @kotfu

Enable ruff N ruleset for pep8 naming conventions
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  cmd2/exceptions.py
  cmd2/rl_utils.py
  cmd2/transcript.py
  examples/migrating.py
  examples/override_parser.py
  examples/unicode_commands.py
  plugins/ext_test/tasks.py
  plugins/template/tasks.py
  pyproject.toml
  tests/test_argparse.py
  tests/test_cmd2.py
  tests_isolated/test_commandset/test_commandset.py
Owners: @kmvanbrunt, @anselor, @tleonhardt, @kotfu

Renamed functions in cmd2.ansi.Cursor to be pep8 compliant
  cmd2/ansi.py
  pyproject.toml
  tests/test_ansi.py
Owners: @kmvanbrunt, @tleonhardt

Renamed functions in cmd2.ansi.Cursor to start with underscore to make it clear they are intended for internal use only
  CHANGELOG.md
  cmd2/ansi.py
  tests/test_ansi.py
Owners: @tleonhardt, @kmvanbrunt

Fix a couple obvious typos in test code that is obviously never exercised but probably should be
  tests/test_argparse.py
  tests_isolated/test_commandset/test_argparse_subcommands.py
Owners: @kotfu, @anselor

Try to start fixing some tests
  tests/test_argparse.py
  tests/test_cmd2.py
  tests_isolated/test_commandset/test_argparse_subcommands.py
Owners: @kotfu, @tleonhardt, @anselor

Enable ruff SIM ruleset which uses flake8-simplify rules to simplify code
  cmd2/__init__.py
  cmd2/argparse_completer.py
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  cmd2/rl_utils.py
  cmd2/transcript.py
  cmd2/utils.py
  examples/custom_parser.py
  examples/scripts/save_help_text.py
  plugins/ext_test/tasks.py
  pyproject.toml
  tests/conftest.py
  tests/test_utils.py
  tests_isolated/test_commandset/conftest.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

Enable ruff SIM ruleset which uses flake8-simplify rules to simplify code (#1422)
  cmd2/__init__.py
  cmd2/argparse_completer.py
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  cmd2/rl_utils.py
  cmd2/transcript.py
  cmd2/utils.py
  examples/custom_parser.py
  examples/scripts/save_help_text.py
  plugins/ext_test/tasks.py
  pyproject.toml
  tests/conftest.py
  tests/test_utils.py
  tests_isolated/test_commandset/conftest.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

Enable ruff RUF ruleset for Ruff-specific rules
  cmd2/__init__.py
  cmd2/cmd2.py
  cmd2/utils.py
  examples/cmd_as_argument.py
  examples/example.py
  examples/help_categories.py
  examples/migrating.py
  examples/modular_commands/commandset_basic.py
  pyproject.toml
  tests/test_argparse_completer.py
  tests/test_transcript.py
  tests_isolated/test_commandset/test_commandset.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

Enable ruff RUF ruleset for Ruff-specific rules (#1423)
  cmd2/__init__.py
  cmd2/cmd2.py
  cmd2/utils.py
  examples/cmd_as_argument.py
  examples/example.py
  examples/help_categories.py
  examples/migrating.py
  examples/modular_commands/commandset_basic.py
  pyproject.toml
  tests/test_argparse_completer.py
  tests/test_transcript.py
  tests_isolated/test_commandset/test_commandset.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

Replacea few old school % formating things with f-strings
  cmd2/argparse_custom.py
  pyproject.toml
Owners: @kmvanbrunt, @anselor, @tleonhardt

Enable ruff ANN ruleset to warn about missing type annotations for arguments and return values
  cmd2/utils.py
  pyproject.toml
  tasks.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt

Enable ruff ANN ruleset to warn about missing type annotations for arguments and return values (#1424)
  cmd2/utils.py
  pyproject.toml
  tasks.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt

Enable ruff ARG ruleset to warn about unused arguments
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  cmd2/parsing.py
  examples/basic_completion.py
  examples/default_categories.py
  examples/dynamic_commands.py
  examples/environment.py
  examples/migrating.py
  examples/modular_commands/commandset_basic.py
  examples/modular_commands/commandset_complex.py
  examples/modular_commands/commandset_custominit.py
  examples/modular_commands_basic.py
  examples/pirate.py
  examples/python_scripting.py
  plugins/ext_test/examples/example.py
  plugins/template/examples/example.py
  plugins/template/tasks.py
  plugins/template/tests/test_myplugin.py
  pyproject.toml
  tasks.py
Owners: @kmvanbrunt, @anselor, @tleonhardt, @kotfu

Enable ruff ARG ruleset to warn about unused arguments (#1425)
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  cmd2/parsing.py
  examples/basic_completion.py
  examples/default_categories.py
  examples/dynamic_commands.py
  examples/environment.py
  examples/migrating.py
  examples/modular_commands/commandset_basic.py
  examples/modular_commands/commandset_complex.py
  examples/modular_commands/commandset_custominit.py
  examples/modular_commands_basic.py
  examples/pirate.py
  examples/python_scripting.py
  plugins/ext_test/examples/example.py
  plugins/template/examples/example.py
  plugins/template/tasks.py
  plugins/template/tests/test_myplugin.py
  pyproject.toml
  tasks.py
Owners: @kmvanbrunt, @anselor, @tleonhardt, @kotfu

Enable ruff TRY ruleset for warnings related to try/except issues
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  pyproject.toml
  tests/test_cmd2.py
Owners: @kmvanbrunt, @anselor, @tleonhardt, @kotfu

Enable ruff TRY ruleset for warnings related to try/except issues (#1426)
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  pyproject.toml
  tests/test_cmd2.py
Owners: @kmvanbrunt, @anselor, @tleonhardt, @kotfu

Start of enabling ruff B ruleset
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  cmd2/command_definition.py
  cmd2/decorators.py
  cmd2/parsing.py
  cmd2/rl_utils.py
  cmd2/table_creator.py
  cmd2/utils.py
  examples/async_printing.py
  examples/cmd_as_argument.py
  examples/decorator_example.py
  pyproject.toml
  tasks.py
  tests/pyscript/raises_exception.py
  tests/test_argparse.py
  tests/test_cmd2.py
  tests/test_completion.py
  tests/test_utils.py
  tests_isolated/test_commandset/test_argparse_subcommands.py
  tests_isolated/test_commandset/test_commandset.py
Owners: @kmvanbrunt, @anselor, @tleonhardt, @kotfu

Finish enabling ruff B rulset for flake8-bugbear
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  pyproject.toml
Owners: @kmvanbrunt, @anselor, @tleonhardt, @kotfu

Removed zip parameter added in Python 3.10 and disabled rule that auto-added it
  cmd2/cmd2.py
  pyproject.toml
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Restoring one line I don't think I should have changed
  cmd2/argparse_custom.py
Owners: @kmvanbrunt, @anselor

Enable Ruff B ruleset for flake-bugbear (#1427)
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  cmd2/command_definition.py
  cmd2/decorators.py
  cmd2/parsing.py
  cmd2/rl_utils.py
  cmd2/table_creator.py
  cmd2/utils.py
  examples/async_printing.py
  examples/cmd_as_argument.py
  examples/decorator_example.py
  pyproject.toml
  tasks.py
  tests/pyscript/raises_exception.py
  tests/test_argparse.py
  tests/test_cmd2.py
  tests/test_completion.py
  tests/test_utils.py
  tests_isolated/test_commandset/test_argparse_subcommands.py
  tests_isolated/test_commandset/test_commandset.py
Owners: @kmvanbrunt, @anselor, @tleonhardt, @kotfu

Trivial whitespace change
  cmd2/argparse_custom.py
Owners: @kmvanbrunt, @anselor

Started refactoring docstrings to meet pydocstyle standards
  cmd2/__init__.py
  cmd2/ansi.py
  cmd2/argparse_completer.py
  cmd2/argparse_custom.py
  cmd2/clipboard.py
  cmd2/cmd2.py
  cmd2/command_definition.py
  cmd2/constants.py
  cmd2/decorators.py
  cmd2/exceptions.py
  cmd2/history.py
  cmd2/parsing.py
  cmd2/py_bridge.py
  cmd2/rl_utils.py
  cmd2/table_creator.py
  cmd2/utils.py
  pyproject.toml
Owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

Started refactoring docstrings to meet pydocstyle standards (#1428)
  cmd2/__init__.py
  cmd2/ansi.py
  cmd2/argparse_completer.py
  cmd2/argparse_custom.py
  cmd2/clipboard.py
  cmd2/cmd2.py
  cmd2/command_definition.py
  cmd2/constants.py
  cmd2/decorators.py
  cmd2/exceptions.py
  cmd2/history.py
  cmd2/parsing.py
  cmd2/py_bridge.py
  cmd2/rl_utils.py
  cmd2/table_creator.py
  cmd2/utils.py
  pyproject.toml
Owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

Enable ruff D ruleset for pydocstyle static analysis of docstring conventions
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  cmd2/command_definition.py
  cmd2/decorators.py
  cmd2/history.py
  cmd2/py_bridge.py
  cmd2/transcript.py
  cmd2/utils.py
  pyproject.toml
Owners: @kmvanbrunt, @anselor, @tleonhardt, @kotfu

Enable ruff D ruleset for pydocstyle static analysis of docstring conventions (#1429)
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  cmd2/command_definition.py
  cmd2/decorators.py
  cmd2/history.py
  cmd2/py_bridge.py
  cmd2/transcript.py
  cmd2/utils.py
  pyproject.toml
Owners: @kmvanbrunt, @anselor, @tleonhardt, @kotfu

Undo backwards-incompatible change in naming of cmd2.ansi.Cursor method.
  .gitignore
  CHANGELOG.md
  Makefile
  cmd2/ansi.py
  package.json
  pyproject.toml
  tests/test_ansi.py
Owners: @tleonhardt, @kmvanbrunt

Undo backwards-incompatible change in naming of cmd2.ansi.Cursor method. (#1430)
  .gitignore
  CHANGELOG.md
  Makefile
  cmd2/ansi.py
  package.json
  pyproject.toml
  tests/test_ansi.py
Owners: @tleonhardt, @kmvanbrunt

Updated CONTRIBUTING.md significantly.
  .github/CONTRIBUTING.md
  .pre-commit-config.yaml
  Makefile
Owners: @tleonhardt, @kotfu

Updated CONTRIBUTING.md significantly. (#1431)
  .github/CONTRIBUTING.md
  .pre-commit-config.yaml
  Makefile
Owners: @tleonhardt, @kotfu

Refactor GitHub Actions workflows
  .github/actions/setup-python-env/action.yml
  .github/workflows/build.yml
  .github/workflows/doc.yml
  .github/workflows/docs.yml
  .github/workflows/format.yml
  .github/workflows/lint.yml
  .github/workflows/mypy.yml
  .github/workflows/quality.yml
  .github/workflows/tests.yml
  .github/workflows/typecheck.yml
Owners: @tleonhardt

Change how uv dependencies get install for GitHub Actions so it doesn't require a uv.lock file to be committed
  .github/actions/setup-python-env/action.yml
Owners: @tleonhardt

Tweak what dependencies get installed for each workflow
  .github/actions/setup-python-env/action.yml
  .github/workflows/docs.yml
  .github/workflows/quality.yml
  .github/workflows/tests.yml
  .github/workflows/typecheck.yml
Owners: @tleonhardt

Fix typo
  .github/actions/setup-python-env/action.yml
Owners: @tleonhardt

Try to fix Docs GitHub Action workflow
  .github/workflows/docs.yml
Owners: @tleonhardt

Try to fix quality QH Actions workflow
  .github/workflows/quality.yml
  pyproject.toml
Owners: @tleonhardt

Try to fix tests and tying GitHub Actions workflows
  .github/actions/setup-python-env/action.yml
  .github/workflows/tests.yml
  .github/workflows/typecheck.yml
Owners: @tleonhardt

Fix typo
  .github/workflows/tests.yml
  .github/workflows/typecheck.yml
Owners: @tleonhardt

Don't run typecheck on pre-release versions of Python and change how Python is installed for tests
  .github/workflows/tests.yml
  .github/workflows/typecheck.yml
Owners: @tleonhardt
