Repository python-cmd2/cmd2, changes with the owners that CODEOWNERS names for each.
All owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Owners of code are automatically nominated to review PRs involving that code.

# These owners will be the default owners for everything in the repo.
*       @tleonhardt

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
#*.js    @octocat @github/js

# You can also use email addresses if you prefer.
#docs/*  docs@example.com

# cmd2 code
cmd2/__init__.py           @tleonhardt @kotfu
cmd2/ansi.py               @kmvanbrunt @tleonhardt
cmd2/argparse_*.py         @kmvanbrunt @anselor
cmd2/clipboard.py          @tleonhardt
cmd2/cmd2.py               @tleonhardt @kmvanbrunt @kotfu
cmd2/command_definition.py @anselor
cmd2/constants.py          @kotfu
cmd2/decorators.py         @kotfu @kmvanbrunt @anselor
cmd2/exceptions.py         @kmvanbrunt @anselor
cmd2/history.py            @kotfu @tleonhardt
cmd2/parsing.py            @kotfu @kmvanbrunt
cmd2/plugin.py             @kotfu
cmd2/py_bridge.py          @kmvanbrunt
cmd2/rl_utils.py           @kmvanbrunt
cmd2/table_creator.py      @kmvanbrunt
cmd2/transcript.py         @kotfu
cmd2/utils.py              @tleonhardt @kotfu @kmvanbrunt

# Sphinx documentation
docs/*                  @tleonhardt @kotfu

# Examples
examples/async_printing.py  @kmvanbrunt
examples/environment.py     @kotfu
examples/tab_*.py           @kmvanbrunt
examples/modular_*.py       @anselor
examples/modular_commands/* @anselor

plugins/template/*          @kotfu
plugins/ext_test/*          @anselor

# Unit Tests
tests/pyscript/*              @kmvanbrunt
tests/transcripts/*           @kotfu
tests/__init__.py             @kotfu
tests/conftest.py             @kotfu @tleonhardt
tests/test_argparse.py        @kotfu
tests/test_argparse_*.py      @kmvanbrunt
tests/test_comp*.py           @kmvanbrunt
tests/test_pars*.py           @kotfu
tests/test_run_pyscript.py    @kmvanbrunt
tests/test_transcript.py      @kotfu

tests_isolated/test_commandset/*    @anselor

# Top-level project stuff
CONTRIBUTING.md         @tleonhardt @kotfu
setup.py                @tleonhardt @kotfu
tasks.py                @kotfu

Updated with missing doc-string for new CommandSet parameters for cmd2.Cmd's constructor
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Adding explicit python 3.5.3 test to nox, travis. Copied 3.5.4 definition of typing.Deque
  .travis.yml
  CHANGELOG.md
  cmd2/table_creator.py
  noxfile.py
Owners: @tleonhardt, @kmvanbrunt

Adding explicit python 3.5.3 test to nox, travis. Copied 3.5.4 definition of typing.Deque
  .travis.yml
  CHANGELOG.md
  cmd2/table_creator.py
  noxfile.py
Owners: @tleonhardt, @kmvanbrunt

Updated with missing doc-string for new CommandSet parameters for cmd2.Cmd's constructor
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Minor fixes to enable Python 3.5.2 support
  cmd2/utils.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt

Updated CHANGELOG
  CHANGELOG.md
Owners: @tleonhardt

Updated CHANGELOG
  CHANGELOG.md
Owners: @tleonhardt

Minor fixes to enable Python 3.5.2 support
  cmd2/utils.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt

When passing a ns_provider to an argparse command, will now attempt to resolve the correct CommandSet instance for self. If not, it'll fall back and pass in the cmd2 app
  CHANGELOG.md
  cmd2/argparse_completer.py
  cmd2/cmd2.py
  cmd2/command_definition.py
  cmd2/decorators.py
  tests_isolated/test_commandset/test_commandset.py
Owners: @tleonhardt, @kmvanbrunt, @anselor, @kotfu

When passing a ns_provider to an argparse command, will now attempt to resolve the correct CommandSet instance for self. If not, it'll fall back and pass in the cmd2 app
  CHANGELOG.md
  cmd2/argparse_completer.py
  cmd2/cmd2.py
  cmd2/command_definition.py
  cmd2/decorators.py
  tests_isolated/test_commandset/test_commandset.py
Owners: @tleonhardt, @kmvanbrunt, @anselor, @kotfu

Fixed bug when trying to format help text of argument which used a tuple as its metavar
  cmd2/argparse_custom.py
Owners: @kmvanbrunt, @anselor

Add unit test and update CHANGELOG
  CHANGELOG.md
  tests/test_argparse_custom.py
Owners: @tleonhardt, @kmvanbrunt

Fixed changelog comment
  CHANGELOG.md
Owners: @tleonhardt

Fixed tab completion bug when using CompletionItem on an argument whose metavar is a tuple
  CHANGELOG.md
  cmd2/argparse_completer.py
  tests/test_argparse_completer.py
Owners: @tleonhardt, @kmvanbrunt, @anselor

Updated changelog with 1.3.3 release date
  CHANGELOG.md
Owners: @tleonhardt

Updated documentation and renamed variable for clarity
  cmd2/argparse_completer.py
  cmd2/argparse_custom.py
Owners: @kmvanbrunt, @anselor

Added change log section for 2.0.0
  CHANGELOG.md
Owners: @tleonhardt

Updated async printing example to use thread event instead of a boolean flag
  examples/async_printing.py
Owners: @kmvanbrunt

Documented support for standalone functions being used as completers and choices_providers. Added unit tests for this case.
  cmd2/argparse_custom.py
  cmd2/utils.py
  tests/test_argparse_completer.py
Owners: @kmvanbrunt, @anselor, @tleonhardt, @kotfu

Updated change log
  CHANGELOG.md
Owners: @tleonhardt

Fixed AttributeError when CommandSet that uses as_subcommand_to decorator is loaded during cmd2.Cmd.__init__().
  CHANGELOG.md
  cmd2/cmd2.py
  tests_isolated/test_commandset/test_commandset.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu, @anselor

Added validation of subcommand handler attributes
  cmd2/cmd2.py
  cmd2/parsing.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Added tests for invalid subcommands
  tests/test_argparse.py
  tests_isolated/test_commandset/test_commandset.py
Owners: @kotfu, @anselor

Updated documentation with more explicit discussions on testing Added unit test to verify command name validation updates.
  docs/api/index.rst
  docs/api/plugin_external_test.rst
  docs/features/builtin_commands.rst
  docs/features/scripting.rst
  docs/index.rst
  docs/plugins/external_test.rst
  docs/testing.rst
  noxfile.py
  tests/test_parsing.py
Owners: @tleonhardt, @kotfu

Minor formatting changes. Fixed some inaccurate comments
  tests/test_parsing.py
Owners: @kotfu

Updated change log for release
  CHANGELOG.md
Owners: @tleonhardt

Fixed typo
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Fixed RecursionError when printing an argparse.Namespace caused by custom attribute cmd2 was adding Added get_statement() function to argparse.Namespace which returns __statement__ attribute
  CHANGELOG.md
  cmd2/cmd2.py
  cmd2/constants.py
  cmd2/decorators.py
  docs/features/argument_processing.rst
  examples/decorator_example.py
  tests/test_argparse.py
  tests/test_plugin.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu, @anselor

Updated change log and docs for release
  CHANGELOG.md
  docs/features/argument_processing.rst
Owners: @tleonhardt

Updated change log for release
  CHANGELOG.md
Owners: @tleonhardt

Fixed typo in change log
  CHANGELOG.md
Owners: @tleonhardt

Removed Namespace.__statement__
  cmd2/constants.py
  cmd2/decorators.py
  docs/features/argument_processing.rst
Owners: @kotfu, @kmvanbrunt, @anselor, @tleonhardt

the with_argparse() decorator was incorrectly using a parsed statement object to search for the original function arguments. Switched to search for the original statement value instead
  CHANGELOG.md
  cmd2/decorators.py
  tests/test_cmd2.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

the with_argparse() decorator was incorrectly using a parsed statement object to search for the original function arguments. Switched to search for the original statement value instead
  CHANGELOG.md
  cmd2/decorators.py
  tests/test_cmd2.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

Fixed issue where subcommand added with @as_subcommand_to decorator did not display help when called with -h/--help.
  CHANGELOG.md
  cmd2/cmd2.py
  docs/features/modular_commands.rst
  examples/modular_subcommands.py
  tests/test_argparse.py
  tests_isolated/test_commandset/test_commandset.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu, @anselor

Refactored complete() to handle custom behavior from read_input()
  cmd2/cmd2.py
  tests/test_cmd2.py
  tests/test_completion.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Refactored read_input to support custom completion
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Run Shell without arguments
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Refactored ArgparseCompleter to support custom completion
  cmd2/__init__.py
  cmd2/argparse_completer.py
  cmd2/cmd2.py
  tests/test_argparse_completer.py
  tests_isolated/test_commandset/test_commandset.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

Added read_input() example
  examples/read_input.py
Owners: @tleonhardt
