Repository python-cmd2/cmd2, changes with the owners that CODEOWNERS names for each.
All owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Owners of code are automatically nominated to review PRs involving that code.

# These owners will be the default owners for everything in the repo.
*       @tleonhardt

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
#*.js    @octocat @github/js

# You can also use email addresses if you prefer.
#docs/*  docs@example.com

# cmd2 code
cmd2/__init__.py           @tleonhardt @kotfu
cmd2/ansi.py               @kmvanbrunt @tleonhardt
cmd2/argparse_*.py         @kmvanbrunt @anselor
cmd2/clipboard.py          @tleonhardt
cmd2/cmd2.py               @tleonhardt @kmvanbrunt @kotfu
cmd2/command_definition.py @anselor
cmd2/constants.py          @kotfu
cmd2/decorators.py         @kotfu @kmvanbrunt @anselor
cmd2/exceptions.py         @kmvanbrunt @anselor
cmd2/history.py            @kotfu @tleonhardt
cmd2/parsing.py            @kotfu @kmvanbrunt
cmd2/plugin.py             @kotfu
cmd2/py_bridge.py          @kmvanbrunt
cmd2/rl_utils.py           @kmvanbrunt
cmd2/table_creator.py      @kmvanbrunt
cmd2/transcript.py         @kotfu
cmd2/utils.py              @tleonhardt @kotfu @kmvanbrunt

# Sphinx documentation
docs/*                  @tleonhardt @kotfu

# Examples
examples/async_printing.py  @kmvanbrunt
examples/environment.py     @kotfu
examples/tab_*.py           @kmvanbrunt
examples/modular_*.py       @anselor
examples/modular_commands/* @anselor

plugins/template/*          @kotfu
plugins/ext_test/*          @anselor

# Unit Tests
tests/pyscript/*              @kmvanbrunt
tests/transcripts/*           @kotfu
tests/__init__.py             @kotfu
tests/conftest.py             @kotfu @tleonhardt
tests/test_argparse.py        @kotfu
tests/test_argparse_*.py      @kmvanbrunt
tests/test_comp*.py           @kmvanbrunt
tests/test_pars*.py           @kotfu
tests/test_run_pyscript.py    @kmvanbrunt
tests/test_transcript.py      @kotfu

tests_isolated/test_commandset/*    @anselor

# Top-level project stuff
CONTRIBUTING.md         @tleonhardt @kotfu
setup.py                @tleonhardt @kotfu
tasks.py                @kotfu

Added unit tests.
  tests/test_cmd2.py
Owners: @tleonhardt

Added comment.
  cmd2/pt_utils.py
Owners: @tleonhardt

Removed default_to_shell.
  CHANGELOG.md
  cmd2/cmd2.py
  docs/features/initialization.md
  docs/features/misc.md
  examples/cmd_as_argument.py
  examples/hooks.py
  tests/test_cmd2.py
  tests/test_completion.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Removed default_to_shell. (#1590)
  CHANGELOG.md
  cmd2/cmd2.py
  docs/features/initialization.md
  docs/features/misc.md
  examples/cmd_as_argument.py
  examples/hooks.py
  tests/test_cmd2.py
  tests/test_completion.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Switched to using prompt-toolkit's multiline filtering.
  cmd2/cmd2.py
  cmd2/exceptions.py
  cmd2/pt_utils.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu, @anselor

Updated tests.
  examples/async_printing.py
  examples/hello_cmd2.py
  tests/test_cmd2.py
  tests/test_completion.py
  tests/test_pt_utils.py
Owners: @kmvanbrunt, @tleonhardt

Updated tests.
  examples/hello_cmd2.py
  tests/test_cmd2.py
Owners: @tleonhardt

Switch to using prompt-toolkit's multiline filtering. (#1589)
  cmd2/cmd2.py
  cmd2/exceptions.py
  cmd2/pt_utils.py
  examples/async_printing.py
  tests/test_cmd2.py
  tests/test_completion.py
  tests/test_pt_utils.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu, @anselor

Fixed multiline command highlighting in Cmd2Lexer
  cmd2/pt_utils.py
  tests/test_pt_utils.py
Owners: @tleonhardt

Simplified logic by adding guard clause for case that allow_style is NEVER
  cmd2/pt_utils.py
Owners: @tleonhardt

Removed debug code.
  examples/async_printing.py
Owners: @kmvanbrunt

Add a Cmd2Lexer test to cover the case when allow_style is NEVER
  tests/test_pt_utils.py
Owners: @tleonhardt

Added more unit tests.
  tests/test_cmd2.py
Owners: @tleonhardt

Add test for case when lexer has no command match on first line
  tests/test_pt_utils.py
Owners: @tleonhardt

Fixed multiline command highlighting in Cmd2Lexer (#1591)
  cmd2/pt_utils.py
  tests/test_pt_utils.py
Owners: @tleonhardt

Added more tests.
  tests/test_cmd2.py
Owners: @tleonhardt

Added more tests.
  tests/test_cmd2.py
Owners: @tleonhardt

Fixed Windows tests.
  tests/test_cmd2.py
Owners: @tleonhardt

Fixed Windows tests.
  tests/test_cmd2.py
Owners: @tleonhardt

Added ability to pass a console object to Cmd.print_to().
  CHANGELOG.md
  cmd2/cmd2.py
  tests/test_cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Fixed doc formatting.
  CHANGELOG.md
Owners: @tleonhardt

Updated default values for print functions.
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Updated documentation.
  cmd2/cmd2.py
  cmd2/rich_utils.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Updated change log.
  CHANGELOG.md
Owners: @tleonhardt

Updated comment.
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Don't default Cmd2ExceptionConsole's file to sys.stderr.
  cmd2/cmd2.py
  cmd2/rich_utils.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Added ability to pass a console object to Cmd.print_to(). (#1592)
  CHANGELOG.md
  cmd2/cmd2.py
  cmd2/rich_utils.py
  tests/test_cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Added ability to pass a console object to Cmd.print_to().
  CHANGELOG.md
  cmd2/argparse_completer.py
  cmd2/cmd2.py
  cmd2/rich_utils.py
  tests/test_cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @anselor, @kotfu

Added ability to pass a console object to Cmd.print_to(). (#1593)
  CHANGELOG.md
  cmd2/argparse_completer.py
  cmd2/cmd2.py
  cmd2/rich_utils.py
  tests/test_cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @anselor, @kotfu

Set release date for 3.3.0 in CHANGELOG.md
  CHANGELOG.md
Owners: @tleonhardt

Fixed typo in changelog
  CHANGELOG.md
Owners: @tleonhardt

Set release date for 3.3.0 in CHANGELOG.md
  CHANGELOG.md
Owners: @tleonhardt

Tiny change to README
  README.md
Owners: @tleonhardt

Addressed bug in Rich and made it unnecessary to pass a console into print_to().
  CHANGELOG.md
  cmd2/cmd2.py
  cmd2/rich_utils.py
  tests/test_cmd2.py
  tests/test_rich_utils.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Addressed bug in Rich and made it unnecessary to pass a console into print_to().
  CHANGELOG.md
  cmd2/cmd2.py
  cmd2/rich_utils.py
  tests/test_cmd2.py
  tests/test_rich_utils.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Removed unnecessary arguments in rich_text_to_string().
  cmd2/argparse_custom.py
  cmd2/rich_utils.py
Owners: @kmvanbrunt, @anselor, @tleonhardt

Removed unnecessary arguments in rich_text_to_string().
  cmd2/argparse_custom.py
  cmd2/rich_utils.py
  tests/test_cmd2.py
Owners: @kmvanbrunt, @anselor, @tleonhardt

Removed Completions.is_delimited since it's no longer used.
  CHANGELOG.md
  cmd2/cmd2.py
  cmd2/completion.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Addressed bug in Rich and made it unnecessary to pass a console into print_to(). (#1595)
  CHANGELOG.md
  cmd2/cmd2.py
  cmd2/rich_utils.py
  tests/test_cmd2.py
  tests/test_rich_utils.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Addressed bug in Rich and made it unnecessary to pass a console into print_to(). (#1596)
  CHANGELOG.md
  cmd2/cmd2.py
  cmd2/rich_utils.py
  tests/test_cmd2.py
  tests/test_rich_utils.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu
