Repository python-cmd2/cmd2, changes with the owners that CODEOWNERS names for each.
All owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

Made recommend tweaks to MkDocs config to support ReadTheDocs
  .readthedocs.yaml
  docs/api/index.md
  docs/javascripts/readthedocs.js
  docs/overrides/main.html
  docs/stylesheets/readthedocs.css
  mkdocs.yml
Owners: @tleonhardt

Added support for Mermaid diagramming library and gave one simple example of using it
  docs/features/scripting.md
  mkdocs.yml
Owners: @tleonhardt

Remove page documenting the cmd2_ext_test plugin from the main cmd2 API Reference
  docs/api/index.md
  docs/api/plugin_external_test.md
  mkdocs.yml
Owners: @tleonhardt

Fixed a doc build warning
  docs/plugins/external_test.md
  docs/testing.md
  pyproject.toml
Owners: @tleonhardt, @kotfu

Added a couple simple example shell scripts demonstrating how to use tmux or byobu to launch a cmd2 application in a terminal multiplexer along with another application such as a shell.
  examples/tmux_launch.sh
  examples/tmux_split.sh
Owners: @tleonhardt

Improved the documentation for all cmd2 examples
  docs/examples/examples.md
  docs/examples/index.md
  examples/README.md
  examples/migrating.py
  mkdocs.yml
Owners: @tleonhardt

Added info on the tmux examples to the examples/README.md
  examples/README.md
  examples/tmux_split.sh
Owners: @tleonhardt

Added a link to the example applications from top-level README
  README.md
Owners: @tleonhardt

Fix spelling and grammar errors
  examples/README.md
  examples/tmux_launch.sh
  examples/tmux_split.sh
Owners: @tleonhardt

Added a couple simple example for using tmux or byobu to launch cmd2 applications (#1399)
  README.md
  docs/examples/examples.md
  docs/examples/index.md
  examples/README.md
  examples/migrating.py
  examples/tmux_launch.sh
  examples/tmux_split.sh
  mkdocs.yml
Owners: @tleonhardt

Fixed 'index out of range' error when passing no arguments to an argparse-based command function.
  CHANGELOG.md
  cmd2/decorators.py
  tests/test_argparse.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

Added Callable types for argparse-based commands which use with_unknown_args.
  cmd2/decorators.py
Owners: @kotfu, @kmvanbrunt, @anselor

Fixed broken example.
  examples/modular_commands/commandset_basic.py
Owners: @anselor

Fix 'index out of range' error in decorators._parse_positionals(). (#1401)
  CHANGELOG.md
  cmd2/decorators.py
  examples/modular_commands/commandset_basic.py
  tests/test_argparse.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

Update .gitignore to ignore node_modules
  .gitignore
Owners: @tleonhardt

Format all files with latest version of prettier to fix some issues created using an outdated version
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .github/dependabot.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/format.yml
  .github/workflows/lint.yml
  .github/workflows/mypy.yml
  .prettierrc
  CHANGELOG.md
  README.md
  docs/api/index.md
  docs/doc_conventions.md
  docs/examples/alternate_event_loops.md
  docs/examples/first_app.md
  docs/examples/index.md
  docs/features/completion.md
  docs/features/generating_output.md
  docs/features/history.md
  docs/features/hooks.md
  docs/features/packaging.md
  docs/features/plugins.md
  docs/features/redirection.md
  docs/features/scripting.md
  docs/features/settings.md
  docs/features/shortcuts_aliases_macros.md
  docs/javascripts/readthedocs.js
  docs/overview/resources.md
  examples/README.md
  plugins/ext_test/CHANGELOG.md
  plugins/ext_test/README.md
  plugins/template/CHANGELOG.md
  plugins/template/README.md
Owners: @tleonhardt, @kotfu, @anselor

The latest version of Ruff has some improved string formatting, run auto-format to fix that
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  examples/argparse_completion.py
  examples/modular_commands_main.py
  examples/table_creation.py
Owners: @kmvanbrunt, @anselor, @tleonhardt, @kotfu

Format all files with latest version of prettier to fix some issues (#1404)
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .github/dependabot.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/format.yml
  .github/workflows/lint.yml
  .github/workflows/mypy.yml
  .prettierrc
  CHANGELOG.md
  README.md
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  docs/api/index.md
  docs/doc_conventions.md
  docs/examples/alternate_event_loops.md
  docs/examples/first_app.md
  docs/examples/index.md
  docs/features/completion.md
  docs/features/generating_output.md
  docs/features/history.md
  docs/features/hooks.md
  docs/features/packaging.md
  docs/features/plugins.md
  docs/features/redirection.md
  docs/features/scripting.md
  docs/features/settings.md
  docs/features/shortcuts_aliases_macros.md
  docs/javascripts/readthedocs.js
  docs/overview/resources.md
  examples/README.md
  examples/argparse_completion.py
  examples/modular_commands_main.py
  examples/table_creation.py
  plugins/ext_test/CHANGELOG.md
  plugins/ext_test/README.md
  plugins/template/CHANGELOG.md
  plugins/template/README.md
Owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

Fix 1-line bug in Pipfile
  Pipfile
Owners: @tleonhardt

Added basic git pre-commit hook setup for auto-formatting.
  .github/CONTRIBUTING.md
  .gitignore
  .pre-commit-config.yaml
  .prettierignore
  Makefile
  examples/scripts/nested.txt
  examples/tmux_launch.sh
  examples/tmux_split.sh
  pyproject.toml
  readme_files/shout_out.csv
Owners: @tleonhardt, @kotfu

Fix bug in pyproject.toml where cmd2-ext-test wasn't getting installed for test setup
  pyproject.toml
Owners: @tleonhardt

Minor pre-commit tweak to support TOML formatting
  .pre-commit-config.yaml
Owners: @tleonhardt

Try to fix ReadTheDocs build since that doesn't yet natively support pyproject.toml dependency groups
  .readthedocs.yaml
Owners: @tleonhardt

Try to fix RTD build by using pip to install dependency-groups
  .readthedocs.yaml
Owners: @tleonhardt

Updated `make tests` comment to match `inv pytest`
  Makefile
Owners: @tleonhardt

Add missing commands to Makefile and prepare for release
  CHANGELOG.md
  Makefile
Owners: @tleonhardt

Added basic git pre-commit hook setup for auto-formatting (#1405)
  .github/CONTRIBUTING.md
  .gitignore
  .pre-commit-config.yaml
  .prettierignore
  .readthedocs.yaml
  CHANGELOG.md
  Makefile
  examples/scripts/nested.txt
  examples/tmux_launch.sh
  examples/tmux_split.sh
  pyproject.toml
  readme_files/shout_out.csv
Owners: @tleonhardt, @kotfu

Fix bug in "make tag"
  Makefile
Owners: @tleonhardt

Fixed bug in how "make publish" called "validate-tag" rule
  Makefile
Owners: @tleonhardt

Ensure build dependencies installed in uv dev env
  Makefile
  pyproject.toml
Owners: @tleonhardt

Experiment with using the uv GitHub Action
  .github/workflows/build.yml
  .github/workflows/doc.yml
  .github/workflows/format.yml
  .github/workflows/lint.yml
  .github/workflows/mypy.yml
Owners: @tleonhardt

Fix build
  .github/workflows/build.yml
  .github/workflows/doc.yml
  .github/workflows/mypy.yml
Owners: @tleonhardt

Try to fix GH Actions tests
  .github/workflows/build.yml
Owners: @tleonhardt

Minior improvements to some of the GitHub Actions workflows (#1406)
  .github/workflows/doc.yml
  .github/workflows/format.yml
  .github/workflows/lint.yml
  .github/workflows/mypy.yml
Owners: @tleonhardt

Each page of the documentation now displays when it was last updated at the bottom
  mkdocs.yml
  pyproject.toml
Owners: @tleonhardt

Each page of the documentation now displays when it was last updated at the bottom (#1407)
  mkdocs.yml
  pyproject.toml
Owners: @tleonhardt

Fixed docstring style for mkdocstrings - parameters are now shown correctly
  mkdocs.yml
Owners: @tleonhardt

Fix how exceptions raised are documented in Sphinx style
  cmd2/ansi.py
  cmd2/argparse_completer.py
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  cmd2/command_definition.py
  cmd2/decorators.py
  cmd2/parsing.py
  cmd2/table_creator.py
  cmd2/utils.py
Owners: @kmvanbrunt, @tleonhardt, @anselor, @kotfu

MkDocs improvements for auto-documented code using mkdocstrings (#1409)
  cmd2/ansi.py
  cmd2/argparse_completer.py
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  cmd2/command_definition.py
  cmd2/decorators.py
  cmd2/parsing.py
  cmd2/table_creator.py
  cmd2/utils.py
  mkdocs.yml
Owners: @kmvanbrunt, @tleonhardt, @anselor, @kotfu

Updating CHANGELOG.md to prepare for release
  CHANGELOG.md
Owners: @tleonhardt

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Owners of code are automatically nominated to review PRs involving that code.

# These owners will be the default owners for everything in the repo.
*       @tleonhardt

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
#*.js    @octocat @github/js

# You can also use email addresses if you prefer.
#docs/*  docs@example.com

# cmd2 code
cmd2/__init__.py           @tleonhardt @kotfu
cmd2/ansi.py               @kmvanbrunt @tleonhardt
cmd2/argparse_*.py         @kmvanbrunt @anselor
cmd2/clipboard.py          @tleonhardt
cmd2/cmd2.py               @tleonhardt @kmvanbrunt @kotfu
cmd2/command_definition.py @anselor
cmd2/constants.py          @kotfu
cmd2/decorators.py         @kotfu @kmvanbrunt @anselor
cmd2/exceptions.py         @kmvanbrunt @anselor
cmd2/history.py            @kotfu @tleonhardt
cmd2/parsing.py            @kotfu @kmvanbrunt
cmd2/plugin.py             @kotfu
cmd2/py_bridge.py          @kmvanbrunt
cmd2/rl_utils.py           @kmvanbrunt
cmd2/table_creator.py      @kmvanbrunt
cmd2/transcript.py         @kotfu
cmd2/utils.py              @tleonhardt @kotfu @kmvanbrunt

# Sphinx documentation
docs/*                  @tleonhardt @kotfu

# Examples
examples/async_printing.py  @kmvanbrunt
examples/environment.py     @kotfu
examples/tab_*.py           @kmvanbrunt
examples/modular_*.py       @anselor
examples/modular_commands/* @anselor

plugins/template/*          @kotfu
plugins/ext_test/*          @anselor

# Unit Tests
tests/pyscript/*              @kmvanbrunt
tests/transcripts/*           @kotfu
tests/__init__.py             @kotfu
tests/conftest.py             @kotfu @tleonhardt
tests/test_argparse.py        @kotfu
tests/test_argparse_*.py      @kmvanbrunt
tests/test_comp*.py           @kmvanbrunt
tests/test_pars*.py           @kotfu
tests/test_run_pyscript.py    @kmvanbrunt
tests/test_transcript.py      @kotfu

tests_isolated/test_commandset/*    @anselor

# Top-level project stuff
CONTRIBUTING.md         @tleonhardt @kotfu
setup.py                @tleonhardt @kotfu
tasks.py                @kotfu
