Repository python-cmd2/cmd2, changes with the owners that CODEOWNERS names for each.
All owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

No longer storing Cmd/CommandSet instance in subcommand parsers. Using id(instance) instead.
  cmd2/cmd2.py
  cmd2/constants.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Fixed issue deep copying Cmd2ArgumentParser in Python 3.14.3.
  CHANGELOG.md
  cmd2/argparse_custom.py
Owners: @tleonhardt, @kmvanbrunt, @anselor

Removed more custom argparse help formatting.
  cmd2/argparse_custom.py
  tests/test_argparse_custom.py
  tests/test_cmd2.py
  tests/transcripts/from_cmdloop.txt
Owners: @kmvanbrunt, @anselor, @tleonhardt, @kotfu

Updated change log.
  CHANGELOG.md
Owners: @tleonhardt

Fixed incompatibilities with Python 3.14.3. (#1571)
  CHANGELOG.md
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  cmd2/constants.py
  tests/test_argparse_custom.py
  tests/test_cmd2.py
  tests/transcripts/from_cmdloop.txt
Owners: @tleonhardt, @kmvanbrunt, @anselor, @kotfu

Updated change log for 3.2.0 release.
  CHANGELOG.md
Owners: @tleonhardt

Fixed incompatibilities with Python 3.14.3. (#1571)
  CHANGELOG.md
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  cmd2/constants.py
  tests/test_argparse_custom.py
  tests/test_cmd2.py
  tests/transcripts/from_cmdloop.txt
Owners: @tleonhardt, @kmvanbrunt, @anselor, @kotfu

Fixed incompatibilities with Python 3.14.3. (#1571) (#1572)
  CHANGELOG.md
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  cmd2/constants.py
  tests/test_argparse_custom.py
  tests/test_cmd2.py
  tests/transcripts/from_cmdloop.txt
Owners: @tleonhardt, @kmvanbrunt, @anselor, @kotfu

First pass at restructuring completion functions and classes.
  cmd2/__init__.py
  cmd2/argparse_completer.py
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  cmd2/completion.py
  cmd2/pt_utils.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

Fixed completion hint not displaying while completing a command name.
  cmd2/argparse_completer.py
  cmd2/cmd2.py
  cmd2/exceptions.py
  cmd2/pt_utils.py
Owners: @kmvanbrunt, @anselor, @tleonhardt, @kotfu

Further refactoring of completion code to better utilize prompt-toolkit.
  cmd2/__init__.py
  cmd2/argparse_completer.py
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  cmd2/command_definition.py
  cmd2/completion.py
  cmd2/decorators.py
  cmd2/pt_utils.py
  cmd2/utils.py
  docs/features/settings.md
  examples/argparse_completion.py
  tests/test_argparse_completer.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

Replaced choices_provider and completer protocols with type aliases.
  cmd2/argparse_completer.py
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  cmd2/completion.py
  cmd2/decorators.py
  cmd2/utils.py
Owners: @kmvanbrunt, @anselor, @tleonhardt, @kotfu

Corrected auto-quoting of completions.
  cmd2/cmd2.py
  cmd2/completion.py
  cmd2/pt_utils.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Fixed issue where argparse flags all displayed the same name in the completion menu.
  cmd2/argparse_completer.py
Owners: @kmvanbrunt, @anselor

Fixed sort order of argparse flags in completion menu.
  cmd2/argparse_completer.py
  cmd2/cmd2.py
Owners: @kmvanbrunt, @anselor, @tleonhardt, @kotfu

Updated test_cmd2.py for the new completion API.
  cmd2/__init__.py
  tests/conftest.py
  tests/test_cmd2.py
Owners: @tleonhardt, @kotfu

Update Cmd2Lexer to recognize shortcuts and color them like a command
  .pre-commit-config.yaml
  cmd2/pt_utils.py
  tests/test_pt_utils.py
Owners: @tleonhardt

Renamed CompletionResultsBase.from_strings() to from_values(). Added CompletionResultsBase.to_strings().
  cmd2/argparse_completer.py
  cmd2/cmd2.py
  cmd2/completion.py
  cmd2/utils.py
  tests/test_cmd2.py
Owners: @kmvanbrunt, @anselor, @tleonhardt, @kotfu

Move completion exception handling back to Cmd.complete().
  cmd2/cmd2.py
  cmd2/completion.py
  cmd2/pt_utils.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Fixed most tests in test_argparse_completer.py.
  tests/test_argparse_completer.py
Owners: @kmvanbrunt

Fixed remaining tests in test_argparse_completer.py.
  tests/test_argparse_completer.py
Owners: @kmvanbrunt

Fixed tests in test_commandset.py.
  tests/test_commandset.py
Owners: @tleonhardt

Fixed tests in test_argparse_custom.py.
  cmd2/argparse_custom.py
  tests/test_argparse_custom.py
Owners: @kmvanbrunt, @anselor

Fixed tests in test_dynamic_complete_style.py.
  tests/test_dynamic_complete_style.py
Owners: @tleonhardt

Removed extra newlines when printing exceptions during completion.
  cmd2/cmd2.py
  cmd2/pt_utils.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Fixed typo and doc formatting.
  docs/features/settings.md
  tests/test_argparse_completer.py
Owners: @tleonhardt, @kmvanbrunt

Fixed tests in test_pt_utils.py.
  tests/test_pt_utils.py
Owners: @tleonhardt

Updated types for some functions in completion.py.
  cmd2/argparse_completer.py
  cmd2/completion.py
Owners: @kmvanbrunt, @anselor, @tleonhardt

Fixed type issues.
  cmd2/argparse_completer.py
  cmd2/completion.py
Owners: @kmvanbrunt, @anselor, @tleonhardt

Fixed tests in test_completion.py.
  tests/test_completion.py
Owners: @kmvanbrunt

Updated change log and docs.
  CHANGELOG.md
  docs/features/builtin_commands.md
  docs/features/initialization.md
  examples/argparse_completion.py
  examples/basic_completion.py
  examples/transcripts/exampleSession.txt
  examples/transcripts/transcript_regex.txt
  tests/test_completion.py
Owners: @tleonhardt, @kmvanbrunt

Fixed formatting in change log.
  CHANGELOG.md
Owners: @tleonhardt

Updated argparse_custom documentation.
  cmd2/argparse_custom.py
Owners: @kmvanbrunt, @anselor

Added completion test to handle word break in a quoted token.
  tests/test_completion.py
Owners: @kmvanbrunt

Increased test coverage.
  cmd2/completion.py
  cmd2/pt_utils.py
  tests/test_argparse_custom.py
  tests/test_completion.py
Owners: @tleonhardt, @kmvanbrunt

Fixed linting error.
  tests/test_argparse_custom.py
Owners: @kmvanbrunt

Reformatted some imports.
  cmd2/command_definition.py
  cmd2/decorators.py
  cmd2/history.py
  cmd2/plugin.py
  cmd2/pt_utils.py
  cmd2/py_bridge.py
  cmd2/transcript.py
Owners: @anselor, @kotfu, @kmvanbrunt, @tleonhardt

Refactor completion API (#1575)
  CHANGELOG.md
  cmd2/__init__.py
  cmd2/argparse_completer.py
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  cmd2/command_definition.py
  cmd2/completion.py
  cmd2/constants.py
  cmd2/decorators.py
  cmd2/exceptions.py
  cmd2/history.py
  cmd2/parsing.py
  cmd2/plugin.py
  cmd2/pt_utils.py
  cmd2/py_bridge.py
  cmd2/transcript.py
  cmd2/utils.py
  docs/features/builtin_commands.md
  docs/features/initialization.md
  docs/features/settings.md
  examples/argparse_completion.py
  examples/basic_completion.py
  examples/transcripts/exampleSession.txt
  examples/transcripts/transcript_regex.txt
  tests/conftest.py
  tests/test_argparse_completer.py
  tests/test_argparse_custom.py
  tests/test_cmd2.py
  tests/test_commandset.py
  tests/test_completion.py
  tests/test_dynamic_complete_style.py
  tests/test_pt_utils.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

Removed flag_based_complete and index_based_complete functions.
  CHANGELOG.md
  cmd2/cmd2.py
  docs/features/completion.md
  examples/basic_completion.py
  examples/modular_commands/commandset_basic.py
  tests/test_completion.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu, @anselor

Removed flag_based_complete and index_based_complete functions. (#1576)
  CHANGELOG.md
  cmd2/cmd2.py
  docs/features/completion.md
  examples/basic_completion.py
  examples/modular_commands/commandset_basic.py
  tests/test_completion.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu, @anselor

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Owners of code are automatically nominated to review PRs involving that code.

# These owners will be the default owners for everything in the repo.
*       @tleonhardt

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
#*.js    @octocat @github/js

# You can also use email addresses if you prefer.
#docs/*  docs@example.com

# cmd2 code
cmd2/__init__.py           @tleonhardt @kotfu
cmd2/ansi.py               @kmvanbrunt @tleonhardt
cmd2/argparse_*.py         @kmvanbrunt @anselor
cmd2/clipboard.py          @tleonhardt
cmd2/cmd2.py               @tleonhardt @kmvanbrunt @kotfu
cmd2/command_definition.py @anselor
cmd2/constants.py          @kotfu
cmd2/decorators.py         @kotfu @kmvanbrunt @anselor
cmd2/exceptions.py         @kmvanbrunt @anselor
cmd2/history.py            @kotfu @tleonhardt
cmd2/parsing.py            @kotfu @kmvanbrunt
cmd2/plugin.py             @kotfu
cmd2/py_bridge.py          @kmvanbrunt
cmd2/rl_utils.py           @kmvanbrunt
cmd2/table_creator.py      @kmvanbrunt
cmd2/transcript.py         @kotfu
cmd2/utils.py              @tleonhardt @kotfu @kmvanbrunt

# Sphinx documentation
docs/*                  @tleonhardt @kotfu

# Examples
examples/async_printing.py  @kmvanbrunt
examples/environment.py     @kotfu
examples/tab_*.py           @kmvanbrunt
examples/modular_*.py       @anselor
examples/modular_commands/* @anselor

plugins/template/*          @kotfu
plugins/ext_test/*          @anselor

# Unit Tests
tests/pyscript/*              @kmvanbrunt
tests/transcripts/*           @kotfu
tests/__init__.py             @kotfu
tests/conftest.py             @kotfu @tleonhardt
tests/test_argparse.py        @kotfu
tests/test_argparse_*.py      @kmvanbrunt
tests/test_comp*.py           @kmvanbrunt
tests/test_pars*.py           @kotfu
tests/test_run_pyscript.py    @kmvanbrunt
tests/test_transcript.py      @kotfu

tests_isolated/test_commandset/*    @anselor

# Top-level project stuff
CONTRIBUTING.md         @tleonhardt @kotfu
setup.py                @tleonhardt @kotfu
tasks.py                @kotfu
