Repository python-cmd2/cmd2, changes with the owners that CODEOWNERS names for each.
All owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Owners of code are automatically nominated to review PRs involving that code.

# These owners will be the default owners for everything in the repo.
*       @tleonhardt

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
#*.js    @octocat @github/js

# You can also use email addresses if you prefer.
#docs/*  docs@example.com

# cmd2 code
cmd2/__init__.py           @tleonhardt @kotfu
cmd2/ansi.py               @kmvanbrunt @tleonhardt
cmd2/argparse_*.py         @kmvanbrunt @anselor
cmd2/clipboard.py          @tleonhardt
cmd2/cmd2.py               @tleonhardt @kmvanbrunt @kotfu
cmd2/command_definition.py @anselor
cmd2/constants.py          @kotfu
cmd2/decorators.py         @kotfu @kmvanbrunt @anselor
cmd2/exceptions.py         @kmvanbrunt @anselor
cmd2/history.py            @kotfu @tleonhardt
cmd2/parsing.py            @kotfu @kmvanbrunt
cmd2/plugin.py             @kotfu
cmd2/py_bridge.py          @kmvanbrunt
cmd2/rl_utils.py           @kmvanbrunt
cmd2/table_creator.py      @kmvanbrunt
cmd2/transcript.py         @kotfu
cmd2/utils.py              @tleonhardt @kotfu @kmvanbrunt

# Sphinx documentation
docs/*                  @tleonhardt @kotfu

# Examples
examples/async_printing.py  @kmvanbrunt
examples/environment.py     @kotfu
examples/tab_*.py           @kmvanbrunt
examples/modular_*.py       @anselor
examples/modular_commands/* @anselor

plugins/template/*          @kotfu
plugins/ext_test/*          @anselor

# Unit Tests
tests/pyscript/*              @kmvanbrunt
tests/transcripts/*           @kotfu
tests/__init__.py             @kotfu
tests/conftest.py             @kotfu @tleonhardt
tests/test_argparse.py        @kotfu
tests/test_argparse_*.py      @kmvanbrunt
tests/test_comp*.py           @kmvanbrunt
tests/test_pars*.py           @kotfu
tests/test_run_pyscript.py    @kmvanbrunt
tests/test_transcript.py      @kotfu

tests_isolated/test_commandset/*    @anselor

# Top-level project stuff
CONTRIBUTING.md         @tleonhardt @kotfu
setup.py                @tleonhardt @kotfu
tasks.py                @kotfu

Catch Ctrl-C that lands while the stuck-toolbar notice is printing
  cmd2/cmd2.py
  tests/test_command_toolbar.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Run POSIX pipes to interactive programs as the terminal's foreground job
  CHANGELOG.md
  cmd2/cmd2.py
  cmd2/utils.py
  docs/features/redirection.md
  pyproject.toml
  tests/test_cmd2.py
  tests/test_pipeline_job_control.py
  tests/test_utils.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Give the corrupt-history tests their own temp files
  tests/test_history.py
Owners: @tleonhardt

Report terminal sizes when the job-control test's resize step times out
  tests/test_pipeline_job_control.py
Owners: @tleonhardt

Fix pager hangs and a startup race in terminal pipelines
  CHANGELOG.md
  cmd2/cmd2.py
  cmd2/utils.py
  tests/test_pipeline_job_control.py
  tests/test_utils.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Harden terminal pipeline job control against failures found in review
  cmd2/cmd2.py
  cmd2/utils.py
  tests/test_cmd2.py
  tests/test_pipeline_job_control.py
  tests/test_utils.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Build the watcher test's stop status at run time, not collection
  tests/test_utils.py
Owners: @tleonhardt

Restore the POSIX skip on the send_sigint pipeline-exit test
  tests/test_utils.py
Owners: @tleonhardt

Keep the job-control test's terminal setup out of bash's way
  tests/test_pipeline_job_control.py
Owners: @tleonhardt

Cover the last untested job-control lines in cmd2.utils
  tests/test_utils.py
Owners: @tleonhardt

Coordinate Ctrl-Z across a pipeline's job and fix review findings
  CHANGELOG.md
  cmd2/cmd2.py
  cmd2/utils.py
  tests/test_pipeline_job_control.py
  tests/test_utils.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Type-check as Linux on every OS, as CI does
  cmd2/cmd2.py
  pyproject.toml
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Pipe output in the console's code page on Windows
  CHANGELOG.md
  cmd2/cmd2.py
  cmd2/utils.py
  tests/test_suite_environment.py
  tests/test_utils.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Judge the relay race test only by answers given during the paused read
  tests/test_utils.py
Owners: @tleonhardt

Fix a writer race, the Android shell, code pages, and worker-thread shells
  CHANGELOG.md
  cmd2/cmd2.py
  cmd2/utils.py
  tests/test_cmd2.py
  tests/test_utils.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Correct the branch policy in CLAUDE.md
  CLAUDE.md
Owners: @tleonhardt

Skip the no-codec code page test on Windows with Python 3.14+
  tests/test_utils.py
Owners: @tleonhardt

Harden pipeline signal handling and page in the console's code page
  cmd2/cmd2.py
  cmd2/utils.py
  tests/test_cmd2.py
  tests/test_utils.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Give joined shell producers the pipe, and detach the watcher at teardown
  cmd2/cmd2.py
  cmd2/utils.py
  tests/test_cmd2.py
  tests/test_utils.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Lend the relay's terminal only to a consumer that waits for it
  cmd2/utils.py
  tests/test_pipeline_job_control.py
  tests/test_utils.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt

Keep the watcher's suspension count current across its wait
  cmd2/utils.py
  tests/test_utils.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt

Bump ruff and typos versions to latest
  .pre-commit-config.yaml
  AGENTS.md
  CLAUDE.md
  GEMINI.md
Owners: @tleonhardt

Reflow this branch's comments to the 127-character line length
  cmd2/cmd2.py
  cmd2/utils.py
  tests/test_cmd2.py
  tests/test_history.py
  tests/test_pipeline_job_control.py
  tests/test_utils.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Fix a relay leak, a lost stdout restore, and a hang relaying Ctrl-Z
  CHANGELOG.md
  cmd2/cmd2.py
  cmd2/utils.py
  tests/test_cmd2.py
  tests/test_utils.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Fix terminal handoffs and signaling found in review
  cmd2/cmd2.py
  cmd2/utils.py
  tests/test_cmd2.py
  tests/test_pipeline_job_control.py
  tests/test_utils.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Use a shell producer in the joined-producer wait test
  tests/test_utils.py
Owners: @tleonhardt

Set the Windows console to UTF-8 while a pipe or the pager runs
  CHANGELOG.md
  cmd2/cmd2.py
  cmd2/utils.py
  tests/test_cmd2.py
  tests/test_suite_environment.py
  tests/test_utils.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Cover a pipe write that Ctrl-C interrupts before its first chunk
  tests/test_utils.py
Owners: @tleonhardt

Fix mypy 2.4 errors from combined mypy/ty ignore comments
  .pre-commit-config.yaml
  cmd2/annotated.py
  cmd2/argparse_completer.py
  cmd2/argparse_utils.py
  cmd2/cmd2.py
  cmd2/decorators.py
  cmd2/rich_utils.py
  cmd2/utils.py
Owners: @tleonhardt, @kmvanbrunt, @anselor, @kotfu

Enable mypy warn_unused_ignores and remove stale type: ignore comments
  cmd2/annotated.py
  cmd2/cmd2.py
  cmd2/decorators.py
  cmd2/rich_utils.py
  pyproject.toml
Owners: @tleonhardt, @kmvanbrunt, @kotfu, @anselor
