Repository python-cmd2/cmd2, changes with the owners that CODEOWNERS names for each.
All owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Owners of code are automatically nominated to review PRs involving that code.

# These owners will be the default owners for everything in the repo.
*       @tleonhardt

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
#*.js    @octocat @github/js

# You can also use email addresses if you prefer.
#docs/*  docs@example.com

# cmd2 code
cmd2/__init__.py           @tleonhardt @kotfu
cmd2/ansi.py               @kmvanbrunt @tleonhardt
cmd2/argparse_*.py         @kmvanbrunt @anselor
cmd2/clipboard.py          @tleonhardt
cmd2/cmd2.py               @tleonhardt @kmvanbrunt @kotfu
cmd2/command_definition.py @anselor
cmd2/constants.py          @kotfu
cmd2/decorators.py         @kotfu @kmvanbrunt @anselor
cmd2/exceptions.py         @kmvanbrunt @anselor
cmd2/history.py            @kotfu @tleonhardt
cmd2/parsing.py            @kotfu @kmvanbrunt
cmd2/plugin.py             @kotfu
cmd2/py_bridge.py          @kmvanbrunt
cmd2/rl_utils.py           @kmvanbrunt
cmd2/table_creator.py      @kmvanbrunt
cmd2/transcript.py         @kotfu
cmd2/utils.py              @tleonhardt @kotfu @kmvanbrunt

# Sphinx documentation
docs/*                  @tleonhardt @kotfu

# Examples
examples/async_printing.py  @kmvanbrunt
examples/environment.py     @kotfu
examples/tab_*.py           @kmvanbrunt
examples/modular_*.py       @anselor
examples/modular_commands/* @anselor

plugins/template/*          @kotfu
plugins/ext_test/*          @anselor

# Unit Tests
tests/pyscript/*              @kmvanbrunt
tests/transcripts/*           @kotfu
tests/__init__.py             @kotfu
tests/conftest.py             @kotfu @tleonhardt
tests/test_argparse.py        @kotfu
tests/test_argparse_*.py      @kmvanbrunt
tests/test_comp*.py           @kmvanbrunt
tests/test_pars*.py           @kotfu
tests/test_run_pyscript.py    @kmvanbrunt
tests/test_transcript.py      @kotfu

tests_isolated/test_commandset/*    @anselor

# Top-level project stuff
CONTRIBUTING.md         @tleonhardt @kotfu
setup.py                @tleonhardt @kotfu
tasks.py                @kotfu

Rich table example (#1488)
  examples/rich_tables.py
Owners: @tleonhardt

Added unit tests.
  cmd2/cmd2.py
  tests/test_rich_utils.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Added rich_utils.indent() to ensure indented text wraps instead of truncating when soft_wrap is enabled. (#1487)
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  cmd2/rich_utils.py
  tests/test_rich_utils.py
Owners: @kmvanbrunt, @anselor, @tleonhardt, @kotfu

No longer indenting help headers and topic lists.
  cmd2/argparse_completer.py
  cmd2/cmd2.py
  cmd2/rich_utils.py
  tests/test_argparse_completer.py
Owners: @kmvanbrunt, @anselor, @tleonhardt, @kotfu

Updated rich_utils.prepare_objects_for_rich_print() to only convert styled strings to Rich Text objects.
  cmd2/rich_utils.py
  tests/test_argparse.py
Owners: @tleonhardt, @kotfu

Corrected display width of styled strings in CompletionItem.descriptive_data.
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  cmd2/rich_utils.py
  examples/argparse_completion.py
  tests/test_cmd2.py
Owners: @kmvanbrunt, @anselor, @tleonhardt, @kotfu

Added unit tests for printing.
  cmd2/__init__.py
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  cmd2/rich_utils.py
  tests/test_cmd2.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

Added unit tests for CompletionItems.
  tests/conftest.py
  tests/test_argparse_completer.py
  tests/test_cmd2.py
Owners: @kotfu, @tleonhardt, @kmvanbrunt

Simplified iterating through some dictionaries.
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Fix: Improper string conversion (#1489)
  cmd2/__init__.py
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  cmd2/rich_utils.py
  examples/argparse_completion.py
  tests/conftest.py
  tests/test_argparse.py
  tests/test_argparse_completer.py
  tests/test_cmd2.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

Refactor: Use Python properties for value access in Settable.
  cmd2/cmd2.py
  cmd2/rich_utils.py
  cmd2/utils.py
  tests/test_cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Updated change log with Settable.value property information.
  CHANGELOG.md
Owners: @tleonhardt

Refactor: Use Python properties for value access in Settable. (#1490)
  CHANGELOG.md
  cmd2/cmd2.py
  cmd2/rich_utils.py
  cmd2/utils.py
  tests/test_cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Improved styles.py documentation.
  cmd2/styles.py
Owners: @tleonhardt

Added spacing between verbose help tables for better readability.
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Write terminal control codes to stdout instead of stderr.
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Fixed unit test,
  tests/test_argparse_completer.py
Owners: @kmvanbrunt

Switch from Group to Text.assemble() when building help text.
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Disabled automatic detection for markup, emoji, and highlighting in Cmd2RichArgparseConsole.
  cmd2/rich_utils.py
Owners: @tleonhardt

Write terminal control codes to stdout instead of stderr.
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Disabled automatic detection for markup, emoji, and highlighting in Cmd2RichArgparseConsole.
  cmd2/rich_utils.py
Owners: @tleonhardt

Improved styles.py documentation.
  cmd2/styles.py
Owners: @tleonhardt

Fixed unit test,
  tests/test_argparse_completer.py
Owners: @kmvanbrunt

Added spacing between verbose help tables for better readability.
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Switch from Group to Text.assemble() when building help text.
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Added regular expressions to detect ANSI escape and style sequences.
  cmd2/argparse_custom.py
  cmd2/rich_utils.py
  cmd2/string_utils.py
Owners: @kmvanbrunt, @anselor, @tleonhardt

Added unit tests.
  cmd2/rich_utils.py
  tests/test_rich_utils.py
Owners: @tleonhardt

Switched to only searching for styles.
  cmd2/rich_utils.py
  cmd2/string_utils.py
  tests/test_rich_utils.py
Owners: @tleonhardt

Updated comments.
  cmd2/argparse_custom.py
  cmd2/cmd2.py
Owners: @kmvanbrunt, @anselor, @tleonhardt, @kotfu

Updated comments.
  cmd2/argparse_custom.py
Owners: @kmvanbrunt, @anselor

Updated comments.
  cmd2/cmd2.py
  cmd2/rich_utils.py
  cmd2/string_utils.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Added regular expression to detect ANSI style sequences. (#1492)
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  cmd2/rich_utils.py
  cmd2/string_utils.py
Owners: @kmvanbrunt, @anselor, @tleonhardt, @kotfu

Raise ValueError instead of OSError when self.editor is not set.
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Formatting an exception like Rich does after a traceback.
  cmd2/cmd2.py
  tests/test_cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Formatting an exception like Rich does after a traceback.
  cmd2/cmd2.py
  tests/test_cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Updated pyproject.toml to use new license format.
  pyproject.toml
Owners: @tleonhardt

Updated pyproject.toml to use new license format.
  pyproject.toml
Owners: @tleonhardt

Fit topics table within screen width.
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Updated documentation for the Settable class.
  cmd2/utils.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt

Updated documentation for the CommandSet._cmd property.
  cmd2/command_definition.py
Owners: @anselor
