Repository python-cmd2/cmd2, changes with the owners that CODEOWNERS names for each.
All owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Owners of code are automatically nominated to review PRs involving that code.

# These owners will be the default owners for everything in the repo.
*       @tleonhardt

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
#*.js    @octocat @github/js

# You can also use email addresses if you prefer.
#docs/*  docs@example.com

# cmd2 code
cmd2/__init__.py           @tleonhardt @kotfu
cmd2/ansi.py               @kmvanbrunt @tleonhardt
cmd2/argparse_*.py         @kmvanbrunt @anselor
cmd2/clipboard.py          @tleonhardt
cmd2/cmd2.py               @tleonhardt @kmvanbrunt @kotfu
cmd2/command_definition.py @anselor
cmd2/constants.py          @kotfu
cmd2/decorators.py         @kotfu @kmvanbrunt @anselor
cmd2/exceptions.py         @kmvanbrunt @anselor
cmd2/history.py            @kotfu @tleonhardt
cmd2/parsing.py            @kotfu @kmvanbrunt
cmd2/plugin.py             @kotfu
cmd2/py_bridge.py          @kmvanbrunt
cmd2/rl_utils.py           @kmvanbrunt
cmd2/table_creator.py      @kmvanbrunt
cmd2/transcript.py         @kotfu
cmd2/utils.py              @tleonhardt @kotfu @kmvanbrunt

# Sphinx documentation
docs/*                  @tleonhardt @kotfu

# Examples
examples/async_printing.py  @kmvanbrunt
examples/environment.py     @kotfu
examples/tab_*.py           @kmvanbrunt
examples/modular_*.py       @anselor
examples/modular_commands/* @anselor

plugins/template/*          @kotfu
plugins/ext_test/*          @anselor

# Unit Tests
tests/pyscript/*              @kmvanbrunt
tests/transcripts/*           @kotfu
tests/__init__.py             @kotfu
tests/conftest.py             @kotfu @tleonhardt
tests/test_argparse.py        @kotfu
tests/test_argparse_*.py      @kmvanbrunt
tests/test_comp*.py           @kmvanbrunt
tests/test_pars*.py           @kotfu
tests/test_run_pyscript.py    @kmvanbrunt
tests/test_transcript.py      @kotfu

tests_isolated/test_commandset/*    @anselor

# Top-level project stuff
CONTRIBUTING.md         @tleonhardt @kotfu
setup.py                @tleonhardt @kotfu
tasks.py                @kotfu

Removed Text.from_ansi() monkeypatch since it's no longer needed as of Rich 15.0.0. (#1632)
  cmd2/rich_utils.py
  pyproject.toml
  tests/test_rich_utils.py
Owners: @tleonhardt

Fix two errors, one logical and one type
  cmd2/argparse_completer.py
  cmd2/utils.py
Owners: @kmvanbrunt, @anselor, @tleonhardt, @kotfu

Force truecolor support to avoid automatic color detection.
  CHANGELOG.md
  cmd2/rich_utils.py
  tests/test_cmd2.py
  tests/test_rich_utils.py
Owners: @tleonhardt

Force truecolor support to avoid automatic color detection. (#1633)
  CHANGELOG.md
  cmd2/rich_utils.py
  tests/test_cmd2.py
  tests/test_rich_utils.py
Owners: @tleonhardt

Updated change log for 3.5.0 release.
  CHANGELOG.md
Owners: @tleonhardt

Force truecolor support to avoid automatic color detection.
  CHANGELOG.md
  cmd2/rich_utils.py
  tests/test_cmd2.py
  tests/test_rich_utils.py
Owners: @tleonhardt

Force truecolor support to avoid automatic color detection. (#1634)
  CHANGELOG.md
  cmd2/rich_utils.py
  tests/test_cmd2.py
  tests/test_rich_utils.py
Owners: @tleonhardt

Improved type hints.
  cmd2/argparse_completer.py
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  cmd2/command_set.py
  cmd2/decorators.py
  cmd2/types.py
  cmd2/utils.py
  docs/features/modular_commands.md
  examples/command_sets.py
  examples/default_categories.py
  examples/modular_commands/commandset_basic.py
  examples/modular_commands/commandset_custominit.py
  tests/test_categories.py
  tests/test_cmd2.py
Owners: @kmvanbrunt, @anselor, @tleonhardt, @kotfu

Renamed Cmd.cmd_func() to Cmd.get_command_func().
  CHANGELOG.md
  cmd2/cmd2.py
  examples/hooks.py
  examples/scripts/save_help_text.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Updated change log.
  CHANGELOG.md
Owners: @tleonhardt

Made some type hints more strict.
  cmd2/argparse_completer.py
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  cmd2/utils.py
Owners: @kmvanbrunt, @anselor, @tleonhardt, @kotfu

Simplified type aliases in decorators.py.
  CHANGELOG.md
  cmd2/decorators.py
  cmd2/types.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

Fixed type checking for with_argument_list when passing preserve_quotes.
  cmd2/decorators.py
Owners: @kotfu, @kmvanbrunt, @anselor

Updated comments.
  cmd2/decorators.py
  cmd2/types.py
  cmd2/utils.py
Owners: @kotfu, @kmvanbrunt, @anselor, @tleonhardt

Updated import.
  cmd2/decorators.py
Owners: @kotfu, @kmvanbrunt, @anselor

Updated comment.
  cmd2/decorators.py
Owners: @kotfu, @kmvanbrunt, @anselor

Made type hints of with_category() and as_subcommand_to() more permissive to better support order-independent stacking with other decorators.
  cmd2/decorators.py
Owners: @kotfu, @kmvanbrunt, @anselor

Fixed CHANGELOG.
  CHANGELOG.md
Owners: @tleonhardt

Updated comments.
  cmd2/decorators.py
Owners: @kotfu, @kmvanbrunt, @anselor

Updated comments.
  cmd2/decorators.py
Owners: @kotfu, @kmvanbrunt, @anselor

Updated comments.
  cmd2/decorators.py
Owners: @kotfu, @kmvanbrunt, @anselor

Simplified some code.
  cmd2/command_set.py
Owners: @tleonhardt

Overhauled custom types. (#1635)
  CHANGELOG.md
  cmd2/argparse_completer.py
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  cmd2/command_set.py
  cmd2/decorators.py
  cmd2/types.py
  cmd2/utils.py
  docs/features/modular_commands.md
  examples/command_sets.py
  examples/default_categories.py
  examples/hooks.py
  examples/modular_commands/commandset_basic.py
  examples/modular_commands/commandset_custominit.py
  examples/scripts/save_help_text.py
  tests/test_categories.py
  tests/test_cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @anselor, @kotfu

Enforcing that a subparser's type match the _SubparsersAction's parser class.
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  tests/test_argparse_custom.py
  tests/test_cmd2.py
Owners: @kmvanbrunt, @anselor, @tleonhardt, @kotfu

Removed Cmd2ArgumentParser.add_subparsers() override.
  CHANGELOG.md
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  cmd2/decorators.py
Owners: @tleonhardt, @kmvanbrunt, @anselor, @kotfu

Confirm attached parser is a Cmd2ArgumentParser-derived class.
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  tests/test_argparse_custom.py
  tests/test_cmd2.py
Owners: @kmvanbrunt, @anselor, @tleonhardt, @kotfu

Allow attached parser to be a subclass of _SubparsersAction's parser class.
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  tests/test_argparse_custom.py
Owners: @kmvanbrunt, @anselor, @tleonhardt, @kotfu

Validate subparser class and remove default subcommand title (#1636)
  CHANGELOG.md
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  cmd2/decorators.py
  tests/test_argparse_custom.py
Owners: @tleonhardt, @kmvanbrunt, @anselor, @kotfu

Removed TextGroup's dependency on a specific parser instance.
  CHANGELOG.md
  cmd2/__init__.py
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  cmd2/rich_utils.py
  ruff.toml
  tests/test_argparse_custom.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

Added test coverage.
  tests/test_argparse_custom.py
Owners: @kmvanbrunt

Removed TextGroup's dependency on a specific parser instance. (#1637)
  CHANGELOG.md
  cmd2/__init__.py
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  cmd2/rich_utils.py
  ruff.toml
  tests/test_argparse_custom.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

Renamed argparse_custom.py to argparse_utils.py.
  CHANGELOG.md
  cmd2/__init__.py
  cmd2/argparse_completer.py
  cmd2/argparse_utils.py
  cmd2/cmd2.py
  cmd2/decorators.py
  cmd2/rich_utils.py
  cmd2/utils.py
  docs/api/argparse_custom.md
  docs/api/argparse_utils.md
  docs/api/index.md
  docs/features/argument_processing.md
  docs/features/completion.md
  mkdocs.yml
  tests/test_argparse_completer.py
  tests/test_argparse_utils.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

Updated CHANGELOG.
  CHANGELOG.md
Owners: @tleonhardt

Renamed argparse_custom module to argparse_utils. (#1638)
  CHANGELOG.md
  cmd2/__init__.py
  cmd2/argparse_completer.py
  cmd2/argparse_utils.py
  cmd2/cmd2.py
  cmd2/decorators.py
  cmd2/rich_utils.py
  cmd2/utils.py
  docs/api/argparse_custom.md
  docs/api/argparse_utils.md
  docs/api/index.md
  docs/features/argument_processing.md
  docs/features/completion.md
  mkdocs.yml
  tests/test_argparse_completer.py
  tests/test_argparse_utils.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

Moved rich-argparse classes from argparse_utils to rich_utils to eliminate circular dependencies.
  CHANGELOG.md
  cmd2/__init__.py
  cmd2/argparse_utils.py
  cmd2/cmd2.py
  cmd2/rich_utils.py
  cmd2/styles.py
  tests/test_argparse_utils.py
  tests/test_cmd2.py
  tests/test_rich_utils.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

Moved rich-argparse classes from argparse_utils to rich_utils to eliminate circular dependencies. (#1639)
  CHANGELOG.md
  cmd2/__init__.py
  cmd2/argparse_utils.py
  cmd2/cmd2.py
  cmd2/rich_utils.py
  cmd2/styles.py
  tests/test_argparse_utils.py
  tests/test_cmd2.py
  tests/test_rich_utils.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

Fixed CompletionItem.text re-populating from value after being cleared.
  cmd2/completion.py
  tests/test_completion.py
Owners: @tleonhardt, @kmvanbrunt

Updated test.
  tests/test_completion.py
Owners: @kmvanbrunt

Fixed CompletionItem.text re-populating from value after being cleared. (#1641)
  cmd2/completion.py
  tests/test_completion.py
Owners: @tleonhardt, @kmvanbrunt

Made CompletionItem deepcopy-safe.
  cmd2/completion.py
  tests/test_completion.py
Owners: @tleonhardt, @kmvanbrunt
