Repository python-cmd2/cmd2, changes with the owners that CODEOWNERS names for each.
All owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Owners of code are automatically nominated to review PRs involving that code.

# These owners will be the default owners for everything in the repo.
*       @tleonhardt

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
#*.js    @octocat @github/js

# You can also use email addresses if you prefer.
#docs/*  docs@example.com

# cmd2 code
cmd2/__init__.py           @tleonhardt @kotfu
cmd2/ansi.py               @kmvanbrunt @tleonhardt
cmd2/argparse_*.py         @kmvanbrunt @anselor
cmd2/clipboard.py          @tleonhardt
cmd2/cmd2.py               @tleonhardt @kmvanbrunt @kotfu
cmd2/command_definition.py @anselor
cmd2/constants.py          @kotfu
cmd2/decorators.py         @kotfu @kmvanbrunt @anselor
cmd2/exceptions.py         @kmvanbrunt @anselor
cmd2/history.py            @kotfu @tleonhardt
cmd2/parsing.py            @kotfu @kmvanbrunt
cmd2/plugin.py             @kotfu
cmd2/py_bridge.py          @kmvanbrunt
cmd2/rl_utils.py           @kmvanbrunt
cmd2/table_creator.py      @kmvanbrunt
cmd2/transcript.py         @kotfu
cmd2/utils.py              @tleonhardt @kotfu @kmvanbrunt

# Sphinx documentation
docs/*                  @tleonhardt @kotfu

# Examples
examples/async_printing.py  @kmvanbrunt
examples/environment.py     @kotfu
examples/tab_*.py           @kmvanbrunt
examples/modular_*.py       @anselor
examples/modular_commands/* @anselor

plugins/template/*          @kotfu
plugins/ext_test/*          @anselor

# Unit Tests
tests/pyscript/*              @kmvanbrunt
tests/transcripts/*           @kotfu
tests/__init__.py             @kotfu
tests/conftest.py             @kotfu @tleonhardt
tests/test_argparse.py        @kotfu
tests/test_argparse_*.py      @kmvanbrunt
tests/test_comp*.py           @kmvanbrunt
tests/test_pars*.py           @kotfu
tests/test_run_pyscript.py    @kmvanbrunt
tests/test_transcript.py      @kotfu

tests_isolated/test_commandset/*    @anselor

# Top-level project stuff
CONTRIBUTING.md         @tleonhardt @kotfu
setup.py                @tleonhardt @kotfu
tasks.py                @kotfu

Simplify Python 3.14 check in argparse_custom.py
  cmd2/argparse_custom.py
Owners: @kmvanbrunt, @anselor

Renamed `kw_args` to `kwargs` for idomatic consistency
  cmd2/argparse_custom.py
Owners: @kmvanbrunt, @anselor

Simplify Python 3.14 check in argparse_custom.py (#1452)
  cmd2/argparse_custom.py
Owners: @kmvanbrunt, @anselor

Integrated rich-argparse.
  cmd2/argparse_custom.py
  pyproject.toml
Owners: @kmvanbrunt, @anselor, @tleonhardt

Reformatted some imports.
  cmd2/argparse_custom.py
  cmd2/cmd2.py
Owners: @kmvanbrunt, @anselor, @tleonhardt, @kotfu

Updated comments.
  CHANGELOG.md
  cmd2/argparse_custom.py
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @anselor, @kotfu

Add support for rich-argparse (#1453)
  CHANGELOG.md
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  pyproject.toml
Owners: @tleonhardt, @kmvanbrunt, @anselor, @kotfu

Fixed some documentation.
  .github/CONTRIBUTING.md
Owners: @tleonhardt, @kotfu

Fixed some documentation. (#1454)
  .github/CONTRIBUTING.md
Owners: @tleonhardt, @kotfu

Updated CHANGELOG with a release date for 2.7.0
  CHANGELOG.md
Owners: @tleonhardt

Update everything to refer to main branch instead of master
  .github/CONTRIBUTING.md
  .github/workflows/codeql-analysis.yml
  .github/workflows/docs.yml
  .github/workflows/quality.yml
  .github/workflows/tests.yml
  .github/workflows/typecheck.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  README.md
  docs/features/argument_processing.md
  docs/features/completion.md
  docs/features/embedded_python_shells.md
  docs/features/misc.md
  docs/features/modular_commands.md
  docs/features/prompt.md
  docs/features/scripting.md
  docs/features/settings.md
  docs/features/startup_commands.md
  docs/features/table_creation.md
  docs/overview/installation.md
  docs/overview/resources.md
  docs/plugins/external_test.md
  examples/README.md
  plugins/ext_test/README.md
  plugins/ext_test/setup.py
  plugins/template/README.md
Owners: @tleonhardt, @kotfu, @anselor

Add note to README about how 2.x is feature complete
  README.md
Owners: @tleonhardt

Try to replace symbol with emoji
  README.md
Owners: @tleonhardt

Add note to README about how 2.x is feature complete (#1455)
  README.md
Owners: @tleonhardt

Removed macros.
  CHANGELOG.md
  README.md
  cmd2/cmd2.py
  cmd2/parsing.py
  docs/examples/first_app.md
  docs/features/builtin_commands.md
  docs/features/commands.md
  docs/features/help.md
  docs/features/history.md
  docs/features/index.md
  docs/features/initialization.md
  docs/features/os.md
  docs/features/shortcuts_aliases.md
  docs/migrating/incompatibilities.md
  docs/migrating/why.md
  examples/help_categories.py
  mkdocs.yml
  tests/conftest.py
  tests/test_cmd2.py
  tests/test_completion.py
  tests/test_parsing.py
  tests_isolated/test_commandset/conftest.py
  tests_isolated/test_commandset/test_commandset.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu, @anselor

Removed macros.
  CHANGELOG.md
  README.md
  cmd2/cmd2.py
  cmd2/parsing.py
  docs/examples/first_app.md
  docs/features/builtin_commands.md
  docs/features/commands.md
  docs/features/help.md
  docs/features/history.md
  docs/features/index.md
  docs/features/initialization.md
  docs/features/os.md
  docs/features/shortcuts_aliases.md
  docs/migrating/incompatibilities.md
  docs/migrating/why.md
  examples/help_categories.py
  mkdocs.yml
  tests/conftest.py
  tests/test_cmd2.py
  tests/test_completion.py
  tests/test_parsing.py
  tests_isolated/test_commandset/conftest.py
  tests_isolated/test_commandset/test_commandset.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu, @anselor

All built-in commands now use a function to create their argument parser. This simplifies the process for overriding cmd2's default parser class.
  CHANGELOG.md
  cmd2/__init__.py
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  examples/custom_parser.py
  examples/help_categories.py
  examples/override_parser.py
  plugins/ext_test/pyproject.toml
  pyproject.toml
  tests/test_argparse_custom.py
  tests/test_history.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

Replace references to override_parser.py example with ones to custom_parser.py
  .pre-commit-config.yaml
  CHANGELOG.md
  cmd2/argparse_custom.py
  examples/README.md
  plugins/ext_test/pyproject.toml
Owners: @tleonhardt, @kmvanbrunt, @anselor

Fixed spelling and corrected CHANGELOG entry.
  CHANGELOG.md
  examples/README.md
Owners: @tleonhardt

Updated .github/CODEOWNERS to reflect current project structure and recent ownership
  .github/CODEOWNERS
Owners: @tleonhardt

All built-in commands now use a function to create their argument parser. This simplifies the process for overriding cmd2's default parser class.
  CHANGELOG.md
  cmd2/__init__.py
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  examples/custom_parser.py
  examples/help_categories.py
  examples/override_parser.py
  plugins/ext_test/pyproject.toml
  pyproject.toml
  tests/test_argparse_custom.py
  tests/test_history.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

Replace references to override_parser.py example with ones to custom_parser.py
  .pre-commit-config.yaml
  CHANGELOG.md
  cmd2/argparse_custom.py
  examples/README.md
  plugins/ext_test/pyproject.toml
Owners: @tleonhardt, @kmvanbrunt, @anselor

Fixed spelling and corrected CHANGELOG entry.
  CHANGELOG.md
  examples/README.md
Owners: @tleonhardt

Updated .github/CODEOWNERS to reflect current project structure and recent ownership (#1459)
  .github/CODEOWNERS
Owners: @tleonhardt

Update README.md
  README.md
Owners: @tleonhardt

Shorten Pobshell description as requested in PR review
  README.md
Owners: @tleonhardt

Fix dumb mistake in Pobshell addition to README projects section
  README.md
Owners: @tleonhardt

Add Pobshell to the "Projects using cmd2" table in README (#1461)
  README.md
Owners: @tleonhardt

No longer setting parser's prog value in with_argparser() since it gets set in Cmd._build_parser().
  CHANGELOG.md
  cmd2/decorators.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

No longer setting parser's prog value in with_argparser() since it gets set in Cmd._build_parser().
  CHANGELOG.md
  cmd2/decorators.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

Added rich_utils module which is the foundation code for supporting Rich in the rest of cmd2.
  cmd2/rich_utils.py
Owners: @tleonhardt

Integrated more of rich-argparse into cmd2. Upgraded several parsers for built-in commands to use rich.
  cmd2/__init__.py
  cmd2/ansi.py
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  docs/features/argument_processing.md
  docs/features/help.md
  examples/table_creation.py
  tests/conftest.py
  tests/test_argparse.py
  tests/test_argparse_custom.py
  tests/test_cmd2.py
  tests/test_completion.py
  tests/transcripts/from_cmdloop.txt
  tests_isolated/test_commandset/test_argparse_subcommands.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

Integrated more of rich-argparse into cmd2. Upgraded several parsers for built-in commands to use rich.
  cmd2/__init__.py
  cmd2/ansi.py
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  docs/features/argument_processing.md
  docs/features/help.md
  examples/table_creation.py
  tests/conftest.py
  tests/test_argparse.py
  tests/test_argparse_custom.py
  tests/test_cmd2.py
  tests/test_completion.py
  tests/transcripts/from_cmdloop.txt
  tests_isolated/test_commandset/test_argparse_subcommands.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

Added rich_utils module which is the foundation code for supporting Rich in the rest of cmd2.
  cmd2/rich_utils.py
Owners: @tleonhardt

Added rich support to cmd2's print methods. Removed Cmd.ppaged() since it is now handled in Cmd.print_to(). Moved decorators._set_parser_prog to argparse_custom.set_parser_prog.
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  cmd2/decorators.py
  cmd2/rl_utils.py
  tests/test_argparse.py
  tests/test_cmd2.py
  tests_isolated/test_commandset/test_argparse_subcommands.py
Owners: @kmvanbrunt, @anselor, @tleonhardt, @kotfu

Changed do_help() to have argparsers print their own help.
  cmd2/argparse_completer.py
  cmd2/cmd2.py
Owners: @kmvanbrunt, @anselor, @tleonhardt, @kotfu

Added patched version of Text.from_ansi() to rich_utils.py.
  cmd2/cmd2.py
  cmd2/rich_utils.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Fixing unit tests.
  tests/test_argparse.py
  tests/test_cmd2.py
  tests/test_run_pyscript.py
Owners: @kotfu, @tleonhardt, @kmvanbrunt

Restored macros.
  CHANGELOG.md
  README.md
  cmd2/cmd2.py
  cmd2/parsing.py
  docs/examples/first_app.md
  docs/features/builtin_commands.md
  docs/features/commands.md
  docs/features/help.md
  docs/features/history.md
  docs/features/index.md
  docs/features/initialization.md
  docs/features/os.md
  docs/features/shortcuts_aliases_macros.md
  docs/migrating/incompatibilities.md
  docs/migrating/why.md
  mkdocs.yml
  tests/conftest.py
  tests/test_cmd2.py
  tests/test_completion.py
  tests/test_parsing.py
  tests_isolated/test_commandset/conftest.py
  tests_isolated/test_commandset/test_commandset.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu, @anselor

Added Cmd.macro_arg_complete() to allow custom tab completion for macro arguments.
  CHANGELOG.md
  cmd2/cmd2.py
  docs/features/shortcuts_aliases_macros.md
Owners: @tleonhardt, @kmvanbrunt, @kotfu
