Repository python-cmd2/cmd2, changes with the owners that CODEOWNERS names for each.
All owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

Draft: Refactor GitHub Actions workflows (#1432)
  .github/workflows/doc.yml
  .github/workflows/docs.yml
  .github/workflows/format.yml
  .github/workflows/lint.yml
  .github/workflows/mypy.yml
  .github/workflows/quality.yml
  .github/workflows/tests.yml
  .github/workflows/typecheck.yml
  pyproject.toml
Owners: @tleonhardt

Added cmd2.Cmd.ppretty() pretty print output method
  CHANGELOG.md
  cmd2/cmd2.py
  docs/features/generating_output.md
  docs/features/settings.md
  examples/README.md
  examples/pretty_print.py
  tests/test_cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Attempt at fixing Codecov coverage analysis
  .github/workflows/tests.yml
Owners: @tleonhardt

Try to fix coverage
  .github/workflows/tests.yml
Owners: @tleonhardt

Fix Codecov code coverage analysis from test data (#1434)
  .github/workflows/tests.yml
Owners: @tleonhardt

Add an initial codecov.yml file to tell it to ignore test and example code
  codecov.yml
Owners: @tleonhardt

Add an initial codecov.yml file to tell it to ignore test and example code (#1437)
  codecov.yml
Owners: @tleonhardt

Added cmd2.Cmd.ppretty() pretty print output method (#1433)
  CHANGELOG.md
  cmd2/cmd2.py
  docs/features/generating_output.md
  docs/features/settings.md
  examples/README.md
  examples/pretty_print.py
  tests/test_cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Update help text and documentation for history -t argument
  CHANGELOG.md
  cmd2/cmd2.py
  docs/features/history.md
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Update 2.6.0 release date in preparation for a release
  CHANGELOG.md
Owners: @tleonhardt

Fixed unit test
  tests/conftest.py
Owners: @kotfu, @tleonhardt

Fix self.last_resort typo
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Update help text and documentation for history -t argument (#1440)
  CHANGELOG.md
  cmd2/cmd2.py
  docs/features/history.md
  tests/conftest.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Set ruff `target-version` to the minimum supported version of Python
  cmd2/cmd2.py
  pyproject.toml
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Set ruff `target-version` to the minimum supported version of Python (#1441)
  cmd2/cmd2.py
  pyproject.toml
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Change cmd2's runtime type annotation validation to be based on typing.get_type_hints
  cmd2/cmd2.py
  cmd2/utils.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Fix for Python 3.9 since types.NoneType doesn't exist until 3.10
  cmd2/utils.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt

Added unit tests for new utils.get_types function
  cmd2/utils.py
  tests/test_utils.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt

Add a note to the CHANGELOG
  CHANGELOG.md
Owners: @tleonhardt

Added a new test file to cover the case representing the whole reason for this change
  tests/test_future_annotations.py
Owners: @tleonhardt

Switched CHANGELOG type to Bug Fix
  CHANGELOG.md
Owners: @tleonhardt

Ruggedize cmd2's runtime type annotation validation (#1442)
  CHANGELOG.md
  cmd2/cmd2.py
  cmd2/utils.py
  tests/test_future_annotations.py
  tests/test_utils.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Update CHANGELOG with a release date for 2.6.1
  CHANGELOG.md
Owners: @tleonhardt

Change name of test file to test_no_future_annotations
  CHANGELOG.md
  tests/test_no_future_annotations.py
Owners: @tleonhardt

Added `#pragma no cover` to all `if TYPE_CHECKING:` blocks
  cmd2/cmd2.py
  cmd2/history.py
  cmd2/parsing.py
  cmd2/plugin.py
  cmd2/table_creator.py
  examples/arg_decorators.py
  examples/argparse_completion.py
  examples/decorator_example.py
  examples/modular_commands/commandset_complex.py
  examples/modular_commands_dynamic.py
  examples/modular_commands_main.py
  examples/modular_subcommands.py
  tasks.py
  tests/test_plugin.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu, @anselor

Delete `Pipfile` from root since uv is now recommended over pipenv
  MANIFEST.in
  Pipfile
  pyproject.toml
  readme_files/shout_out.csv
  readme_files/shoutout.txt
Owners: @tleonhardt

Delete `Pipfile` from root since uv is now recommended over pipenv (#1445)
  MANIFEST.in
  Pipfile
  pyproject.toml
  readme_files/shout_out.csv
  readme_files/shoutout.txt
Owners: @tleonhardt

Upgrade to ruff 0.12.0
  .pre-commit-config.yaml
  cmd2/cmd2.py
  pyproject.toml
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Upgrade to ruff 0.12.0 (#1449)
  .pre-commit-config.yaml
  cmd2/cmd2.py
  pyproject.toml
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Test as well no the free-threaded version of Python 3.14
  .github/workflows/tests.yml
Owners: @tleonhardt

Updated various files to show cmd2 supports free-threaded versions of Python
  CHANGELOG.md
  README.md
  pyproject.toml
Owners: @tleonhardt

Test as well on the free-threaded version of Python 3.14 (#1450)
  .github/workflows/tests.yml
  CHANGELOG.md
  README.md
  pyproject.toml
Owners: @tleonhardt

Refactored Cmd._build_parser() to accept a prog value. Restored call to _set_parser_prog() in with_argparser() to preserve backward compatibility with cmd2 2.0 family.
  cmd2/cmd2.py
  cmd2/decorators.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu, @anselor

Added additional test for Cmd._build_parser().
  CHANGELOG.md
  cmd2/decorators.py
  tests/test_argparse.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

Updated comment
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Added additional test for Cmd._build_parser().
  CHANGELOG.md
  cmd2/decorators.py
  tests/test_argparse.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

Refactored Cmd._build_parser() to accept a prog value. Restored call to _set_parser_prog() in with_argparser() to preserve backward compatibility with cmd2 2.0 family.
  cmd2/cmd2.py
  cmd2/decorators.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu, @anselor

Updated comment
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Update CHANGELOG with a release date for 2.6.2
  CHANGELOG.md
Owners: @tleonhardt

Updated LICENSE with current year.
  LICENSE
Owners: @tleonhardt

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Owners of code are automatically nominated to review PRs involving that code.

# These owners will be the default owners for everything in the repo.
*       @tleonhardt

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
#*.js    @octocat @github/js

# You can also use email addresses if you prefer.
#docs/*  docs@example.com

# cmd2 code
cmd2/__init__.py           @tleonhardt @kotfu
cmd2/ansi.py               @kmvanbrunt @tleonhardt
cmd2/argparse_*.py         @kmvanbrunt @anselor
cmd2/clipboard.py          @tleonhardt
cmd2/cmd2.py               @tleonhardt @kmvanbrunt @kotfu
cmd2/command_definition.py @anselor
cmd2/constants.py          @kotfu
cmd2/decorators.py         @kotfu @kmvanbrunt @anselor
cmd2/exceptions.py         @kmvanbrunt @anselor
cmd2/history.py            @kotfu @tleonhardt
cmd2/parsing.py            @kotfu @kmvanbrunt
cmd2/plugin.py             @kotfu
cmd2/py_bridge.py          @kmvanbrunt
cmd2/rl_utils.py           @kmvanbrunt
cmd2/table_creator.py      @kmvanbrunt
cmd2/transcript.py         @kotfu
cmd2/utils.py              @tleonhardt @kotfu @kmvanbrunt

# Sphinx documentation
docs/*                  @tleonhardt @kotfu

# Examples
examples/async_printing.py  @kmvanbrunt
examples/environment.py     @kotfu
examples/tab_*.py           @kmvanbrunt
examples/modular_*.py       @anselor
examples/modular_commands/* @anselor

plugins/template/*          @kotfu
plugins/ext_test/*          @anselor

# Unit Tests
tests/pyscript/*              @kmvanbrunt
tests/transcripts/*           @kotfu
tests/__init__.py             @kotfu
tests/conftest.py             @kotfu @tleonhardt
tests/test_argparse.py        @kotfu
tests/test_argparse_*.py      @kmvanbrunt
tests/test_comp*.py           @kmvanbrunt
tests/test_pars*.py           @kotfu
tests/test_run_pyscript.py    @kmvanbrunt
tests/test_transcript.py      @kotfu

tests_isolated/test_commandset/*    @anselor

# Top-level project stuff
CONTRIBUTING.md         @tleonhardt @kotfu
setup.py                @tleonhardt @kotfu
tasks.py                @kotfu
