Repository python-cmd2/cmd2, changes with the owners that CODEOWNERS names for each.
All owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Owners of code are automatically nominated to review PRs involving that code.

# These owners will be the default owners for everything in the repo.
*       @tleonhardt

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
#*.js    @octocat @github/js

# You can also use email addresses if you prefer.
#docs/*  docs@example.com

# cmd2 code
cmd2/__init__.py           @tleonhardt @kotfu
cmd2/ansi.py               @kmvanbrunt @tleonhardt
cmd2/argparse_*.py         @kmvanbrunt @anselor
cmd2/clipboard.py          @tleonhardt
cmd2/cmd2.py               @tleonhardt @kmvanbrunt @kotfu
cmd2/command_definition.py @anselor
cmd2/constants.py          @kotfu
cmd2/decorators.py         @kotfu @kmvanbrunt @anselor
cmd2/exceptions.py         @kmvanbrunt @anselor
cmd2/history.py            @kotfu @tleonhardt
cmd2/parsing.py            @kotfu @kmvanbrunt
cmd2/plugin.py             @kotfu
cmd2/py_bridge.py          @kmvanbrunt
cmd2/rl_utils.py           @kmvanbrunt
cmd2/table_creator.py      @kmvanbrunt
cmd2/transcript.py         @kotfu
cmd2/utils.py              @tleonhardt @kotfu @kmvanbrunt

# Sphinx documentation
docs/*                  @tleonhardt @kotfu

# Examples
examples/async_printing.py  @kmvanbrunt
examples/environment.py     @kotfu
examples/tab_*.py           @kmvanbrunt
examples/modular_*.py       @anselor
examples/modular_commands/* @anselor

plugins/template/*          @kotfu
plugins/ext_test/*          @anselor

# Unit Tests
tests/pyscript/*              @kmvanbrunt
tests/transcripts/*           @kotfu
tests/__init__.py             @kotfu
tests/conftest.py             @kotfu @tleonhardt
tests/test_argparse.py        @kotfu
tests/test_argparse_*.py      @kmvanbrunt
tests/test_comp*.py           @kmvanbrunt
tests/test_pars*.py           @kotfu
tests/test_run_pyscript.py    @kmvanbrunt
tests/test_transcript.py      @kotfu

tests_isolated/test_commandset/*    @anselor

# Top-level project stuff
CONTRIBUTING.md         @tleonhardt @kotfu
setup.py                @tleonhardt @kotfu
tasks.py                @kotfu

Update _run_cmdfinalization_hooks to use termios instead of suprocess('stty sane')
  cmd2/cmd2.py
  tests/test_cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Attempt to make the test slightly better
  tests/test_cmd2.py
Owners: @tleonhardt

Try to improve testing
  tests/test_cmd2.py
Owners: @tleonhardt

Added a note to the CHANGELOG about this optimization
  CHANGELOG.md
Owners: @tleonhardt

Apply prettier auto-formatting to docs/index.md and fix a couple things off there
  docs/index.md
Owners: @tleonhardt, @kotfu

Optimize performance of running command finalization hooks (#1504)
  CHANGELOG.md
  cmd2/cmd2.py
  tests/test_cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Upgrde GitHuab Action for setup-python from v5 to v6
  .github/workflows/tests.yml
Owners: @tleonhardt

Upgrde GitHuab Action for setup-python from v5 to v6 (#1506)
  .github/workflows/tests.yml
Owners: @tleonhardt

Documentation fixes (#1507)
  README.md
  docs/index.md
Owners: @tleonhardt, @kotfu

Updated docstring.
  cmd2/rich_utils.py
Owners: @tleonhardt

Upgrade from ruff 0.12.9 to ruff 0.13.0
  .pre-commit-config.yaml
  cmd2/cmd2.py
  tests/test_argparse.py
  tests/test_argparse_completer.py
  tests/test_argparse_custom.py
  tests/test_cmd2.py
  tests/test_completion.py
  tests/test_future_annotations.py
  tests/test_history.py
  tests/test_plugin.py
  tests/test_run_pyscript.py
  tests/test_transcript.py
  tests_isolated/test_commandset/test_argparse_subcommands.py
  tests_isolated/test_commandset/test_commandset.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu, @anselor

Upgrade from ruff 0.12.9 to ruff 0.13.0 (#1508)
  .pre-commit-config.yaml
  cmd2/cmd2.py
  tests/test_argparse.py
  tests/test_argparse_completer.py
  tests/test_argparse_custom.py
  tests/test_cmd2.py
  tests/test_completion.py
  tests/test_future_annotations.py
  tests/test_history.py
  tests/test_plugin.py
  tests/test_run_pyscript.py
  tests/test_transcript.py
  tests_isolated/test_commandset/test_argparse_subcommands.py
  tests_isolated/test_commandset/test_commandset.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu, @anselor

Remove deleted ruff rule from the ignore list
  pyproject.toml
Owners: @tleonhardt

Fix grammar and spelling issues in documentation and some outdated info
  docs/doc_conventions.md
  docs/examples/alternate_event_loops.md
  docs/examples/getting_started.md
  docs/features/argument_processing.md
  docs/features/builtin_commands.md
  docs/features/clipboard.md
  docs/features/commands.md
  docs/features/completion.md
  docs/features/embedded_python_shells.md
  docs/features/generating_output.md
  docs/features/help.md
  docs/features/history.md
  docs/features/hooks.md
  docs/features/misc.md
  docs/features/modular_commands.md
  docs/features/os.md
  docs/features/packaging.md
  docs/features/plugins.md
  docs/features/prompt.md
  docs/features/redirection.md
  docs/features/scripting.md
  docs/features/settings.md
  docs/features/shortcuts_aliases_macros.md
  docs/features/table_creation.md
  docs/features/transcripts.md
  docs/index.md
  docs/migrating/incompatibilities.md
  docs/migrating/index.md
  docs/migrating/next_steps.md
  docs/migrating/why.md
  docs/overview/alternatives.md
  docs/overview/index.md
  docs/overview/installation.md
  docs/overview/integrating.md
  docs/plugins/external_test.md
  docs/testing.md
Owners: @tleonhardt, @kotfu

Address PR comments
  docs/examples/getting_started.md
  docs/features/clipboard.md
  docs/features/embedded_python_shells.md
  docs/features/misc.md
Owners: @tleonhardt

Recreated screenshot used in the top-level README due to a bug that has been fixed.
  cmd2.png
Owners: @tleonhardt

Fix grammar and spelling issues in documentation and some outdated info (#1509)
  cmd2.png
  docs/doc_conventions.md
  docs/examples/alternate_event_loops.md
  docs/examples/getting_started.md
  docs/features/argument_processing.md
  docs/features/builtin_commands.md
  docs/features/clipboard.md
  docs/features/commands.md
  docs/features/completion.md
  docs/features/embedded_python_shells.md
  docs/features/generating_output.md
  docs/features/help.md
  docs/features/history.md
  docs/features/hooks.md
  docs/features/misc.md
  docs/features/modular_commands.md
  docs/features/os.md
  docs/features/packaging.md
  docs/features/plugins.md
  docs/features/prompt.md
  docs/features/redirection.md
  docs/features/scripting.md
  docs/features/settings.md
  docs/features/shortcuts_aliases_macros.md
  docs/features/table_creation.md
  docs/features/transcripts.md
  docs/index.md
  docs/migrating/incompatibilities.md
  docs/migrating/index.md
  docs/migrating/next_steps.md
  docs/migrating/why.md
  docs/overview/alternatives.md
  docs/overview/index.md
  docs/overview/installation.md
  docs/overview/integrating.md
  docs/plugins/external_test.md
  docs/testing.md
Owners: @tleonhardt, @kotfu

Updated .gitignore in preparation for adding GitHub Actions integration with Gemini CLI
  .gitignore
Owners: @tleonhardt

Add gemini-cli GitHub Actions workflows
  .github/workflows/gemini-dispatch.yml
  .github/workflows/gemini-invoke.yml
  .github/workflows/gemini-review.yml
  .github/workflows/gemini-scheduled-triage.yml
  .github/workflows/gemini-triage.yml
Owners: @tleonhardt

First pass at removing outdated info from the documentation based on changes in the 3.0.0 release and adding info on new capabilities
  docs/features/argument_processing.md
  docs/features/generating_output.md
  docs/features/table_creation.md
  docs/migrating/next_steps.md
Owners: @tleonhardt

Add a note back in that shouldn't have been deleted and try to update it for 3.0.0
  docs/features/argument_processing.md
Owners: @tleonhardt

Minor grammar fix
  docs/features/argument_processing.md
Owners: @tleonhardt

Update docs/features/argument_processing.md
  docs/features/argument_processing.md
Owners: @tleonhardt

Run prettier on documentation auto-updated by gemini-cli
  docs/features/argument_processing.md
Owners: @tleonhardt

First pass at removing outdated info from the documentation (#1510)
  docs/features/argument_processing.md
  docs/features/generating_output.md
  docs/features/table_creation.md
  docs/migrating/next_steps.md
Owners: @tleonhardt

Starting to give the documentation a very thorough review
  docs/features/argument_processing.md
  docs/features/builtin_commands.md
  docs/features/clipboard.md
  docs/features/commands.md
  docs/features/completion.md
  docs/index.md
  docs/migrating/incompatibilities.md
  docs/migrating/minimum.md
  docs/migrating/next_steps.md
  docs/migrating/why.md
  docs/overview/alternatives.md
  docs/overview/installation.md
  docs/overview/integrating.md
  docs/overview/resources.md
Owners: @tleonhardt, @kotfu

More documentation updates
  docs/features/builtin_commands.md
  docs/features/completion.md
  docs/features/disable_commands.md
  docs/features/embedded_python_shells.md
  docs/features/generating_output.md
  examples/remove_builtin_commands.py
Owners: @tleonhardt

Updated docs/features/help.md
  docs/features/help.md
Owners: @tleonhardt

Continuing to update documentation
  docs/features/history.md
  docs/features/hooks.md
  docs/features/initialization.md
  docs/features/misc.md
  docs/features/modular_commands.md
Owners: @tleonhardt

Finish making a detailed pass through the existing documentation
  docs/doc_conventions.md
  docs/examples/alternate_event_loops.md
  docs/examples/getting_started.md
  docs/features/multiline_commands.md
  docs/features/os.md
  docs/features/packaging.md
  docs/features/plugins.md
  docs/features/prompt.md
  docs/features/redirection.md
  docs/features/scripting.md
  docs/features/settings.md
  docs/features/shortcuts_aliases_macros.md
  docs/features/startup_commands.md
  docs/features/table_creation.md
  docs/features/transcripts.md
  docs/testing.md
  examples/getting_started.py
Owners: @tleonhardt, @kotfu

Fix a couple typos found by gemini-cli code review
  docs/doc_conventions.md
  docs/features/argument_processing.md
Owners: @tleonhardt, @kotfu

Fixed a couple typos find by gemini-cli review
  docs/features/scripting.md
  docs/features/shortcuts_aliases_macros.md
Owners: @tleonhardt

Minor wording improvements
  docs/features/argument_processing.md
  docs/features/scripting.md
  docs/features/shortcuts_aliases_macros.md
Owners: @tleonhardt

More minor working improvements
  docs/api/index.md
  docs/examples/alternate_event_loops.md
  docs/examples/getting_started.md
Owners: @tleonhardt

Capitalize proper name
  docs/examples/getting_started.md
Owners: @tleonhardt

Simplify some wording
  docs/examples/getting_started.md
Owners: @tleonhardt

Added a new documentation section on `cmd2 Major Version Upgrades` and put in a draft for the 2.x -> 3.x upgrade info
  docs/features/builtin_commands.md
  docs/features/prompt.md
  docs/upgrades.md
  mkdocs.yml
Owners: @tleonhardt, @kotfu

Added new feature doc on configuring a custom theme
  docs/features/index.md
  docs/features/theme.md
  mkdocs.yml
Owners: @tleonhardt

A few very minor grammar fixes
  docs/features/argument_processing.md
  docs/features/commands.md
  docs/features/completion.md
Owners: @tleonhardt

Grammar fix based on feedback
  docs/upgrades.md
Owners: @tleonhardt, @kotfu
