Repository python-cmd2/cmd2, changes with the owners that CODEOWNERS names for each.
All owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

mkdocstrings-python 2.0.0 was released and is stricter about warnings
  cmd2/parsing.py
  docs/features/generating_output.md
  docs/features/modular_commands.md
Owners: @kotfu, @kmvanbrunt, @tleonhardt

mkdocstrings-python 2.0.0 was released and is stricter about warnings (#1536)
  cmd2/parsing.py
  docs/features/generating_output.md
  docs/features/modular_commands.md
Owners: @kotfu, @kmvanbrunt, @tleonhardt

Update ruff and a few other dependencies
  .pre-commit-config.yaml
  CHANGELOG.md
  pyproject.toml
Owners: @tleonhardt

Update ruff and a few other dependencies (#1537)
  .pre-commit-config.yaml
  CHANGELOG.md
  pyproject.toml
Owners: @tleonhardt

Update CHANGELOG and README in preparation for 3.0.0 release
  CHANGELOG.md
  README.md
Owners: @tleonhardt

Fix bold text in README
  README.md
Owners: @tleonhardt

Fixed regex validation for version tag
  tasks.py
Owners: @kotfu

Remove dependency on Python's built-in cmd module
  cmd2/cmd2.py
  cmd2/py_bridge.py
  cmd2/transcript.py
  docs/migrating/why.md
  mkdocs.yml
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Address PR comments
  CHANGELOG.md
  cmd2/cmd2.py
  docs/migrating/why.md
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Add missing unit test for custom stdout
  tests/test_cmd2.py
Owners: @tleonhardt

Deleted an unused method and updated a method comment
  CHANGELOG.md
  cmd2/cmd2.py
  tests/test_completion.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Updated command completion tests to use complete_tester().
  tests/test_completion.py
Owners: @kmvanbrunt

Remove dependency on Python's built-in cmd module (#1539)
  CHANGELOG.md
  cmd2/cmd2.py
  cmd2/py_bridge.py
  cmd2/transcript.py
  docs/migrating/why.md
  mkdocs.yml
  tests/test_cmd2.py
  tests/test_completion.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Remove override ignore comments since we no longer inherit from cmd
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Update versions of prettier and ruff
  .pre-commit-config.yaml
  package.json
Owners: @tleonhardt

Updated minimum versions for dev dependencies
  pyproject.toml
Owners: @tleonhardt

Eliminate use of the include-markdown plugin for MkDocs
  .github/CONTRIBUTING.md
  docs/examples/examples.md
  docs/index.md
  mkdocs.yml
  pyproject.toml
Owners: @tleonhardt, @kotfu

Removed extra base_path from pymdown.snippets extension
  mkdocs.yml
Owners: @tleonhardt

Eliminate use of the include-markdown plugin for MkDocs (#1544)
  .github/CONTRIBUTING.md
  docs/examples/examples.md
  docs/index.md
  mkdocs.yml
  pyproject.toml
Owners: @tleonhardt, @kotfu

Convert a few more markdown-include plugin usages to pymdown.snippets extension syntax instead
  docs/examples/getting_started.md
  docs/features/initialization.md
  docs/features/settings.md
Owners: @tleonhardt

Remove MkDocs macros dependency since it was unused
  mkdocs.yml
  pyproject.toml
  tasks.py
Owners: @tleonhardt, @kotfu

[typing] use less restrictive type hints for some public methodes
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Use uv for publishing to PyPI instead of twine
  .github/CONTRIBUTING.md
  CHANGELOG.md
  Makefile
  pyproject.toml
  tasks.py
Owners: @tleonhardt, @kotfu

Updated Gemini integration
  .github/commands/gemini-invoke.toml
  .github/commands/gemini-review.toml
  .github/commands/gemini-scheduled-triage.toml
  .github/commands/gemini-triage.toml
  .github/workflows/gemini-dispatch.yml
  .github/workflows/gemini-invoke.yml
  .github/workflows/gemini-review.yml
  .github/workflows/gemini-scheduled-triage.yml
  .github/workflows/gemini-triage.yml
Owners: @tleonhardt

Use uv for publishing to PyPI instead of twine (#1548)
  .github/CONTRIBUTING.md
  .github/commands/gemini-invoke.toml
  .github/commands/gemini-review.toml
  .github/commands/gemini-scheduled-triage.toml
  .github/commands/gemini-triage.toml
  .github/workflows/gemini-dispatch.yml
  .github/workflows/gemini-invoke.yml
  .github/workflows/gemini-review.yml
  .github/workflows/gemini-scheduled-triage.yml
  .github/workflows/gemini-triage.yml
  CHANGELOG.md
  Makefile
  pyproject.toml
  tasks.py
Owners: @tleonhardt, @kotfu

Add clean target to Makefile that runs what is in invoke clean
  .github/CODEOWNERS
  .github/CONTRIBUTING.md
  MANIFEST.in
  Makefile
  pyproject.toml
  ruff.toml
  scripts/validate_tag.py
  tasks.py
Owners: @tleonhardt, @kotfu

Refactor Makefile so cleanup code is fully cross-platform
  Makefile
Owners: @tleonhardt

Add clean target to Makefile that runs what is in invoke clean (#1549)
  .github/CODEOWNERS
  .github/CONTRIBUTING.md
  MANIFEST.in
  Makefile
  pyproject.toml
  ruff.toml
  scripts/validate_tag.py
  tasks.py
Owners: @tleonhardt, @kotfu

Fix git tag validation so it retrieves tag for current commit
  scripts/validate_tag.py
Owners: @tleonhardt

This is a very early non-working start of porting to use prompt-toolkit
  cmd2/cmd2.py
  cmd2/pt_utils.py
  pyproject.toml
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Fix complete_tester helper function in conftest.py so it passes all of the correct arguments to app.complete()
  tests/conftest.py
Owners: @kotfu, @tleonhardt

Remove remaining use of readline in cmd2.py and replace it with prompt_toolkit
  .github/CODEOWNERS
  cmd2/cmd2.py
  docs/api/index.md
  docs/api/pt_utils.md
  docs/api/rl_utils.md
  mkdocs.yml
  tests/conftest.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Replace readline with prompt-toolkit in documentation and such
  .github/CONTRIBUTING.md
  cmd2/terminal_utils.py
  docs/examples/getting_started.md
  docs/features/completion.md
  docs/features/history.md
  docs/features/prompt.md
  docs/migrating/why.md
  docs/overview/installation.md
  docs/overview/integrating.md
  pyproject.toml
  tests/test_completion.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt

Fix one history test
  cmd2/cmd2.py
  tests/test_history.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Remove reference to readline from test_history.py
  tests/test_history.py
Owners: @tleonhardt

prompt-toolkit history now properly working with a persistent history file
  cmd2/cmd2.py
  cmd2/pt_utils.py
  tests/test_history.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Deleted rl_utils.py and removed all use of it
  cmd2/rl_utils.py
  tests/test_cmd2.py
Owners: @kmvanbrunt, @tleonhardt

Add test_escaping_prompt test back but skip it for now with a TODO
  tests/test_cmd2.py
Owners: @tleonhardt

Fix tests in tests_cmd2.py to monkeypatch cmd2.Cmd.read_input instead of mocking the built-in input function.
  tests/test_cmd2.py
Owners: @tleonhardt

Fix remaining tests in test_cmd2.py other than the one that is skipped
  cmd2/cmd2.py
  tests/test_cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Owners of code are automatically nominated to review PRs involving that code.

# These owners will be the default owners for everything in the repo.
*       @tleonhardt

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
#*.js    @octocat @github/js

# You can also use email addresses if you prefer.
#docs/*  docs@example.com

# cmd2 code
cmd2/__init__.py           @tleonhardt @kotfu
cmd2/ansi.py               @kmvanbrunt @tleonhardt
cmd2/argparse_*.py         @kmvanbrunt @anselor
cmd2/clipboard.py          @tleonhardt
cmd2/cmd2.py               @tleonhardt @kmvanbrunt @kotfu
cmd2/command_definition.py @anselor
cmd2/constants.py          @kotfu
cmd2/decorators.py         @kotfu @kmvanbrunt @anselor
cmd2/exceptions.py         @kmvanbrunt @anselor
cmd2/history.py            @kotfu @tleonhardt
cmd2/parsing.py            @kotfu @kmvanbrunt
cmd2/plugin.py             @kotfu
cmd2/py_bridge.py          @kmvanbrunt
cmd2/rl_utils.py           @kmvanbrunt
cmd2/table_creator.py      @kmvanbrunt
cmd2/transcript.py         @kotfu
cmd2/utils.py              @tleonhardt @kotfu @kmvanbrunt

# Sphinx documentation
docs/*                  @tleonhardt @kotfu

# Examples
examples/async_printing.py  @kmvanbrunt
examples/environment.py     @kotfu
examples/tab_*.py           @kmvanbrunt
examples/modular_*.py       @anselor
examples/modular_commands/* @anselor

plugins/template/*          @kotfu
plugins/ext_test/*          @anselor

# Unit Tests
tests/pyscript/*              @kmvanbrunt
tests/transcripts/*           @kotfu
tests/__init__.py             @kotfu
tests/conftest.py             @kotfu @tleonhardt
tests/test_argparse.py        @kotfu
tests/test_argparse_*.py      @kmvanbrunt
tests/test_comp*.py           @kmvanbrunt
tests/test_pars*.py           @kotfu
tests/test_run_pyscript.py    @kmvanbrunt
tests/test_transcript.py      @kotfu

tests_isolated/test_commandset/*    @anselor

# Top-level project stuff
CONTRIBUTING.md         @tleonhardt @kotfu
setup.py                @tleonhardt @kotfu
tasks.py                @kotfu
