Repository python-cmd2/cmd2, changes with the owners that CODEOWNERS names for each.
All owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Owners of code are automatically nominated to review PRs involving that code.

# These owners will be the default owners for everything in the repo.
*       @tleonhardt

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
#*.js    @octocat @github/js

# You can also use email addresses if you prefer.
#docs/*  docs@example.com

# cmd2 code
cmd2/__init__.py           @tleonhardt @kotfu
cmd2/ansi.py               @kmvanbrunt @tleonhardt
cmd2/argparse_*.py         @kmvanbrunt @anselor
cmd2/clipboard.py          @tleonhardt
cmd2/cmd2.py               @tleonhardt @kmvanbrunt @kotfu
cmd2/command_definition.py @anselor
cmd2/constants.py          @kotfu
cmd2/decorators.py         @kotfu @kmvanbrunt @anselor
cmd2/exceptions.py         @kmvanbrunt @anselor
cmd2/history.py            @kotfu @tleonhardt
cmd2/parsing.py            @kotfu @kmvanbrunt
cmd2/plugin.py             @kotfu
cmd2/py_bridge.py          @kmvanbrunt
cmd2/rl_utils.py           @kmvanbrunt
cmd2/table_creator.py      @kmvanbrunt
cmd2/transcript.py         @kotfu
cmd2/utils.py              @tleonhardt @kotfu @kmvanbrunt

# Sphinx documentation
docs/*                  @tleonhardt @kotfu

# Examples
examples/async_printing.py  @kmvanbrunt
examples/environment.py     @kotfu
examples/tab_*.py           @kmvanbrunt
examples/modular_*.py       @anselor
examples/modular_commands/* @anselor

plugins/template/*          @kotfu
plugins/ext_test/*          @anselor

# Unit Tests
tests/pyscript/*              @kmvanbrunt
tests/transcripts/*           @kotfu
tests/__init__.py             @kotfu
tests/conftest.py             @kotfu @tleonhardt
tests/test_argparse.py        @kotfu
tests/test_argparse_*.py      @kmvanbrunt
tests/test_comp*.py           @kmvanbrunt
tests/test_pars*.py           @kotfu
tests/test_run_pyscript.py    @kmvanbrunt
tests/test_transcript.py      @kotfu

tests_isolated/test_commandset/*    @anselor

# Top-level project stuff
CONTRIBUTING.md         @tleonhardt @kotfu
setup.py                @tleonhardt @kotfu
tasks.py                @kotfu

Updated CHANGELOG in preparation for a new release
  CHANGELOG.md
Owners: @tleonhardt

Remove tests_isolated from default tests run with pytest (#1362)
  CHANGELOG.md
  pyproject.toml
Owners: @tleonhardt

Add [project] configuration to pyproject.toml
  plugins/ext_test/tasks.py
  plugins/template/tasks.py
  pyproject.toml
  tasks.py
  tests/test_completion.py
  tests/test_utils.py
Owners: @kotfu, @tleonhardt, @kmvanbrunt

Make sure pytest-mock is installed for testing
  pyproject.toml
Owners: @tleonhardt

Fix gnureadline install on macOS
  pyproject.toml
Owners: @tleonhardt

Add [project] configuration to pyproject.toml (#1364)
  plugins/ext_test/tasks.py
  plugins/template/tasks.py
  pyproject.toml
  tasks.py
  tests/test_completion.py
  tests/test_utils.py
Owners: @kotfu, @tleonhardt, @kmvanbrunt

Remove setup.py file to fully move to a modern build based on pyproject.toml
  pyproject.toml
  setup.py
Owners: @tleonhardt, @kotfu

Remove setup.py file to fully move to a modern build based on pyproject.toml (#1365)
  pyproject.toml
  setup.py
Owners: @tleonhardt, @kotfu

Add support for uv venvs
  docs/conf.py
  pyproject.toml
  tests/test_utils.py
Owners: @tleonhardt, @kotfu

Add support for uv venvs (#1367)
  docs/conf.py
  pyproject.toml
  tests/test_utils.py
Owners: @tleonhardt, @kotfu

Try removing nox from doc build
  .github/workflows/doc.yml
  noxfile.py
Owners: @tleonhardt

Fix pytest run for cmd2-ext-test and try to fix doc build
  .github/workflows/doc.yml
  pyproject.toml
Owners: @tleonhardt

Fixed mistake where cmd2-ext-test was added as a non-dev dependency
  pyproject.toml
Owners: @tleonhardt

Make Sphinx documentation build not dependent on nox (#1368)
  .github/workflows/doc.yml
  noxfile.py
  pyproject.toml
Owners: @tleonhardt

Fix invoke clean.all
  tasks.py
Owners: @kotfu

GitHub Actions pytest workflow now uses uv instead of nox
  .github/workflows/build.yml
  noxfile.py
  pyproject.toml
  tasks.py
Owners: @tleonhardt, @kotfu

Install Python from GitHubActions instead of uv
  .github/workflows/build.yml
Owners: @tleonhardt

Use add_subparsers() 'required' keyword argument added in Python 3.7.
  cmd2/cmd2.py
  tests/test_argparse.py
  tests/test_argparse_completer.py
  tests_isolated/test_commandset/test_argparse_subcommands.py
  tests_isolated/test_commandset/test_commandset.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu, @anselor

Use add_subparsers() 'required' keyword argument added in Python 3.7.
  cmd2/cmd2.py
  tests/test_argparse.py
  tests/test_argparse_completer.py
  tests_isolated/test_commandset/test_argparse_subcommands.py
  tests_isolated/test_commandset/test_commandset.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu, @anselor

Change CommandSet._cmd to a read-only property which never returns None.
  cmd2/command_definition.py
  tests_isolated/test_commandset/test_commandset.py
Owners: @anselor

GitHub Actions pytest workflow now uses uv instead of nox (#1370)
  .github/workflows/build.yml
  noxfile.py
  pyproject.toml
  tasks.py
Owners: @tleonhardt, @kotfu

Rename CommandSet.__private_cmd to CommandSet.__cmd_internal.
  cmd2/command_definition.py
Owners: @anselor

Change CommandSet._cmd to a read-only property which never returns None.
  cmd2/command_definition.py
  tests_isolated/test_commandset/test_commandset.py
Owners: @anselor

Rename CommandSet.__private_cmd to CommandSet.__cmd_internal.
  cmd2/command_definition.py
Owners: @anselor

Update change log for release.
  CHANGELOG.md
Owners: @tleonhardt

Add 'build' to uv dev dependencies.
  pyproject.toml
Owners: @tleonhardt

Fix headers in change log.
  CHANGELOG.md
Owners: @tleonhardt

Update change log.
  CHANGELOG.md
Owners: @tleonhardt

Add ruff cache dir to .gitignore.
  .gitignore
Owners: @tleonhardt

Fixed ZeroDivisionError in async_alert() when shutil.get_terminal_size().columns returned 0.
  CHANGELOG.md
  cmd2/cmd2.py
  cmd2/constants.py
  cmd2/utils.py
  tests/test_utils.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Fixed ZeroDivisionError in async_alert() when shutil.get_terminal_size().columns returned 0.
  CHANGELOG.md
  cmd2/cmd2.py
  cmd2/constants.py
  cmd2/utils.py
  tests/test_utils.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Update change log for release.
  CHANGELOG.md
Owners: @tleonhardt

Fixed comment.
  cmd2/decorators.py
Owners: @kotfu, @kmvanbrunt, @anselor

Fixed comment.
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Updated CONTRIBUTING.md with fixes and info on how to use uv
  .github/CONTRIBUTING.md
Owners: @tleonhardt, @kotfu

Replaced twine as a build dependency in CONTRIBUTING.md
  .github/CONTRIBUTING.md
Owners: @tleonhardt, @kotfu

Fixed typo
  .github/CONTRIBUTING.md
Owners: @tleonhardt, @kotfu

Updated CONTRIBUTING.md with fixes and info on how to use uv (#1375)
  .github/CONTRIBUTING.md
Owners: @tleonhardt, @kotfu

Add rich-argparse to dependencies in CONTRIBUTING.md
  .github/CONTRIBUTING.md
Owners: @tleonhardt, @kotfu

Remove support for Python 3.8 and make 3.9 minimum required
  .github/CONTRIBUTING.md
  .github/workflows/build.yml
  CHANGELOG.md
  README.md
  docs/conf.py
  docs/overview/installation.rst
  plugins/ext_test/build-pyenvs.sh
  plugins/ext_test/noxfile.py
  plugins/ext_test/setup.py
  plugins/template/README.md
  plugins/template/build-pyenvs.sh
  plugins/template/noxfile.py
  plugins/template/setup.py
  pyproject.toml
Owners: @tleonhardt, @kotfu, @anselor
