Repository python-cmd2/cmd2, changes with the owners that CODEOWNERS names for each.
All owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Owners of code are automatically nominated to review PRs involving that code.

# These owners will be the default owners for everything in the repo.
*       @tleonhardt

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
#*.js    @octocat @github/js

# You can also use email addresses if you prefer.
#docs/*  docs@example.com

# cmd2 code
cmd2/__init__.py           @tleonhardt @kotfu
cmd2/ansi.py               @kmvanbrunt @tleonhardt
cmd2/argparse_*.py         @kmvanbrunt @anselor
cmd2/clipboard.py          @tleonhardt
cmd2/cmd2.py               @tleonhardt @kmvanbrunt @kotfu
cmd2/command_definition.py @anselor
cmd2/constants.py          @kotfu
cmd2/decorators.py         @kotfu @kmvanbrunt @anselor
cmd2/exceptions.py         @kmvanbrunt @anselor
cmd2/history.py            @kotfu @tleonhardt
cmd2/parsing.py            @kotfu @kmvanbrunt
cmd2/plugin.py             @kotfu
cmd2/py_bridge.py          @kmvanbrunt
cmd2/rl_utils.py           @kmvanbrunt
cmd2/table_creator.py      @kmvanbrunt
cmd2/transcript.py         @kotfu
cmd2/utils.py              @tleonhardt @kotfu @kmvanbrunt

# Sphinx documentation
docs/*                  @tleonhardt @kotfu

# Examples
examples/async_printing.py  @kmvanbrunt
examples/environment.py     @kotfu
examples/tab_*.py           @kmvanbrunt
examples/modular_*.py       @anselor
examples/modular_commands/* @anselor

plugins/template/*          @kotfu
plugins/ext_test/*          @anselor

# Unit Tests
tests/pyscript/*              @kmvanbrunt
tests/transcripts/*           @kotfu
tests/__init__.py             @kotfu
tests/conftest.py             @kotfu @tleonhardt
tests/test_argparse.py        @kotfu
tests/test_argparse_*.py      @kmvanbrunt
tests/test_comp*.py           @kmvanbrunt
tests/test_pars*.py           @kotfu
tests/test_run_pyscript.py    @kmvanbrunt
tests/test_transcript.py      @kotfu

tests_isolated/test_commandset/*    @anselor

# Top-level project stuff
CONTRIBUTING.md         @tleonhardt @kotfu
setup.py                @tleonhardt @kotfu
tasks.py                @kotfu

More test updates.
  tests/test_argparse_custom.py
Owners: @kmvanbrunt

Simplified function.
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Updated comments and type hint.
  cmd2/argparse_custom.py
Owners: @kmvanbrunt, @anselor

Updated save_help_text.py example script.
  examples/scripts/save_help_text.py
Owners: @tleonhardt

Added more tests.
  tests/test_cmd2.py
Owners: @tleonhardt

Fixed tests on Python 3.14+.
  tests/test_argparse_custom.py
Owners: @kmvanbrunt

Prevent redundant traversal of parser aliases.
  cmd2/cmd2.py
  examples/scripts/save_help_text.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Increased code coverage.
  tests/test_commandset.py
Owners: @tleonhardt

Removed monkey patches and improved type hints.
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  tests/test_argparse.py
  tests/test_argparse_custom.py
Owners: @kmvanbrunt, @anselor, @tleonhardt, @kotfu

Updated tests.
  tests/test_argparse_custom.py
  tests/test_cmd2.py
Owners: @kmvanbrunt, @tleonhardt

Updated comments.
  cmd2/argparse_custom.py
  cmd2/cmd2.py
Owners: @kmvanbrunt, @anselor, @tleonhardt, @kotfu

Using argparse to build 'prog' prefix instead of trying to reproduce their code.
  cmd2/argparse_completer.py
  cmd2/argparse_custom.py
  tests/test_argparse_custom.py
Owners: @kmvanbrunt, @anselor

Fixed aliases type in test.
  tests/test_commandset.py
Owners: @tleonhardt

Added public API for attaching/detaching a subcommand with an existing parser. (#1623)
  CHANGELOG.md
  cmd2/argparse_completer.py
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  examples/scripts/save_help_text.py
  tests/test_argparse.py
  tests/test_argparse_custom.py
  tests/test_argparse_subcommands.py
  tests/test_cmd2.py
  tests/test_commandset.py
  tests/test_completion.py
Owners: @tleonhardt, @kmvanbrunt, @anselor, @kotfu

Refactored save_help_text.py example pyscript.
  examples/scripts/save_help_text.py
Owners: @tleonhardt

Renamed some functions and updated comments.
  cmd2/rich_utils.py
  examples/async_printing.py
Owners: @tleonhardt, @kmvanbrunt

Renamed variables for clarity and removed unnecessary else.
  cmd2/decorators.py
Owners: @kotfu, @kmvanbrunt, @anselor

Renamed variables for clarity and removed unnecessary else. (#1624)
  cmd2/decorators.py
Owners: @kotfu, @kmvanbrunt, @anselor

Removed Cmd2AttributeWrapper class.
  CHANGELOG.md
  cmd2/__init__.py
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  cmd2/constants.py
  cmd2/decorators.py
  docs/features/argument_processing.md
  docs/features/modular_commands.md
  examples/argparse_example.py
  examples/command_sets.py
  tests/test_argparse.py
  tests/test_argparse_completer.py
  tests/test_argparse_custom.py
  tests/test_commandset.py
  tests/test_plugin.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

Improved comments in constants.py.
  cmd2/cmd2.py
  cmd2/command_definition.py
  cmd2/constants.py
  tests/test_categories.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu, @anselor

Reformatted import.
  cmd2/command_definition.py
Owners: @anselor

Removed Cmd2AttributeWrapper class. (#1625)
  CHANGELOG.md
  cmd2/__init__.py
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  cmd2/command_definition.py
  cmd2/constants.py
  cmd2/decorators.py
  docs/features/argument_processing.md
  docs/features/modular_commands.md
  examples/argparse_example.py
  examples/command_sets.py
  tests/test_argparse.py
  tests/test_argparse_completer.py
  tests/test_argparse_custom.py
  tests/test_categories.py
  tests/test_commandset.py
  tests/test_plugin.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

Simplified categorizing commands.
  cmd2/__init__.py
  cmd2/cmd2.py
  cmd2/command_definition.py
  cmd2/constants.py
  cmd2/decorators.py
  docs/features/help.md
  docs/features/initialization.md
  docs/features/modular_commands.md
  examples/README.md
  examples/command_sets.py
  examples/default_categories.py
  examples/getting_started.py
  examples/help_categories.py
  examples/modular_commands/commandset_basic.py
  examples/modular_commands/commandset_complex.py
  examples/modular_commands/commandset_custominit.py
  examples/rich_tables.py
  tests/test_categories.py
  tests/test_cmd2.py
  tests/test_commandset.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

Renamed command_definition.py to command_set.py.
  .github/CODEOWNERS
  cmd2/__init__.py
  cmd2/argparse_completer.py
  cmd2/cmd2.py
  cmd2/command_set.py
  cmd2/decorators.py
  cmd2/types.py
  docs/api/command_definition.md
  docs/api/command_set.md
  docs/api/index.md
  docs/features/modular_commands.md
  mkdocs.yml
Owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

chore: fix test
  cmd2/decorators.py
  docs/features/argument_processing.md
  tests/test_annotated.py
Owners: @kotfu, @kmvanbrunt, @anselor, @tleonhardt

Removed defaultdicts to simplify some code.
  cmd2/argparse_completer.py
  cmd2/cmd2.py
Owners: @kmvanbrunt, @anselor, @tleonhardt, @kotfu

Corrected usages of some class variables.
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Renamed variable and updated comment.
  cmd2/command_set.py
Owners: @tleonhardt

Documented how to override the build-in command category.
  cmd2/cmd2.py
  docs/features/help.md
  examples/default_categories.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Updated documentation.
  CHANGELOG.md
  docs/features/help.md
  docs/features/initialization.md
Owners: @tleonhardt

Updated CHANGELOG.
  CHANGELOG.md
Owners: @tleonhardt

Fixed enable_category() and disable_category() to support DEFAULT_CATEGORY. Removed concept of undocumented commands.
  CHANGELOG.md
  cmd2/cmd2.py
  docs/features/initialization.md
  examples/default_categories.py
  tests/test_categories.py
  tests/test_cmd2.py
  tests/test_commandset.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Updated comments and documentation.
  cmd2/cmd2.py
  cmd2/command_set.py
  docs/features/initialization.md
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Handling case when completekey is empty string.
  cmd2/cmd2.py
  tests/test_cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Simplified class-wide command categorization (#1626)
  .github/CODEOWNERS
  CHANGELOG.md
  cmd2/__init__.py
  cmd2/argparse_completer.py
  cmd2/cmd2.py
  cmd2/command_set.py
  cmd2/constants.py
  cmd2/decorators.py
  cmd2/types.py
  docs/api/command_definition.md
  docs/api/command_set.md
  docs/api/index.md
  docs/features/help.md
  docs/features/initialization.md
  docs/features/modular_commands.md
  examples/README.md
  examples/command_sets.py
  examples/default_categories.py
  examples/getting_started.py
  examples/help_categories.py
  examples/modular_commands/commandset_basic.py
  examples/modular_commands/commandset_complex.py
  examples/modular_commands/commandset_custominit.py
  examples/rich_tables.py
  mkdocs.yml
  tests/test_categories.py
  tests/test_cmd2.py
  tests/test_commandset.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

Fix ANSI colors stripped when TERM=dumb or color system undetectable
  cmd2/rich_utils.py
  tests/test_cmd2.py
Owners: @tleonhardt

Fix ANSI colors stripped when TERM=dumb or color system undetectable
  cmd2/rich_utils.py
  tests/test_cmd2.py
Owners: @tleonhardt

Removed Text.from_ansi() monkeypatch since it's no longer needed as of Rich 15.0.0.
  cmd2/rich_utils.py
  pyproject.toml
  tests/test_rich_utils.py
Owners: @tleonhardt

Removed Text.from_ansi() monkeypatch since it's no longer needed as of Rich 15.0.0.
  cmd2/rich_utils.py
  pyproject.toml
  tests/test_rich_utils.py
Owners: @tleonhardt

Removed Text.from_ansi() monkeypatch since it's no longer needed as of Rich 15.0.0. (#1631)
  cmd2/rich_utils.py
  pyproject.toml
  tests/test_rich_utils.py
Owners: @tleonhardt
