Repository python-cmd2/cmd2, changes with the owners that CODEOWNERS names for each.
All owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

Deleted configuration for travis-ci.org and also deleted associated webhook within GitHub settings for the repo
  .github/CONTRIBUTING.md
  .travis.yml
  MANIFEST.in
Owners: @tleonhardt, @kotfu

Try to fix missing Python dependencies on Windows
  .github/workflows/ci.yml
Owners: @tleonhardt

Attempt to speedup AppVeyor build
  .appveyor.yml
Owners: @tleonhardt

Try to fix syntax error in AppVeyor config
  .appveyor.yml
Owners: @tleonhardt

Replaced Travis CI badge in README with a GitHub Actions CI badge
  .appveyor.yml
  README.md
Owners: @tleonhardt

Remove all use of AppVeyor for Windows testing because it is slower than GitHub Actions for the same purpose
  .appveyor.yml
  MANIFEST.in
  README.md
  plugins/template/README.md
  tests/test_completion.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt

Only run a single nox session for each version of Python in GitHub Actions matrix
  .github/workflows/ci.yml
  azure-pipelines.yml
  noxfile.py
Owners: @tleonhardt

Fix how python version is passed to nox command-line argument
  .github/workflows/ci.yml
Owners: @tleonhardt

Damn computers, doing what I said instead of what I meant
  .github/workflows/ci.yml
Owners: @tleonhardt

Fix nox session name for running tests
  .github/workflows/ci.yml
Owners: @tleonhardt

Try to fix flake8 lint run and Python 3.10 runs
  .github/workflows/ci.yml
  noxfile.py
Owners: @tleonhardt

Remove Python 3.10 testing because it doesn't appear to be available in GitHub Actions yet
  .github/workflows/ci.yml
  noxfile.py
Owners: @tleonhardt

Add back in GitHub Actions caching
  .github/workflows/doc.yml
  .github/workflows/lint.yml
Owners: @tleonhardt

Change name of lint and doc jobs
  .github/workflows/doc.yml
  .github/workflows/lint.yml
Owners: @tleonhardt

Remove GitHub Actions cache step because it wasn't working correctly
  .github/workflows/ci.yml
  .github/workflows/doc.yml
  .github/workflows/lint.yml
Owners: @tleonhardt

Finish removing use of caching in GitHub Actions YAML config
  .github/workflows/ci.yml
  .github/workflows/doc.yml
  .github/workflows/lint.yml
Owners: @tleonhardt

Fix syntax error in doc.yml workflow files building Sphinx docs using GitHub Actions
  .github/workflows/doc.yml
Owners: @tleonhardt

Simplify GitHub Actions workflow configs so they run on any push or PR instead of only ones to specific branches
  .github/workflows/ci.yml
  .github/workflows/doc.yml
  .github/workflows/lint.yml
Owners: @tleonhardt

Simplify workflow configs by removing an environment variable that wasn't used any longer
  .github/workflows/ci.yml
  .github/workflows/doc.yml
  .github/workflows/lint.yml
Owners: @tleonhardt

Removed CONTRIBUTING.md file from the manifest (i.e. from the PyPI package)
  MANIFEST.in
Owners: @tleonhardt

Updated CHANGELOG to prepare for next release
  CHANGELOG.md
  README.md
Owners: @tleonhardt

Attempt to make flake8 and black play nicely
  .github/workflows/format.yml
  .github/workflows/lint.yml
Owners: @tleonhardt

Change black config
  .github/workflows/format.yml
Owners: @tleonhardt

Hopefully print out what files black would want to change
  .github/workflows/format.yml
Owners: @tleonhardt

Attempt to fix remaining black failures
  .github/workflows/format.yml
  Pipfile
  cmd2/cmd2.py
  examples/exit_code.py
  examples/python_scripting.py
  noxfile.py
  plugins/tasks.py
  plugins/template/setup.py
  tests/conftest.py
  tests/test_argparse.py
  tests/test_argparse_custom.py
  tests/test_cmd2.py
  tests/test_history.py
  tests/test_parsing.py
  tests_isolated/test_commandset/conftest.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu, @anselor

Exclude various directories from isort
  pyproject.toml
  setup.cfg
Owners: @tleonhardt

Need to install isort before we can run it ;-)
  .github/workflows/format.yml
Owners: @tleonhardt

Fixed typo in change log
  CHANGELOG.md
Owners: @tleonhardt

Added black to Pipfile and black configuration to pyrpoject.toml
  .github/workflows/lint.yml
  Pipfile
  pyproject.toml
  setup.cfg
  tasks.py
Owners: @tleonhardt, @kotfu

docs(README): Added links for cookiecutter projects
  README.md
Owners: @tleonhardt

Update modular_commands.rst
  docs/features/modular_commands.rst
Owners: @tleonhardt

Fixed black, isort, flake8, and doc8 issues
  cmd2/argparse_completer.py
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  cmd2/decorators.py
  cmd2/exceptions.py
  cmd2/utils.py
  examples/arg_decorators.py
  examples/argparse_completion.py
  examples/modular_commands_main.py
  examples/read_input.py
  setup.cfg
  tests/test_argparse_completer.py
  tests/test_argparse_custom.py
  tests/test_cmd2.py
  tests/test_completion.py
  tests/test_history.py
Owners: @kmvanbrunt, @anselor, @tleonhardt, @kotfu

Deprecate Python 3.5
  .github/CONTRIBUTING.md
  cmd2/argparse_completer.py
  cmd2/cmd2.py
  cmd2/command_definition.py
  cmd2/table_creator.py
  cmd2/utils.py
  docs/features/embedded_python_shells.rst
  docs/overview/installation.rst
  plugins/ext_test/build-pyenvs.sh
  plugins/ext_test/noxfile.py
  plugins/ext_test/setup.py
  plugins/template/README.md
  plugins/template/build-pyenvs.sh
  plugins/template/noxfile.py
  plugins/template/setup.py
  setup.py
  tests/test_cmd2.py
  tests/test_completion.py
  tests/test_history.py
  tests/test_plugin.py
  tests/test_run_pyscript.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

Updated README and CHANGELOG
  CHANGELOG.md
  README.md
Owners: @tleonhardt

Start making small changes to fix mypy warnings
  Pipfile
  cmd2/argparse_custom.py
  cmd2/exceptions.py
  cmd2/transcript.py
  cmd2/utils.py
Owners: @tleonhardt, @kmvanbrunt, @anselor, @kotfu

Fix error in Python 3.6
  cmd2/utils.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt

Fixed issue where HistoryItem indexes were being reused
  cmd2/cmd2.py
  cmd2/history.py
  tests/test_history.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Updated change log
  CHANGELOG.md
Owners: @tleonhardt

Fixed issue where TableCreator was tossing blank last lines
  CHANGELOG.md
  cmd2/table_creator.py
  tests/test_table_creator.py
Owners: @tleonhardt, @kmvanbrunt

Moved empty line check in table creator
  cmd2/table_creator.py
  tests/test_table_creator.py
Owners: @kmvanbrunt, @tleonhardt

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Owners of code are automatically nominated to review PRs involving that code.

# These owners will be the default owners for everything in the repo.
*       @tleonhardt

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
#*.js    @octocat @github/js

# You can also use email addresses if you prefer.
#docs/*  docs@example.com

# cmd2 code
cmd2/__init__.py           @tleonhardt @kotfu
cmd2/ansi.py               @kmvanbrunt @tleonhardt
cmd2/argparse_*.py         @kmvanbrunt @anselor
cmd2/clipboard.py          @tleonhardt
cmd2/cmd2.py               @tleonhardt @kmvanbrunt @kotfu
cmd2/command_definition.py @anselor
cmd2/constants.py          @kotfu
cmd2/decorators.py         @kotfu @kmvanbrunt @anselor
cmd2/exceptions.py         @kmvanbrunt @anselor
cmd2/history.py            @kotfu @tleonhardt
cmd2/parsing.py            @kotfu @kmvanbrunt
cmd2/plugin.py             @kotfu
cmd2/py_bridge.py          @kmvanbrunt
cmd2/rl_utils.py           @kmvanbrunt
cmd2/table_creator.py      @kmvanbrunt
cmd2/transcript.py         @kotfu
cmd2/utils.py              @tleonhardt @kotfu @kmvanbrunt

# Sphinx documentation
docs/*                  @tleonhardt @kotfu

# Examples
examples/async_printing.py  @kmvanbrunt
examples/environment.py     @kotfu
examples/tab_*.py           @kmvanbrunt
examples/modular_*.py       @anselor
examples/modular_commands/* @anselor

plugins/template/*          @kotfu
plugins/ext_test/*          @anselor

# Unit Tests
tests/pyscript/*              @kmvanbrunt
tests/transcripts/*           @kotfu
tests/__init__.py             @kotfu
tests/conftest.py             @kotfu @tleonhardt
tests/test_argparse.py        @kotfu
tests/test_argparse_*.py      @kmvanbrunt
tests/test_comp*.py           @kmvanbrunt
tests/test_pars*.py           @kotfu
tests/test_run_pyscript.py    @kmvanbrunt
tests/test_transcript.py      @kotfu

tests_isolated/test_commandset/*    @anselor

# Top-level project stuff
CONTRIBUTING.md         @tleonhardt @kotfu
setup.py                @tleonhardt @kotfu
tasks.py                @kotfu
