Repository python-cmd2/cmd2, changes with the owners that CODEOWNERS names for each.
All owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Owners of code are automatically nominated to review PRs involving that code.

# These owners will be the default owners for everything in the repo.
*       @tleonhardt

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
#*.js    @octocat @github/js

# You can also use email addresses if you prefer.
#docs/*  docs@example.com

# cmd2 code
cmd2/__init__.py           @tleonhardt @kotfu
cmd2/ansi.py               @kmvanbrunt @tleonhardt
cmd2/argparse_*.py         @kmvanbrunt @anselor
cmd2/clipboard.py          @tleonhardt
cmd2/cmd2.py               @tleonhardt @kmvanbrunt @kotfu
cmd2/command_definition.py @anselor
cmd2/constants.py          @kotfu
cmd2/decorators.py         @kotfu @kmvanbrunt @anselor
cmd2/exceptions.py         @kmvanbrunt @anselor
cmd2/history.py            @kotfu @tleonhardt
cmd2/parsing.py            @kotfu @kmvanbrunt
cmd2/plugin.py             @kotfu
cmd2/py_bridge.py          @kmvanbrunt
cmd2/rl_utils.py           @kmvanbrunt
cmd2/table_creator.py      @kmvanbrunt
cmd2/transcript.py         @kotfu
cmd2/utils.py              @tleonhardt @kotfu @kmvanbrunt

# Sphinx documentation
docs/*                  @tleonhardt @kotfu

# Examples
examples/async_printing.py  @kmvanbrunt
examples/environment.py     @kotfu
examples/tab_*.py           @kmvanbrunt
examples/modular_*.py       @anselor
examples/modular_commands/* @anselor

plugins/template/*          @kotfu
plugins/ext_test/*          @anselor

# Unit Tests
tests/pyscript/*              @kmvanbrunt
tests/transcripts/*           @kotfu
tests/__init__.py             @kotfu
tests/conftest.py             @kotfu @tleonhardt
tests/test_argparse.py        @kotfu
tests/test_argparse_*.py      @kmvanbrunt
tests/test_comp*.py           @kmvanbrunt
tests/test_pars*.py           @kotfu
tests/test_run_pyscript.py    @kmvanbrunt
tests/test_transcript.py      @kotfu

tests_isolated/test_commandset/*    @anselor

# Top-level project stuff
CONTRIBUTING.md         @tleonhardt @kotfu
setup.py                @tleonhardt @kotfu
tasks.py                @kotfu

Migrate to prek from pre-commit (#1607)
  .github/CONTRIBUTING.md
  .github/workflows/quality.yml
  .pre-commit-config.yaml
  .typos.toml
  Makefile
  README.md
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  docs/doc_conventions.md
  examples/README.md
  examples/command_sets.py
  examples/custom_types.py
  examples/modular_commandsets.py
  pyproject.toml
  ruff.toml
  tests/test_cmd2.py
  tests/test_commandset.py
  tests/test_pt_utils.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

Remove broken symlink checker since we have no symlinks
  .pre-commit-config.yaml
Owners: @tleonhardt

Made a simple table class to eliminate code duplication. Removed Cmd.ruler since cmd2 no longer uses it.
  CHANGELOG.md
  cmd2/argparse_completer.py
  cmd2/cmd2.py
  cmd2/rich_utils.py
Owners: @tleonhardt, @kmvanbrunt, @anselor, @kotfu

Added type checking to rich_text_to_string().
  cmd2/rich_utils.py
  tests/test_rich_utils.py
Owners: @tleonhardt

Made a simple table class to eliminate code duplication. Removed Cmd.ruler since cmd2 no longer uses it.
  CHANGELOG.md
  cmd2/argparse_completer.py
  cmd2/cmd2.py
  cmd2/rich_utils.py
Owners: @tleonhardt, @kmvanbrunt, @anselor, @kotfu

Added type checking to rich_text_to_string().
  cmd2/rich_utils.py
  tests/test_rich_utils.py
Owners: @tleonhardt

Removed need for Rich patches in Cmd2BaseConsole.print() and Cmd2BaseConsole.log().
  cmd2/cmd2.py
  cmd2/rich_utils.py
  tests/test_rich_utils.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Removed need for Rich patches in Cmd2BaseConsole.print() and Cmd2BaseConsole.log(). (#1609)
  cmd2/cmd2.py
  cmd2/rich_utils.py
  tests/test_rich_utils.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Added 'justify' to the print methods.
  cmd2/__init__.py
  cmd2/cmd2.py
  cmd2/rich_utils.py
  docs/features/generating_output.md
  tests/test_cmd2.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt

Fixed missing justify argument.
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Added 'justify' to the print methods. (#1610)
  cmd2/__init__.py
  cmd2/cmd2.py
  cmd2/rich_utils.py
  docs/features/generating_output.md
  tests/test_cmd2.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt

Updated comment for self.stdout.
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Updated _create_base_printing_console() docstring.
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

feat: typer support
  README.md
  cmd2/__init__.py
  cmd2/cmd2.py
  cmd2/constants.py
  cmd2/decorators.py
  cmd2/typer_custom.py
  docs/features/index.md
  docs/features/typer.md
  examples/typer_example.py
  mkdocs.yml
  pyproject.toml
  tests/test_typer.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

chore: update test to strip formmating
  tests/test_typer.py
Owners: @tleonhardt

Do not submit command line when user presses enter when selecting a completion.
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Added pragma: no cover.
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Do not submit command when user presses enter to select a completion. (#1613)
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Cache stdout and stderr consoles to avoid creating new instances each time we print.
  cmd2/cmd2.py
  cmd2/rich_utils.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Added tests for Cmd._create_base_printing_console().
  tests/test_cmd2.py
Owners: @tleonhardt

Fixed type hint.
  cmd2/decorators.py
Owners: @kotfu, @kmvanbrunt, @anselor

Changed some function signatures.
  cmd2/cmd2.py
  cmd2/rich_utils.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Updated comments and renamed a function.
  cmd2/cmd2.py
  tests/test_cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Cache stdout and stderr consoles to avoid creating new instances each time we print. (#1615)
  cmd2/cmd2.py
  cmd2/decorators.py
  cmd2/rich_utils.py
  tests/test_cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu, @anselor

Update ruff to 0.15.8
  .pre-commit-config.yaml
Owners: @tleonhardt

Remove @anselor from CODEOWNERS file
  .github/CODEOWNERS
Owners: @tleonhardt

Added method to pretty print.
  CHANGELOG.md
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Updated pretty_print.py example to use ppretty().
  examples/pretty_print.py
Owners: @tleonhardt

Added unit test for ppretty().
  tests/test_cmd2.py
Owners: @tleonhardt

Addressed PR comments.
  CHANGELOG.md
  examples/pretty_print.py
Owners: @tleonhardt

Added end parameter and comment to ppretty().
  cmd2/cmd2.py
  tests/test_cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Updated comment.
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Updated comment.
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Added Rich-based pretty print method. (#1617)
  CHANGELOG.md
  cmd2/cmd2.py
  examples/pretty_print.py
  tests/test_cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Added add_existing_parser() method to argparse._SubParsersAction.
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  cmd2/decorators.py
Owners: @kmvanbrunt, @anselor, @tleonhardt, @kotfu

Updated comment.
  cmd2/argparse_custom.py
Owners: @kmvanbrunt, @anselor

Updated docs.
  cmd2/argparse_custom.py
Owners: @kmvanbrunt, @anselor

Updated docstrings.
  cmd2/argparse_custom.py
  cmd2/decorators.py
Owners: @kmvanbrunt, @anselor, @kotfu

Renamed add_existing_parser() to attach_parser(). Renamed remove_parser() to detach_parser().
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  tests/test_argparse_custom.py
Owners: @kmvanbrunt, @anselor, @tleonhardt, @kotfu

Improve subcommand manipulation. (#1618)
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  cmd2/decorators.py
  tests/test_argparse_custom.py
Owners: @kmvanbrunt, @anselor, @tleonhardt, @kotfu
