Repository python-cmd2/cmd2, changes with the owners that CODEOWNERS names for each.
All owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

test(pt_utils): achieve 100% coverage for pt_utils.py
  tests/test_pt_utils.py
Owners: @tleonhardt

Update ruff version used by pre-commit
  .pre-commit-config.yaml
Owners: @tleonhardt

feat(cmd2): improve bottom toolbar with colors and timestamp
  cmd2/cmd2.py
  tests/test_cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Modified examples/getting_started.py to include a bottom toolbar
  examples/getting_started.py
Owners: @tleonhardt

examples: add background thread to refresh bottom toolbar
  examples/getting_started.py
Owners: @tleonhardt

feat(cmd2): use 0.01s precision for bottom toolbar timestamp
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Add comment to getting_started.py about bottom toolbar
  examples/getting_started.py
Owners: @tleonhardt

Improve comment in example
  examples/getting_started.py
Owners: @tleonhardt

docs: update documentation for prompt-toolkit and bottom toolbar
  docs/examples/getting_started.md
  docs/features/history.md
  docs/features/initialization.md
  docs/features/prompt.md
  docs/migrating/why.md
  docs/overview/alternatives.md
  docs/upgrades.md
  mkdocs.yml
Owners: @tleonhardt, @kotfu

Add comments back to argparse_completer.py that got accidentally stripped out
  cmd2/argparse_completer.py
Owners: @kmvanbrunt, @anselor

Add small comment back
  cmd2/argparse_completer.py
Owners: @kmvanbrunt, @anselor

test(cmd2): add coverage for _get_commands_aliases_and_macros_for_completion
  tests/test_cmd2.py
Owners: @tleonhardt

Upgrade versions of prettier and ruff used
  .pre-commit-config.yaml
  package.json
Owners: @tleonhardt

fix(argparse): prefer positional hint over flags when input is empty
  cmd2/argparse_completer.py
  tests/test_argparse_completer.py
Owners: @kmvanbrunt, @anselor

fix(argparse): group short and long flags in tab completion
  cmd2/argparse_completer.py
  tests/test_argparse_completer.py
Owners: @kmvanbrunt, @anselor

test(argparse): add coverage for fallback to flags with empty positional
  tests/test_argparse_completer.py
Owners: @kmvanbrunt

Added back a pragma: no cover comment that accidentally got dropped
  cmd2/argparse_completer.py
Owners: @kmvanbrunt, @anselor

test(cmd2): add coverage for EOF during multiline command input
  tests/test_cmd2.py
Owners: @tleonhardt

fix(examples): make async_call.py main synchronous to avoid loop conflict
  examples/async_call.py
Owners: @tleonhardt

Updated CHANGELOG.md
  CHANGELOG.md
  examples/async_call.py
Owners: @tleonhardt

Update alternate_event_loops.md documentation
  docs/examples/alternate_event_loops.md
Owners: @tleonhardt

Improve return type hint and docstring for cmd2.Cmd._bottom_toolbar method
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Improve type hint in documentation
  docs/features/prompt.md
Owners: @tleonhardt

Improve a couple type hints to be more specific than Any
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Fix raw ANSI codes displaying for CompletionError in prompt_toolkit
  cmd2/cmd2.py
  cmd2/pt_utils.py
  tests/conftest.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Fix tests/test_pt_utils.py by adding completion_header to MockCmd
  tests/test_pt_utils.py
Owners: @tleonhardt

Updated intro banner for exampels/getting_started.py
  examples/getting_started.py
Owners: @tleonhardt

Fix example, documentation, and CHANGELOG for removed ppretty
  CHANGELOG.md
  docs/features/settings.md
  examples/README.md
  examples/pretty_print.py
Owners: @tleonhardt

Fix transcript_example.py example and associated transcript file
  .pre-commit-config.yaml
  examples/transcript_example.py
  examples/transcripts/transcript_regex.txt
Owners: @tleonhardt

Add support for a custom completion key/key-combo in Prompt-toolkit using the completekey input
  cmd2/cmd2.py
  tests/test_custom_key_binding.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Add pragma no cover to a callback function passed to prompt_toolkit
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Restore previous behaivor for cmd2.Cmd.read_input
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Fix TypeError in CustomInitCommandSet.do_show_arg* methods
  examples/modular_commands/commandset_custominit.py
Owners: @anselor

Fix module_commands.py example
  examples/modular_commands.py
Owners: @anselor

Ignore mypy errors that will only show up when running mypy on Windows
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Ensure prompt after KeyboardInterrupt is on its own line
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Documented a limitation of redirecting output to the clipboard
  docs/features/clipboard.md
Owners: @tleonhardt

Fix ppaged crash on SIGKILL of pager
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Fix ppaged UnboundLocalError on Windows
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Replace terminal_lock with asyncio in async_alert
  cmd2/cmd2.py
  examples/async_printing.py
  tests/test_cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Owners of code are automatically nominated to review PRs involving that code.

# These owners will be the default owners for everything in the repo.
*       @tleonhardt

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
#*.js    @octocat @github/js

# You can also use email addresses if you prefer.
#docs/*  docs@example.com

# cmd2 code
cmd2/__init__.py           @tleonhardt @kotfu
cmd2/ansi.py               @kmvanbrunt @tleonhardt
cmd2/argparse_*.py         @kmvanbrunt @anselor
cmd2/clipboard.py          @tleonhardt
cmd2/cmd2.py               @tleonhardt @kmvanbrunt @kotfu
cmd2/command_definition.py @anselor
cmd2/constants.py          @kotfu
cmd2/decorators.py         @kotfu @kmvanbrunt @anselor
cmd2/exceptions.py         @kmvanbrunt @anselor
cmd2/history.py            @kotfu @tleonhardt
cmd2/parsing.py            @kotfu @kmvanbrunt
cmd2/plugin.py             @kotfu
cmd2/py_bridge.py          @kmvanbrunt
cmd2/rl_utils.py           @kmvanbrunt
cmd2/table_creator.py      @kmvanbrunt
cmd2/transcript.py         @kotfu
cmd2/utils.py              @tleonhardt @kotfu @kmvanbrunt

# Sphinx documentation
docs/*                  @tleonhardt @kotfu

# Examples
examples/async_printing.py  @kmvanbrunt
examples/environment.py     @kotfu
examples/tab_*.py           @kmvanbrunt
examples/modular_*.py       @anselor
examples/modular_commands/* @anselor

plugins/template/*          @kotfu
plugins/ext_test/*          @anselor

# Unit Tests
tests/pyscript/*              @kmvanbrunt
tests/transcripts/*           @kotfu
tests/__init__.py             @kotfu
tests/conftest.py             @kotfu @tleonhardt
tests/test_argparse.py        @kotfu
tests/test_argparse_*.py      @kmvanbrunt
tests/test_comp*.py           @kmvanbrunt
tests/test_pars*.py           @kotfu
tests/test_run_pyscript.py    @kmvanbrunt
tests/test_transcript.py      @kotfu

tests_isolated/test_commandset/*    @anselor

# Top-level project stuff
CONTRIBUTING.md         @tleonhardt @kotfu
setup.py                @tleonhardt @kotfu
tasks.py                @kotfu
