Repository python-cmd2/cmd2, changes with the owners that CODEOWNERS names for each.
All owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Owners of code are automatically nominated to review PRs involving that code.

# These owners will be the default owners for everything in the repo.
*       @tleonhardt

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
#*.js    @octocat @github/js

# You can also use email addresses if you prefer.
#docs/*  docs@example.com

# cmd2 code
cmd2/__init__.py           @tleonhardt @kotfu
cmd2/ansi.py               @kmvanbrunt @tleonhardt
cmd2/argparse_*.py         @kmvanbrunt @anselor
cmd2/clipboard.py          @tleonhardt
cmd2/cmd2.py               @tleonhardt @kmvanbrunt @kotfu
cmd2/command_definition.py @anselor
cmd2/constants.py          @kotfu
cmd2/decorators.py         @kotfu @kmvanbrunt @anselor
cmd2/exceptions.py         @kmvanbrunt @anselor
cmd2/history.py            @kotfu @tleonhardt
cmd2/parsing.py            @kotfu @kmvanbrunt
cmd2/plugin.py             @kotfu
cmd2/py_bridge.py          @kmvanbrunt
cmd2/rl_utils.py           @kmvanbrunt
cmd2/table_creator.py      @kmvanbrunt
cmd2/transcript.py         @kotfu
cmd2/utils.py              @tleonhardt @kotfu @kmvanbrunt

# Sphinx documentation
docs/*                  @tleonhardt @kotfu

# Examples
examples/async_printing.py  @kmvanbrunt
examples/environment.py     @kotfu
examples/tab_*.py           @kmvanbrunt
examples/modular_*.py       @anselor
examples/modular_commands/* @anselor

plugins/template/*          @kotfu
plugins/ext_test/*          @anselor

# Unit Tests
tests/pyscript/*              @kmvanbrunt
tests/transcripts/*           @kotfu
tests/__init__.py             @kotfu
tests/conftest.py             @kotfu @tleonhardt
tests/test_argparse.py        @kotfu
tests/test_argparse_*.py      @kmvanbrunt
tests/test_comp*.py           @kmvanbrunt
tests/test_pars*.py           @kotfu
tests/test_run_pyscript.py    @kmvanbrunt
tests/test_transcript.py      @kotfu

tests_isolated/test_commandset/*    @anselor

# Top-level project stuff
CONTRIBUTING.md         @tleonhardt @kotfu
setup.py                @tleonhardt @kotfu
tasks.py                @kotfu

Placed default_suggestion_message on its own line. (#1326)
  Pipfile
  cmd2/cmd2.py
  docs/api/cmd.rst
  tests/test_cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Removed deprecated sphinx method to fix doc build
  docs/conf.py
Owners: @tleonhardt, @kotfu

Remove unused import in sphinx conf.py
  docs/conf.py
Owners: @tleonhardt, @kotfu

Removed deprecated sphinx method to fix doc build (#1328)
  docs/conf.py
Owners: @tleonhardt, @kotfu

Remove dependencies which were only used for Python < 3.8 since cmd2 2.5.0 now requires Python 3.8+
  setup.py
Owners: @tleonhardt, @kotfu

Remove dependencies which were only used for Python < 3.8 since cmd2 2.5.0 now requires Python 3.8+ (#1329)
  setup.py
Owners: @tleonhardt, @kotfu

Fixed bug where async_alert() was overwriting readline incremental and non-incremental search prompts.
  cmd2/ansi.py
  cmd2/cmd2.py
  cmd2/rl_utils.py
Owners: @kmvanbrunt, @tleonhardt, @kotfu

Fixed bug where async_alert() overwrites readline's incremental and non-incremental search prompts.
  CHANGELOG.md
  cmd2/ansi.py
  cmd2/cmd2.py
  cmd2/rl_utils.py
  docs/features/prompt.rst
  examples/async_printing.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Fixed bug where async_alert() overwrites readline's incremental and non-incremental search prompts. (#1330)
  CHANGELOG.md
  cmd2/ansi.py
  cmd2/cmd2.py
  cmd2/rl_utils.py
  docs/features/prompt.rst
  examples/async_printing.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Migrate to a modern Python project where all configuration is in pyproject.toml
  .gitignore
  Pipfile
  cmd2/__init__.py
  cmd2/argparse_completer.py
  cmd2/cmd2.py
  pyproject.toml
  setup.cfg
  setup.py
  tasks.py
  tests/test_completion.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

Add back and empty setup.cfg to fix pytest
  setup.cfg
Owners: @tleonhardt

Add back setup.py to see if it helps GitHub CI stuff
  setup.py
Owners: @tleonhardt, @kotfu

Add pytest, doc8, and mypy config back to setup.cfg
  setup.cfg
Owners: @tleonhardt

Try to fix setuptools_scm command
  pyproject.toml
Owners: @tleonhardt

Comment out [project] section of pyproject.toml
  pyproject.toml
Owners: @tleonhardt

Revert build back to setup.py
  tasks.py
Owners: @kotfu

Remove build backend from pyproject.toml
  pyproject.toml
Owners: @tleonhardt

Upgrade tests to support Python 3.13
  .github/workflows/ci.yml
  .github/workflows/doc.yml
  .github/workflows/format.yml
  .github/workflows/lint.yml
  .github/workflows/mypy.yml
  .gitignore
  Pipfile
  docs/features/scripting.rst
  tasks.py
Owners: @tleonhardt, @kotfu

Fix mypy issue
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Replace black, isort, and flake8 with ruff and remove former three
  .github/CONTRIBUTING.md
  .github/workflows/format.yml
  .github/workflows/lint.yml
  Pipfile
  setup.cfg
  setup.py
  tasks.py
  tests/test_cmd2.py
Owners: @tleonhardt, @kotfu

Fix typo in ruff linting
  .github/workflows/lint.yml
Owners: @tleonhardt

Removed a couple empty .format() calls
  tests/test_completion.py
Owners: @kmvanbrunt

Attempt to fix ReadTheDocs Sphinx build
  .readthedocs.yaml
  docs/conf.py
  docs/features/scripting.rst
  docs/requirements.txt
Owners: @tleonhardt, @kotfu

Fix linting for docs/conf.py
  pyproject.toml
Owners: @tleonhardt

Attempt to fix ReadTheDocs Sphinx build (#1337)
  .readthedocs.yaml
  docs/conf.py
  docs/features/scripting.rst
  docs/requirements.txt
  pyproject.toml
Owners: @tleonhardt, @kotfu

Attempt a Python path hack to get ReadTheDocs build working
  docs/conf.py
Owners: @tleonhardt, @kotfu

Attempt a Python path hack to get ReadTheDocs build working (#1338)
  docs/conf.py
Owners: @tleonhardt, @kotfu

Try to simplify some of the CI and add support for Python 3.13
  .github/workflows/ci.yml
  .github/workflows/doc.yml
  .github/workflows/format.yml
  .github/workflows/lint.yml
  .github/workflows/mypy.yml
Owners: @tleonhardt

Add support for Python 3.13 to noxfile.py
  docs/requirements.txt
  noxfile.py
Owners: @tleonhardt, @kotfu

Add missing requirements to docs/requirements.txt
  docs/requirements.txt
Owners: @tleonhardt, @kotfu

Update Changelog and revert Sphinx build to use nox
  .github/workflows/doc.yml
  CHANGELOG.md
Owners: @tleonhardt

Revert doc.yml to where it was
  .github/workflows/doc.yml
  noxfile.py
Owners: @tleonhardt

Try to simplify some of the CI and add support for Python 3.13 (#1339)
  .github/workflows/ci.yml
  .github/workflows/doc.yml
  .github/workflows/format.yml
  .github/workflows/lint.yml
  .github/workflows/mypy.yml
  CHANGELOG.md
  docs/requirements.txt
  noxfile.py
Owners: @tleonhardt, @kotfu

Try to fix MyPy GitHub Actions
  .github/workflows/mypy.yml
Owners: @tleonhardt

Try to fix MyPy GitHub Actions (#1340)
  .github/workflows/mypy.yml
Owners: @tleonhardt

Try to fix a bug where the ReadTheDocs build can't find the cmd2.__version__
  docs/requirements.txt
Owners: @tleonhardt, @kotfu

Try to fix a bug where the ReadTheDocs build can't find the cmd2.__version__ (#1341)
  docs/requirements.txt
Owners: @tleonhardt, @kotfu

Try to fix ReadTheDocs Sphinx build that is having problems getting the version from setuptools-scm
  .readthedocs.yaml
  docs/conf.py
  docs/requirements.txt
  setup.py
Owners: @tleonhardt, @kotfu

Try to fix ReadTheDocs Sphinx build that is having problems getting the version from setuptools-scm (#1342)
  .readthedocs.yaml
  docs/conf.py
  docs/requirements.txt
  setup.py
Owners: @tleonhardt, @kotfu

Move doc8 config to pyrpoject.toml from setup.cfg
  pyproject.toml
  setup.cfg
Owners: @tleonhardt
