Repository python-cmd2/cmd2, changes with the owners that CODEOWNERS names for each.
All owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

Expanded pager tests to ensure the keyboard shortcuts behave as expected
  tests/test_pager.py
Owners: @tleonhardt

test: add failing regression gate for bottom toolbar flicker
  tests/test_toolbar_flicker.py
Owners: @tleonhardt

test: spike proving the prompt can accept without exiting the app
  tests/test_toolbar_flicker.py
Owners: @tleonhardt

test: pin prompt interrupt, EOF, and line-echo invariants
  tests/test_command_toolbar.py
Owners: @tleonhardt

feat: add prompt mode to the command toolbar's application
  cmd2/command_toolbar.py
  tests/test_command_toolbar.py
Owners: @tleonhardt

feat: route prompt-mode interrupt and EOF without ending the run
  cmd2/command_toolbar.py
  tests/test_command_toolbar.py
Owners: @tleonhardt

feat: echo accepted prompt lines above the persistent toolbar
  cmd2/command_toolbar.py
  tests/test_command_toolbar.py
Owners: @tleonhardt

feat: keep one application running across prompt and command execution
  cmd2/cmd2.py
  cmd2/command_toolbar.py
  tests/test_command_toolbar.py
  tests/test_toolbar_flicker.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

docs: record the continuous toolbar application change
  CHANGELOG.md
  cmd2/cmd2.py
  docs/features/prompt.md
Owners: @tleonhardt, @kmvanbrunt, @kotfu

test: assert toolbar continuity by lifecycle instead of rendered frames
  tests/test_command_toolbar.py
  tests/test_toolbar_flicker.py
Owners: @tleonhardt

fix: keep the right prompt out of the committed prompt frame
  CHANGELOG.md
  cmd2/cmd2.py
  tests/test_cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

test: bind the ambient app session in the right prompt test
  tests/test_cmd2.py
Owners: @tleonhardt

Keep the right prompt out of the committed prompt frame (#1749)
  CHANGELOG.md
  cmd2/cmd2.py
  tests/test_cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

feat: keep the bottom toolbar visible during nested prompts
  CHANGELOG.md
  cmd2/cmd2.py
  docs/features/prompt.md
  tests/test_cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

feat: keep the bottom toolbar visible during nested prompts (#1750)
  CHANGELOG.md
  cmd2/cmd2.py
  docs/features/prompt.md
  tests/test_cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Add reserved-row scroll region with a margin-bounded erase
  cmd2/scroll_region.py
  tests/test_scroll_region.py
Owners: @tleonhardt

Add contract tests for the prompt_toolkit internals we depend on
  tests/test_prompt_toolkit_contracts.py
Owners: @tleonhardt

Add a Windows terminal inventory script for toolbar qualification
  .gitignore
  scripts/windows_toolbar_inventory.py
Owners: @tleonhardt

Fix erase restoration and reject one-row scroll regions
  cmd2/scroll_region.py
  tests/test_scroll_region.py
Owners: @tleonhardt

Flush the scroll region and its reset to the terminal
  cmd2/scroll_region.py
  tests/test_scroll_region.py
Owners: @tleonhardt

Preserve the cursor across margin changes and bound the full-screen erase
  cmd2/scroll_region.py
  tests/test_scroll_region.py
Owners: @tleonhardt

Correct the erase documentation to match measured behavior
  cmd2/scroll_region.py
Owners: @tleonhardt

Fix a race that reported a timeout for a successful UI call
  cmd2/command_toolbar.py
  tests/test_command_toolbar.py
Owners: @tleonhardt

Render test output independently of the caller's environment
  tests/conftest.py
  tests/test_suite_environment.py
Owners: @kotfu, @tleonhardt

Write redirected and piped output as UTF-8
  CHANGELOG.md
  cmd2/cmd2.py
  tests/test_command_toolbar.py
  tests/test_run_pyscript.py
  tests/test_suite_environment.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Fix a race that reported a timeout for a successful UI call
  cmd2/command_toolbar.py
  tests/test_command_toolbar.py
Owners: @tleonhardt

Run the pipe encoding test through this interpreter, not cat
  tests/test_suite_environment.py
Owners: @tleonhardt

Make the test suite environment-independent, fix UTF-8 redirection, and a UI-call race (#1752)
  CHANGELOG.md
  cmd2/cmd2.py
  cmd2/command_toolbar.py
  tests/conftest.py
  tests/test_command_toolbar.py
  tests/test_run_pyscript.py
  tests/test_suite_environment.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Render test output independently of the caller's environment
  tests/conftest.py
  tests/test_suite_environment.py
Owners: @kotfu, @tleonhardt

Run the pipe encoding test through this interpreter, not cat
  tests/test_suite_environment.py
Owners: @tleonhardt

Write redirected and piped output as UTF-8
  CHANGELOG.md
  cmd2/cmd2.py
  tests/test_run_pyscript.py
  tests/test_suite_environment.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Describe the redirection bug's actual reach in the changelog
  CHANGELOG.md
Owners: @tleonhardt

Describe the redirection bug's actual reach in the changelog
  CHANGELOG.md
Owners: @tleonhardt

Write redirected and piped output as UTF-8, and stop the suite inheriting colour settings (#1753)
  CHANGELOG.md
  cmd2/cmd2.py
  tests/conftest.py
  tests/test_run_pyscript.py
  tests/test_suite_environment.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Fix ty errors present in version 0.0.79 which came out yesterday
  cmd2/annotated.py
  cmd2/types.py
Owners: @tleonhardt

Fix ty errors present in version 0.0.79 which came out yesterday (#1754)
  cmd2/annotated.py
  cmd2/types.py
Owners: @tleonhardt

Updated CHANGELOG in prep for a patch release
  CHANGELOG.md
Owners: @tleonhardt

Generalize the toolbar inventory probe beyond Windows
  .gitignore
  scripts/toolbar_inventory.py
  scripts/windows_toolbar_inventory.py
Owners: @tleonhardt

Document that the toolbar scrolls out of view with the scrollback
  docs/features/prompt.md
Owners: @tleonhardt

Stage 2a: replace the reservation spike with an adapter and geometry model
  cmd2/reserved_output.py
  cmd2/scroll_region.py
  cmd2/terminal_display.py
  tests/test_reserved_output.py
  tests/test_scroll_region.py
  tests/test_terminal_display.py
Owners: @tleonhardt

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Owners of code are automatically nominated to review PRs involving that code.

# These owners will be the default owners for everything in the repo.
*       @tleonhardt

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
#*.js    @octocat @github/js

# You can also use email addresses if you prefer.
#docs/*  docs@example.com

# cmd2 code
cmd2/__init__.py           @tleonhardt @kotfu
cmd2/ansi.py               @kmvanbrunt @tleonhardt
cmd2/argparse_*.py         @kmvanbrunt @anselor
cmd2/clipboard.py          @tleonhardt
cmd2/cmd2.py               @tleonhardt @kmvanbrunt @kotfu
cmd2/command_definition.py @anselor
cmd2/constants.py          @kotfu
cmd2/decorators.py         @kotfu @kmvanbrunt @anselor
cmd2/exceptions.py         @kmvanbrunt @anselor
cmd2/history.py            @kotfu @tleonhardt
cmd2/parsing.py            @kotfu @kmvanbrunt
cmd2/plugin.py             @kotfu
cmd2/py_bridge.py          @kmvanbrunt
cmd2/rl_utils.py           @kmvanbrunt
cmd2/table_creator.py      @kmvanbrunt
cmd2/transcript.py         @kotfu
cmd2/utils.py              @tleonhardt @kotfu @kmvanbrunt

# Sphinx documentation
docs/*                  @tleonhardt @kotfu

# Examples
examples/async_printing.py  @kmvanbrunt
examples/environment.py     @kotfu
examples/tab_*.py           @kmvanbrunt
examples/modular_*.py       @anselor
examples/modular_commands/* @anselor

plugins/template/*          @kotfu
plugins/ext_test/*          @anselor

# Unit Tests
tests/pyscript/*              @kmvanbrunt
tests/transcripts/*           @kotfu
tests/__init__.py             @kotfu
tests/conftest.py             @kotfu @tleonhardt
tests/test_argparse.py        @kotfu
tests/test_argparse_*.py      @kmvanbrunt
tests/test_comp*.py           @kmvanbrunt
tests/test_pars*.py           @kotfu
tests/test_run_pyscript.py    @kmvanbrunt
tests/test_transcript.py      @kotfu

tests_isolated/test_commandset/*    @anselor

# Top-level project stuff
CONTRIBUTING.md         @tleonhardt @kotfu
setup.py                @tleonhardt @kotfu
tasks.py                @kotfu
