Repository python-cmd2/cmd2, changes with the owners that CODEOWNERS names for each.
All owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

Made CompletionItem deepcopy-safe. (#1642)
  cmd2/completion.py
  tests/test_completion.py
Owners: @tleonhardt, @kmvanbrunt

Making more of the subcommand management API public.
  cmd2/argparse_utils.py
  cmd2/cmd2.py
  examples/scripts/save_help_text.py
  tests/test_argparse_utils.py
  tests/test_cmd2.py
Owners: @kmvanbrunt, @anselor, @tleonhardt, @kotfu

Make Cmd._command_parsers and Cmd._get_root_parser_and_subcmd_path() public.
  cmd2/cmd2.py
  cmd2/decorators.py
  docs/features/argument_processing.md
  examples/scripts/save_help_text.py
  tests/test_cmd2.py
  tests/test_commandset.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu, @anselor

Made is so command_parsers.get() returns parsers for disabled commands.
  cmd2/cmd2.py
  tests/test_cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Did some refactoring and updated comments.
  cmd2/cmd2.py
  tests/test_cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Updated CHANGELOG and comment.
  CHANGELOG.md
  tests/test_cmd2.py
Owners: @tleonhardt

Made more of the subcommand management API public. (#1643)
  CHANGELOG.md
  cmd2/argparse_utils.py
  cmd2/cmd2.py
  cmd2/decorators.py
  docs/features/argument_processing.md
  examples/scripts/save_help_text.py
  tests/test_argparse_utils.py
  tests/test_cmd2.py
  tests/test_commandset.py
Owners: @tleonhardt, @kmvanbrunt, @anselor, @kotfu

Added example for using CompletionItem instances as elements in an argparse choices list.
  cmd2/completion.py
  examples/README.md
  examples/completion_item_choices.py
Owners: @tleonhardt

Updated example.
  examples/completion_item_choices.py
Owners: @tleonhardt

Silenced the set command on success by default and consolidated its output. (#1627)
  cmd2/cmd2.py
  tests/test_cmd2.py
  tests/test_commandset.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Updated comments and example code.
  cmd2/completion.py
  examples/completion_item_choices.py
Owners: @tleonhardt

Added example for using CompletionItems as elements in an argparse choices list. (#1644)
  cmd2/completion.py
  examples/README.md
  examples/completion_item_choices.py
Owners: @tleonhardt

Raise ValueError in attach_subcommand() when the subcommand already exists.
  cmd2/argparse_utils.py
  cmd2/cmd2.py
  tests/test_argparse_utils.py
  tests/test_cmd2.py
Owners: @kmvanbrunt, @anselor, @tleonhardt, @kotfu

Fixed inconsistent behavior between Python versions by always checking for duplicate subcommands.
  cmd2/argparse_utils.py
  cmd2/cmd2.py
  tests/test_argparse_utils.py
  tests/test_cmd2.py
Owners: @kmvanbrunt, @anselor, @tleonhardt, @kotfu

Updated comment.
  cmd2/decorators.py
Owners: @kotfu, @kmvanbrunt, @anselor

Raise ValueError in attach_subcommand() when the subcommand already exists. (#1645)
  cmd2/argparse_utils.py
  cmd2/cmd2.py
  cmd2/decorators.py
  tests/test_argparse_utils.py
  tests/test_cmd2.py
Owners: @kmvanbrunt, @anselor, @tleonhardt, @kotfu

Changed set command output unless quiet mode is enabled.
  CHANGELOG.md
  cmd2/cmd2.py
  tests/test_cmd2.py
  tests/test_commandset.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Updated comment.
  cmd2/argparse_utils.py
Owners: @kmvanbrunt, @anselor

Made traceback settings customizable.
  CHANGELOG.md
  cmd2/__init__.py
  cmd2/cmd2.py
  cmd2/rich_utils.py
  docs/features/builtin_commands.md
  docs/features/generating_output.md
  tests/test_cmd2.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt

Added test.
  tests/test_cmd2.py
Owners: @tleonhardt

Made traceback settings customizable. (#1648)
  CHANGELOG.md
  cmd2/__init__.py
  cmd2/cmd2.py
  cmd2/rich_utils.py
  docs/features/builtin_commands.md
  docs/features/generating_output.md
  tests/test_cmd2.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt

Fixed ArgparseCompleter.print_help() not passing file stream to recursive call.
  CHANGELOG.md
  cmd2/argparse_completer.py
Owners: @tleonhardt, @kmvanbrunt, @anselor

Fixed issue where constants.REDIRECTION_TOKENS was being mutated.
  CHANGELOG.md
  cmd2/cmd2.py
  cmd2/constants.py
  cmd2/parsing.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Fixed ArgparseCompleter.print_help() not passing file stream to recursive call.
  CHANGELOG.md
  cmd2/argparse_completer.py
Owners: @tleonhardt, @kmvanbrunt, @anselor

Fixed issue where constants.REDIRECTION_TOKENS was being mutated.
  CHANGELOG.md
  cmd2/cmd2.py
  cmd2/constants.py
  cmd2/parsing.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Remove Gemini workflows from GitHub Actions
  .github/workflows/gemini-dispatch.yml
  .github/workflows/gemini-invoke.yml
  .github/workflows/gemini-review.yml
  .github/workflows/gemini-scheduled-triage.yml
  .github/workflows/gemini-triage.yml
Owners: @tleonhardt

Fixed ArgparseCompleter.print_help() not passing file stream to recursive call.
  CHANGELOG.md
  cmd2/argparse_completer.py
Owners: @tleonhardt, @kmvanbrunt, @anselor

Fixed issue where constants.REDIRECTION_TOKENS was being mutated.
  cmd2/cmd2.py
  cmd2/constants.py
  cmd2/parsing.py
  cmd2/string_utils.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Fixed issue where constants.REDIRECTION_TOKENS was being mutated.
  cmd2/cmd2.py
  cmd2/constants.py
  cmd2/parsing.py
  cmd2/string_utils.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Fixed ArgparseCompleter.print_help() not passing file stream to recursive call.
  CHANGELOG.md
  cmd2/argparse_completer.py
Owners: @tleonhardt, @kmvanbrunt, @anselor

Remove always_show_hint settable
  CHANGELOG.md
  cmd2/argparse_completer.py
  cmd2/cmd2.py
  cmd2/pt_utils.py
  docs/features/builtin_commands.md
  docs/features/initialization.md
  docs/features/settings.md
  tests/scripts/postcmds.txt
  tests/scripts/precmds.txt
  tests/test_cmd2.py
  tests/test_completion.py
  tests/test_pt_utils.py
Owners: @tleonhardt, @kmvanbrunt, @anselor, @kotfu

Simplified a logic condition to prevent double checking
  cmd2/cmd2.py
  cmd2/pt_utils.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Add styles to theme for completion item and meta foreground and background color
  CHANGELOG.md
  cmd2/cmd2.py
  cmd2/styles.py
  docs/features/completion.md
  docs/features/theme.md
  docs/upgrades.md
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Moved to_pt_style function to pt_utils.py and added unit tests for it
  cmd2/cmd2.py
  cmd2/pt_utils.py
  tests/test_pt_utils.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Add a unit test for _get_pt_style method
  tests/test_cmd2.py
Owners: @tleonhardt

Remove always_show_hint settable (#1652)
  CHANGELOG.md
  cmd2/argparse_completer.py
  cmd2/cmd2.py
  cmd2/pt_utils.py
  docs/features/builtin_commands.md
  docs/features/initialization.md
  docs/features/settings.md
  tests/scripts/postcmds.txt
  tests/scripts/precmds.txt
  tests/test_cmd2.py
  tests/test_completion.py
  tests/test_pt_utils.py
Owners: @tleonhardt, @kmvanbrunt, @anselor, @kotfu

Change metadata default color to BRIGHT_GREEN instead of LIGHT_GREEN
  cmd2/styles.py
Owners: @tleonhardt

Added `rich_to_pt_color` conversion helper function
  cmd2/cmd2.py
  cmd2/pt_utils.py
  tests/test_cmd2.py
  tests/test_pt_utils.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Move ansi_names list to ANSI_NAMES tuple constant to cleanup function
  cmd2/pt_utils.py
Owners: @tleonhardt

Change rich_to_pt_style to take a StyleType instead of Style
  cmd2/cmd2.py
  cmd2/pt_utils.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Owners of code are automatically nominated to review PRs involving that code.

# These owners will be the default owners for everything in the repo.
*       @tleonhardt

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
#*.js    @octocat @github/js

# You can also use email addresses if you prefer.
#docs/*  docs@example.com

# cmd2 code
cmd2/__init__.py           @tleonhardt @kotfu
cmd2/ansi.py               @kmvanbrunt @tleonhardt
cmd2/argparse_*.py         @kmvanbrunt @anselor
cmd2/clipboard.py          @tleonhardt
cmd2/cmd2.py               @tleonhardt @kmvanbrunt @kotfu
cmd2/command_definition.py @anselor
cmd2/constants.py          @kotfu
cmd2/decorators.py         @kotfu @kmvanbrunt @anselor
cmd2/exceptions.py         @kmvanbrunt @anselor
cmd2/history.py            @kotfu @tleonhardt
cmd2/parsing.py            @kotfu @kmvanbrunt
cmd2/plugin.py             @kotfu
cmd2/py_bridge.py          @kmvanbrunt
cmd2/rl_utils.py           @kmvanbrunt
cmd2/table_creator.py      @kmvanbrunt
cmd2/transcript.py         @kotfu
cmd2/utils.py              @tleonhardt @kotfu @kmvanbrunt

# Sphinx documentation
docs/*                  @tleonhardt @kotfu

# Examples
examples/async_printing.py  @kmvanbrunt
examples/environment.py     @kotfu
examples/tab_*.py           @kmvanbrunt
examples/modular_*.py       @anselor
examples/modular_commands/* @anselor

plugins/template/*          @kotfu
plugins/ext_test/*          @anselor

# Unit Tests
tests/pyscript/*              @kmvanbrunt
tests/transcripts/*           @kotfu
tests/__init__.py             @kotfu
tests/conftest.py             @kotfu @tleonhardt
tests/test_argparse.py        @kotfu
tests/test_argparse_*.py      @kmvanbrunt
tests/test_comp*.py           @kmvanbrunt
tests/test_pars*.py           @kotfu
tests/test_run_pyscript.py    @kmvanbrunt
tests/test_transcript.py      @kotfu

tests_isolated/test_commandset/*    @anselor

# Top-level project stuff
CONTRIBUTING.md         @tleonhardt @kotfu
setup.py                @tleonhardt @kotfu
tasks.py                @kotfu
