Repository python-cmd2/cmd2, changes with the owners that CODEOWNERS names for each.
All owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Owners of code are automatically nominated to review PRs involving that code.

# These owners will be the default owners for everything in the repo.
*       @tleonhardt

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
#*.js    @octocat @github/js

# You can also use email addresses if you prefer.
#docs/*  docs@example.com

# cmd2 code
cmd2/__init__.py           @tleonhardt @kotfu
cmd2/ansi.py               @kmvanbrunt @tleonhardt
cmd2/argparse_*.py         @kmvanbrunt @anselor
cmd2/clipboard.py          @tleonhardt
cmd2/cmd2.py               @tleonhardt @kmvanbrunt @kotfu
cmd2/command_definition.py @anselor
cmd2/constants.py          @kotfu
cmd2/decorators.py         @kotfu @kmvanbrunt @anselor
cmd2/exceptions.py         @kmvanbrunt @anselor
cmd2/history.py            @kotfu @tleonhardt
cmd2/parsing.py            @kotfu @kmvanbrunt
cmd2/plugin.py             @kotfu
cmd2/py_bridge.py          @kmvanbrunt
cmd2/rl_utils.py           @kmvanbrunt
cmd2/table_creator.py      @kmvanbrunt
cmd2/transcript.py         @kotfu
cmd2/utils.py              @tleonhardt @kotfu @kmvanbrunt

# Sphinx documentation
docs/*                  @tleonhardt @kotfu

# Examples
examples/async_printing.py  @kmvanbrunt
examples/environment.py     @kotfu
examples/tab_*.py           @kmvanbrunt
examples/modular_*.py       @anselor
examples/modular_commands/* @anselor

plugins/template/*          @kotfu
plugins/ext_test/*          @anselor

# Unit Tests
tests/pyscript/*              @kmvanbrunt
tests/transcripts/*           @kotfu
tests/__init__.py             @kotfu
tests/conftest.py             @kotfu @tleonhardt
tests/test_argparse.py        @kotfu
tests/test_argparse_*.py      @kmvanbrunt
tests/test_comp*.py           @kmvanbrunt
tests/test_pars*.py           @kotfu
tests/test_run_pyscript.py    @kmvanbrunt
tests/test_transcript.py      @kotfu

tests_isolated/test_commandset/*    @anselor

# Top-level project stuff
CONTRIBUTING.md         @tleonhardt @kotfu
setup.py                @tleonhardt @kotfu
tasks.py                @kotfu

Add include_py to getting_started.py for ease of testing
  examples/getting_started.py
Owners: @tleonhardt

Added raise_exception.py example pyscript for just testing a script that raises an exception
  examples/scripts/raise_exception.py
Owners: @tleonhardt

Keep terminal pipelines in the foreground job during suspend and resume
  cmd2/cmd2.py
  cmd2/utils.py
  tests/test_command_toolbar.py
  tests/test_pipeline_job_control.py
  tests/test_utils.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Repaint reserved toolbar after minimum-height reacquisition
  cmd2/toolbar_painter.py
  tests/test_reserved_terminal.py
  tests/test_toolbar_painter.py
Owners: @tleonhardt

Accept bash 5.1+ bracketed-paste output in the job-control test
  tests/test_pipeline_job_control.py
Owners: @tleonhardt

Report from the job-control test's pager with os.write, not print
  tests/test_pipeline_job_control.py
Owners: @tleonhardt

Cover the reserved toolbar's remaining job-control and nested-prompt paths
  tests/test_reserved_toolbar.py
Owners: @tleonhardt

Wait for the whole job to stop before typing at the shell in the job-control test
  tests/test_pipeline_job_control.py
Owners: @tleonhardt

Fix forwarding of process-directed SIGINT to pipelines
  cmd2/utils.py
  tests/test_pipeline_job_control.py
  tests/test_utils.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt

Avoid duplicate SIGINT delivery to terminal pipelines
  cmd2/cmd2.py
  cmd2/utils.py
  tests/test_command_toolbar.py
  tests/test_pipeline_job_control.py
  tests/test_utils.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Fix POSIX pipeline signal races and speed up terminal tests
  cmd2/utils.py
  pyproject.toml
  tests/test_pipeline_job_control.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt

Collect coverage from terminal test subprocesses
  pyproject.toml
Owners: @tleonhardt

Cover terminal pipeline cleanup and resume paths
  tests/test_cmd2.py
  tests/test_utils.py
Owners: @tleonhardt

Fix terminal input and wrapper job control in pipelines
  cmd2/cmd2.py
  cmd2/utils.py
  tests/test_pipeline_job_control.py
  tests/test_utils.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Preserve ignored Ctrl-Z for session-led pipelines
  cmd2/cmd2.py
  tests/test_cmd2.py
  tests/test_pipeline_job_control.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Run shell producers inside terminal pipelines and isolate worker-thread pipes
  cmd2/cmd2.py
  cmd2/utils.py
  tests/test_pipeline_job_control.py
  tests/test_utils.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Cover the shell command's fallback paths in terminal pipelines
  tests/test_cmd2.py
  tests/test_utils.py
Owners: @tleonhardt

Keep the terminal lent across an interrupted pipeline write
  cmd2/utils.py
  tests/test_pipeline_job_control.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt

Relay pipeline stops to the main thread with a thread-directed signal
  cmd2/utils.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt

Let the main thread relay a pipeline stop from a blocking write or wait
  cmd2/cmd2.py
  cmd2/utils.py
  tests/test_pipeline_job_control.py
  tests/test_reserved_terminal.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Keep the pipeline descriptor blocking for shell producers
  cmd2/utils.py
  tests/test_pipeline_job_control.py
  tests/test_utils.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt

Added stage4_manual.py example for ease of testing
  examples/stage4_manual.py
Owners: @tleonhardt

Stabilize orphaned-session pipeline terminal test
  tests/test_pipeline_job_control.py
Owners: @tleonhardt

Hold the display thread until a Ctrl-Z stop has taken it
  cmd2/command_toolbar.py
  cmd2/reserved_toolbar.py
  tests/test_pipeline_job_control.py
  tests/test_reserved_terminal.py
Owners: @tleonhardt

Assert pipeline isolation without a platform branch in the toolbar test
  tests/test_command_toolbar.py
Owners: @tleonhardt

Cover both outcomes of the wait after sending SIGTSTP
  tests/test_command_toolbar.py
Owners: @tleonhardt

Lend the terminal to a pipeline while it starts up
  cmd2/cmd2.py
  tests/test_pipeline_job_control.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Let a shell producer keep the terminal after its consumer exits
  cmd2/utils.py
  tests/test_pipeline_job_control.py
  tests/test_utils.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt

Relay a shell producer's stop once its consumer is gone
  cmd2/cmd2.py
  cmd2/utils.py
  tests/test_pipeline_job_control.py
  tests/test_utils.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Send pager test keys from the application's event loop thread
  tests/test_pager.py
Owners: @tleonhardt

Start the startup-mode test's pager without site-packages
  tests/test_pipeline_job_control.py
Owners: @tleonhardt

Keep the command loop running when the toolbar display will not stop
  cmd2/cmd2.py
  tests/test_command_toolbar.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Take the terminal back before retrying a shell command in cmd2's group
  cmd2/cmd2.py
  tests/test_cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Fall back from auto mode when prompt-toolkit's version is unknown
  cmd2/toolbar_mode.py
  tests/test_toolbar_mode.py
Owners: @tleonhardt

Block SIGTTOU only while lending the terminal to a pipeline
  cmd2/cmd2.py
  cmd2/utils.py
  tests/test_cmd2.py
  tests/test_pipeline_job_control.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Hold cmd2's startup check open in the pager startup-mode test
  tests/test_pipeline_job_control.py
Owners: @tleonhardt

Leave the application's Ctrl-Z handler as found when the reservation ends
  cmd2/reserved_toolbar.py
  tests/test_reserved_toolbar.py
Owners: @tleonhardt

Take the terminal back only when the last overlapping lend ends
  cmd2/utils.py
  tests/test_utils.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt

Let Ctrl-C end the wait for a toolbar display that will not stop
  cmd2/cmd2.py
  tests/test_command_toolbar.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Reset pipe state even when restoring redirected output fails
  cmd2/cmd2.py
  tests/test_cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu
