Repository python-cmd2/cmd2, changes with the owners that CODEOWNERS names for each.
All owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Owners of code are automatically nominated to review PRs involving that code.

# These owners will be the default owners for everything in the repo.
*       @tleonhardt

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
#*.js    @octocat @github/js

# You can also use email addresses if you prefer.
#docs/*  docs@example.com

# cmd2 code
cmd2/__init__.py           @tleonhardt @kotfu
cmd2/ansi.py               @kmvanbrunt @tleonhardt
cmd2/argparse_*.py         @kmvanbrunt @anselor
cmd2/clipboard.py          @tleonhardt
cmd2/cmd2.py               @tleonhardt @kmvanbrunt @kotfu
cmd2/command_definition.py @anselor
cmd2/constants.py          @kotfu
cmd2/decorators.py         @kotfu @kmvanbrunt @anselor
cmd2/exceptions.py         @kmvanbrunt @anselor
cmd2/history.py            @kotfu @tleonhardt
cmd2/parsing.py            @kotfu @kmvanbrunt
cmd2/plugin.py             @kotfu
cmd2/py_bridge.py          @kmvanbrunt
cmd2/rl_utils.py           @kmvanbrunt
cmd2/table_creator.py      @kmvanbrunt
cmd2/transcript.py         @kotfu
cmd2/utils.py              @tleonhardt @kotfu @kmvanbrunt

# Sphinx documentation
docs/*                  @tleonhardt @kotfu

# Examples
examples/async_printing.py  @kmvanbrunt
examples/environment.py     @kotfu
examples/tab_*.py           @kmvanbrunt
examples/modular_*.py       @anselor
examples/modular_commands/* @anselor

plugins/template/*          @kotfu
plugins/ext_test/*          @anselor

# Unit Tests
tests/pyscript/*              @kmvanbrunt
tests/transcripts/*           @kotfu
tests/__init__.py             @kotfu
tests/conftest.py             @kotfu @tleonhardt
tests/test_argparse.py        @kotfu
tests/test_argparse_*.py      @kmvanbrunt
tests/test_comp*.py           @kmvanbrunt
tests/test_pars*.py           @kotfu
tests/test_run_pyscript.py    @kmvanbrunt
tests/test_transcript.py      @kotfu

tests_isolated/test_commandset/*    @anselor

# Top-level project stuff
CONTRIBUTING.md         @tleonhardt @kotfu
setup.py                @tleonhardt @kotfu
tasks.py                @kotfu

Fixing tests on Python 3.10
  cmd2/cmd2.py
  tests/test_argparse.py
  tests/test_cmd2.py
  tests/test_completion.py
  tests/test_transcript.py
  tests/transcripts/from_cmdloop.txt
  tests_isolated/test_commandset/test_argparse_subcommands.py
  tests_isolated/test_commandset/test_commandset.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu, @anselor

Trying to isolate beta
  .github/workflows/ci.yml
Owners: @tleonhardt

Fixed handling of argparse's default options group name which was changed in Python 3.10
  CHANGELOG.md
  cmd2/argparse_custom.py
  cmd2/utils.py
  docs/conf.py
Owners: @tleonhardt, @kmvanbrunt, @anselor, @kotfu

Fixing tests on Python 3.10
  cmd2/cmd2.py
  tests/test_argparse.py
  tests/test_cmd2.py
  tests/test_completion.py
  tests/test_transcript.py
  tests/transcripts/from_cmdloop.txt
  tests_isolated/test_commandset/test_argparse_subcommands.py
  tests_isolated/test_commandset/test_commandset.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu, @anselor

Trying to isolate beta
  .github/workflows/ci.yml
Owners: @tleonhardt

Updated all examples to use Cmd2ArgumentParser instead of argparse.ArgumentParser. This is best practice for consistency of appearance between built-in and custom commands.
  README.md
  cmd2/decorators.py
  docs/examples/first_app.rst
  docs/features/argument_processing.rst
  examples/arg_decorators.py
  examples/arg_print.py
  examples/cmd_as_argument.py
  examples/colors.py
  examples/decorator_example.py
  examples/example.py
  examples/first_app.py
  examples/pirate.py
  examples/plumbum_colors.py
  examples/python_scripting.py
  examples/subcommands.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

Fixed handling of argparse's default options group name which was changed in Python 3.10
  CHANGELOG.md
  cmd2/argparse_custom.py
  cmd2/utils.py
  docs/conf.py
Owners: @tleonhardt, @kmvanbrunt, @anselor, @kotfu

Updated CHANGELOG for 2.1.1 release
  CHANGELOG.md
Owners: @tleonhardt

Updated docs
  docs/examples/first_app.rst
  docs/features/initialization.rst
  docs/features/plugins.rst
Owners: @tleonhardt

Fixed spelling in docstring
  examples/read_input.py
Owners: @tleonhardt

Added accessor methods for cmd2-specific attributes to the argparse.Action class. Deprecated set_choices_provider() and set_completer() functions in favor of these new methods.
  CHANGELOG.md
  cmd2/argparse_completer.py
  cmd2/argparse_custom.py
  docs/api/argparse_custom.rst
Owners: @tleonhardt, @kmvanbrunt, @anselor

Added accessor methods for cmd2-specific attributes to the argparse.Action class. Deprecated set_choices_provider() and set_completer() functions in favor of these new methods.
  CHANGELOG.md
  cmd2/argparse_completer.py
  cmd2/argparse_custom.py
  docs/api/argparse_custom.rst
Owners: @tleonhardt, @kmvanbrunt, @anselor

Updated files for 2.1.2 release
  .github/CONTRIBUTING.md
  CHANGELOG.md
  LICENSE
Owners: @tleonhardt, @kotfu

Updated print_topics() and columnize() to account for ANSI styles and wide characters
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Updated _print_topics() to use SimpleTable
  cmd2/cmd2.py
  cmd2/table_creator.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Deleted set_choices_provider() and set_completer() which were deprecated in 2.1.2
  CHANGELOG.md
  cmd2/argparse_custom.py
Owners: @tleonhardt, @kmvanbrunt, @anselor

Deleted set_choices_provider() and set_completer() which were deprecated in 2.1.2
  CHANGELOG.md
  cmd2/argparse_custom.py
Owners: @tleonhardt, @kmvanbrunt, @anselor

Updated documentation
  cmd2/argparse_custom.py
Owners: @kmvanbrunt, @anselor

Applied black format
  cmd2/__init__.py
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  tests/test_argparse_completer.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

Updated documentation for setting custom parsers
  cmd2/argparse_custom.py
  examples/custom_parser.py
  examples/override_parser.py
Owners: @kmvanbrunt, @anselor, @tleonhardt

Removed DEFAULT_ARGUMENT_PARSER and DEFAULT_COMMAND_COMPLETER from __init.py__
  cmd2/__init__.py
  tests/test_argparse_custom.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt

Applied black format
  cmd2/__init__.py
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  tests/test_argparse_completer.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

Updated documentation for setting custom parsers
  cmd2/argparse_custom.py
  examples/custom_parser.py
  examples/override_parser.py
Owners: @kmvanbrunt, @anselor, @tleonhardt

Removed DEFAULT_ARGUMENT_PARSER and DEFAULT_COMMAND_COMPLETER from __init.py__
  cmd2/__init__.py
  tests/test_argparse_custom.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt

All cmd2 built-in commands now populate self.last_result
  CHANGELOG.md
  cmd2/cmd2.py
  cmd2/py_bridge.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

All cmd2 built-in commands now populate self.last_result
  CHANGELOG.md
  cmd2/cmd2.py
  cmd2/py_bridge.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Updated documentation
  docs/features/argument_processing.rst
Owners: @tleonhardt

Fixed extra space appended to each alias by "alias list" command. Added self.last_result unit tests for alias, edit, eof, help, macro, quit, shortcuts, and run_pyscript commands.
  CHANGELOG.md
  cmd2/cmd2.py
  tests/test_cmd2.py
  tests/test_run_pyscript.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Added self.last_result unit tests for run_script, _relative_run_script, and set commands.
  cmd2/cmd2.py
  tests/test_cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Added self.last_result unit tests for the history command.
  tests/test_history.py
Owners: @tleonhardt

Added self.last_result unit tests for the history command.
  tests/test_history.py
Owners: @tleonhardt

Added self.last_result unit tests for run_script, _relative_run_script, and set commands.
  cmd2/cmd2.py
  tests/test_cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Fixed extra space appended to each alias by "alias list" command. Added self.last_result unit tests for alias, edit, eof, help, macro, quit, shortcuts, and run_pyscript commands.
  CHANGELOG.md
  cmd2/cmd2.py
  tests/test_cmd2.py
  tests/test_run_pyscript.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Added ap_completer_type arg to Cmd2ArgumentParser.__init__(). Added unit tests for custom ArgparseCompleter
  CHANGELOG.md
  cmd2/argparse_completer.py
  cmd2/argparse_custom.py
  tests/test_argparse_completer.py
Owners: @tleonhardt, @kmvanbrunt, @anselor

Added cmd2.Cmd method to determine what ArgparseCompleter type to use
  cmd2/argparse_completer.py
  cmd2/cmd2.py
Owners: @kmvanbrunt, @anselor, @tleonhardt, @kotfu

Added cmd2.Cmd method to determine what ArgparseCompleter type to use
  cmd2/argparse_completer.py
  cmd2/cmd2.py
Owners: @kmvanbrunt, @anselor, @tleonhardt, @kotfu

Added ap_completer_type arg to Cmd2ArgumentParser.__init__(). Added unit tests for custom ArgparseCompleter
  CHANGELOG.md
  cmd2/argparse_completer.py
  cmd2/argparse_custom.py
  tests/test_argparse_completer.py
Owners: @tleonhardt, @kmvanbrunt, @anselor

Updating docs
  cmd2/argparse_custom.py
  docs/api/argparse_custom.rst
Owners: @kmvanbrunt, @anselor, @tleonhardt

Updating docs
  cmd2/argparse_custom.py
  docs/api/argparse_custom.rst
Owners: @kmvanbrunt, @anselor, @tleonhardt

Argparse tab completer will complete remaining flag names if there are no more positionals to complete.
  CHANGELOG.md
  cmd2/argparse_completer.py
  tests/test_argparse_completer.py
Owners: @tleonhardt, @kmvanbrunt, @anselor
