Repository python-cmd2/cmd2, changes with the owners that CODEOWNERS names for each.
All owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Owners of code are automatically nominated to review PRs involving that code.

# These owners will be the default owners for everything in the repo.
*       @tleonhardt

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
#*.js    @octocat @github/js

# You can also use email addresses if you prefer.
#docs/*  docs@example.com

# cmd2 code
cmd2/__init__.py           @tleonhardt @kotfu
cmd2/ansi.py               @kmvanbrunt @tleonhardt
cmd2/argparse_*.py         @kmvanbrunt @anselor
cmd2/clipboard.py          @tleonhardt
cmd2/cmd2.py               @tleonhardt @kmvanbrunt @kotfu
cmd2/command_definition.py @anselor
cmd2/constants.py          @kotfu
cmd2/decorators.py         @kotfu @kmvanbrunt @anselor
cmd2/exceptions.py         @kmvanbrunt @anselor
cmd2/history.py            @kotfu @tleonhardt
cmd2/parsing.py            @kotfu @kmvanbrunt
cmd2/plugin.py             @kotfu
cmd2/py_bridge.py          @kmvanbrunt
cmd2/rl_utils.py           @kmvanbrunt
cmd2/table_creator.py      @kmvanbrunt
cmd2/transcript.py         @kotfu
cmd2/utils.py              @tleonhardt @kotfu @kmvanbrunt

# Sphinx documentation
docs/*                  @tleonhardt @kotfu

# Examples
examples/async_printing.py  @kmvanbrunt
examples/environment.py     @kotfu
examples/tab_*.py           @kmvanbrunt
examples/modular_*.py       @anselor
examples/modular_commands/* @anselor

plugins/template/*          @kotfu
plugins/ext_test/*          @anselor

# Unit Tests
tests/pyscript/*              @kmvanbrunt
tests/transcripts/*           @kotfu
tests/__init__.py             @kotfu
tests/conftest.py             @kotfu @tleonhardt
tests/test_argparse.py        @kotfu
tests/test_argparse_*.py      @kmvanbrunt
tests/test_comp*.py           @kmvanbrunt
tests/test_pars*.py           @kotfu
tests/test_run_pyscript.py    @kmvanbrunt
tests/test_transcript.py      @kotfu

tests_isolated/test_commandset/*    @anselor

# Top-level project stuff
CONTRIBUTING.md         @tleonhardt @kotfu
setup.py                @tleonhardt @kotfu
tasks.py                @kotfu

Fixed issue where a ns_provider could be passed None instead of its correct cmd2.Cmd or CommandSet value.
  CHANGELOG.md
  cmd2/cmd2.py
  cmd2/decorators.py
  tests_isolated/test_commandset/test_commandset.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu, @anselor

Added clearer exception handling to BorderedTable and SimpleTable
  CHANGELOG.md
  cmd2/table_creator.py
  tests/test_table_creator.py
Owners: @tleonhardt, @kmvanbrunt

Added clearer exception handling to BorderedTable and SimpleTable
  CHANGELOG.md
  cmd2/table_creator.py
  tests/test_table_creator.py
Owners: @tleonhardt, @kmvanbrunt

Updated change log for release
  CHANGELOG.md
Owners: @tleonhardt

Added broader exception handling when enabling clipboard functionality via pyperclip.
  CHANGELOG.md
  cmd2/clipboard.py
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Added broader exception handling when enabling clipboard functionality via pyperclip.
  CHANGELOG.md
  cmd2/clipboard.py
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

Simplified import
  cmd2/command_definition.py
Owners: @anselor

Added 'no cover' pragma to import
  cmd2/command_definition.py
Owners: @anselor

Added substantial documentation concerning pyscript
  docs/features/scripting.rst
Owners: @tleonhardt

Fixed issue in ansi.async_alert_str() which would raise IndexError if prompt was blank.
  CHANGELOG.md
  cmd2/ansi.py
Owners: @tleonhardt, @kmvanbrunt

Fixed issue in ansi.async_alert_str() which would raise IndexError if prompt was blank. (#1188)
  CHANGELOG.md
  cmd2/ansi.py
Owners: @tleonhardt, @kmvanbrunt

Updates cmd2 External Test Plugin URL
  docs/plugins/external_test.rst
Owners: @tleonhardt

Made suggested changes
  docs/features/scripting.rst
Owners: @tleonhardt

final changes
  docs/features/scripting.rst
Owners: @tleonhardt

fixed grammatical errors
  docs/features/scripting.rst
Owners: @tleonhardt

Added substantial documentation concerning pyscript (#1187)
  docs/features/scripting.rst
Owners: @tleonhardt

Added PassThroughException to __init__.py imports.
  CHANGELOG.md
  cmd2/__init__.py
Owners: @tleonhardt, @kotfu

Updates cmd2 External Test Plugin URL (#1193)
  docs/plugins/external_test.rst
Owners: @tleonhardt

Added PassThroughException to __init__.py imports. (#1194)
  CHANGELOG.md
  cmd2/__init__.py
Owners: @tleonhardt, @kotfu

update postparsing hooks
  examples/hooks.py
Owners: @tleonhardt

Add an educational postcommand hook
  examples/hooks.py
Owners: @tleonhardt

Update modular_commands.rst
  docs/features/modular_commands.rst
Owners: @tleonhardt

Changed to f-string as per review comment
  docs/features/modular_commands.rst
Owners: @tleonhardt

Use latest version of black
  examples/arg_decorators.py
Owners: @tleonhardt

Use latest version of black (#1201)
  examples/arg_decorators.py
Owners: @tleonhardt

Update modular_commands.rst (#1199)
  docs/features/modular_commands.rst
Owners: @tleonhardt

Fixed issue where tab completion was quoting argparse flags in some cases.
  CHANGELOG.md
  cmd2/argparse_completer.py
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @anselor, @kotfu

Fixed issue where tab completion was quoting argparse flags in some cases.
  CHANGELOG.md
  cmd2/argparse_completer.py
  cmd2/cmd2.py
Owners: @tleonhardt, @kmvanbrunt, @anselor, @kotfu

Deleted cmd2.fg and cmd2.bg which were deprecated in 2.3.0. Use cmd2.Fg and cmd2.Bg instead.
  CHANGELOG.md
  cmd2/__init__.py
  cmd2/ansi.py
  tests/test_ansi.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt

Deleted cmd2.fg and cmd2.bg which were deprecated in 2.3.0. Use cmd2.Fg and cmd2.Bg instead.
  CHANGELOG.md
  cmd2/__init__.py
  cmd2/ansi.py
  tests/test_ansi.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt

Improved some readline-related comments
  cmd2/cmd2.py
  cmd2/rl_utils.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

cmd2 now uses pyreadline3 when running any version of Python on Windows
  CHANGELOG.md
  Pipfile
  cmd2/cmd2.py
  cmd2/rl_utils.py
  docs/overview/integrating.rst
  setup.py
  tests/conftest.py
  tests/test_argparse.py
  tests_isolated/test_commandset/conftest.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu, @anselor

Improved some readline-related comments
  cmd2/cmd2.py
  cmd2/rl_utils.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

cmd2 now uses pyreadline3 when running any version of Python on Windows
  CHANGELOG.md
  Pipfile
  cmd2/cmd2.py
  cmd2/rl_utils.py
  docs/overview/integrating.rst
  setup.py
  tests/conftest.py
  tests/test_argparse.py
  tests_isolated/test_commandset/conftest.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu, @anselor

Updated change log and license for release
  CHANGELOG.md
  LICENSE
Owners: @tleonhardt

Fixed type hint in unit test code
  tests/test_argparse_completer.py
Owners: @kmvanbrunt

fail transcript if error
  cmd2/cmd2.py
  cmd2/transcript.py
Owners: @tleonhardt, @kmvanbrunt, @kotfu

add unit test for no command in transcript
  cmd2/transcript.py
  tests/test_transcript.py
  tests/transcripts/fail_no_command.txt
Owners: @kotfu

Fixed spelling in a docstring
  cmd2/command_definition.py
Owners: @anselor

final changes
  .github/images/graph.drawio.png
  .gitignore
  README.md
  readme_files/shout_out.csv
  readme_files/shoutout.txt
Owners: @tleonhardt
