Repository python-cmd2/cmd2, changes with the owners that CODEOWNERS names for each.
All owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Owners of code are automatically nominated to review PRs involving that code.

# These owners will be the default owners for everything in the repo.
*       @tleonhardt

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
#*.js    @octocat @github/js

# You can also use email addresses if you prefer.
#docs/*  docs@example.com

# cmd2 code
cmd2/__init__.py           @tleonhardt @kotfu
cmd2/ansi.py               @kmvanbrunt @tleonhardt
cmd2/argparse_*.py         @kmvanbrunt @anselor
cmd2/clipboard.py          @tleonhardt
cmd2/cmd2.py               @tleonhardt @kmvanbrunt @kotfu
cmd2/command_definition.py @anselor
cmd2/constants.py          @kotfu
cmd2/decorators.py         @kotfu @kmvanbrunt @anselor
cmd2/exceptions.py         @kmvanbrunt @anselor
cmd2/history.py            @kotfu @tleonhardt
cmd2/parsing.py            @kotfu @kmvanbrunt
cmd2/plugin.py             @kotfu
cmd2/py_bridge.py          @kmvanbrunt
cmd2/rl_utils.py           @kmvanbrunt
cmd2/table_creator.py      @kmvanbrunt
cmd2/transcript.py         @kotfu
cmd2/utils.py              @tleonhardt @kotfu @kmvanbrunt

# Sphinx documentation
docs/*                  @tleonhardt @kotfu

# Examples
examples/async_printing.py  @kmvanbrunt
examples/environment.py     @kotfu
examples/tab_*.py           @kmvanbrunt
examples/modular_*.py       @anselor
examples/modular_commands/* @anselor

plugins/template/*          @kotfu
plugins/ext_test/*          @anselor

# Unit Tests
tests/pyscript/*              @kmvanbrunt
tests/transcripts/*           @kotfu
tests/__init__.py             @kotfu
tests/conftest.py             @kotfu @tleonhardt
tests/test_argparse.py        @kotfu
tests/test_argparse_*.py      @kmvanbrunt
tests/test_comp*.py           @kmvanbrunt
tests/test_pars*.py           @kotfu
tests/test_run_pyscript.py    @kmvanbrunt
tests/test_transcript.py      @kotfu

tests_isolated/test_commandset/*    @anselor

# Top-level project stuff
CONTRIBUTING.md         @tleonhardt @kotfu
setup.py                @tleonhardt @kotfu
tasks.py                @kotfu

Added comment.
  cmd2/argparse_utils.py
Owners: @kmvanbrunt, @anselor

Expanded subcommand management API. (#1663)
  cmd2/__init__.py
  cmd2/argparse_utils.py
  cmd2/cmd2.py
  cmd2/constants.py
  cmd2/decorators.py
  examples/async_commands.py
  tests/test_argparse.py
  tests/test_argparse_utils.py
  tests/test_cmd2.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt, @anselor

Drop support for Python 3.10 (#1665)
  .github/CONTRIBUTING.md
  .github/workflows/tests.yml
  .github/workflows/typecheck.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  README.md
  cmd2/cmd2.py
  cmd2/colors.py
  cmd2/completion.py
  cmd2/parsing.py
  cmd2/styles.py
  docs/overview/installation.md
  pyproject.toml
  ruff.toml
Owners: @tleonhardt, @kotfu, @kmvanbrunt

Update README
  README.md
Owners: @tleonhardt

Minor tweak to wording in README
  README.md
Owners: @tleonhardt

Further tweak README
  README.md
Owners: @tleonhardt

feat: add annotated argparse building
  cmd2/__init__.py
  cmd2/annotated.py
  docs/features/argument_processing.md
  examples/annotated_example.py
  tests/test_annotated.py
Owners: @tleonhardt, @kotfu

chore: fix rebase
  cmd2/annotated.py
  examples/annotated_example.py
  tests/test_annotated.py
Owners: @tleonhardt

chore: clean up test
  tests/test_annotated.py
Owners: @tleonhardt

chore: more clean up
  cmd2/annotated.py
  tests/test_annotated.py
Owners: @tleonhardt

chore: move documentation
  docs/features/annotated.md
  docs/features/argument_processing.md
  mkdocs.yml
Owners: @tleonhardt

Fixed error in custom parser example code.
  examples/custom_parser.py
Owners: @tleonhardt

fix: address PR review comments on annotated argparse
  cmd2/__init__.py
  cmd2/annotated.py
  docs/features/annotated.md
  docs/features/argument_processing.md
  examples/annotated_example.py
  tests/test_annotated.py
Owners: @tleonhardt, @kotfu

feat: add parser customization to annotated argparse
  cmd2/annotated.py
  docs/features/annotated.md
  examples/annotated_example.py
  tests/test_annotated.py
Owners: @tleonhardt

docs: demonstrate formatter_class and parser_class in example
  examples/annotated_example.py
Owners: @tleonhardt

refactor: require Group for groups/mutually_exclusive_groups
  cmd2/annotated.py
  docs/features/annotated.md
  examples/annotated_example.py
  tests/test_annotated.py
Owners: @tleonhardt

docs: demonstrate mutually_exclusive_groups in example
  examples/annotated_example.py
Owners: @tleonhardt

chore: format
  docs/features/annotated.md
  examples/annotated_example.py
Owners: @tleonhardt

Adding another argument to an example method to help demonstrate a really subtle conversion edge-case bug
  examples/annotated_example.py
Owners: @tleonhardt

Fix subtle edge case bug where booleans were accepted as integer literals
  cmd2/annotated.py
Owners: @tleonhardt

feat: cover 0-or-1 case
  cmd2/annotated.py
  tests/test_annotated.py
Owners: @tleonhardt

chore: extend verification
  cmd2/annotated.py
  docs/features/annotated.md
  tests/test_annotated.py
Owners: @tleonhardt

chore: minor clean up
  cmd2/annotated.py
Owners: @tleonhardt

chore: a few extra test
  tests/test_annotated.py
Owners: @tleonhardt

chore: remove collection type doc and sort
  cmd2/annotated.py
  docs/features/annotated.md
Owners: @tleonhardt

chore: address comment and update test
  cmd2/annotated.py
  docs/features/annotated.md
  tests/test_annotated.py
Owners: @tleonhardt

chore: update doc
  cmd2/annotated.py
Owners: @tleonhardt

feat: better *args and **kwargs handling, with extend test
  cmd2/annotated.py
  examples/annotated_example.py
  tests/test_annotated.py
Owners: @tleonhardt

chore: more *args edge case handling
  cmd2/annotated.py
  tests/test_annotated.py
Owners: @tleonhardt

Added monkey patch for Rich AnsiDecoder.decode() bug.
  cmd2/rich_utils.py
  tests/test_rich_utils.py
Owners: @tleonhardt

Added monkey patch for Rich AnsiDecoder.decode() bug. (#1668)
  cmd2/rich_utils.py
  tests/test_rich_utils.py
Owners: @tleonhardt

Removed unnecessary argument conversion.
  cmd2/argparse_utils.py
Owners: @kmvanbrunt, @anselor

chore: improve cmd2 maintenance path
  cmd2/utils.py
  tests/test_utils.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt

Standardized command/subcommand naming and metadata
  CHANGELOG.md
  cmd2/argparse_utils.py
  cmd2/cmd2.py
  cmd2/constants.py
  cmd2/decorators.py
  cmd2/utils.py
  docs/features/argument_processing.md
  docs/features/modular_commands.md
  examples/argparse_example.py
  examples/command_sets.py
  tests/test_argparse.py
  tests/test_argparse_completer.py
  tests/test_commandset.py
Owners: @tleonhardt, @kmvanbrunt, @anselor, @kotfu

Added test coverage.
  tests/test_utils.py
Owners: @tleonhardt

Fixed error in categorize() which would not handle a bound method in an Iterable.
  cmd2/utils.py
  tests/test_utils.py
Owners: @tleonhardt, @kotfu, @kmvanbrunt

chore: large scale refactor
  cmd2/annotated.py
  docs/features/annotated.md
  examples/annotated_example.py
  tests/test_annotated.py
Owners: @tleonhardt

Add with_annotated to top-level cmd2 namespace
  CHANGELOG.md
  cmd2/__init__.py
  cmd2/annotated.py
  docs/features/annotated.md
  docs/features/argument_processing.md
Owners: @tleonhardt, @kotfu

chore: doc clean up and some more edge cases
  cmd2/annotated.py
  docs/features/annotated.md
  tests/test_annotated.py
Owners: @tleonhardt

Fix potential infinite recursion when a nested base command is executed as the leaf command
  cmd2/annotated.py
Owners: @tleonhardt
